[2015-04-09 14:23] wa4557 opened #1 "A few suggestions"
The first one to create an issue:)
Kudos for your work!
However I have a few suggestions that I want to share:

I personally think that your approach with selecting the theme one wants to use is the right thing to do. But I don't think that your approach with an `extra` folder is the simplest solution. You really should consider to do something like

`from gi.repository import Gtk`
`theme = Gtk.Ic

[2015-04-09 14:36] bil-elmoussaoui commented on #1
Thank you very much for taking the time to read my code!
Well , if i did understand very well what you are saying : the database file will change from only the folder location to the folder location + icons? If so, i think it's will take some time , but it's really a good idea. I will try to do that asap.

[2015-04-09 14:38] bil-elmoussaoui commented on #1
I was getting the list of supported themes by checking if the extra folder exists, but using your way will make it a little bit different. I think of showing all the installed icons?

[2015-04-09 14:41] wa4557 commented on #1
well why not just ignore supported themes and do something like

[code]

[2015-04-09 14:44] wa4557 commented on #1
So let's say you want to fix pushbullet-indicator

1. Check if the icon `pushbullet-indicator` exists in the current theme `theme.has_icon()`
2. If `True` symlink it to the folder that is specified in the `.csv`
3. If `False` or the folder you want to symlink to doesn't exist, continue with the next hardcoded `icon`

[2015-04-09 14:48] bil-elmoussaoui commented on #1
I wanted to keep the supported theme so you can use the indicator/tray icon from an other theme. For example, i'm using elementary base theme with Numix circle. if i just get the default theme, the script won't find any icon as the Numix-Circle get his base icons from Elementary base. But i can just show all the themes, so the user can choose on of theme. And i'm open for any better ideas.

[2015-04-09 14:52] wa4557 commented on #1
Well that's not entirely true:

`theme.lookup_icon('pushbullet-indicator`, 22, 0).get_filename()`

will find icons also in the inherited theme. So it will(!) find icons from elementary if you use Numix-Circle

[2015-04-09 14:57] wa4557 commented on #1
So if you use Numix-Circle and inherit Numix and elementary this approach would look for icons in Numix-Circle afterwards in Numix and finally in elementary. If no icons are found or the target folder doesn't exist (i.e. the program is not installed) nothing happens. If an icon is found and the target folder exists a symlink is created and the original "wrong" icon overwritten

[2015-04-09 15:03] wa4557 commented on #1
Last point: I think your default sizes are wrong. Ubuntu etc. should use 22x22 icons not 24x24 icons and elementary OS and XFCE distributions are using 24x24 sized panel icons

[2015-04-09 15:40] bil-elmoussaoui commented on #1
Well, i did fix all that. But i didn't test it; i had a little problem. I put the tray icons of each app in a list and i really don't know how to use JSON or something like that to serialize this so i can use it back in my code?

[2015-04-09 15:50] wa4557 commented on #1
You have your list in a csv file? Why not use https://docs.python.org/2/library/csv.html ?

[2015-04-09 16:20] bil-elmoussaoui commented on #1
Well, this has been fixed! I did tried the script now.. And everything rocks! The database supports less apps than before. But i'will update it later ;)
![capture du 2015-04-09 18 18 48](https://cloud.githubusercontent.com/assets/7660997/7071351/f4721ae8-dee4-11e4-8cb5-d01b8b3966f0.png)
Thank you

[2015-04-09 16:21] wa4557 commented on #1
Happy to help :) I think this a somehow more elegant approach

[2015-04-09 17:09] wa4557 commented on #1
A few more minor things that needs to be changed. I'll create a pull request if you allow :)

[2015-04-09 17:36] bil-elmoussaoui commented on #1
Of course!
Feel free to add/change whatever you want ;)

[2015-04-09 18:00] wa4557 commented on #1
Closing because issue solved :)

[2015-04-09 18:00] #1 closed

[2015-04-09 21:22] bil-elmoussaoui opened #4 "Support more apps"
Wel, still needs to support more apps :
- [x] Viber -wontfix-
- [x] Spotify
- [ ] Google chrome
- [x] Telegram
- [ ] Google Music Manager

Sni-qt apps? I'm not sure that i will implement anything like this in my code..But who knows
- [ ] Megasync
- [ ] Skype
- [x] OwnCloud -not hardcoded-

[2015-04-09 21:24] bil-elmoussaoui commented on #4
For Viber ,the icon used as an indicator is 16x16.png which is not very specific as an icon name. I really don't have any ideas about this?

[2015-04-10 14:53] wa4557 commented on #4
This could be circumvented by using an additional column in your csv. One column for the name of the icon in the icon theme, one for the icon name that is hardcoded and the symlink (or converted png) is pointing to

[2015-04-11 18:42] bil-elmoussaoui commented on #4
I thought about this too, but if i do so the designers must choose the same name of the viber indicator?
For the Spotify and google chrome icons. We have to open a zip file, change the icon file and compress it again, So maybe i will create a bash script for this.

[2015-04-11 19:51] wa4557 commented on #4
No. I don't think so. You just symlink `viber-indicator.svg` or whatever the designer want to call it. Afterwards you can symlink it to `24x24.png` (or convert it to this filename).
Yeah google is not really doable I think, spotify probably is

[2015-04-17 10:02] Foggalong opened #5 "Invalid CSV"
The `db.csv` file isn't valid. [Github provides a nice feature for debugging though](https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/db.csv) so it shouldn't be too hard to fix :)

[2015-04-17 10:21] bil-elmoussaoui commented on #5
Well, i knew about this but i have no idea(at the moment) how to fix this. The github can't read a csv file with more than 8 rows by line (i guess). But the python module does.
To explain why i chose that, every line is for a specific application. For example touchpad-indicator the line in db.csv is like this
The app name, the hardcoded directory, icon1,icon2,icon3.. Iconx
So some apps might have

[2015-04-17 10:27] Foggalong commented on #5
Ah, I think I see how it works now. Yeah, I'm not sure how you'd go about fixing that because as you say every line would be different :(

You can do blank "cells" in CSV by just doing `,,` but I have no idea if that would help or make things more complicated.

[2015-04-17 10:53] bil-elmoussaoui commented on #5
I thought about putting every icon in a line but that will make the code a little bit complicated. I will think about this ;)

[2015-04-18 22:11] palob commented on #5
How does it look in a text editor? Maybe there is something wrong with the newline characters?

[2015-04-18 22:49] bil-elmoussaoui commented on #5
First, thank your comment. But i don't think its the newline character as the csv module in python dosent show any issues/bugs.

The problem here is that db.csv is not a valid file for github. And i don't have any idea how to fix this. I thought about putting every icon in a line like this :
App-name1,hardcod directory, icon1
App-name1,hardcod directory, icon2
..
..
App-name2,hardcod directory, ic

[2015-04-19 18:15] bil-elmoussaoui commented on #4
I will try this. I think about writing a code that will look if there's any icon that uses viber in it's name and use it? That will make the designers free to use whatever they want as an icon name? And i will implement this asap

[2015-04-19 18:17] bil-elmoussaoui commented on #4
Just to have your point of view. For spotify the app uses some icons in a zip file. The fastest way is to write a bash script code to do this and call it in the python script?

[2015-05-22 15:50] bil-elmoussaoui commented on #5
This is fixed now :dancer:

[2015-05-22 15:50] #5 closed

[2015-05-23 06:30] wa4557 commented on #4
Much late replay:/ yes Most definitely the fastest Way python is really bad in handling zip files

[2015-05-23 10:44] bil-elmoussaoui commented on #4
It's not a problem! i will support the rest of applications after my finals

[2015-05-27 11:25] wa4557 opened #7 "Why dark light?"
Just a quick question:

Why do you make the differentiation between light and dark themes? Why don't you just replace both icons (for variety for example `variety-indicator` and `variety-indicator-light`). For me this seems to be an unnecessary option, the user shouldn't and doesn't care about

[2015-05-27 11:31] bil-elmoussaoui commented on #7
@wa4557 i did this for grive-tools, as the applications has two folders one for dark and the other one for the light indicators. But i will fix this soon by adding two versions of grive and each one will change different icons

[2015-05-27 11:44] wa4557 commented on #7
Good idea!

[2015-05-27 11:58] bil-elmoussaoui commented on #7
This is fixed now, thank you for reporting this

[2015-05-27 11:58] #7 closed

[2015-05-27 12:27] wa4557 opened #9 "Script doesn't work?"
Another thing: Is the script currently not working? Whenever I try do run it it says `The application does not exists, please report this to the dev.` (the problem is `telegram`).

Wouldn't it be better to replace the `sys.exit` with something that doesn't exit the program `return None` or sth similar and not quit the whole program?

Moreover: an improvement would be to have a different error that

[2015-05-27 12:31] wa4557 opened #10 "Use spaces instead of tabs"
One minor thing: You should consider to use 4 spaces instead of tabs for indenting code blocks (this can be automatically done with almost every editor). It makes coding a lot easier and its recommended by the google python styleguide.

https://google-styleguide.googlecode.com/svn/trunk/pyguide.html#Indentation

Nevertheless this is up to you if you don't want to do this, that's fine as well :)

[2015-05-27 12:42] bil-elmoussaoui commented on #10
This is should be fixed now, can you confirm that?

[2015-05-27 12:44] bil-elmoussaoui commented on #9
The problem is in ``` get_icons ``` the error shows now the application name and i used print to not stop the script; i really don't know why it's not working with telegram :/

[2015-05-27 12:46] wa4557 commented on #9
I found the error
in line 14:

[code]
you're missing the period before `txt` (it should read `.txt`)
this leads to errors in line 49 if the period is missing and the `else` is always executed

[2015-05-27 12:50] wa4557 commented on #10
Yeah cool, thanks!

[2015-05-27 12:50] #10 closed

[2015-05-27 12:54] #9 closed

[2015-05-27 13:16] wa4557 opened #14 "apps with a lot of icons"
Ok and last but not least the probably biggest issue:

As far as I understand the code right now you need all the telegram icons in order to replace them with icons from the theme (we discussed this also in the numix-base issue tracker). Wouldn't it be a good idea to add a second row in the `.txt` files with the icon name that is in the icon theme and is going to replace the original icon? This co

[2015-05-27 13:24] bil-elmoussaoui commented on #14
I already did this for telegram,  you only need the first and the second icon for telegram; the rest of icons have a row with the icon the must be symlinked too
like this
[code]
the ```ico_22_3.png``` will be automaticlly symlinked to ```ico_22_1.png``` instead of the original icon.

And i did changed from ```.csv``` to ```.txt``` to fix an issue with github as it's keeps asking me to fix it becau

[2015-05-27 13:36] wa4557 commented on #14
Ok that's cool but for viber you'd need a different approach (just like I said above). I think it is better to deal with funny icon names here than at the icon-themes (I mean your script should basically work with every icon theme)

[2015-05-27 13:48] bil-elmoussaoui commented on #14
The script will now check if the original icon exists if so, it will use it, if not it will use the icon you want to symlink it too

[2015-05-27 13:56] wa4557 commented on #14
Yeah this won't work, because line 97-99 have to come first...

[2015-05-27 13:58] bil-elmoussaoui commented on #14
are you sure? because i check i modify the value of ```icon``` and ```symlink_icon```

[2015-05-27 14:00] wa4557 commented on #14
But you're checking if the icon `blabla.png` exists and this one definitely doesn't exist in for example `numix` because they are using `svgs` instead of `pngs` so the extension has to be removed before checking if the icon exists

[2015-05-27 14:07] bil-elmoussaoui commented on #14
Never do algebra in the same time with python haha finals)! Thank you i forgot a line ,this is working now

[2015-05-27 14:11] wa4557 commented on #14
Ah algebra I see :), you shouldn't check github too often, algebra needs all of your attention :P Good luck! I'll try it out this evening and change the `.txt` files if it works

[2015-05-27 14:43] bil-elmoussaoui commented on #14
I suppose this is fixed now?

[2015-05-27 14:48] bil-elmoussaoui opened #18 "Spotify indicator"
For the spotify indicator icon and others i suppose that i will add a new row in the db file; the row will have the script link in the scripts folder (that i will add)
and this python script will call the bash script to fix the icon issue;

for spotify the icons are in
[code]

- [x] Spotify bash script that will receive an argument with the icons that exists in the current theme.
- [x] a way to co

[2015-05-27 14:52] bil-elmoussaoui opened #19 "Viber indicator"
The viber indicator icons are in

[code]
i don't know which one is used for the viber indicator. But this not working in ubuntu/unity/gnome-shell/pantheon desktop. Should we add this? or it's a won't fix!

if i add this, i will have to symlink ```viber.svg``` and not the others

[2015-05-27 14:55] #14 closed

[2015-05-27 14:56] wa4557 commented on #18
If you want I can do this. I already finished my finals :)

[2015-05-27 15:08] wa4557 commented on #19
I suppose this is a wontfix. Tray indicator seems to work if you install the package viberwrapper-indicator
see:

http://www.webupd8.org/2014/11/viber-wrapper-indicator-hides-floating.html

but this icons are not hardcoded:

https://github.com/karas84/viberwrapper-indicator/tree/master/icons/ubuntu-mono-dark/apps

 Would you like to add those icons to your missing tray indicator list in Numix-base

[2015-05-27 15:10] bil-elmoussaoui commented on #19
Yeah i did reported this to the dev of viber-wrapper! i will do that right now
i will add viber-wrapper link in the readme then ;)

[2015-05-27 15:17] bil-elmoussaoui commented on #18
I will be very thankful

[2015-05-27 21:33] bil-elmoussaoui opened #20 "Dropbox icons"
Hello
I did push a new update for dropbox fixes
but there's still something to do:
the dropbox folder name is something like this  ``` dropbox-lnx.x86_64-3.6.4```
so i did this in the ```db.csv``` file
[code]
so i have to remplace the ``` {*}``` with the dropbox folder that starts with ```dropbox-lnx``` :P
and i don't have any idea how to do this
Any ideas?

[2015-05-27 21:43] wa4557 commented on #20
In the script? Or in `db.csv`

[2015-05-27 21:44] bil-elmoussaoui commented on #20
In the script

[2015-05-27 21:44] wa4557 commented on #20
Ah so it depends on the dropbox version and if one uses 32bit or 64 bit...

[2015-05-27 21:45] bil-elmoussaoui commented on #20
Yeah i was thinking about getting the only folder that is in ```.dropbox-dist```

[2015-05-27 21:51] wa4557 commented on #20
Ah that's a hard one. Something with `os.walk('dropbox-lnx.')` should work but that needs some rewriting

[2015-05-27 22:05] bil-elmoussaoui commented on #20
This will be fixed in the next commit

[2015-05-27 22:19] bil-elmoussaoui commented on #20
@wa4557 can you check this please? :)
in the ```dropbox_folder``` fonction there's something that is not working
the result of ```sub_dirs``` is ```None``` and i really don't have any idea
and the result of dirs is
[code]

[2015-05-27 22:29] wa4557 commented on #20
Yeah you made a standard python error :)
replace line 71&72 with

[code]

sub_dirs.sort() has no return value, but it changes the list in place

[2015-05-27 22:30] bil-elmoussaoui commented on #20
Ah yeah! i forgot about this ,thanks i will push an update

[2015-05-27 22:35] bil-elmoussaoui commented on #20
I can close this now ;) Thank you very much @wa4557

[2015-05-27 22:35] #20 closed

[2015-05-27 22:38] wa4557 commented on #20
You missed a print(row[1])

[2015-05-27 22:39] bil-elmoussaoui commented on #20
Done

[2015-05-27 22:48] wa4557 commented on #4
Owncloud is Not hardcoded

[2015-05-27 22:51] bil-elmoussaoui commented on #4
Owncloud is qt application to change the icons you've to install a patched version of sni-qt and copy the icons to ```/tmp ```
the same case is for megasync and skype

[2015-05-27 22:55] wa4557 commented on #4
I'm using owncloud right now, and the icons from numix are used

[2015-05-27 22:58] bil-elmoussaoui commented on #4
Well, if you say so :D the last time i used owncloud, i had such ugly icons

[2015-05-27 23:04] bil-elmoussaoui commented on #4
Do you have any idea how to open a ```.pak``` archive file? if it's possible of course

[2015-05-28 08:32] bil-elmoussaoui commented on #18
I did tried the script today and i've some questions :P
the first the icon is token from scalable folder in Numix as the icon name for spotify is the same used for indicator :/ is it possible to force not using scalable icons?
[code]
Also, the icon has not been changed in my case at all ,when i open the ```recources.zip``` file the last modified time is still the same even after using the script

[2015-05-28 08:35] bil-elmoussaoui commented on #18
For the second question, changing this
[code]
to this
[code]
fixes the issue

[2015-05-28 09:11] bil-elmoussaoui commented on #18
I found out that you've to change the 512 icon too :s so i updated the spotify.txt for that, as i'm not that good in bash, can you check if the icon extension is png then convert it to png instead of ico? and also as the filename is used as a parameter in the script file
[code]
if you can use the filename +extension instead of spotify_icon.ico this will solve the issue (i hope)

[2015-05-28 09:24] #19 closed

[2015-05-28 14:22] wa4557 commented on #18
Sure. Will do this evening

[2015-05-28 16:21] wa4557 opened #25 "My-weather-indicator symlinks?"
Hmm for my-weather-indicator no additional icons are needed, just a second column in `my-weather-indicator.txt` pointing to `weathter-clear.svg` etc., am I right?

[2015-05-28 16:31] bil-elmoussaoui commented on #25
The icons are the same so a symlink is needed

[2015-05-28 16:39] wa4557 commented on #25
Hmm if you put the generic weather-icon names in the second colum in my-weather-indicator.txt those funny named symlinks are not needed in the icon them, imo

[2015-05-28 16:43] bil-elmoussaoui commented on #25
Yeah i will do that next week

[2015-05-28 16:44] wa4557 commented on #25
No need to hurry :)

[2015-05-28 17:26] wa4557 commented on #4
There seems to be a python script that can work with `.pak` files. You could add that to the script folder...
https://code.google.com/p/grit-i18n/source/browse/trunk/grit/format/data_pack.py

[2015-05-29 14:24] bil-elmoussaoui commented on #18
this is fixed :D

[2015-05-29 14:25] #18 closed

[2015-05-31 08:35] bil-elmoussaoui commented on #4
@wa4557 can you take a look at this ? [ElementaryPlus Owncloud Icon issue](https://github.com/mank319/elementaryPlus/issues/137) and confirm that's working for you?

[2015-05-31 10:03] wa4557 commented on #4
I'm using version owncloud 1.7 the icons change correct. For me these icons are NOT hardcoded

[2015-05-31 10:14] bil-elmoussaoui commented on #4
Well, i tried the 1.8.1 version in Ubuntu 14.04.2 and this is how its looks like
![screenshot from 2015-05-31 12 12 56](https://cloud.githubusercontent.com/assets/7660997/7901555/90d32acc-078e-11e5-8c62-822d1cb8ee34.png)

[2015-05-31 11:34] wa4557 commented on #4
Ubuntu 15.04 with owncloud 1.7
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/7901768/8dc3b472-0799-11e5-9be3-0522346e9ffa.png)

[2015-06-09 16:15] alex94puchades opened #27 "Doesn't get real username/userhome when run with sudo"
Maybe [this](https://stackoverflow.com/questions/10272784/how-do-i-get-the-users-real-uid-if-the-program-is-run-with-sudo) would work, it should check for SUDO_USER/SUDO_UID to check if run with sudo or getpwname otherwise.

[2015-06-09 16:33] bil-elmoussaoui commented on #27
Thank you for reporting this, this should be fixed in the latest commit

[2015-06-09 16:35] alex94puchades commented on #27
Only now it doesn't work for the root user xd Instead of checking for the uid, you could check for the SUDO_USER variable being present, and if not, fallback to getpwname

[2015-06-09 16:39] bil-elmoussaoui commented on #27
Ops :P I forgot to remove ```username``` as i'm not using it anymore, can you try for the ```userhome``` using root user?

[2015-06-09 16:42] alex94puchades commented on #27
Seems that sudo does not change $HOME var, so maybe this is a more elegant solution bash```sudo sh -c "echo $HOME"```

[2015-06-09 16:43] alex94puchades commented on #27
I didn't make a commit because for simple fixes I find it a little overkill (all that git stuff xd) but if you want I could give it a try

[2015-06-09 16:52] bil-elmoussaoui commented on #27
This is fixed now :+1: , feel free to report any other issues/bugs, thank you!

[2015-06-09 16:52] #27 closed

[2015-06-11 14:30] dslul opened #29 "Script failure when dropbox is not installed"
Here is the error:

Welcome to the tray icons hardcoder fixer!

Copying now..

Traceback (most recent call last):
  File "script.py", line 160, in <module>
    copy_files()
  File "script.py", line 106, in copy_files
    apps = csv_to_dic()
  File "script.py", line 94, in csv_to_dic
    row[1] = dropbox_folder(row[1])
  File "script.py", line 79, in dropbox_folder
    sub_dirs = get_subdirs(dirs[0

[2015-06-11 14:34] dslul opened #30 "Spotify icon not fixed"
Everything on the terminal seems to go fine, however the Spotify tray icon is still the original one.

[2015-06-11 21:12] bil-elmoussaoui commented on #30
Which icon theme are you using? And can you give more informations about the version of spotify?

[2015-06-11 21:15] bil-elmoussaoui commented on #29
I pushed a new commit, can you try this now?

[2015-06-11 22:11] bil-elmoussaoui commented on #30
Try installing ```inkscape``` as we use it to convert ```.svg``` icons to ```.ico``` in spotify!

[2015-06-11 22:44] dslul commented on #29
It doesn't work:

Welcome to the tray icons hardcoder fixer!

Copying now..

Traceback (most recent call last):
  File "script.py", line 163, in <module>
    copy_files()
  File "script.py", line 109, in copy_files
    apps = csv_to_dic()
  File "script.py", line 97, in csv_to_dic
    row[1] = dropbox_folder(row[1])
  File "script.py", line 83, in dropbox_folder
    sub_dirs.sort()
AttributeError:

[2015-06-11 22:46] dslul commented on #30
Perfect, now it works fine!

[2015-06-12 07:09] bil-elmoussaoui commented on #30
Thank you for reporting this

[2015-06-12 07:09] #30 closed

[2015-06-12 07:11] bil-elmoussaoui commented on #29
This should be fixed now

[2015-06-12 07:17] dslul commented on #29
Still nothing:

Welcome to the tray icons hardcoder fixer!

Copying now..

Traceback (most recent call last):
  File "script.py", line 166, in <module>
    copy_files()
  File "script.py", line 112, in copy_files
    apps = csv_to_dic()
  File "script.py", line 101, in csv_to_dic
    if is_dir(row[1]+"/"):#check if the folder exists
TypeError: unsupported operand type(s) for +: 'NoneType' and 'str

[2015-06-12 09:14] bil-elmoussaoui commented on #29
Can you try again? :) This is not the best way to fix it, but i will update the script when i will finish my finals!

[2015-06-12 09:19] dslul commented on #29
Ok, now it works!

[2015-06-12 09:20] bil-elmoussaoui commented on #29
Thank you for reporting this!

[2015-06-12 09:20] #29 closed

[2015-06-25 08:54] Ghokun opened #31 "IndexError: pop from empty list"
Telegram, spotify, dropbox are installed

Welcome to the tray icons hardcoder fixer!

Copying now..

Traceback (most recent call last):
  File "script.py", line 169, in <module>
    copy_files()
  File "script.py", line 151, in copy_files
    cairosvg.svg2png(bytestring=bytes(svg,'UTF-8'),write_to=fout)
  File "/usr/lib/python3/dist-packages/cairosvg/__init__.py", line 43, in <lambda>
    surface_

[2015-06-25 09:25] bil-elmoussaoui commented on #31
I have no idea where this from, i will take a look in two days!

[2015-06-27 09:18] bil-elmoussaoui commented on #31
@Ghokun Can you give me those informations; you've installed python cairosvg? Which version of Ubuntu or the distro you're using?

[2015-06-27 12:13] Foggalong commented on #31
If python-cairosvg is a non-default package then the importing should definitely be `try` with `except` to handle errors.

[2015-06-27 14:21] bil-elmoussaoui commented on #31
@Ghokun Can you try the latest version?

[2015-06-28 09:56] Ghokun commented on #31
I am away from the computer that I got this error. Will try inform you tomorrow.

[2015-06-28 11:10] Foggalong opened #35 "ownCloud Support"
It would be awesome to have support for ownCloud, a self-hosted file syncing service. Let me know what information you need and I'll add it :)

[2015-06-28 11:16] Foggalong commented on #35
Just noticed there was another issue open for this, I'll add it there

[2015-06-28 11:16] #35 closed

[2015-06-28 11:17] Foggalong commented on #4
ownCloud is hardcoded for me, Xubuntu 15.04 client 1.7 :/

[2015-06-28 11:51] wa4557 commented on #4
oO
I have my package from there: https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client

[2015-06-28 12:23] Foggalong commented on #4
Yup, mine from the same location :(

[2015-06-28 13:00] bil-elmoussaoui commented on #4
To fix ownCloud (and the rest of icons in this list too) we will need to install a patched version of sni-qt

[2015-06-29 07:54] Ghokun commented on #31
Ubuntu 14.04.2

Welcome to the tray icons hardcoder fixer!

Copying now..

dropbox -- fixed using /usr/share/icons/Numix-Circle/22x22/status/dropboxstatus-busy.svg
dropbox -- fixed using /usr/share/icons/Numix-Circle/22x22/status/dropboxstatus-busy2.svg
dropbox -- fixed using /usr/share/icons/Numix-Circle/22x22/status/dropboxstatus-idle.svg
dropbox -- fixed using /usr/share/icons/Numix-Circle/22x2

[2015-06-29 13:22] bil-elmoussaoui commented on #31
I have no idea why this is happening..

[2015-06-29 13:51] bil-elmoussaoui commented on #4
@wa4557 @Foggalong Can you give me the path of ownCloud? i'm going to add sni-qt apps soon

[2015-06-29 20:39] Foggalong commented on #4
Here are all the ownCloud data locations I could find:

* /usr/share/owncloud/
* /usr/bin/owncloud
* ~/.local/share/data/ownCloud/

[2015-06-30 10:59] wa4557 commented on #4
same here

[2015-07-02 15:44] bil-elmoussaoui commented on #4
@Foggalong @wa4557 I added a support to sni-qt applications, i still need a bash script to convert svg icons to png icons like the one used for spotify. The icons must be copied into ```~/.local/share/sni-qt/icons/```

[2015-07-02 15:52] wa4557 commented on #4
I can do this on the weekend if you wish?

Bilal Elmoussaoui <notifications@github.com> schrieb am Do., 2. Juli 2015
um 17:44 Uhr:

[2015-07-02 15:58] Foggalong commented on #4
I don't have that folder on my machine :/

[2015-07-02 16:18] bil-elmoussaoui commented on #4
You have to installed the patched version of sni-qt and restart your machine first

[2015-07-02 16:22] wa4557 commented on #4
And where do I get this patched version?

[2015-07-02 17:00] bil-elmoussaoui commented on #4
I added a ppa in the readme, im not sure that's the latest version. If its not the case i will create a new ppa for that

[2015-07-02 17:15] wa4557 commented on #4
and what if I'm not on a debian based distro (fedora?)

[2015-07-02 19:16] bil-elmoussaoui commented on #4
You can download it from here i guess : [Package Sni-qt](https://apps.fedoraproject.org/packages/sni-qt)

[2015-07-03 11:13] Foggalong commented on #4
I still don't have that folder after installing the package

[2015-07-03 17:12] bil-elmoussaoui commented on #4
@Foggalong can you try installing this version [elementaryPlus sni-qt](https://answers.launchpad.net/~cybre/+archive/ubuntu/elementaryplus). The one in the ppa is outdated

[2015-07-03 17:13] bil-elmoussaoui commented on #4
@wa4557 yeah, you can do that if you want to :+1:

[2015-07-03 17:16] wa4557 commented on #4
@bil-elmoussaoui What has the script to do exactly?

[2015-07-03 17:18] bil-elmoussaoui commented on #4
The script will convert the svg icons sent as a parameter to the script, and save them in ```.local/share/sni-qt/icons/``` as a png icons with a new name that is sent as a parameter too

[2015-07-03 17:20] wa4557 commented on #4
Give me a sec.

[2015-07-03 17:21] bil-elmoussaoui commented on #31
@Ghokun I add a code to print the current application so i can debug this. Can you try this again?

[2015-07-03 17:27] wa4557 commented on #4
@bil-elmoussaoui If the source icon is a png (like in the `moka` icon theme) is then symlinking enough or should the file be copied?

[2015-07-03 17:28] bil-elmoussaoui commented on #4
@wa4557 a symlink will be fine

[2015-07-03 17:37] Foggalong opened #40 "sni-qt recommended in the README is out of date"
needs either updating (do you manage it?) or switching to this one https://answers.launchpad.net/~cybre/+archive/ubuntu/elementaryplus

[2015-07-03 17:38] bil-elmoussaoui commented on #40
i don't know if i should create a ppa and build the latest sni-qt version

[2015-07-03 17:39] Foggalong commented on #40
Up to you! You could make it a hardcode-tray PPA too :)

[2015-07-03 17:41] wa4557 commented on #40
I think the script turns out to be really useful (and I think it's also very well written) so a PPA would be great :)

[2015-07-03 17:43] Foggalong commented on #40
The PPA mentioned above doesn't actually work on Ubuntu 15.04 so a PPA just for sni-qt and the hc-tray would be awesome.

[2015-07-03 17:48] wa4557 commented on #25
If you look [here] (https://github.com/numixproject/numix-icon-theme/issues/580) you'll see that there are actually a lot of weather icons  that aren't covered yet in Numix. I think however that you can use them in your my-weather-indicator script (this is then also an additional reason for numix to make those icons :)

[2015-07-03 17:54] bil-elmoussaoui commented on #25
@wa4557 yeah, i already added some symlinks. i will do the rest soon

[2015-07-03 17:55] bil-elmoussaoui commented on #40
I will try to create a ppa as soon as possible

[2015-07-03 18:05] bil-elmoussaoui commented on #4
I will close and open a seperate issue for each application

[2015-07-03 18:05] #4 closed

[2015-07-03 18:09] wa4557 commented on #31
Seems to be a cairosvg issue not a Hardcode tray issue. @Ghokun can you try `sudo pip3 install cairosvg -U' and run again?

[2015-07-03 18:11] wa4557 commented on #31
Ah or the svg is invalid, which means that it cannot be converted to png. Might be a programming error after all

[2015-07-03 18:17] bil-elmoussaoui commented on #31
@wa4557 I didn't think about this, i modified the script to handle this case

[2015-07-03 18:20] wa4557 commented on #31
Still it would be interesting for which icon this happens. @Ghokun please run the script once more and tell us for which icon the terminal says, that it is an invalid svg icon

[2015-07-03 20:21] Foggalong commented on #40
Am I right in thinking I can't use this on 15.04 without the sni-qt?

[2015-07-03 20:24] bil-elmoussaoui commented on #40
You can download the deb file for 14.04 and install it in 15.04 (already tried it on 14.10) And yeah, you will need sni-qt

[2015-07-03 23:04] bil-elmoussaoui commented on #40
This is fixed now, i used a new ppa. I might create a new one soon but at the moment i will keep this in the readme

[2015-07-04 11:16] wa4557 opened #43 "Google-chrome"
See here: http://askubuntu.com/questions/470691/how-can-i-replace-google-chromes-low-resolution-notification-icon?lq=1 it seems to be pretty complicated to do that

[2015-07-04 11:18] bil-elmoussaoui commented on #43
The Google music manager icon can be fixed by installing the patched version of sni-qt, i don't know if it's the same for Google Chrome. Are you using Ubuntu 15.04? as i didn't manage to show the indicator icon of Chrome

[2015-07-04 11:20] wa4557 commented on #43
I think google chrome cannot be changed by using a different sni-qt version (since it isn't a qt version) it seems to be the same as with spotify, that the icon is embedded in this `chrome-100percent.bak` (way more complicated of course than spotify)

[2015-07-04 11:22] bil-elmoussaoui commented on #43
Well, i think that we should fix Megasync , Skype & Google music manager first

[2015-07-04 11:23] wa4557 commented on #43
skype and google music manager should be extremely easy now, am I right?

[2015-07-04 11:26] bil-elmoussaoui commented on #43
Yeah, i just don't know which icons name i'm going to use for those applications. I think that something like for skype will be fine
[code]
For Google Music Manager there's only one icon ```google-music-manager-panel```
and for Megasync
[code]
What do you think?

[2015-07-04 11:29] wa4557 commented on #43
:+1: If the whole status icon thing is sorted out, we can create issues at Numix and add them!

[2015-07-04 11:31] bil-elmoussaoui commented on #43
I'm going to add them right now :dancer: and keep this open maybe it will change in the near future

[2015-07-04 11:32] wa4557 commented on #43
Cool, I'll try to come up with a script for chrome, but no promises :)

[2015-07-04 21:24] Foggalong commented on #43
Google Chrome uses it's own toolkit iirc which might be part of why it's so complicated. I think that's why their GTK theme support is also a bit pants

[2015-07-05 00:29] bil-elmoussaoui commented on #43
I added google chrome support :smiley:

[2015-07-05 07:50] wa4557 commented on #43
Doesn't work yet, but I think it's not far from working :)

[2015-07-05 08:24] wa4557 opened #45 "Remove extension from icons?"
When looking at for example the flarget database file it looks something like this:

[code]

Since HC-tray fixer is in principle a theme agnostic tool, shouldn't the `.svg` be removed from the second column? It is irrelevant because we are splitting it afterwards and throwing it away anyways

[2015-07-05 11:38] bil-elmoussaoui commented on #43
I think it's not possible to fix it using a script. As the icons name are :
[code]
And if you look at the link you shared, the icons are has different icon names..maybe it's depends on the chrome version or something like this

[2015-07-05 11:41] wa4557 commented on #43
Maybe it is possible to query the icon names using a script?

[2015-07-05 11:43] bil-elmoussaoui commented on #43
I have no idea about this :P can you try to check in your case if you have the same icons name or not?

[2015-07-05 11:46] bil-elmoussaoui commented on #45
for the ```Qt``` applications we can remove the extension, and i don't think that we can do that for the rest of applications. As we can not symlink/copy png icons and the application uses svg ones, correct me if i'm wrong

[2015-07-05 11:52] wa4557 commented on #43
Sure

[2015-07-05 11:53] wa4557 commented on #45
But the only important thing is the icon Name not the extension (that's of course only true for the second column)

[2015-07-05 11:55] bil-elmoussaoui commented on #45
I forgot that the second column is for the symlink icon name :+1:

[2015-07-05 12:00] bil-elmoussaoui commented on #45
Done in my latest commit

[2015-07-05 12:03] wa4557 commented on #45
The question is: Is there something that needs to be changed in the script as well?

[2015-07-05 12:10] bil-elmoussaoui commented on #45
Yeah, there's something that does not work when i run the script. It's due to ```extension_orig``` as the new icon name does not have any extension

[2015-07-05 12:10] wa4557 commented on #43
@bil-elmoussaoui You have to change the line `node ./node-chrome-pak.js unpack chrome_100_percent_old.pak` to `nodejs ...` (at least on my computer)

[2015-07-05 12:14] bil-elmoussaoui commented on #43
try installing ```nodejs-legacy```

[2015-07-05 12:16] wa4557 commented on #43
That works, but is that better than using `node`?

[2015-07-05 12:32] wa4557 commented on #45
Everything works for me!?

[2015-07-05 13:04] wa4557 commented on #43
Hmm, maybe you should also include the original author of this `javascript` script somewhere? I'm not an expert in licensing things but I suppose it's necessary to include him somewhere

[2015-07-05 13:43] Foggalong commented on #40
I've ran the script and the output says ownCloud is fixed but it's still showing up in the panel unthemed. Is an icon cache refresh needed?

[2015-07-05 13:47] wa4557 commented on #40
@Foggalong. Are the correct icons in `.local/share/sni-qt/icons/`? It works for me...

[2015-07-05 13:51] Foggalong commented on #40
I don't even have that folder on my computer :/ the script threw no errors either

[2015-07-05 13:54] wa4557 commented on #40
I guess the problem is that the folder has to be created beforehand. I'll create a PR for that

[2015-07-05 14:41] bil-elmoussaoui commented on #45
Do you have telegram? It's not working here :/

[2015-07-05 14:42] bil-elmoussaoui commented on #43
Yeah i was going to do that, but i had no idea where i should include him. @Foggalong do you have any idea?

[2015-07-05 14:42] bil-elmoussaoui commented on #43
@wa4557 it's same thing i guess

[2015-07-05 14:44] bil-elmoussaoui commented on #40
@Foggalong can you try now?

[2015-07-05 14:52] wa4557 commented on #45
I guess there are some fundamental problems when computing `extension_orig` there's something fishy there

[2015-07-05 15:15] bil-elmoussaoui commented on #45
I did some tests, the problem is in
```theme_icon = theme.lookup_icon(base_icon, default_icon_size, 0)```
even if the icon do exists, the result of theme_icon is a  ```None```

[2015-07-05 15:17] wa4557 commented on #45
No. I think the problem is that base_icon and extension_orig should be computed with symlink icon instead of icon I think

[2015-07-05 15:19] Foggalong commented on #40
Yeah, still not working

[2015-07-05 15:20] wa4557 commented on #40
but the icons and the folder are now there, right?

[2015-07-05 15:21] Foggalong commented on #40
nope :(

[2015-07-05 15:21] bil-elmoussaoui commented on #45
Indeed, the ```extension_org``` must have the extension of the symlink icon. But that won't solve the problem..
i'm getting this when the script tries to fix telegram
[code]

[2015-07-05 15:22] wa4557 commented on #40
You sure you running the latest version? oO

[2015-07-05 15:23] bil-elmoussaoui commented on #40
@Foggalong can you look if there's any folder of ```sni-qt``` somewhere else?

[2015-07-05 15:23] Foggalong commented on #40
Yeah, freshly cloned

[2015-07-05 15:24] wa4557 commented on #40
This is superweird, at least the folder should be created

[2015-07-05 15:25] Foggalong commented on #40
![screenshot_2015-07-05_16-24-41](https://cloud.githubusercontent.com/assets/5920259/8512236/654a08ca-2332-11e5-9f2a-cee4c01e95da.png)

[2015-07-05 15:27] wa4557 commented on #45
oO on my machine this works. This seems to be a svg error? there is an error o the convert2svg formula

[2015-07-05 15:28] bil-elmoussaoui commented on #40
@Foggalong install the 32bits version too

[2015-07-05 15:29] wa4557 commented on #40
I don't have any patched version of sni-qt installed, and this folder still is being created. @Foggalong the success message is still being displayed?

[2015-07-05 15:33] Foggalong commented on #40
yeah :/

[2015-07-05 15:35] wa4557 commented on #40
What does this give for you in a python console?
[code]
if this gives your home folder I'm officially out of ideas

[2015-07-05 15:44] bil-elmoussaoui commented on #45
@wa4557 I think so as the error is in the svg file, when i do print the ```filename``` and ```øutput_file``` everything looks fine to me

[2015-07-05 15:49] wa4557 commented on #40
@Foggalong it really really should work now. Can you try again?

[2015-07-05 15:54] wa4557 commented on #45
Does the telegram svg looks ok in the numix-base theme?

[2015-07-05 16:19] bil-elmoussaoui commented on #45
Yeah, before removing the extension the script was working fine

[2015-07-05 16:24] Foggalong commented on #40
Yeah, it gave `/home/josh`

[2015-07-05 16:25] Foggalong commented on #40
aww yis
![screenshot_2015-07-05_17-25-34](https://cloud.githubusercontent.com/assets/5920259/8512444/dea45b1e-233a-11e5-889b-ebc813a5b62a.png)

[2015-07-05 16:26] bil-elmoussaoui commented on #40
@Foggalong can you share the content of ```.local/share/sni-qt/icons```?

[2015-07-05 16:35] Foggalong commented on #40
![screenshot_2015-07-05_17-35-08](https://cloud.githubusercontent.com/assets/5920259/8512476/3263b294-233c-11e5-84a9-c65ca4219f84.png)

[2015-07-05 16:36] bil-elmoussaoui commented on #40
Everything works fine :P did the indicator shows using the monochrome indicator?

[2015-07-05 16:39] Foggalong commented on #40
nope :(

[2015-07-05 16:39] wa4557 commented on #45
I think that was a coincidence. It was definitely wrong before as well

Bilal Elmoussaoui <notifications@github.com> schrieb am So., 05.07.2015,
18:19:

[2015-07-05 16:40] bil-elmoussaoui commented on #40
can you create a new folder in ```.local/share/sni-qt/icons/``` rename the folder to ```owncloud``` and copy those icons there, close owncloud and reopen it again?

[2015-07-05 16:52] Foggalong commented on #40
No effect. The permissions were also set to root for the `/sni-qt` folder and fiddling with that similarly did nothing

[2015-07-05 17:23] wa4557 commented on #45
The question is:why is it even calling this function? Arent both svgs?  That's prltobably also the reason it breaks

[2015-07-05 17:24] bil-elmoussaoui commented on #45
Nop, the original icons are svg but the symlink icons are png

[2015-07-05 17:39] wa4557 commented on #45
Does it work now with the PR merged?

[2015-07-05 17:41] bil-elmoussaoui commented on #40
@Foggalong the permission issue should be fixed now, i'm trying to find out why the icons are still ugly

[2015-07-05 17:42] bil-elmoussaoui commented on #45
Nop still the same issue..:/

[2015-07-05 17:44] wa4557 commented on #45
Weird it works perfectly for me. Can you try something like (i the path of the Hardcode tray fixer `python3 ./database/scripty/svg2png.py /usr/share/icons/Numix/22x22/status/telegram-pane.svg ~/test.png`?

[2015-07-05 17:48] bil-elmoussaoui commented on #45
[code]
The same thing

[2015-07-05 17:49] wa4557 commented on #45
Ok and with any other svg?

[2015-07-05 17:51] bil-elmoussaoui commented on #45
Works fine converting owncloud svg icons to png..this only happens with telegram icons

[2015-07-05 17:53] wa4557 commented on #45
Tried reinstall numix?

[2015-07-05 18:01] bil-elmoussaoui commented on #45
I just did that, the only icon that was fixed this time is : ```telegram -- fixed using /usr/share/icons/Numix/22x22/status/telegram-panel.svg
[code]

[2015-07-05 18:05] wa4557 commented on #45
the only difference between your computer and mine is, that since you are using elementaryOS you are using the 24x24 panels, I'm using the 22x22 ones. Have you tried deleting the icons before reinstalling? I think a reinstall doen't necessarily overwrites all the files

[2015-07-05 18:10] bil-elmoussaoui commented on #45
It's not the case.. the icons used are 22x22 instead of 24x24

[2015-07-05 18:19] wa4557 commented on #45
Can you open the file in inkscape?

[2015-07-05 18:23] bil-elmoussaoui commented on #45
This is fixed now, the issue was the icon size?? i fixed the issue with pantheon as the icons must be 24x24 and now everything works fine

[2015-07-05 18:24] bil-elmoussaoui commented on #45
and when i try to open using inkscape ```/usr/share/icons/Numix/22x22/status/telegram-attention-panel.svg``` i got an error

[2015-07-05 18:38] wa4557 commented on #45
Ok But that means that you somehow corrupted your svg. No Bug in the script

Bilal Elmoussaoui <notifications@github.com> schrieb am So., 05.07.2015,
20:24:

[2015-07-05 19:01] wa4557 commented on #31
@bil-elmoussaoui This might be fixed now as well, after we found out that the extensions were wrong. However we will never not unitl @Ghokun runs the script once more :)

[2015-07-05 20:07] bil-elmoussaoui commented on #45
Yeah, thanks

[2015-07-05 20:07] #45 closed

[2015-07-05 20:11] bil-elmoussaoui commented on #40
I think that i found the issue , the icons are wrong :P I'm going to talk about this with elementaryPlus team and see what we will come with! We can try with skype and megasync icons once they're added to Numix base

[2015-07-05 20:42] wa4557 commented on #43
I guess for the MIT license (that's the licence he used) its OK to just use it (you have to keep the copyright header in the file however). Btw. you should add a copright header as well in your script :)

[2015-07-05 20:57] bil-elmoussaoui commented on #43
@wa4557 I will do add that once everything is fixed in the script

[2015-07-05 21:44] bil-elmoussaoui commented on #40
@Foggalong I have found how to handle those sni-qt icons :P can you share the content of ```/tmp/sni-qt_owncloud_*-*/``` ? Also the version of ```owncloud-client```

[2015-07-06 00:10] Foggalong commented on #40
/tmp files [here](https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/40#issuecomment-118632515) version is 1.7-lotsofstuff

[2015-07-06 02:06] bil-elmoussaoui commented on #40
and a screenshot or just a download link of the folder

[2015-07-06 07:35] Ghokun commented on #31
Sorry for the late reply. It seems ok now.

Welcome to the tray icons hardcoder fixer!

Copying now..

The svg file `/usr/share/icons/Numix-Circle/scalable/apps/keepassx.svg` is invalid.
keepassx -- fixed using /usr/share/icons/Numix-Circle/scalable/apps/keepassx.svg
keepassx_locked -- theme icon not found. You should report that to the theme maintainer!
spotify -- fixed using /usr/share/icons/Num

[2015-07-06 07:37] Ghokun commented on #31
I will close this if you say it is all good

[2015-07-06 12:06] bil-elmoussaoui commented on #31
Everything looks fine, expect the icon of keepass, you can open a new issue for this

[2015-07-06 12:06] #31 closed

[2015-07-06 16:44] wa4557 commented on #43
Since google chrome works now I'll close this here :+1:

[2015-07-06 16:44] #43 closed

[2015-07-08 00:00] bil-elmoussaoui commented on #40
I'm closing this issue as the sni-qt is updated now, @Foggalong feel free to open a new issue with the informations needed to fix your owncloud indicator issue

[2015-07-08 00:00] #40 closed

[2015-07-08 00:42] Foggalong commented on #40
Gotchya

[2015-07-08 19:37] wa4557 opened #53 "Skype script doesn't work"
The script doesn't try to fix skype icons. Doesn't the second column in db.csv needs to be a folder? (I don't have a skype folder in `/usr/bin`

[2015-07-08 19:40] bil-elmoussaoui commented on #53
Yeah, the second column is there to check if the application is installed. Can you give me any other location of skype in your DE?

[2015-07-08 19:49] wa4557 commented on #53
I think we shudl go with /usr/share/skype

[2015-07-08 19:54] wa4557 commented on #53
Hmm. Now the skype icon doesn't show up anymore at all :(

[2015-07-08 20:06] bil-elmoussaoui commented on #53
Ah! you should install sni-qt 32 bits version too (just for skype as it's a 32 bits application)

[2015-07-08 20:08] wa4557 commented on #53
yes :/

[2015-07-08 20:11] bil-elmoussaoui commented on #53
The icons are correctly copied? I canno't test this right now, i'm using a beta version of elementary OS and the indicators does not work. can you share a screenshot of ```~/.local/share/sni-qt/icons/skype```

[2015-07-08 20:13] wa4557 commented on #53
Yes the icons are correct. Reverting back to the default sni-qt package and the usual skype tray icon shows.
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/8581065/9489902c-25be-11e5-8cc7-a1eb694c8589.png)

[2015-07-08 20:15] bil-elmoussaoui commented on #53
@wa4557 when you say that the icon is not showing, did the "does not exist" icon is shown ? If so, can you try to change the status to something else

[2015-07-08 20:16] wa4557 commented on #53
No icon, just nothing

[2015-07-08 20:18] bil-elmoussaoui commented on #53
can you reinstall the patched version of sni-qt and paste the result of this ```dpkg -l | grep sni-qt```

[2015-07-08 20:20] wa4557 commented on #53
ii  sni-qt:amd64                                         0.2.7-0~78~ubuntu15.04.1                                           amd64        indicator support for Qt
ii  sni-qt:i386                                          0.2.7-0~78~ubuntu15.04.1                                           i386         indicator support for Qt

[2015-07-08 20:20] wa4557 commented on #53
Hey reinstalling did it, it works :+1:

[2015-07-08 20:21] bil-elmoussaoui commented on #53
@wa4557 Well , share a screenshot to see how it's looks like using Numix icons :dancer:

[2015-07-08 20:23] wa4557 commented on #53
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/8581264/e67d9792-25bf-11e5-921b-0c8cea03f1b8.png)

[2015-07-08 20:24] bil-elmoussaoui commented on #53
That's awesome! i updated the database file

[2015-07-08 20:24] #53 closed

[2015-07-08 21:12] bil-elmoussaoui opened #54 "Skype symlinks"
Skype has a lot of repeated icons instead of symlinks. This is due to different version of skype that are supported. I think that having a symlink instead of a copy would be great! i still don't have any idea how to deal with that..

[2015-07-08 23:53] bil-elmoussaoui opened #55 "Add a new coloumn in database file"
We should add a new column in database file for sni-qt application folder; some application uses the same folder as the application names and some don't. For example ,Google play music uses ```MusicManager``` as a folder.
the new db line will look like this :
[code]
if the new column is empty nothing will happen, if it's a Qt application we willl take the application name

[2015-07-08 23:55] Foggalong opened #56 "ownCloud Support"
ownCloud not working :( which folder was it you needed a tar of?

[2015-07-08 23:56] bil-elmoussaoui commented on #56
just paste the ouput of ```ls -R /tmp/sni-qt_*```

[2015-07-08 23:58] bil-elmoussaoui commented on #54
This is fixed in my latest commit , can you try this with skype @wa4557 ? Remove everything in ```~/.local/share/sni-qt/icons/skype``` first

[2015-07-08 23:59] Foggalong commented on #56
The raw output:
[code]

[2015-07-09 00:01] bil-elmoussaoui commented on #56
Now a screenshot of ```/tmp/sni-qt_owncloud_10470-27wEaH/icons/hicolor/64x64/apps```
if you can try to make all the indicator icons be used so i can have all the icons name. There's 6 icons :P

[2015-07-09 00:03] Foggalong commented on #56
![2015-07-09-010316_266x276_scrot](https://cloud.githubusercontent.com/assets/5920259/8585175/51256974-25d6-11e5-94e0-1193b40fe8d1.png)

[2015-07-09 00:07] bil-elmoussaoui commented on #56
@Foggalong I pushed a new commit, can you try this?

[2015-07-09 00:11] Foggalong commented on #56
Errors. Errors everywhere.

[code]

[2015-07-09 00:13] bil-elmoussaoui commented on #56
Those errors are not due to Hardcode Tray
[code]
I will fix the other issue right now

[2015-07-09 00:15] bil-elmoussaoui commented on #56
This should be fixed now

[2015-07-09 00:15] Foggalong commented on #56
[code]

[2015-07-09 00:17] bil-elmoussaoui commented on #56
Give it a try now? I canno't really test this on my desktop as i don't have any indicator working (trying a beta version of wingpanel on elementary OS)

[2015-07-09 00:18] Foggalong commented on #56
That's alright :)

[code]

[2015-07-09 00:20] bil-elmoussaoui commented on #56
Updated again

[2015-07-09 00:26] bil-elmoussaoui commented on #55
Done in my latest commit, need to be tested!

[2015-07-09 00:32] Foggalong commented on #56
[code]

[2015-07-09 00:33] Foggalong commented on #56
Is there something else I need to do to make the status icons show up? It's saying they've been fixed but the owncloud is still ugly :(

[2015-07-09 00:35] bil-elmoussaoui commented on #56
The script worked fine, just need to check two things. Can you share the result of ```ls -R ~/.local/share/sni-qt/icons/owncloud/``` and did you installed the 32 bits version of sni-qt, if not can you install it and try again?

[2015-07-09 00:42] Foggalong commented on #56
23064844cb89c0654026212a3faa910f.png  9d626aa048ccbd28c9a5bf6bbaadee43.png
4c8bee6fca0c59f47088f37c25880a24.png  a4d0f4e492fad2e38e62dc68de83aaa0.png
6a85c1b1eca5f176490afbea40b5a85b.png  e9b111ea19684326fa5140f7d14b215b.png

![screenshot_2015-07-09_01-41-25](https://cloud.githubusercontent.com/assets/5920259/8585575/9f6a4b7c-25db-11e5-89d8-9a34ee72bfed.png)

And yeah, 32 bit version installed

[2015-07-09 00:48] bil-elmoussaoui commented on #56
I found out the issue, i forgot to update the ```qt-tray``` file, can you try one last time?

[2015-07-09 06:58] wa4557 commented on #54
This does'nt work. The symlinks point to svg files in `Numix`

[2015-07-09 08:48] wa4557 commented on #55
The whole thing becomes more and more complicated (compared to the initial commit). But I guess that's ok :P

[2015-07-09 08:52] wa4557 commented on #56
I guess the script is little bit too verbose, maybe we should throw away the `theme icon not found` message....

[2015-07-09 11:34] bil-elmoussaoui commented on #54
Thanks for tesing :+1:

[2015-07-09 11:34] #54 closed

[2015-07-09 11:35] bil-elmoussaoui commented on #55
@wa4557 there's nothing more we can add/edit at the moment. In the future the only updates will be supporting more applications

[2015-07-09 11:35] #55 closed

[2015-07-09 11:36] wa4557 commented on #55
I bet that there will be a special app, that needs special treatment :)

[2015-07-09 11:37] bil-elmoussaoui commented on #55
We will be more than happy to fix it too :P

[2015-07-09 11:38] bil-elmoussaoui commented on #56
You're right about the ```theme icon not found``` i will push a new commit for that. But for identical messages; i really don't have any idea how to deal with that..

[2015-07-09 12:41] Foggalong commented on #56
[code]

[2015-07-09 12:57] bil-elmoussaoui commented on #56
I just need the result of ```ls -R ~/.local/share/sni-qt/icons/owncloud/``` ?

[2015-07-09 13:00] wa4557 commented on #56
I guess there's no difference between my folder and @Foggalong s
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/8595777/47ae0318-264b-11e5-9bf3-3b6340bd553d.png)

[2015-07-09 13:01] bil-elmoussaoui commented on #56
I just checked in my new installation and everytiong works fine. @Foggalong can you reinstall sni-qt?

[2015-07-09 13:06] bil-elmoussaoui commented on #56
btw @wa4557 i removed unneeded identical messages in my latest commit

[2015-07-09 13:08] wa4557 commented on #56
@bil-elmoussaoui Agreed that owncloud works for me! (By compiling owncloud myself I was able to see the ugly icons before, but not anymore)

[2015-07-09 13:09] bil-elmoussaoui opened #58 "Better variable naming and commenting"
Well, the script work so fine at the moment. Some of variables need to be renamed; and some of line code/functions need comments
- [x] Better variable naming
- [x] Comments
- [ ] ```copy_files()``` is a really so big function, we need to optimize it if possible
- [x] add copyright header
- [ ] add ```node-chrome-pak``` license
- [x] ```convert2svg``` is added in three files. we should call the pyt

[2015-07-09 13:16] wa4557 commented on #56
@Foggalong Seeing that you have skype installed. Does changing the skype icons work?

[2015-07-09 13:21] Foggalong commented on #56
[code]

Reinstalled and still nothing working :/

[2015-07-09 13:25] bil-elmoussaoui commented on #56
@Foggalong can you try the skype icons ? Just to be sure that's an owncloud issue and not a script or sni-qt one

[2015-07-09 13:26] Foggalong commented on #56
Yeah, Skype isn't fixing either :(

[2015-07-09 13:28] wa4557 commented on #56
That's probably because you're not using the latest numix version :P

[2015-07-09 14:07] Foggalong commented on #56
You were right! Skype is now working :dancer:

[2015-07-09 14:10] bil-elmoussaoui commented on #56
That's cool! Still need to fix this issue, just need to know which version of Owncloud client you're using so i can test this on my desktop  ```  dpkg -l | grep owncloud-client```

[2015-07-09 14:13] Foggalong commented on #56
owncloud-client : 7.0~beta1+really1.6.4+dfsg-1 : amd64

[2015-07-09 14:14] bil-elmoussaoui commented on #56
@Foggalong Your version is too old :P The latest version is 1.8.3 can you update and try again ?

[2015-07-09 14:21] Foggalong commented on #56
I'd not updated to the latest because I was having problems with 1.7.x (I think that version) but done so now - still not fixed though :(

[2015-07-09 14:27] bil-elmoussaoui commented on #56
I'm out of ideas :/ What distro are you using? i'm going to test it and see how can i fix this

[2015-07-09 14:28] Foggalong commented on #56
Xubuntu 15.04 :(

[2015-07-09 15:34] bil-elmoussaoui commented on #56
@Foggalong It's working for me :P i'm using sni-qt version ```.2.7-0~78``` and owncloud client ```1.5.0``` (the default version in xubuntu repo. Can you try removing everything in ```sni-qt/icons``` and execute the script again. Maybe a restart to your system?

[2015-07-09 15:50] Foggalong commented on #56
sni-qt:amd64 | 0.2.7-0~78~ubuntu15.04.1 | amd64
sni-qt:i386 | 0.2.7-0~78~ubuntu15.04.1 | i386

I'm running the same version and it's still not working :(

[2015-07-09 16:09] bil-elmoussaoui commented on #58
@wa4557 do you have any idea how i can call the svg2png python script in ```script.py``` ? i used  ```call``` but i had a permission error

[2015-07-09 16:11] bil-elmoussaoui commented on #56
I used xubuntu 14.04 instead of 15.04 :/ is this might affect the result? i don't think so..

[2015-07-09 16:19] wa4557 commented on #58
Try `os.system(script.py)`

[2015-07-09 16:21] wa4557 commented on #58
But I would keep it as a seperate function in the script. Calling an outside script is a little bit of a overkill for such a small function

[2015-07-09 16:25] Foggalong commented on #58
`os.system` is a deprecated function now, only supposed to be used in maintaining compatibility with Python 2.6 or lower

[2015-07-09 16:38] bil-elmoussaoui commented on #58
@wa4557 i reverted my latest commit!

[2015-07-09 17:15] Foggalong opened #59 "Skype Notifications"
When Skype gets a notification it's reverting to the default icon with the little orange dot rather than the blue status icon that this script switches it to

[2015-07-09 17:17] bil-elmoussaoui commented on #59
I will need the result of ```ls -R /tmp/sni-qt_*``` so i can check if the icon names are correct or not

[2015-07-09 18:28] Foggalong commented on #59
I've found this unthemed icon with the name `skype_18942_0fce05395e6040b3fd0838935b3aa115.png`. I'm guessing there'll be one of these icon for each number, but that they only show up after they've been seen for the first time?
![screenshot_2015-07-09_19-27-18](https://cloud.githubusercontent.com/assets/5920259/8603496/8c1ba422-2670-11e5-85e2-956da06d0db1.png)

[2015-07-09 18:58] bil-elmoussaoui commented on #59
Qt indicator uses tmp folder to store the icons. The icons will be shown in tmp once they're used and will be removed when you close the application. For example in this case you've ```skype_x_y.png```. In ```.local/share/sni-qt/icons/``` you will need to create a folder name ```skype``` and put the icon ```y.png``` there. The x changes in ```/tmp/``` whenever you reopen the application which make

[2015-07-09 19:02] wa4557 commented on #59
It does but is a symlink. Maybe symlinks are no good? I can reproduce this btw. :(

[2015-07-09 19:04] bil-elmoussaoui commented on #59
This should be fixed now :P

[2015-07-09 19:31] wa4557 commented on #59
No. Symlinks aren't the problem (at least for me). The same thing happens if all files are regular files...
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/8604917/d71c10a4-2681-11e5-8273-678547659b0f.png)

[2015-07-09 19:33] bil-elmoussaoui commented on #59
Symlinks were not the problem, remove everything in ```.local/share/sni-qt/icons/skype``` and run the script again. This issue is due to some icons that were symlinked to themselves

[2015-07-09 19:35] wa4557 commented on #59
Nope. Same as before...

[2015-07-09 19:49] bil-elmoussaoui commented on #59
Can you paste the list of icons in tmp/sni-qt_skype?

[2015-07-09 19:56] wa4557 commented on #59
The problem is this not /tmp but there are a lot of icons missing, to which symlinks are pointing to, which breaks a lot of symlinks.

I tried to figur out why this happens, but no luck so far

[code]
are missing

[2015-07-09 20:12] bil-elmoussaoui commented on #59
@wa4557 can you try it now?

[2015-07-09 20:13] wa4557 commented on #59
Ok the problem was that the script somehow corrupted the source icons in the icon theme (how can this possibly happen, the script only reads the file?). Anyways after repairing those files in the icon theme it works now

[2015-07-09 20:14] wa4557 commented on #59
Is it possible, that the script tried to symlink a symlink back to the icon theme, and therefore broke the icon?

[2015-07-09 20:19] bil-elmoussaoui commented on #59
This is somehow possible :/ Because those broken icons were symlinked to themselves

[2015-07-09 20:20] bil-elmoussaoui commented on #59
@Foggalong can you confirm this?

[2015-07-10 10:39] wa4557 opened #60 "Revert to default"
I guess it would be a good idea, to have a way to revert to the default icons (if the user wants to stop using this icon theme). I guess for that a major rewrite is necessary :(

[2015-07-10 12:01] bil-elmoussaoui commented on #60
I think that won't be that hard.. we just need to create a folder, create an other folder inside. And copy back the icons if you want to revert back the icons?

[2015-07-10 12:03] wa4557 commented on #60
Yeah something like that

[2015-07-10 12:04] bil-elmoussaoui commented on #60
I will give it a try today

[2015-07-10 13:13] Foggalong commented on #56
Latest bug

[code]

[2015-07-10 13:28] bil-elmoussaoui commented on #56
should be fixed now

[2015-07-10 20:26] wa4557 opened #62 "Check if script worked"
It would be great to see if the script that was called worked or didn't and give an error message if it doesn't. Right now always a success message is given.
I'll give that a try if you wish

[2015-07-10 20:27] bil-elmoussaoui commented on #62
I tried using ```try``` but that does not work.. that would be very helpful to debug future scripts;

[2015-07-10 20:28] wa4557 commented on #62
`try` does not work because python knows nothing about the script, but there are ways to handle that I think :)

[2015-07-10 21:10] bil-elmoussaoui commented on #60
I finished this one, but it's a little hard to fix spotify & google chrome icons..i think we will need a script for reverting the old icons?

[2015-07-10 21:12] wa4557 commented on #60
Can't we use the same script with just changing the icons?

[2015-07-10 21:13] bil-elmoussaoui commented on #60
Yeah, but we will need a backup script in this case?

[2015-07-10 21:13] wa4557 commented on #60
Backup script? What do you mean

[2015-07-10 22:50] bil-elmoussaoui commented on #60
I thought that we will need a script to backup the original spotify/chrome icons. But i will just copy the zip/pak file and copy it back when you run the reinstall/revert script

[2015-07-10 23:55] bil-elmoussaoui commented on #62
this is fixed now

[2015-07-10 23:55] #62 closed

[2015-07-10 23:55] bil-elmoussaoui commented on #60
@wa4557 can you try my latest commit?

[2015-07-11 05:49] wa4557 commented on #60
Not quite:
First error message:
[code]

Second: for variety the whole folder where the pictures are located is backed up. Wouldn't it make more sense to backup only the files the script is overwriting?

[2015-07-11 13:29] bil-elmoussaoui commented on #60
@wa4557 can you try again? :p

[2015-07-11 13:34] wa4557 commented on #60
Everything works (except spotify):

fixing spotify failed with error:
	Traceback (most recent call last):
	  File "svg2png.py", line 11, in <module>
	    fout = open(symlfile, 'wb')
	FileNotFoundError: [Errno 2] No such file or directory: 'resources_old/_linux/spotify_icon.ico'

etc...

[2015-07-11 13:36] bil-elmoussaoui commented on #60
Well, maybe you've lost the recources.zip folder ? as this issue is in the install file

[2015-07-11 13:37] wa4557 commented on #60
nope. still there

[2015-07-11 13:39] wa4557 commented on #60
Whoa look what's in in my `resources.zip` now :) Wtf happened here?
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/8633908/f43230f8-27e2-11e5-8351-899161b0e44f.png)

[2015-07-11 13:40] bil-elmoussaoui commented on #60
WTF :O how that even possible?  can you try reinstalling spotify and retry again, this issue was there before i guess

[2015-07-11 13:44] wa4557 commented on #60
No idea what happened here. The problem doesn't occur again, and everything is now correctly backed up :+1:

[2015-07-11 13:51] wa4557 commented on #60
Some more things:
-  as far as I can see the script doesn't remove the icons from .local/share/sni-qt when choosing to revert. I guess however that this is the way to revert for the sni-qt icons

- could you please add a space after the double dot? `choice  = int(input("Please choose :"))` (Too small to make a PR)

- is it really necessary to have two distinct functions for spotify & google chrome

[2015-07-11 14:55] bil-elmoussaoui commented on #60
- for the ```sni-qt``` folder, the icons are removed in my case, which application you're using?
- fixed
- i merged chrome & spotify function

[2015-07-11 15:04] wa4557 commented on #60
Cool, Yeah sni-qt is fixed my bad, but there's another serious problem:
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/8634180/ba69a1ba-27ee-11e5-95c8-edc3189e9520.png)

This happens when opening google-chrome after running the script (although the script shouldn't do anything since the google chrome icons are not there yet)

[2015-07-11 15:06] wa4557 commented on #60
In other words. The script should only do a backup if the icons are actually overwritten

[2015-07-11 15:43] wa4557 commented on #60
Ok this whole revert thing doesn't work as you want it to happen: If the script is run more than once e.g. `resources.zip` is copied from `opt/spotify` to `hardcode-tray-backup`. The problem however: The second time a `resources.zip` is copied that is already overwritten with the theme icon. Right now I have no idea how to deal with that :(

[2015-07-11 16:15] bil-elmoussaoui commented on #60
For the google chrome issue, i guess that the icon names are not the same as in my computer, could you verify that?
And for the backup/revert i was thinking about creating a file named "already_backudup" , what do you think about this?

[2015-07-11 16:17] wa4557 commented on #60
Nope same icon name, copying doesn't work somehow. Or copy and don't overwrite already files ?

[2015-07-11 16:26] bil-elmoussaoui commented on #60
@wa4557 this should be fixed now

[2015-07-11 16:48] bil-elmoussaoui commented on #60
after merging your latest PR, is this fixed now or there's still something to do ?

[2015-07-11 16:52] wa4557 commented on #60
Hmm. What if there will be a new `resource.zip` in the future in a new version? Then reverting back will most likely break the program. But I don't think this is something we can't fix. In general this works now :)

[2015-07-11 16:54] bil-elmoussaoui commented on #60
@wa4557 i've installed the new beta of spotify and they've changed a lot of things. the spotify indicator does not seem to work now; we will take a look at this when this version will be released!

[2015-07-11 16:54] #60 closed

[2015-07-11 20:29] Foggalong commented on #56
ownCloud still not fixing for me :(

[2015-07-12 22:33] bil-elmoussaoui commented on #56
I have no idea how to deal with that :( can you try reinstalling numix @wa4557 had an issue with some icons, reinstalling Numix did fix the issue

[2015-07-14 15:30] bil-elmoussaoui commented on #59
Is this fixed or not yet?

[2015-07-15 12:57] bil-elmoussaoui opened #71 "Add a screenshot to readme"
I think we should add a screenshot before/after using Hardcode-Tray showing the ugly and non-monochrome icons and how they look like after using the script

[2015-07-15 13:07] Foggalong commented on #56
Reinstalling didn't work :(

[2015-07-15 13:08] Foggalong commented on #59
I don't actually get enough notifications to actually test this :(

[2015-07-15 13:10] bil-elmoussaoui commented on #56
Can you do those 2 steps :
- Open Owncloud and refresh, pause syncing until every ugly icon is shown in the indicator (don't close the application)
- Paste the output of  ``` ls -R /tmp/sni-qt_*  ```

[2015-07-15 13:11] bil-elmoussaoui commented on #59
I will keep this open until you test it :+1:

[2015-07-15 13:22] Foggalong commented on #56
```ls: cannot access /tmp/sni-qt_*: No such file or directory```

[2015-07-15 13:24] bil-elmoussaoui commented on #56
There's no folder like that  ``` sni-qt_owncloud_X-Y ```  in ```  /tmp ```

[2015-07-15 13:26] Foggalong commented on #56
Nope, not at the moment :/

[2015-07-15 13:27] bil-elmoussaoui commented on #56
Whut, Owncloud is still open?  If you close it, reopen it again as this folder is removed once the application is closed

[2015-07-15 13:43] Foggalong commented on #56
omg

[2015-07-15 13:43] Foggalong commented on #56
I closed it and opened it and it's suddenly using the right icons

[2015-07-15 13:44] bil-elmoussaoui commented on #56
You know what we say in my country, if something does not work just restart it it will work for sure haha!

[2015-07-15 13:45] Foggalong commented on #56
![screenshot](https://cloud.githubusercontent.com/assets/5920259/8699816/2120e698-2b00-11e5-93c0-d8853083d6c1.png)

[2015-07-15 13:49] bil-elmoussaoui commented on #56
Happy to see those beautiful Numix icons in your desktop :+1: , i will close this now

[2015-07-15 13:49] #56 closed

[2015-07-15 21:40] bil-elmoussaoui opened #72 "Better distro detection"
Well, the detect_de is not detecting the right icon sizes in case you're using elementary OS with an other desktop instead of Panatheon.
I think we need a better function to handle all the possible cases

[2015-07-15 21:42] bil-elmoussaoui commented on #71
@Foggalong @wa4557 anyone of you can provide this? i'm using an unstable version of elementary OS and the things looks very ugly there. if you cannot i will try to install Ubuntu on a VM and do that

[2015-07-15 22:05] bil-elmoussaoui commented on #72
Fixed in my latest commit

[2015-07-15 22:08] wa4557 commented on #71
I can do that but not today/tomorrow. If it's ok I'll do it on weekend

[2015-07-15 22:09] bil-elmoussaoui commented on #71
@wa4557 take your time ;)

[2015-07-16 01:57] bil-elmoussaoui commented on #72
really don't know why but this is not working again `environ({'TERM': 'xterm', 'LC_NAME': 'fr_BE.UTF-8', 'LANGUAGE': 'fr_FR', 'LC_NUMERIC': 'fr_BE.UTF-8', 'DISPLAY': ':0', 'LC_TIME': 'fr_BE.UTF-8', 'LC_ADDRESS': 'fr_BE.UTF-8', 'SUDO_USER': 'bilal', 'MAIL': '/var/mail/root', 'LC_IDENTIFICATION': 'fr_BE.UTF-8', 'LC_MEASUREMENT': 'fr_BE.UTF-8', 'XAUTHORITY': '/home/bilal/.Xauthority', 'LC_MONETARY':

[2015-07-16 05:12] #72 closed

[2015-07-16 05:12] bil-elmoussaoui commented on #72
the only possible way i guess, is to use  ̀ sudo -E ̀ instead of  `sudo ̀

[2015-07-16 08:08] wa4557 commented on #72
Meh, I'm not super happy with that solution :( Is there no other way to do it?

[2015-07-16 13:05] bil-elmoussaoui commented on #72
I don't like that too :( but i think its the only way to conserve the environment variables when you run the script using  `sudo`

[2015-07-16 16:55] Foggalong commented on #59
First notification working! :D not sure if it works for if you have more than one notification though - don't know how high up Skypes icons for the counter go :/
![screenshot_2015-07-16_17-53-51](https://cloud.githubusercontent.com/assets/5920259/8729539/b5c9f42c-2be3-11e5-93be-eb65ef27642c.png)

[2015-07-16 16:56] bil-elmoussaoui commented on #59
Nice!! I will close this :+1:

[2015-07-16 16:56] #59 closed

[2015-07-16 19:41] wa4557 opened #73 "Script fails"
Might be because of the new detect environment method

Traceback (most recent call last):
  File "./script.py", line 311, in <module>
    if detect_de() in ("pantheon", "xfce"):
  File "./script.py", line 41, in detect_de
    if "pantheon" in [environ.get("DESKTOP_SESSION"), environ.get("XDG_CURRENT_DESKTOP").lower()]:
AttributeError: 'NoneType' object has no attribute 'lower'

[2015-07-16 19:44] wa4557 commented on #59
Skype doesn't have a real counter for notifications. Even for more messages only the orange "1" is displayed

[2015-07-16 20:04] bil-elmoussaoui commented on #73
This won't work only if you run the script using ``` sudo -E python3 script.py```

[2015-07-16 20:06] wa4557 commented on #73
Well then there should be a failsafe that prevents the script from running when using standard `sudo`

[2015-07-16 20:07] bil-elmoussaoui commented on #73
I was looking on how to handle that, do you have any idea?

[2015-07-16 20:10] wa4557 commented on #73
Check if a the enironment variable is there, and if not `exit`? I have no idea though if this environment variable is there for every linux distribution

[2015-07-16 20:11] bil-elmoussaoui commented on #73
this must be fixed now, i used DESKTOP_SESSION as environment variable

[2015-07-16 20:12] wa4557 commented on #73
Yes. I guess this is good enough for now :)

[2015-07-16 20:12] #73 closed

[2015-07-18 01:24] bil-elmoussaoui commented on #58
@Foggalong I might need your help with the Node Chrome Pak license, we use the script to open the pak files in Google chrome to fix the hardcoded icons. This script is released under MIT license, @wa4557 proposed to add MIT license too; what do you think?

[2015-07-24 01:00] soissons commented on #56
Hello, I get the same qt-tray error.
[code]
I've tried fixing it by adding another directory and moving script.py and db.csv into it.

It goes through now, but I get:
[code]
I have both these apps installed. I'm using Elementary OS Freya, with the latest numix circle icons.

ls -R /tmp/sni-qt_*:
[code]
If you maybe also want this:
![skype_tmp_icons](https://cloud.githubusercontent.com/assets/15420

[2015-07-24 03:55] bil-elmoussaoui commented on #56
Can you open a new issue for that please?

[2015-07-24 11:26] soissons opened #74 "Skype indicator not being changed in Elementary OS"
Hello, I got this qt-tray error:
[code]
I've tried fixing it by adding another directory and moving script.py and db.csv into it.

It goes through now, but I get:
[code]
I have both these apps installed. I'm using Elementary OS Freya, with the latest numix circle icons.

ls -R /tmp/sni-qt_*:
[code]
If you maybe also want this:
![skype_tmp_icons](https://cloud.githubusercontent.com/assets/1542063/8

[2015-07-24 14:43] bil-elmoussaoui commented on #74
I can't reproduce that. Are you using the latest version of the script?

[2015-07-24 16:07] soissons commented on #74
Yes. Well I've managed to change the icon with ElementaryPlus. Can I give you any other info to fix the bug for other users?

[2015-07-24 16:21] bil-elmoussaoui commented on #74
I'm still thinking about this, can you just change this in the script :
```python userhome = path.expanduser("~" + getlogin()) ``` with
[code]

[2015-07-24 16:24] bil-elmoussaoui commented on #74
And go to the line 297 and add
```python  print(script_name)```

[2015-07-26 10:59] wa4557 opened #75 "Chrome makes script impossible to use"
This happens when using the script with google-chrome :(
![bildschirmfoto vom 2015-07-18 13 49 38](https://cloud.githubusercontent.com/assets/6475757/8893582/29ec5610-3396-11e5-8b7d-cf1d5b4a6acf.png)

There seems to be an issue with the js script...

[2015-07-26 11:01] Foggalong commented on #75
Just maybe :P

[2015-07-26 11:01] bil-elmoussaoui commented on #75
:S I Will test this right now.. The new indicator icon is working?

[2015-07-26 11:10] wa4557 commented on #75
I don't know I've never had a chrome icon in the tray

[2015-07-26 11:11] Foggalong commented on #75
I've just noticed how massive your tray is O.o

[2015-07-26 11:12] bil-elmoussaoui commented on #75
@wa4557 Can you try this to see if it's working ? [System Tray icons not showing [closed]](http://askubuntu.com/questions/447739/system-tray-icons-not-showing)

[2015-07-26 11:16] wa4557 commented on #75
@Foggalong and it looks great with Numix. The funny thing I use each and every one of those appindicators
@bil-elmoussaoui No that's not it, I just don't know how I can trigger a notification in chrome so that it shows up ...

[2015-07-26 11:28] bil-elmoussaoui commented on #75
The icon names are not the same in every Chrome version; i installed the latest version and look what i've got
![screenshot 26-07-2015 13 24 24](https://cloud.githubusercontent.com/assets/7660997/8893663/2cc0fb26-339a-11e5-805e-f239364a4570.png)

In my case, the icon names are 7353,7354, 7355 and 7356. Can you confirm that?

[2015-07-26 11:29] bil-elmoussaoui commented on #75
To fix the issue in your case, restore the old chrome_pak file and change the icon names in the database file and run the script again

[2015-07-26 11:52] wa4557 commented on #75
Confirmed that changing the icons to the correct one did fix that issue. But since chrome is updated quite regularly it seems to me that we need to do something else here :(

[2015-07-26 12:41] bil-elmoussaoui commented on #75
As the icons are still the same; maybe a way to check every icon file content with the default one that we will include in the script if we can. What do you think?

[2015-07-26 12:55] bil-elmoussaoui commented on #74
I pushed a new version that should check if the script file do exists! Can you try that?

[2015-07-26 14:46] wa4557 commented on #75
That's actually a brilliant idea, but how to check a the content of a png icon?

[2015-07-26 15:45] soissons commented on #74
`autocrlf = true` in git was the problem -.- sry, my bad

[2015-07-26 15:53] bil-elmoussaoui commented on #74
not a problem;)

[2015-07-26 18:57] bil-elmoussaoui commented on #75
I think that we will need a new way to get the right icon names for chrome, we can copy the png icons and put them in a new folder? and then check every png icon file in the extracted folder to get the right icon names. If the design changed we will have just to add the new icons to the icon folder. I can do that this weekend

[2015-07-26 19:06] bil-elmoussaoui commented on #75
and to compare the images files, we can use something like that : http://blog.iconfinder.com/detecting-duplicate-images-using-python/

[2015-07-26 19:50] bil-elmoussaoui commented on #75
I have a part of the final solution :
[code]
the default icons will be copied from my version of Chrome to /database/icons/chrome
and this part of code is added to ```get_app_icons(app_name)```
[code]
the last issue is how to extract the google chrome pak file :P Should i use ```subprocess.call``` ?

[2015-07-26 19:51] #74 closed

[2015-07-27 08:01] wa4557 commented on #75
I like that solution,  but you'd probably better use `subprocess.Popen` because it enables to speak with the subprocess when necessary (and catch error messages for example)

[2015-07-27 11:09] wa4557 opened #76 "Fixing non tray-icons as well?"
A quick thought that would make this script so much more useful:

What do you think about fixing hardcoded non tray-icons as well?
Calibre (I really really hope that at some point the calibre-dev will change his mind about using system-icons) or jdownloader use hardcoded but standard icons that could be changed using your script.

I'm aware that this would require a lot of work setting up the appr

[2015-07-27 11:23] bil-elmoussaoui commented on #76
i was thinking about that too ! i think of creating a new git repo for that and use the same code with some modification to make it easier for the users to choose between fixing indicator or applications icons

[2015-07-27 12:04] wa4557 commented on #76
Cool :+1: I'll help of course :)

[2015-07-27 17:01] bil-elmoussaoui commented on #76
I just need to finish the new google chrome code to merge it and start with the new script, do you have any idea of a name ? :P

[2015-07-27 17:39] wa4557 commented on #76
hmm. What about "hardcode-icons"? (I'm not very convinced about the name :)

[2015-07-27 17:55] bil-elmoussaoui commented on #76
@Foggalong do you have any idea of a name? :p
@wa4557 We will have to deal with different icon sizes?

[2015-07-27 17:58] wa4557 commented on #76
Yes, this needs to be an additional column in the database file

[2015-07-29 20:35] bil-elmoussaoui commented on #75
Well i did everything and everything should work fine expect one issue  when i do call the node-chrome-pak file i have this error
`
(b'', b'') (b'', b"\nmodule.js:340\n    throw err;\n          ^\nError: Cannot find module '/home/bilal/Github/Hardcode-Tray/database/scripts/node-chrome-pak.js '\n    at Function.Module._resolveFilename (module.js:338:15)\n    at Function.Module._load (module.js:280:

[2015-07-29 20:38] bil-elmoussaoui commented on #76
I will go with hardcode-icons :P i'm closing this https://github.com/bil-elmoussaoui/Hardcode-Icons

[2015-07-29 20:38] #76 closed

[2015-07-29 20:47] bil-elmoussaoui commented on #75
You can try the script on the beta branch https://github.com/bil-elmoussaoui/Hardcode-Tray/tree/beta

[2015-08-01 19:24] wa4557 commented on #75
Yeah it seems that the extracted folder is not in `tmp` but rather in `database/scripts`. Which means that the `extracted_chrome_dir` variable is wrong. If you change that to `database/scripts` (which is also OK i guess) it works

[2015-08-03 17:03] bil-elmoussaoui commented on #75
I will give it a try ;)

[2015-08-10 05:36] raknerak opened #77 "chromium indicator and hangouts (plugin of chromium) indicator is not monochrome"
![selection_020](https://cloud.githubusercontent.com/assets/7880734/9159938/e7ba4ba2-3f3a-11e5-8634-99312918a615.png)
- [x] Hangouts plugin indicator
- [x] Chromium indicator

[2015-08-10 05:38] raknerak opened #78 "VLC media player is not monochrome"
![selection_021](https://cloud.githubusercontent.com/assets/7880734/9159964/28cfb514-3f3b-11e5-8039-b2e190d48541.png)

[2015-08-10 05:43] bil-elmoussaoui commented on #78
Well, this cannot be fixed as the VLC indicator icon uses the same icon name as the application name. You might report this to the VLC devs if you want this to be fixed ;)

[2015-08-10 05:43] #78 closed

[2015-08-10 05:43] bil-elmoussaoui commented on #77
Well, i'm going to give it a try. How do you installed Chromuim? The distro you're using?

[2015-08-10 05:44] raknerak commented on #77
yes I installed chromium from ubuntu software center. I am using ubuntu 14.04

[2015-08-10 06:04] bil-elmoussaoui commented on #77
I will install it today ;)

[2015-08-10 22:38] bil-elmoussaoui commented on #77
tried it, but that does not show me any indicator :/

[2015-08-11 00:40] bil-elmoussaoui commented on #75
Fixed in my latest commit :P

[2015-08-11 00:44] bil-elmoussaoui commented on #25
A lot of icons are missing in Numix too ;) i will report that later;

[2015-08-11 05:07] raknerak commented on #77
İf you install hangouts(old name gtalk)  add on on chromium, indicator
appears

On Tuesday, August 11, 2015, Bilal Elmoussaoui <notifications@github.com>
wrote:

--
Ahmet Yıldırım

[2015-08-11 06:11] wa4557 commented on #75
Nope still the same red areas :(

[2015-08-11 06:16] bil-elmoussaoui commented on #75
are you sure ? restore the pak file and try again :/ i tested this for like 2 hours

[2015-08-11 06:20] wa4557 commented on #75
unfortunately yes. I guess the problem is, that the `.extracted` folder is not deleted after image comparison?

[2015-08-11 06:29] bil-elmoussaoui commented on #75
Well, i dont think it's a problem :/ have You reinstalled chrome as the bak file might be damaged as well.
i will modify the code later to remove the extracted folder

[2015-08-11 06:32] wa4557 commented on #75
Yes. I'll try it a little bit later, it's too hot here right now :)

[2015-08-11 08:51] wa4557 commented on #75
Ok the problem is not your code but rather the javascript code. Even if I don't change anything just unpack and then pack again the error occurs. Unfortunately I can't code javascript :(

[2015-08-11 08:57] bil-elmoussaoui commented on #75
i didnt try chrome, but only if the icons changes; i will take a look later if there's a newer version of the script. Is there an other way to modify pak files ?

[2015-08-11 09:02] wa4557 commented on #75
The icon change works, I can confirm that.
The script doesn't. I tried to look into the script but my javascript knowledge is too bad in order to get some meaningful insights. There seems to be some python code that does exactly what we are looking for but I don't know if that one works: http://askubuntu.com/questions/470691/how-can-i-replace-google-chromes-low-resolution-notification-icon

[2015-08-12 15:11] wa4557 commented on #75
I almost have this python script (from my above comment, slightly modified) ready. This one seems to work better than the javascript one

[2015-08-12 16:17] bil-elmoussaoui commented on #75
have you tested this to pack the extracted folder ? if yes, is this fixing the red background issue?

[2015-08-12 16:20] wa4557 commented on #75
I have tested it yes, and it is fixing the red background issue. It just needs a bit rewriting

[2015-08-12 16:37] bil-elmoussaoui commented on #75
so good! i took a look in how to fix the chrome/chromuim indicator and it's seems that those icons are in the same pak file. so fixing this will fix the other issue too ;) and the code i pushed later need some cleaning too.

[2015-08-12 18:03] wa4557 commented on #75
Cool! I'm still facing a bug I don't know how to fix, but as soon as this is finished I'll open a PR :)

[2015-08-12 20:44] bil-elmoussaoui commented on #77
Thanks for the informations. I think i know how to deal with those icons (the hangout icon does not appear in my case); but i will give it my best once this issue is fixed #75

[2015-08-12 20:57] wa4557 commented on #77
@bil-elmoussaoui if you add this addon the icon appears https://chrome.google.com/webstore/detail/hangouts/nckgahadagoaajjgafhacjanaoiihapd/related?hl=en

[2015-08-12 20:59] bil-elmoussaoui commented on #77
Ah It's :p I was testing on the new Gnome indicator icons and it's not working; i just installed unity to test it. Thanks

[2015-08-12 21:01] wa4557 commented on #77
I really like google products (or is it alphabet now:P), but they seem to have problems with themable icons

[2015-08-12 21:03] bil-elmoussaoui commented on #77
I do use google products too; i hope they will do something in the near future ;)

[2015-08-12 21:06] wa4557 commented on #77
@raknerak How did you manage to move the hangouts icon to the left? I can't move it by changing its value in `ordering-override.keyfile`

[2015-08-12 22:15] bil-elmoussaoui opened #80 "Adding a new column to the database file"
I think on adding a new column to the database file with the real application name, which will be shown in the messages that are shown to the user, instead of the name we use for the database files.
Also a new line that will be in the first line with
` Application Name, Database File, Application Path, Sni Qt Prefix`
Which will help contributors in the future if there's any :P

[2015-08-12 22:49] bil-elmoussaoui commented on #80
fixed

[2015-08-12 22:49] #80 closed

[2015-08-12 22:57] bil-elmoussaoui commented on #58
I will close this as we re going to remove the node chrome pak script ;) and i can't do anything with the install function :/

[2015-08-12 22:57] #58 closed

[2015-08-13 08:42] #75 closed

[2015-08-13 09:01] bil-elmoussaoui commented on #77
@raknerak can you try the latest version of the script after reinstalling Chromuim and see if the script works fine with Chromuim too?

[2015-08-13 09:07] raknerak commented on #77
I tried, indicator (systream tray) is the same and also theme seems broken as following:

![selection_027](https://cloud.githubusercontent.com/assets/7880734/9246381/dc3865a4-41b3-11e5-92ad-59d6330f3da3.png)

[2015-08-13 09:08] wa4557 commented on #77
Nooooooo :(

[2015-08-13 09:43] bil-elmoussaoui commented on #77
You've removed everything in the older folder? i mean here `/usr/lib/chromium-browser` can you remove chromuim,  use `sudo rm -rf /usr/lib/chromium-browser/` , reinstall again, and then try again?

[2015-08-13 10:04] raknerak commented on #77
I tired but now hangouts is chrashing. I tried to rollback problem by removing-purging chromium and re-installing extension but still not fixed.

![selection_031](https://cloud.githubusercontent.com/assets/7880734/9247454/c7bbee90-41bb-11e5-9ff6-31a33b5baf72.png)

[2015-08-13 10:13] bil-elmoussaoui commented on #77
What about trying Google Chrome ? i think i know why.. i will try to fix it next week

[2015-08-13 10:35] raknerak commented on #77
Hi Bilal,

I already installed google-chrome but I prefer chromium :) I did not know the reason :)

[2015-08-13 10:49] bil-elmoussaoui commented on #77
My question was not to use Chrome instead of Chromuim. But just to try the script if everything works fine. i will try to fix the issue with Chromuim asap

[2015-08-13 13:47] wa4557 commented on #77
I cannot confirm this: for me chromium and chrome both work as intended? For both the new and correct icon is displayed

[2015-08-13 14:00] wa4557 commented on #77
The hangouts icons are stored here `~/.config/{google-chrome/chromium}/Default/Extensions/nckgahadagoaajjgafhacjanaoiihapd/2015.513.1632.5_0/images_4/presence`

[2015-08-13 20:21] bil-elmoussaoui commented on #77
Thanks for testing it :) that will be a easy one to do

[2015-08-13 23:37] bil-elmoussaoui commented on #77
I added a support to Hangouts extension and requested the icons in Numix base, once they're added you can fix it easily ;)

![screenshot from 2015-08-14 01-20-18](https://cloud.githubusercontent.com/assets/7660997/9264294/f957cbc2-4224-11e5-82e4-0fcc87a95273.png)

But the google chrome icon is not fixed in my case :/ I've been trying to figure out why, and i think that the icons shown in your case

[2015-08-14 08:17] wa4557 commented on #77
That's not the icon we are replacing with the script :( I've never seen this tray icon on my machine, how can I see this icon? Maybe the icons in `/opt/google/chrome/product_logo`? I can't test it because I'm not able to see this tray icon

[2015-08-14 08:44] bil-elmoussaoui commented on #77
Well, i have no idea how, i just installed Hangouts and this icon appears. I tried to change the icons `product_logo*` but that does not work :/

[2015-08-14 09:10] wa4557 commented on #77
Mayb it is another icon in the `pak` file?

[2015-08-14 09:13] bil-elmoussaoui commented on #77
i found the icon, changing it does not change the indicator icon :/ maybe in an other pak file ?

[2015-08-14 09:13] wa4557 commented on #77
7470 could be the corresponding icon ...

[2015-08-14 13:21] bil-elmoussaoui commented on #77
Tried to change it but does not work, i will try to update Chrome to the latest version & try again :P

[2015-08-14 13:54] wa4557 commented on #77
There are two other Icons that could be the one :)

Bilal Elmoussaoui <notifications@github.com> schrieb am Fr., 14.08.2015,
15:21:

[2015-08-16 12:08] bil-elmoussaoui opened #82 "Update comments"
Hello,
The comments are sometimes not very clear.. My english is not that good and sometimes i wrote a long sentence to explain something that can be done with a shorter one.

Anyone want to modify/correct the comments? :)
Thanks!

[2015-08-16 12:10] bil-elmoussaoui commented on #77
I didn't get the time to try it. @raknerak Hangouts icon is now fixed ;) just update Numix base and run the script again

[2015-08-16 12:53] wa4557 commented on #82
I'll have a look :)

[2015-08-16 13:06] bil-elmoussaoui commented on #77
I changed all the three icons, the indicator icon does not seem to show anything (empty icon) after a while the default icon showed again :( i asked a question here [How to change the ugly chrome/chromuim tray icon](http://askubuntu.com/questions/662129/how-to-change-the-ugly-chrome-chromuim-tray-icon)
Hope we can have an answer on how to deal with this ugly icon.

[2015-08-16 13:29] #82 closed

[2015-08-17 19:58] bil-elmoussaoui opened #84 "Open spotify archive file only once"
Hello ,
We do extract the `resources.zip` too many times and zip it again :/ (10 times)
Any idea how to open the zip file only once, change all the files and then zip it again? :+1:

[2015-08-17 20:09] bil-elmoussaoui opened #85 "Some unneeded continue statement"
Sometimes i feel like there's too much continue statement in the script (10 times) ? Are they really needed or i can remove (some of them) without changing in thing in the way the script works

[2015-08-17 20:46] wa4557 commented on #85
I'd say that they are needed (only had a quick look though). But I guess that's ok continues are good programming style when using loops (which we heavily are)

[2015-08-17 20:48] wa4557 commented on #84
We have the same problem with the google chrome unpacking :( I was trying to come up with a solution but nothing very good (that is without a lot of rewriting) has come to my mind yet

[2015-08-17 20:52] bil-elmoussaoui commented on #84
I think sending all the filenames at once for spotify is a good idea as all the icons will be symlinked to the same icon.
But for chrome i don't think it's the idea way :(

[2015-08-17 20:54] bil-elmoussaoui commented on #85
For example in the line 192 (in the github version) 3 continue statement :P
My teacher was saying never use continue or break in a loop (i never understood way)

[2015-08-17 20:58] wa4557 commented on #84
I guess it's the exact for spotify and chrome.
1) We extract the source file
2) We replace the source icons with our modified ones (more than one icon in both cases)
3) We remove the extracted folder

[2015-08-17 21:00] wa4557 commented on #85
Yeah me neither :P
my opninion: if it makes code harder to read when replacing them (which is of course possible using a lot more ifs and elses) it is generally a bad idea

[2015-08-17 21:01] Foggalong commented on #85
@bil-elmoussaoui did they ever give a reason? O.o

[2015-08-17 21:01] bil-elmoussaoui commented on #84
I'm thinking of a better way, without a lot of modifications in the files.
We just need to send a variable to the script that will contains "start" which means, extract the archive and "end" which means remove the extracted folder
we can do that easily by adding a counter and if the value of the counter is the same as the length of the list..

[2015-08-17 21:03] bil-elmoussaoui commented on #85
@Foggalong (It was the only time when i went to the Python class and i was late xD)

[2015-08-17 21:04] wa4557 commented on #84
Yeah I like that idea, that would work for both spotify and chromium, something like a `1` if the last icon is to be replaced, and a `ìf` `else` in the spotify/chrome script

[2015-08-17 21:06] wa4557 commented on #85
I think it's the same reason as for the (somehow unfounded imo) refusal for `goto`. You should have functions with only one return value and no nested loops...

[2015-08-17 21:12] bil-elmoussaoui commented on #84
@wa4557 can you do the bash part? if `$4` is `start` extract the files. and if it's `end` remove the extracted folder

[2015-08-17 21:13] bil-elmoussaoui commented on #85
Well, i will close this ;)

[2015-08-17 21:13] #85 closed

[2015-08-17 21:15] wa4557 commented on #84
Yeah I can. But let's use True or False or 0 and 1 instead of strings :)

[2015-08-17 21:16] bil-elmoussaoui commented on #84
Okay as you wish ;) you can update the script file too ?

[2015-08-17 21:18] wa4557 commented on #84
the chrome script? yes I can do that as well

[2015-08-17 21:19] bil-elmoussaoui commented on #84
yes, but i was talking about `script.py` as i already added the counter

[2015-08-17 21:21] wa4557 commented on #84
Ok I'm, lost what should I change :)?

[2015-08-17 21:22] bil-elmoussaoui commented on #84
Line 368 in the github version, i sent "start" , "", "end" to the spotify/chrome script and as you wish to use 0/1 or True/False you ve to change that there too

[2015-08-17 21:23] wa4557 commented on #84
Ah ok, sure :)

[2015-08-17 22:30] wa4557 commented on #84
It turns out that there are more problems than expected :) I'll do it tomorrow I'm too tired right now

[2015-08-18 15:09] #84 closed

[2015-08-18 15:09] bil-elmoussaoui commented on #77
I putted a bounty on the question, hope we got an answer to this soon ;)

[2015-08-18 15:18] bil-elmoussaoui commented on #25
I added the symlinks, waiting for Numix to fix [this](https://github.com/numixproject/numix-icon-theme/issues/668)

[2015-08-18 15:18] #25 closed

[2015-08-18 21:22] bil-elmoussaoui opened #87 "Google chrome icons license"
Should we add a license for having some of default chrome icons in the script [see here](https://github.com/bil-elmoussaoui/Hardcode-Tray/tree/master/database/images/chrome) ?

[2015-08-18 21:25] bil-elmoussaoui opened #88 "Use wiki"
I think that using Wiki will be a great idea
- Full list of supported applications
- How to get the `Qt` icon names (if you want to contribute)
- Why installing `sni-qt`
-  How to get the right icon names if you want to add them to your theme

...

What do you think?

[2015-08-18 21:28] wa4557 commented on #87
Yeah probably. Parts of the unpacking script are also from the chrome developers

[2015-08-18 21:28] wa4557 commented on #88
Like that. A lot of work though

[2015-08-18 21:29] bil-elmoussaoui commented on #87
I don't know anything about licensing :( Which licence we should add? or just add that to the credits section

[2015-08-18 21:31] bil-elmoussaoui commented on #88
Well, we might not add everything today. We will keep updating it;) We just need a list of what we should add and what we should not

[2015-08-18 21:32] wa4557 commented on #87
Me neither. I guess it's ok to add a note to the credits section?

[2015-08-18 21:34] bil-elmoussaoui commented on #87
Yeah, i was doing some research it's seems that a big part of Google chrome is released under EULA license

[2015-08-18 21:35] wa4557 commented on #87
which means?

[2015-08-18 21:36] bil-elmoussaoui commented on #87
@Foggalong might help us know what all that means :P

[2015-08-18 21:41] bil-elmoussaoui commented on #87
I added that to the credits section

[2015-08-18 22:00] Foggalong commented on #87
omg yes. If you're releasing

[2015-08-18 22:02] Foggalong commented on #88
You could add a wiki table similar to the one we use for hc-fix and move [this part of the README](https://github.com/bil-elmoussaoui/Hardcode-Tray#supported-applications) over. You could then keep track of upstream reports to fix it in the same way too :D

[2015-08-18 22:06] bil-elmoussaoui commented on #87
So the credits section are unneeded for the chrome stuff ?

[2015-08-18 22:06] bil-elmoussaoui commented on #87
I will read that this weekend

[2015-08-18 22:11] Foggalong commented on #87
The `data_pack.py` definitely needs to be in the credits section, and if you're not re-licensing it then the BSD-like license needs to be included too.

When the icons extracted from Chrome, it's possible that the EULA prevents you from redistributing them separately from Chrome or even at all.

[2015-08-18 22:14] wa4557 commented on #87
The Icons are in chromium as well,  which is OS

Joshua Fogg <notifications@github.com> schrieb am Mi., 19.08.2015, 0:11:

[2015-08-18 22:18] bil-elmoussaoui commented on #88
I added the first page :P https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/Supported-applications
We still need to do a lot of work

[2015-08-18 23:29] Foggalong commented on #87
That's a good point, though there might be differences in the binaries for copyright reasons.

If not, same thing applies about including the Chromium license :)

[2015-08-19 11:24] bil-elmoussaoui commented on #88
I added two pages today ;) Need some grammar correcting i guess. And i have no idea what to write in the home page?

[2015-08-19 11:34] bil-elmoussaoui commented on #87
The icons are the same in Chrome/chromium. I think we should rename the chrome folder to chromium and only add Chromium license?

[2015-08-19 11:42] wa4557 commented on #87
Makes sense to me.

[2015-08-19 12:36] bil-elmoussaoui commented on #87
Changed the folder name, and the license to BSD-style as mentioned in Wikipedia; We should just upload the BSD license to the github repo?

[2015-08-19 18:06] Foggalong commented on #88
What happened to the links from the README?

[2015-08-19 18:08] Foggalong commented on #87
Well if the BSD license is just being applied to one part of the repo put it in that part of the repo with a note in the header of the file it applies too. Is there anything else which might also be licensed differently?

[2015-08-19 18:10] bil-elmoussaoui commented on #87
it's the only thing in hardcode-tray

[2015-08-19 18:11] bil-elmoussaoui commented on #88
which links? i will add the wiki pages links to readme

[2015-08-19 18:14] Foggalong commented on #88
Weren't there links in the readme originally?

[2015-08-19 18:14] Foggalong commented on #87
Goodo!

[2015-08-19 18:15] bil-elmoussaoui commented on #88
links of supported applications, i moved viber indicator fixer :/ i will move it back

[2015-08-19 19:02] bil-elmoussaoui commented on #88
Done, just need to write something in the home page. @wa4557 i added "How to support an application in your theme" to "How does the script works?" Can you take a look at what i wrote? :)

[2015-08-19 19:05] bil-elmoussaoui commented on #87
I didn't find a way to apply a license to a part of the repo?

[2015-08-19 19:10] wa4557 commented on #88
Done. I simplified it a bit because I think it was hard to understand before :)

[2015-08-19 19:14] bil-elmoussaoui commented on #88
Thanks! We have added everything :dancer:, this can be closed i guess?

[2015-08-19 19:17] wa4557 commented on #88
:+1:

[2015-08-19 19:18] #88 closed

[2015-08-19 19:46] Foggalong commented on #87
Just upload the LICENSE as a normal file, it's not though the GitGub interface. You could if you wanted add a clarification in the readme to what license applies where?

[2015-08-19 21:22] bil-elmoussaoui commented on #87
I uploaded the bsd license and modified the readme too ;) what do you think?

[2015-08-19 23:19] dimuravyev opened #89 "telegram"
cat i use it for telegram in ubuntu unity 14.04?

[2015-08-20 06:07] bil-elmoussaoui commented on #89
Are you talking about [Telegram Desktop](https://desktop.telegram.org/)?

[2015-08-20 06:08] dimuravyev commented on #89
yes

[2015-08-20 06:12] bil-elmoussaoui commented on #89
Yes, you can :) Just run the script; it's will autodetect the hardcoded applications that we support.Can you confirm that everything's working fine in your case?

[2015-08-20 06:38] dimuravyev commented on #89
[code]
[code]

[2015-08-20 06:41] bil-elmoussaoui commented on #89
I fixed the issue, clone the repo and try again

[2015-08-20 06:43] wa4557 commented on #89
Have you cloned the whole repo or just downloaded the script?

dimuravyev <notifications@github.com> schrieb am Do., 20.08.2015, 8:38:

[2015-08-20 07:00] dimuravyev commented on #89
I cloned whole repo. Script works fine, but not detect telegram (v0.8.52). I tried change icons for telegram manually in
[code]
but it did not help. Moreover, such a directory does not exist since version 0.8.43
[code]

[2015-08-20 07:03] bil-elmoussaoui commented on #89
How did you installed this version of Telegram?

[2015-08-20 07:09] dimuravyev commented on #89
I just copied bin files into /opt
[code]

[2015-08-20 07:14] bil-elmoussaoui commented on #89
I updated my telegram version to the latest version too, and i still have this folder :/
can you run this in your terminal
` cd / & sudo find -name icomute_22_0.png`

[2015-08-20 08:24] dimuravyev commented on #89
In telegram (v0.8.38) i coped custom icons to
[code]
and it worked.
After update telegram to 0.8.43, it stopped using custom icons. I tried fresh install, I removed telegram settings directory
[code]
but it did not help.
In new version directory
[code]
not exists.

[2015-08-20 08:25] dimuravyev commented on #89
[code]
0 result

[2015-08-20 08:27] dimuravyev commented on #89
For pantheon and xfce custom icons works fine

[2015-08-20 08:42] bil-elmoussaoui commented on #89
can you check the config folder ? .config in your home directory. The defaults icons are shown ?

[2015-08-20 14:09] wa4557 commented on #77
Hmm. There's also the resources.pak in the chrome folder with icons 8000 8001 and 8002 the same as the icon in question. Again cannot test it because the icon doesn't show up on my machine :)

[2015-08-20 14:14] bil-elmoussaoui commented on #77
I will test that this week-end

[2015-08-20 16:55] wa4557 commented on #71
I completely forgot this :) I'll do that this weekend I promise

[2015-08-20 17:32] dimuravyev commented on #89
No telegram icons in .config directory.
Telegram start log
[code]

[2015-08-20 17:37] wa4557 commented on #89
Could you try sth like:
`sudo updatedb`
`locate icomute`

[2015-08-20 17:41] dimuravyev commented on #89
sudo updatedb
locate icomute

no results

[2015-08-20 17:44] wa4557 commented on #89
how strange. And `find . -iname *.png /opt/telegram` ?

[2015-08-20 17:50] dimuravyev commented on #89
[code]
[code]

[2015-08-20 17:55] bil-elmoussaoui commented on #89
Share the output of ` cd /home/dima/.TelegramDesktop/tdata/ && ls`

[2015-08-20 17:58] bil-elmoussaoui commented on #89
I guess i know what's the issue. Try this? `dpkg -l | grep libappindicator*` if the result is none you will need to isntall `libappindicator` , you can do that with `sudo apt-get install libappindicator3-1 libappindicator1`

[2015-08-20 18:01] dimuravyev commented on #89
[code]
after start telegram
![teelgram]
(https://dl.dropboxusercontent.com/u/14927997/2015-08-20_20%E2%88%B658%E2%88%B608.png)

[2015-08-20 18:05] bil-elmoussaoui commented on #89
Telegram is a Qt application and so uses `/tmp` to store the icons. But if you have `libappindicator` installed it will use it instead of Qt indicators.

[2015-08-20 18:05] dimuravyev commented on #89
[code]

[2015-08-20 18:08] bil-elmoussaoui commented on #89
@dimuravyev try installing the patched version of Sni-Qt like mentioned in the readme. Restart your machine, reopen telegram and share the ouput of `cd /tmp & ls`

[2015-08-20 18:11] dimuravyev commented on #89
[code]

[2015-08-20 18:13] bil-elmoussaoui commented on #89
And when you received a notification, did any other file is created in `/tmp`?

[2015-08-20 18:15] dimuravyev commented on #89
[code]
new file `qt-trayicon-wZ2330.png`

[2015-08-20 18:19] bil-elmoussaoui commented on #89
:( It's just impossible to fix. As the icons will be removed every time you close telegram. Please report that to [tdesktop](https://github.com/telegramdesktop/tdesktop). The only way to deal with Qt indicators was installing the patched version of sni-qt. But as telegram does not create any `sni-qt_x_y` folder we can't do anything about it. You can have more informations about Qt indicators in th

[2015-08-20 18:20] dimuravyev commented on #89
thanks a lot

[2015-08-20 18:20] #89 closed

[2015-08-20 18:22] bil-elmoussaoui commented on #89
@dimuravyev Share the link of the issue there if you want, and you're welcome!

[2015-08-20 18:32] bil-elmoussaoui commented on #71
Not a problem ;)

[2015-08-20 18:33] bil-elmoussaoui commented on #71
No need to install all the applications indicators (more than 30). Only the famous ones, like Chrome, Music manager, Telegram.. :+1:

[2015-08-22 21:09] bil-elmoussaoui commented on #87
@Foggalong If you're free this weekend, can you check what've done so i can close this? :)

[2015-08-22 21:14] bil-elmoussaoui opened #90 "Update weather indicators symlinks"

[2015-08-23 08:30] wa4557 commented on #71
Hmm. Those where the only icons that are already supported by numix and I was able to run.. I'm not sure this is enough yet :(
![bildschirmfoto vom 2015-08-23 10 17 49](https://cloud.githubusercontent.com/assets/6475757/9427507/f931bb12-4981-11e5-84d1-91bb5af0524c.png)
![bildschirmfoto vom 2015-08-23 10 29 28](https://cloud.githubusercontent.com/assets/6475757/9427508/fabe8de8-4981-11e5-8266-d373a

[2015-08-23 09:30] bil-elmoussaoui commented on #71
Theres google music manager, megasync too ;) i think just adding those two is enough. We will update that when Numix or an other theme support more icons

[2015-08-23 09:40] bil-elmoussaoui commented on #71
I forgot telegram, if you it of course ;)

[2015-08-23 09:43] wa4557 commented on #71
Telegram doesn't work for me :) The same problem as described here #89

[2015-08-23 15:39] Foggalong opened #91 "Workrave"
Is there any chance we could get [workrave](http://www.workrave.org/) to work on this? The apps tray is complicated to say the least involving timer widgets and such but it still has icons which stand out

[2015-08-23 16:40] bil-elmoussaoui commented on #91
I will take a look ;)

[2015-08-23 16:45] bil-elmoussaoui commented on #91
I just installed the application, the indicator icon is not working in my case (elementary OS) :(
The icons are in `/usr/share/workrave/images/`
Is one of those icons is the right indicator icon?

[2015-08-23 17:08] Foggalong commented on #91
Yeah, I think so. One is a sheep and one is a door

[2015-08-23 17:17] bil-elmoussaoui commented on #91
Fixed in my latest commit ; you can add those icons to Numix
- workrave-indicator
- workrave-indicator-quiet
- workrave-indicator-suspended

[2015-08-23 17:19] Foggalong commented on #91
Made a request for it :D thanks!

[2015-08-23 17:20] bil-elmoussaoui commented on #91
You're welcome

[2015-08-23 17:20] #91 closed

[2015-08-23 19:01] bil-elmoussaoui commented on #90
I updated the symlinks, but i couldn't find any icons for those two
- weather-chance-of-thunderstorms-night
- weather-chance-of-thunderstorms
@wa4557 Can you take a look at the current symlinks and see if i didn't do anything wrong ? :)

[2015-08-23 19:03] wa4557 commented on #90
I guess we can use `weather-storm` for that. Not much difference imo :)

[2015-08-23 19:14] bil-elmoussaoui commented on #90
Done, i'm still not sure about some icons; i don't know if the symlinks are the right ones

[2015-08-23 19:17] wa4557 commented on #90
I'll have a look

[2015-08-23 19:20] wa4557 commented on #90
Ok I changed a few, the rest is ok I guess

[2015-08-23 19:25] bil-elmoussaoui commented on #90
Thanks :+1:

[2015-08-23 19:25] #90 closed

[2015-08-27 21:31] Foggalong opened #92 "Wrong Theme"
[code]

My current theme is Numix :(

[2015-08-27 21:33] Foggalong opened #93 "Random Errors"
Following on from #92 I thought I'd just run the script and see what happened. Got a bunch of errors in the output:

[code]

[2015-08-28 04:46] bil-elmoussaoui commented on #92
Your icon theme? :P as i just get the value using gsettings; what DE you're using?

[2015-08-28 04:48] bil-elmoussaoui commented on #93
I will fix the chromium/chrome issue today, but i have no idea why there's an issue with skype :/ is there a limit for symbolic links ?

[2015-08-28 09:56] bil-elmoussaoui commented on #92
Can you paste the output of `gsettings get org.gnome.desktop.interface icon-theme` ?

[2015-08-28 10:46] Foggalong commented on #92
It's XFCE+i3+Compton but it's worked previously with that setup. I'll get the output of that command asap

[2015-08-28 11:22] Foggalong commented on #92
`elementary-xfce-darker` :(

[2015-08-28 11:32] Foggalong opened #94 "xchat and hexchat"
It would be nice to add support for [xchat](http://xchat.org/) and it's successor [hexchat](https://hexchat.github.io/). Let me know if there's anything else you need :)

[2015-08-28 11:32] Foggalong commented on #93
The only place I think I've seen that before is if a symlink is pointing to itself (so infinite levels)

[2015-08-28 11:42] bil-elmoussaoui commented on #93
I will check that today ;)

[2015-08-28 11:43] bil-elmoussaoui commented on #94
I will do today ;)

[2015-08-28 11:45] bil-elmoussaoui commented on #92
Do you have Dconf installed? if so can you go to `org.gnome.desktop.interface` and share a screenshot as it's the same for all the linux DE i guess

[2015-08-28 11:48] Foggalong commented on #92
I don't have dconf installed. Should I get it?

[2015-08-28 11:48] Foggalong commented on #94
Thanks <3

[2015-08-28 11:49] bil-elmoussaoui commented on #92
Yes

[2015-08-28 11:55] Foggalong commented on #92
![screenshot_2015-08-28_12-55-00](https://cloud.githubusercontent.com/assets/5920259/9545678/02533080-4d84-11e5-9d91-006cbc4535fa.png)

[2015-08-28 11:57] bil-elmoussaoui commented on #92
I just don't understand this anymore :P try restarting your system as you've "Numix-Cirlc" as a value for `org.gnome.desktop.interface icon-theme`
or try this `gsettings set org.gnome.desktop.interface icon-theme "Numix-Circle"`
this should fix the issue

[2015-08-28 11:58] bil-elmoussaoui commented on #92
I see why you want #94 this :dancer:

[2015-08-28 12:00] Foggalong commented on #92
I've restarted twice since making this issue with no change, but running `gsettings set org.gnome.desktop.interface icon-theme "Numix-Circle"` seems to have fixed it. The only error that showed in the terminal is this one but I think this just links to #93

[code]

[2015-08-28 12:04] bil-elmoussaoui commented on #92
Yes it's the same issue as in #93; i think this can be closed now ? :D

[2015-08-28 12:07] Foggalong commented on #92
Sure thing! :D

[2015-08-28 12:07] #92 closed

[2015-08-28 12:09] bil-elmoussaoui commented on #93
For the chrome/chromium issue; can you change
` r = Popen([dirname + "data_pack.py", dirname + chrome_pak_file], stdout=PIPE, stderr=PIPE)`
with
[code]
and run the script again , paste the output and verify if the chrome pak file do exists in `./database/scripts/`

[2015-08-28 12:23] bil-elmoussaoui commented on #94
It seems that the icons are not hardcoded [hexchat/data/icons](https://github.com/hexchat/hexchat/tree/master/data/icons) the icons are installed in `/usr/share/icons/hicolor/scalable/apps/`
Can you confirm that?

[2015-08-28 12:26] Foggalong commented on #94
I only have `hexchat.svg` in that folder and I believe it's the app icon version, not the tray icon

[2015-08-28 12:27] bil-elmoussaoui commented on #94
Are you using any plugin to have the tray icon?

[2015-08-28 12:30] Foggalong commented on #94
No, it just comes with the stock program :(

[2015-08-28 12:31] Foggalong commented on #87
I think this can be closed now yeah :)

[2015-08-28 12:32] bil-elmoussaoui commented on #94
can you paste the ouput of ` cd / && sudo find -name *tray_highlight*`; also a screenshot of `/tmp/` or just the folder content

[2015-08-28 12:32] bil-elmoussaoui commented on #87
Thanks <3

[2015-08-28 12:32] #87 closed

[2015-08-28 12:44] bil-elmoussaoui commented on #93
I fixed the symbolic files issue in my latest commit

[2015-08-28 12:46] Foggalong commented on #94
Output of `cd / && sudo find -name *tray_highlight*`
* /usr/share/icons/Numix/24x24/status/tray_highlight.svg
* /usr/share/icons/Numix/22x22/status/tray_highlight.svg
* /usr/share/icons/Numix/16x16/status/tray_highlight.svg
./home/josh/Code/numix/hidpi/base/Numix/22/status/tray_highlight.svg
./home/josh/Code/numix/hidpi/base/Numix/16/status/tray_highlight.svg
./home/josh/Code/numix/hidpi/base/Numi

[2015-08-28 12:51] Foggalong commented on #93
Still errored :(

[code]

[2015-08-28 12:52] bil-elmoussaoui commented on #93
@Foggalong I forgot, remove the content of `/home/josh/.local/share/sni-qt/icons/skype/`

[2015-08-28 12:52] bil-elmoussaoui commented on #94
what's inside `sni-qt_python2.7..` ?  if it has nothing to do with hexchat, paste the output of `cd / && sudo find -name "hexchat" `

[2015-08-28 12:58] bil-elmoussaoui commented on #93
I pushed a new commit , i've forgot something to remove ;)

[2015-08-28 13:07] Foggalong commented on #94
Nothing :(
![screenshot_2015-08-28_14-06-14](https://cloud.githubusercontent.com/assets/5920259/9546851/f6d0eacc-4d8d-11e5-9efd-1bc19046b8f8.png)

Output of `cd / && sudo find -name "hexchat"`
* /usr/bin/hexchat
* /usr/lib/x86_64-linux-gnu/hexchat
* /usr/share/lintian/overrides/hexchat
* /usr/share/menu/hexchat
* /usr/share/doc/hexchat
* /home/josh/.files/config/hexchat
* /home/josh/.config/hexcha

[2015-08-28 13:10] Foggalong commented on #93
[code]

still errored :(

[2015-08-28 21:55] bil-elmoussaoui commented on #93
I can't reproduce any of those errors :(
[code]

[2015-08-28 22:19] Foggalong commented on #93
I'll try a reclone

[2015-08-28 22:21] bil-elmoussaoui commented on #94
I didn't find any icon :( It's seems that hexchat will merge this brench soon [appindicator](https://github.com/hexchat/hexchat/tree/wip/appindicator/)
I think that icons should be named `hexchat-tray`  but not sure if they will work :/
@wa4557 do you have any idea?

[2015-08-28 22:21] Foggalong commented on #93
Still all the same errors :(

[2015-08-28 22:23] bil-elmoussaoui commented on #93
Are you using Google chrome/chromium? Go to /database/scripts/ before launching the script and see if the chrome pak file get copied or not..
For the skype indicator icons: share a screenshot please of `.local/share/sni-qt/icons/skype/`

[2015-08-28 22:24] Foggalong commented on #93
Reverting and reinstalling seems to have fixed all the errors but this one

[code]

Just as a note, the labels "Install" and "Reinstall" are a little confusing for the options. It took me a little while to work out that "Reinstall" we actually to revert the changes.

[2015-08-28 22:26] Foggalong commented on #94
Last work in February doesn't give me much hope for that branch :(

[2015-08-28 22:28] bil-elmoussaoui commented on #93
@Foggalong Propose better labels and i will be happy to merge them :P I will add an other check to avoid this issue:
Can you share the output of `ls /usr/lib/chromium-browser/`

[2015-08-28 22:30] bil-elmoussaoui commented on #94
I will look install it in Ubuntu unity and see if i can get the icons name, i don't promise anything :/

[2015-08-28 22:31] Foggalong commented on #93
[code]

[2015-08-28 22:37] bil-elmoussaoui commented on #93
@Foggalong Should be fixed in my latest commit ,the error message will not be shown anymore; but i still have no idea why `chrome_100_percent.pak` is not copied into `./database/scripts/`

[2015-08-28 22:37] Foggalong commented on #94
I've tried running `cd / && sudo find . -wholename *tray_highlight*` which is the name of the [attention icon](https://github.com/hexchat/hexchat/blob/master/data/icons/tray_highlight.png) and it's not brought up anything. How have they hardcoded it into the binaries of the application? :(

[2015-08-28 22:38] Foggalong commented on #93
I don't have Chrome installed so that could be the problem?

[2015-08-28 22:39] Foggalong commented on #93
[code]

[2015-08-28 22:39] bil-elmoussaoui commented on #93
But you do have Chromium?

[2015-08-28 22:39] Foggalong commented on #93
Ah yes I do. I was forgetting about that

[2015-08-28 22:43] bil-elmoussaoui commented on #93
I fixed that in my latest commit , sorry !

[2015-08-28 22:47] Foggalong commented on #93
Error is still there :(

[2015-08-28 22:48] bil-elmoussaoui commented on #94
I downloaded the deb file, extracted it and i think that the icons are hardcoded into the binaries of the application as you said :(

[2015-08-28 22:49] bil-elmoussaoui commented on #93
Which one? Chrome pak file does not exists?

[2015-08-28 22:49] Foggalong commented on #94
Well that's shitty of them.

[2015-08-28 22:53] bil-elmoussaoui commented on #94
I hope so

[2015-08-28 23:01] Foggalong commented on #94
[This is the issue](https://github.com/hexchat/hexchat/issues/1462#issuecomment-135906921) and [this is what I've been linked to](https://hexchat.readthedocs.org/en/latest/appearance.html#icons).

[2015-08-29 07:38] bil-elmoussaoui commented on #93
Can you revert and try again with the latest script ?

[2015-08-29 07:58] bil-elmoussaoui commented on #77
Fixed in my latest commit :D the icon was in resources.pak, the icon name was 8002.png ;)

[2015-08-29 07:58] #77 closed

[2015-08-29 08:19] bil-elmoussaoui opened #95 "Chrome pak file & extracted dirctory issue"
We have two more issues here
- [x] extracted & chrome pak file are not removed when everything is finished
- [x] we should change the extracted folder name and the chrom pak file to something that will avoid issues for users that uses chrome, chromium & chrome unstable version

[2015-08-29 08:36] wa4557 commented on #95
I'd be happy to do this, unfortunately I'm extremely busy this weekend and next week, but I'll try:)

[2015-08-29 08:47] bil-elmoussaoui commented on #95
I will try to fix what i can ;)

[2015-08-29 10:14] Foggalong commented on #93
Will do :)

[2015-08-30 09:08] bil-elmoussaoui commented on #95
I fixed the second issue by moving the looking for icons into the install function to avoid changing a lot in the source code

[2015-09-04 17:31] Foggalong opened #97 "sni-qt on non-Ubuntu distros"
Package names for the patched sni-qt for other distros (Debian, Fedora, Arch, etc) would be useful, or at least a place where it can be compiled from source. Just moved a laptop to Korora and realised I have no idea where the patched version comes from

[2015-09-05 01:02] bil-elmoussaoui commented on #97
@cybre As i'm using your PPA for Ubuntu DE. Are you planning to build a version for Fedora/arch..Distros?

[2015-09-05 01:17] cybre commented on #97
No, but anyone is free to do so :)

On Sat, 5 Sep 2015 03:02 Bilal Elmoussaoui <notifications@github.com> wrote:

[2015-09-05 01:21] bil-elmoussaoui commented on #97
And where i can find the source code? Thanks for the fast answer! :+1:

[2015-09-05 08:41] cybre commented on #97
https://code.launchpad.net/~cybre/elementary+/sni-qt-patched

On Sat, 5 Sep 2015 03:21 Bilal Elmoussaoui <notifications@github.com> wrote:

[2015-09-07 22:35] bil-elmoussaoui commented on #97
Thanks; @Foggalong If you managed to build it for Fedora or any other distro please feel free to add that to the wiki ;) I will just add the source code link to the readme to keep it clean

[2015-09-07 22:36] bil-elmoussaoui commented on #97
I will close this once we add how to build Sni-Qt for other distros

[2015-09-10 23:05] bil-elmoussaoui opened #98 "Hangouts extension not working"
if you do use the script to fix the tray icons in hangouts, and you reopen the browser the tray icon will disappear and you will need to reinstall the extension; if have this issue with Google chrome beta
any ideas? :/

[2015-09-11 15:56] wa4557 commented on #98
I can confirm that. Strange... Nah no ideas I'm not even sure why this happens...

[2015-09-11 19:37] bil-elmoussaoui commented on #98
I think that user does not have the permission to change any icons/code in the extension.. I will see if there's any work around

[2015-09-19 08:31] edgard opened #99 "Telegram Desktop not being detected"
Hey!

Trying to replace my Telegram indicator but apparently the script is not detecting it.

Running on Ubuntu 15.04 with Telegram installed from ppa:atareao/telegram

Regards!

[2015-09-19 08:36] bil-elmoussaoui commented on #99
Telegram has some issues on Ubuntu #89 to be sure that's the case for you too
1 - Open telegram
2 - Go to /tmp and if you find any telegram icon share the name of the icon

If it's the case you will find enough information here #89

[2015-09-19 08:39] edgard commented on #99
Yeah, my bad for not looking thru the already reported issues. The previous report is correct, same is happening to me. Files are being created at /tmp indeed.

Thanks!

[2015-09-19 08:44] bil-elmoussaoui commented on #99
@edgard You're welcome, Telegram devs won't fix this issue i guess..maybe in the near future;

[2015-09-19 08:44] #99 closed

[2015-09-19 16:45] Foggalong commented on #94
Just as an update on this, the icons in that directory need to be PNG

[2015-09-20 21:40] bil-elmoussaoui commented on #94
Okay, if i understand the icons need to be png but where i should copy the icons? in the doc they only mention that the icons must be in a seperate dir in the config directory but which directory?

[2015-09-20 21:40] bil-elmoussaoui commented on #94
If you can have the path to the directory were the icons must be copied i can fix this as soon as i've that ;)

[2015-09-20 21:42] bil-elmoussaoui commented on #94
Ops the directory must be named icons. I will do add that tomorrow ;)

[2015-09-27 09:36] bil-elmoussaoui commented on #94
Fixed in my latest commit , be sure that `$HOME/.config/hexchat/icons/` do exists ;)

[2015-09-27 09:36] #94 closed

[2015-09-27 10:23] Foggalong commented on #94
@bil-elmoussaoui That directory doesn't get created when hexchat is installed so won't be there for the majority of users. Could you make it so that if the folder isn't there it's created? something like this

[code]

[2015-09-27 10:44] bil-elmoussaoui commented on #94
Done :+1:
Can you symlink the icons in Numix into
[code]

[2015-09-27 11:30] Foggalong commented on #94
Yeah, sure :)

[2015-09-27 11:47] Foggalong commented on #94
[Done!](https://github.com/numixproject/numix-icon-theme/commit/b542eb61961a5db43c4bd3a08e2d815f1d3529eb)

[2015-09-28 21:20] bil-elmoussaoui commented on #98
I think that i'm going to remove Hangout support :/ i didn't find any solution..

[2015-09-28 21:20] bil-elmoussaoui commented on #95
Should be fixed

[2015-09-28 21:20] #95 closed

[2015-09-28 21:21] bil-elmoussaoui commented on #93
I fixed a lot of issues and i think this can be closed now ;) if you still any issues using the script open a new issue or reopen this one

[2015-09-28 21:21] #93 closed

[2015-09-29 06:51] aditiapratama opened #100 "TypeError: 'str' does not support the buffer interface"
I've updated to the recent version, and when I try to run it, I've got following error

[code]

[2015-09-29 08:35] bil-elmoussaoui commented on #100
Which distro you're using ?

[2015-09-29 08:39] aditiapratama commented on #100
I'm using xubuntu 15.04

[2015-09-29 08:44] bil-elmoussaoui commented on #100
Add this after the line  59
`print(out)` and paste the output here

[2015-09-29 14:14] aditiapratama commented on #100
still got same error
[code]

[2015-09-29 14:27] wa4557 commented on #100
Should be fixed now, @aditiapratama please try again

[2015-09-29 14:58] wa4557 opened #102 "second column must not be the same in db.csv"
A rather serious bug, I wasn't able to fix yet. The second column in `db.csv` must not be the same (like for all the chrome variants) because the dictionary will  be overwritten by the last one.

If you have for example installed chrome and chrome-beta the function `get_apps_information` only returns the information for `chrome-beta` because the corresponding key from `google-chrome` is overwritte

[2015-09-29 14:58] wa4557 commented on #98
Yes I guess that's the only solution :(

[2015-09-29 15:14] bil-elmoussaoui commented on #98
Maybe this will not  happen if the user active devlopper mode ?

[2015-09-29 16:41] #102 closed

[2015-09-29 17:01] bil-elmoussaoui commented on #102
Thanks for the quick fix :+1:

[2015-10-01 07:59] Foggalong opened #104 "Error at Run"
[code]

Then it just exits.

[2015-10-01 10:18] bil-elmoussaoui commented on #104
Can you paste the output of `dpkg -l | grep python3-cairosvg`?  This seems to be an issue with Cairosvg, maybe reinstalling it?

[2015-10-01 14:19] aditiapratama commented on #100
Sorry, for delay, yes it's already fixed. Thank you

[2015-10-01 14:19] #100 closed

[2015-10-01 16:24] Foggalong commented on #104
[code]

[2015-10-01 18:15] bil-elmoussaoui commented on #104
I'm using ` 1.0.4-1` and everything works fine here;@wa4557 do you have any idea why this is happening?

[2015-10-01 18:19] wa4557 commented on #104
Also using `1.0.4-1` and no problems, seems to be a bug that is introduced with the newer version :(

[2015-10-01 18:23] bil-elmoussaoui commented on #104
Which distro you're using @Foggalong ? if you can downgrade to the same version as @wa4557 and i are using that would fix the issue for you i hope. Otherwise i don't think that we can do something about it

[2015-10-01 18:27] Foggalong commented on #104
Just updated to 15.10 last night

[2015-10-03 17:38] TeoSakel opened #105 "Clementine Idle icon not visible"
Clementine icon is not visible when it's idle (it is there however).
Using: Numix-circle-theme, 22 font size

The script outputs:
[code]

![screenshot from 2015-10-03 20 32 34](https://cloud.githubusercontent.com/assets/5864415/10264239/a74f6c1a-6a0e-11e5-91ea-b0f059664511.png)

[2015-10-03 21:37] bil-elmoussaoui commented on #105
Can you open clementine and  paste the output of `ls /tmp` ?

[2015-10-04 08:30] TeoSakel commented on #105
Sure! Here you are:

[code]

[2015-10-04 08:35] bil-elmoussaoui commented on #105
and the output of  `ls /tmp/sni-qt_clementine_3930-6T3WIC`?

[2015-10-04 08:38] TeoSakel commented on #105
[code]

and in the icons folder there is:
' /tmp/sni-qt_clementine_3930-6T3WIC/icons/hicolor/48x48/apps/
clementine_3930_e1c70cd6785ac768670030ea5df41c35.png'

[2015-10-04 08:39] bil-elmoussaoui commented on #105
Thanks, and clementine have only one tray icon or more?

[2015-10-04 08:42] TeoSakel commented on #105
One at time.
It changes depending on its state.
When playing or paused it's visible though.
Only when it's stopped or idle it's invisible

[2015-10-04 08:45] bil-elmoussaoui commented on #105
First remove `.local/share/sni-qt/icons/clementine/*`, reopen Clementine and try getting all the tray icons even if it's invisible. Don't close Clementine and paste the output of `ls /tmp/sni-qt_clementine` the clementine folder in /tmp will not have the same name once you reopen Clementine

[2015-10-04 08:55] TeoSakel commented on #105
The tray icon is now visible, though not monochrome.
` ls /tmp/sni-qt_clementine_5783-BhAM5v/ ` outputs: ` icons/ ` and from there it goes:
` icons/hicolor/48x48/apps/clementine_5783_*.png ` (4 png files)

[2015-10-04 08:57] bil-elmoussaoui commented on #105
Can you get the 4 png icons names ? And a screenshot of the folder too :)

[2015-10-04 09:02] TeoSakel commented on #105
Sure! Now there are more because I played a song!
The names are:
[code]
And the screenshot:
![image](https://cloud.githubusercontent.com/assets/5864415/10267123/9073dd1a-6a8f-11e5-8896-1f68abadb115.png)

[2015-10-04 09:05] wa4557 commented on #105
Ok, it seems that we need a few additional icons :)

[2015-10-04 09:12] bil-elmoussaoui commented on #105
@TeoSakel I will add them to Hardcode-Tray database:) I will report the missing icons to Numix

[2015-10-04 09:14] TeoSakel commented on #105
Cool! Then we can consider it closed I guess...

[2015-10-04 09:14] #105 closed

[2015-10-04 09:27] bil-elmoussaoui commented on #105
Yes, thanks for the report ! :+1:

[2015-10-04 09:31] bil-elmoussaoui commented on #105
[https://github.com/numixproject/numix-icon-theme/issues/766](Clementine indicator icons) Once this got closed you can try Hardcode-Tray again :)

[2015-10-04 09:35] bil-elmoussaoui commented on #104
I tried to google your error message and i had really no answers :/ maybe downgrading or upgrading to a newer version of python3-cariosvg will solve your issue.
First remove python3-cairosvg  `sudo apt-get remove python3-cairosvg`
Install Pip3 `sudo apt-get install python3-pip`
Install Cairosvg using pip `pip install cairosvg`(you might need root permissions)

[2015-10-04 16:50] Foggalong commented on #104
Installing via pip brings up the missing dependency error

[code]

That's always been the case for me: the error comes up if `cairosvg` is installed via PIP but not if the `python3-cairosvg` package is installed

[2015-10-04 16:53] bil-elmoussaoui commented on #104
Try using `pip3 install cairosvg` that should install the right version for python3

[2015-10-04 16:56] Foggalong commented on #104
Yeah, that's the command I used.

[2015-10-05 19:09] Foggalong commented on #104
Any thoughts on this? The massive Skype and ownCloud icons are getting annoying :(

[2015-10-05 19:15] wa4557 commented on #104
What happens if you open an ipython console (or python console) and try `from cairosvg import svg2png`?

[2015-10-05 22:05] bil-elmoussaoui opened #106 "Add Sflphone support"
Sflphone has icons stored in `/usr/share/sflphone/`

the indicator icons are
- sflphone_offline
- sflphone_notif
- sflphone_small

[2015-10-05 22:11] Foggalong commented on #104
[code]

[code]

[code]

[2015-10-05 22:21] bil-elmoussaoui commented on #106
Fixed in my latest commit , see [this](https://github.com/numixproject/numix-icon-theme/issues/772)

[2015-10-05 22:21] #106 closed

[2015-10-05 22:24] bil-elmoussaoui commented on #104
try reinstalling it using apt package and then retry what @wa4557 said ?

[2015-10-05 22:29] Foggalong commented on #104
[code]

[2015-10-05 22:35] bil-elmoussaoui commented on #104
Sorry i can't help with that :/
The only way to fix those issues are
- Build an older version of [cairosvg](http://cairosvg.org/download/)
- Contact the maintainer of cairosvg package and wait until this get fixed

[2015-10-05 22:38] Foggalong commented on #104
How much of the script depends on this feature? This is just the beta for 15.10 which will be released in 16 days, so what most people will be using pretty soon :(

[2015-10-05 22:40] bil-elmoussaoui commented on #104
Well, this is not a script issue :/ We use cairosvg to convert svg icons to png ones.. I guess that i will add the possiblity to disable cairosvg and use inkscape instead, what do you think?

[2015-10-05 22:42] Foggalong commented on #104
That's what I meant - how much of the script depends on cairosvg. I don't really know, but that sounds like a pretty important feature. Maybe now is the time to set up that PPA you were talking about?

[2015-10-05 22:44] Foggalong commented on #104
Building from source is also giving the "not installed" error (like the PIP package) which I'm guessing **is** a bug with the script.

[2015-10-05 22:48] bil-elmoussaoui commented on #104
Well, creating a PPA will not fix `python3-cairosvg` issue as it's has nothing to do with Hardcode-Tray..And a lot of icons are png specially Qt applications they're all using png icons.
The only thing i can do is wait until Ubuntu 15.10 is released and will see if this get fixed. If not i will add a check in the script to detect if the user rather uses cairosvg or have inkscape installed. And use

[2015-10-05 23:02] Foggalong commented on #104
Found the solution :) There's a new dependency in the latest version of python3-cairosvg which isn't installed automatically.

[2015-10-05 23:08] bil-elmoussaoui commented on #104
Happy to hear that ! :D feel free to add that to the readme file

[2015-10-05 23:11] Foggalong commented on #104
Yeah, just working on the check within the script now

[2015-10-09 11:59] bil-elmoussaoui commented on #104
This does not seem to be fixed.. I upgraded to Ubuntu 15.10 Beta yesterday and installed the new dependencies and still have the same error message as yours!

[2015-10-09 12:21] Foggalong commented on #104
I don't get the error anymore, but it doesn't seem to be fixing the owncloud and skype icons either. It's also done something weird with the hexchat icon which has made it really small

[2015-10-09 12:23] bil-elmoussaoui commented on #104
Skype and owncloud icons are not fixed here too! maybe a sni-qt issue? And for the Hexchat icons, did those icons were looking fine before? i mean in an older version of ubuntu?

[2015-10-09 12:31] Foggalong commented on #104
Yeah, before 15.10 they were fine then I upgraded and they were fine, then I ran the tray script and they went tiny.

[2015-10-09 12:36] bil-elmoussaoui commented on #104
Can you open a new issue for that with a screenshot? if you can get the icon size too the icons for hexchat are stored in `$HOME/.config/hexchat/icons` or something like that.. :)

[2015-10-09 12:52] Foggalong opened #109 "Weird Hexchat Thing"
No idea how or why, but the script did this.
![screenshot_2015-10-09_13-51-44](https://cloud.githubusercontent.com/assets/5920259/10394131/edbe28bc-6e8c-11e5-8b4f-75baf335f08c.png)

[2015-10-09 12:53] bil-elmoussaoui commented on #109
Can i have the icon size? :)

[2015-10-09 12:55] Foggalong commented on #109
It's 48px - for some reason it's taken the icon from Circle rather than base.

[2015-10-09 12:58] bil-elmoussaoui commented on #109
@Foggalong The 48px is the Numix circle icon? What about the rest of the icons? And i think i know what causes circle icons being token instead of base icons! I can fix it today if i have some free time

[2015-10-09 12:59] Foggalong commented on #109
Yeah, all the other ones just came out fine it's just that one

[2015-10-09 12:59] Foggalong commented on #109
As a note on hexchat generally - the icons don't actually have to be PNGs, they just have to use the `.png` extension.

[2015-10-09 13:01] bil-elmoussaoui commented on #109
Really don't know what makes the icons really small..I don't think that i can do anything about creating svg icons and then renaming them to ".png" I will have to rewrite the code for only one application.The best solution is that Hexchat does not hardcode the extension name too..

[2015-10-09 13:03] Foggalong commented on #109
It's the fact that the symbol from a 48px app icon (which is 24px) is then being scaled down to a 24px panel icon (making it look 12px).

[2015-10-09 15:11] wa4557 commented on #104
Apart from switching to inkscape (which I think is a bad idea) I guess there's not much we can do about this but wait for an upstream fix...

[2015-10-09 16:11] bil-elmoussaoui commented on #104
Yes, i kept this open until this issue get fixed

[2015-10-10 09:09] HyperHamster opened #110 "Run Error"
I get this error when I run the program via `sudo -E python script.py `.

[code]

Distro: Antergos 64-bit (Heavily Based on Arch 64-bit)

Installed Dependencies:
python-cairocffi 0.7.2-2 (Community)
python-cairosvg 1.0.16-1 (AUR)
sni-qt-eplus-bzr (AUR)

[2015-10-10 12:35] Foggalong commented on #110
Yay errors \O/

[2015-10-11 13:18] Foggalong opened #111 "Skype and ownCloud not being fixed"
This is the error I had after I fixed the dependency problem in #104. Both are sni-qt apps so it's possible the method has changed slightly between 15.04 and .10?

[2015-10-11 13:21] Foggalong commented on #104
If you're having the same error but have both packages installed then there's probably a 3rd dependency that I have (probs for something else) but you don't

[2015-10-11 13:21] Foggalong commented on #98
Asking the user to enable developer mode just to fix the bug is a bit iffy

[2015-10-11 13:29] bil-elmoussaoui commented on #98
This sadly can't be fixed :/

[2015-10-11 13:31] bil-elmoussaoui commented on #111
Try reverting the script and open skype/owncloud, go to /tmp/ and check if you will find the icons there ? If you do can you paste a screenshot and the icons names. If not it's might be a sni-qt issue

[2015-10-11 14:28] Foggalong commented on #98
Does enabling developer mode actually fix the problem or was that just a suggestion?

[2015-10-11 14:31] wa4557 commented on #111
Maybe the patched sni-qt version doesn't work for 15.10 yet?

[2015-10-11 15:30] bil-elmoussaoui commented on #98
Only a suggestion

[2015-10-11 15:31] Foggalong commented on #98
:+1:

[2015-10-11 15:37] Foggalong commented on #111
Yeah, icons are still in `/tmp`. Below are the screenshots of the ownCloud and Skype icons.
![screenshot_2015-10-11_16-34-35](https://cloud.githubusercontent.com/assets/5920259/10417502/10249cba-7036-11e5-8d87-3e6d4b7d504c.png)
![screenshot_2015-10-11_16-34-11](https://cloud.githubusercontent.com/assets/5920259/10417501/1022db28-7036-11e5-87c4-3d83d28bd20b.png)

In the tree I've included everythin

[2015-10-11 15:40] bil-elmoussaoui commented on #111
Oh! i didn't think that we can fix Spotify using sni-qt too :D i will check this later :)

[2015-10-11 15:41] bil-elmoussaoui commented on #110
which version of Arch are you using?

[2015-10-11 15:44] Foggalong commented on #111
Spotify is already fixed so that's not a problem :)

[2015-10-11 16:05] bil-elmoussaoui commented on #111
Can you check if there's any icons in `$HOME/.local/share/sni-qt`?

[2015-10-11 16:18] Foggalong commented on #111
Nothing in that folder at all

[2015-10-11 18:13] bil-elmoussaoui commented on #111
I forgot that you reverted the icons :p try applying again and see if there's any icons? if there's check in the tmp folder;
btw, i have the same issue here in ubuntu 15.10, i think the issue is due to sni-qt :/

[2015-10-11 18:34] bil-elmoussaoui commented on #110
First part of error message should be fixed, can you try again?

[2015-10-11 18:36] bil-elmoussaoui commented on #98
I removed Hangouts support! hope we can fix this issue one day..

[2015-10-11 18:36] #98 closed

[2015-10-11 18:39] bil-elmoussaoui commented on #109
I was thinking about this one, it's due to the fact that `hexchat.png` do exists in Numix-Circle and it's being used instead of the `hexchat-indicator` as the script looks for the original icon first.
@wa4557 I was thinking about adding a way to force using the symlink icon, do you have any idea?

[2015-10-11 18:40] wa4557 commented on #111
Have you tried installing the 15.04 sni-qt version?

[2015-10-11 18:40] bil-elmoussaoui commented on #71
@wa4557 do you still want to do this? if not i can install an Ubuntu version using vmware and take a screenshot

[2015-10-11 18:42] bil-elmoussaoui commented on #111
@cybre I just wanted to ask you as you're the maintainer of the PPA we're using, is there any issue like that in Sni-qt? or maybe a newer version of sni-qt? Thanks!

[2015-10-11 18:42] wa4557 commented on #109
The thing is: this is one of those toxic icons and isn't in numix-base at all (there's just a `renamed-hexchat`) which means that a symlink in base is necessary to sth called `hexchat-indicator` and a change in the database file here...

[2015-10-11 18:43] Foggalong commented on #111
Files are still all there after applying again.

[2015-10-11 18:44] bil-elmoussaoui commented on #109
Well, in the database file we have this `hexchat.png, hexchat-indicator` but the script looks for the original icon first :/ and i really don't want to recode the install function just to fix this... and i think @Foggalong has done the modifications in Numix base!

[2015-10-11 18:44] wa4557 commented on #71
Unfotunately this is very time consuming and I have tons of work to do right now :( If you're up to the task I'd be more than grateful...

[2015-10-11 18:45] bil-elmoussaoui commented on #71
I will do it tomorrow if i can ;)

[2015-10-11 18:46] wa4557 commented on #109
True. Well the script shouldn't look for the original icon first if there's a symlinked icon entry, imo

[2015-10-11 18:46] wa4557 commented on #71
Much thanks!

[2015-10-11 18:47] bil-elmoussaoui commented on #109
A possible bug :P I will try to figure out what's going wrong

[2015-10-11 18:49] wa4557 commented on #109
Argh, the code has become actually a little bit too complicated to figure out what's going on without digging really deep :)

[2015-10-11 18:50] bil-elmoussaoui commented on #109
Yeah :/ I will try renaming some variables to make things clearer for future contributors

[2015-10-11 18:52] wa4557 commented on #109
Well I guess it's just up to us to fix issues codewise...

[2015-10-11 18:53] bil-elmoussaoui commented on #109
Yes, but the source code is open if anyone wants to contribute

[2015-10-11 19:06] bil-elmoussaoui commented on #109
Should be fixed in my latest commit! Please revert & try again

[2015-10-11 21:39] cybre commented on #111
@Foggalong My PPA says there is a newer sni-qt available si you probably have the wrong version of sni-qt installed.
What's the output of `dpkg --list sni-qt`?

I'll try upping the version to fix the problem.

[2015-10-11 23:20] HyperHamster commented on #110
Well the error's on a different line now.

[code]

My Arch is version 4.2.2-1 according to Pamac.

[2015-10-11 23:29] HyperHamster commented on #110
I'm no expert in Python or Linux file structure and I could just be reading it wrong but it looks like you're trying to navigate to the user directory via `~` and then also navigate there again by concatenating the username, which would throw this or a similar error, because it's looking for a folder with the same name as the user folder within the user folder that it's already in.

[2015-10-12 11:05] bil-elmoussaoui commented on #110
try replacing  `    userhome = path.expanduser("~" + getlogin())`
to this
`userhome = subprocess.check_output('sh -c "echo $HOME"',universal_newlines=True, shell=True).strip()`
and run the script again

[2015-10-12 18:53] Foggalong commented on #111
[code]

[2015-10-12 19:55] HyperHamster commented on #110
Thank you @bil-elmoussaoui, this new line of code has made the program work as it was intended. Although I should probably mention that I had to add `import subprocess` to get the new line to work, otherwise it would just throw an error saying that subprocess was not defined.

[code]

[2015-10-12 20:15] cybre commented on #111
Yup, wrong version.

[2015-10-12 20:21] cybre commented on #111
I'm currently trying with a higher version number.

[2015-10-12 20:37] cybre commented on #111
@Foggalong Please try [this PPA](https://code.launchpad.net/~cybre/+archive/ubuntu/sni-qt-testing) and let me know if it works so I can push the new version to the main PPA.

[2015-10-12 21:49] Foggalong commented on #111
@cybre New package working just fine :+1:

[2015-10-12 22:38] HyperHamster commented on #110
It appears that even though the program has ran and says that it has fixed the skype and dropbox tray icons they appear to not actually be fixed. I think if we were to investigate that it'd have to be in another issue, because now that the program is running this issue is technically fixed.

[2015-10-12 22:58] Foggalong commented on #110
If the line needs to be added though this issue isn't fixed until that line is added to the code :package:

[2015-10-12 23:17] HyperHamster commented on #110
@Foggalong Oh, sorry. I'm still unfamilar with how github works exactly, thanks for telling me.

[2015-10-12 23:52] Foggalong commented on #110
No problem!

[2015-10-13 07:34] bil-elmoussaoui commented on #110
Fixed!

[2015-10-13 07:34] #110 closed

[2015-10-13 10:13] Foggalong commented on #109
Yeah, seem to be working now :)

[2015-10-13 10:19] bil-elmoussaoui commented on #109
This can be closed now ? :D

[2015-10-13 10:20] Foggalong commented on #109
Yeah!

[2015-10-13 10:23] #109 closed

[2015-10-13 16:34] bil-elmoussaoui commented on #111
Should be fixed with the latest update of the stable PPA! Thank you @cybre !

[2015-10-13 16:34] #111 closed

[2015-10-15 20:58] Foggalong commented on #104
@bil-elmoussaoui do you get the exact same error I did or slightly different?

[2015-10-15 21:00] bil-elmoussaoui commented on #104
Don't remember, i will need to boot in Fedora 23 beta to test that again

[2015-10-15 21:02] Foggalong commented on #104
:+1:

[2015-10-15 21:04] bil-elmoussaoui commented on #104
And if you have any free time to check this #97, i would be very thankful!

[2015-10-15 21:05] Foggalong commented on #97
I'm gonna have a mess around with this and see what I can do :)

[2015-10-15 21:06] bil-elmoussaoui commented on #97
I have started this in the Hardcode-Tray Wiki but had no idea where to start haha! https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/How-to-build-Sni-qt

[2015-10-16 20:34] Foggalong opened #113 "Dependency Mess"
The problem described [here](https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/104#issuecomment-145690157) combined with the fact that the `python3-cairocffi` doesn't exist in LTS basically means that users have to edit the script to get it work on that platform. I'm not sure what the solution is though :/

[2015-10-16 20:38] bil-elmoussaoui commented on #113
Well, i don' t think that `python3-cairocffi`is really a dependency! as `python3-cairosvg` works great without it in older versions of Ubuntu! it's might be a bug with Cairosvg itself or something else that has been fixed in your case by updating your system

[2015-10-16 20:41] Foggalong commented on #113
It was literally just installing cairocffi that fixed the problem - didn't work before, worked after, and nothing else happened inbetween :(

[2015-10-16 20:43] bil-elmoussaoui commented on #113
The solution didn't work in my case :( and i have the same error message..using inkscape instead of cairosvg  will make things complicated!  @wa4557 what do you think?

[2015-10-16 21:05] Foggalong commented on #113
Do all these programs require actual PNG files or just the `.png` extension? (like hexchat)

[2015-10-16 21:07] bil-elmoussaoui commented on #113
Almost every icon requires png files.Especially Qt applications like Skype..

[2015-10-16 21:28] Foggalong commented on #113
Shoot :(

[2015-10-17 08:17] bil-elmoussaoui commented on #113
I'm going to close this i will start working on a way to use inkscape if the user does not have Cairosvg! I will remove the other library from the dependency, and hope this will get fixed in Ubuntu 15.10

[2015-10-17 08:19] wa4557 commented on #113
@bil-elmoussaoui I guess this is the only way to really handle this bug. Anyways: 15.10 is not officially out yet so maybe this will be fixed after the official release

[2015-10-17 08:20] bil-elmoussaoui commented on #113
@wa4557 Yes! and hope it's will be fixed soon

[2015-10-17 08:20] #113 closed

[2015-10-18 09:20] bil-elmoussaoui commented on #104
Inkscape support should be working in the Beta branch! @wa4557 I don't know how to check if inkscape is installed using bash so i can do a double check if both `python3-cairosvg` and inkscape are not installed and show a error message to the user, can you do that on the Beta branch? :+1:

[2015-10-18 09:23] wa4557 commented on #104
I should check if inkscape is installed? I think I can do that, let me think about this...

[2015-10-18 09:24] bil-elmoussaoui commented on #104
Yes, somewhere here
[code]

[2015-10-18 09:25] wa4557 commented on #104
Cool, already have an idea :)

[2015-10-18 09:37] wa4557 commented on #104
Done

[2015-10-18 09:39] #104 closed

[2015-10-18 09:40] bil-elmoussaoui commented on #104
Thanks! :dancer:

[2015-10-18 09:40] wa4557 commented on #110
@bil-elmoussaoui Have you tried if it works? (I think you had the problem too)

[2015-10-18 09:41] wa4557 commented on #104
You tried if it works? (I think you had the exact problem)

[2015-10-18 09:42] bil-elmoussaoui commented on #110
@wa4557 if you're talking about #104, yes it works :p just need a confirmation from @Foggalong too

[2015-10-18 12:14] bil-elmoussaoui opened #115 "Use sys path"
I think using `sys.path.insert` in `svg2png.py` and `qt-tray`  and call the `svgtopng` function will help us improving the script and make the code clearer!
What do you think?
@wa4557 @Foggalong

[2015-10-18 12:19] wa4557 commented on #115
You mean importing script.py and use the convert function from there? I like that. We need a `if __name__ == "__main__":` then.

[2015-10-18 12:20] bil-elmoussaoui commented on #115
Yes! As the same code is repeated in the three files.. In the script.py file?

[2015-10-18 12:22] wa4557 commented on #115
Ah yeah not `script.py` of course... Instead of `sys.path` (too much) we should instead use `imp.load_source`

[2015-10-18 12:28] bil-elmoussaoui commented on #115
I ever heard of `imp.load_source`! I'm going to add that if i have some free time ;)

[2015-10-18 12:30] wa4557 commented on #115
I can do it, if you want. Right now I have some free time :)

[2015-10-18 12:38] bil-elmoussaoui commented on #115
Sure you can! I will do this one #71

[2015-10-18 13:19] wa4557 commented on #115
@bil-elmoussaoui Can you try (beta branch) for me the script somehow stopped working (not because of the changes I made, but because of something else)

[2015-10-18 13:20] Foggalong commented on #115
@wa4557 @bil-elmoussaoui [Possibly this?](https://github.com/bil-elmoussaoui/Hardcode-Tray/pull/114#discussion-diff-42319393)

[2015-10-18 13:21] wa4557 commented on #115
Yeah no I changed that already :)

[2015-10-18 13:25] bil-elmoussaoui commented on #115
Works fine here! Do you have any error message?

[2015-10-18 13:25] wa4557 commented on #115
`The svg file `/usr/share/icons/Numix/22/status/dropboxstatus-busy.svg` is invalid.`

[2015-10-18 13:26] bil-elmoussaoui commented on #115
@wa4557 The only one? or you have an other error message?

[2015-10-18 13:27] wa4557 commented on #115
This error message but infinitely often which means that the script does not continue.
You have to try again, I forgot to push the changes before...

[2015-10-18 13:32] bil-elmoussaoui commented on #115
Found it! i will push a fix right now

[2015-10-18 13:33] bil-elmoussaoui commented on #115
Can you try again?

[2015-10-18 13:35] wa4557 commented on #115
Did you push to beta branch?

[2015-10-18 13:37] wa4557 commented on #115
Yeah it works almost, spotify and chrome still have a problem on my machine though

[2015-10-18 13:40] bil-elmoussaoui commented on #115
They're not working at all or you have an error message

[2015-10-18 13:41] wa4557 commented on #115
I fixed it :) I'll push right now

[2015-10-18 13:46] #115 closed

[2015-10-18 20:09] bil-elmoussaoui commented on #71
Had to install all those apps :P
![before](https://github-cloud.s3.amazonaws.com/assets/7660997/10566342/ef6d55ca-75e4-11e5-96a1-d2b879fa6758.png)

[2015-10-18 20:14] wa4557 commented on #71
lol, that's why we have the script :P

[2015-10-22 21:52] bil-elmoussaoui opened #117 "Google chrome icons are not partially fixed"
I don't know why this is happening but sometimes the script does not detect all the 4 Google chrome icons.. and the script does not fixed the ones that are found!
We will need to think of a better way to handle this

[2015-10-23 08:32] danielmwai opened #118 "SCRIPT EXECUTION FAILS WITH ERROR NO ATTRIBUTE 'ANTIALIAS_FAST'"
On executing  the  script  in  Fedora 23  x86_64   with  all  dependencies  of  this script  installed fails
ERROR :
-----------------
Traceback (most recent call last):
  File "script.py", line 25, in <module>
    svgtopng = load_source('svgtopng', './database/scripts/svgtopng.py')
  File "/usr/lib64/python3.4/imp.py", line 171, in load_source
    module = methods.load()
  File "<frozen importlib

[2015-10-23 08:50] bil-elmoussaoui commented on #118
Are you using the latest version of the script ? Can you try installing inkscape and try again ?

[2015-10-25 06:08] edgard commented on #118
Same on Ubuntu Wily.

[2015-10-25 14:00] wa4557 commented on #118
Should be working now, can someone try?

[2015-10-25 14:18] bil-elmoussaoui commented on #118
Works fine here! @edgard can you confirm that?

[2015-10-25 14:27] wa4557 commented on #117
Hmm so the problem is the `get_correct_chrome_icon` function?

[2015-10-25 14:28] bil-elmoussaoui commented on #117
Yes! and we have two pak files in the `chrome` database file, we should modify the way we fixed this a little bit #84; as in this case the other pak file isn't extracted...

[2015-10-25 14:32] wa4557 commented on #117
What do you mean? Extracting one file replacing icons remove extracted files and then do the same thing with the other one?

[2015-10-25 14:33] bil-elmoussaoui commented on #117
Yes! i guess that we should add an if statement and have a counter for each `pak` file

[2015-10-25 14:35] wa4557 commented on #117
I see, I'll try to come up with something :) Not sure what to do about the chrome icons that are not recognized though...

[2015-10-25 14:38] bil-elmoussaoui commented on #117
i will see what i can do about this one

[2015-10-25 14:46] bil-elmoussaoui commented on #71
I will add your screenshot @wa4557 and close this one! I don't think i will have the time to take a screenshot with all the applications, maybe i will update it one day :)

[2015-10-25 14:46] #71 closed

[2015-10-25 15:29] bil-elmoussaoui commented on #97
Added [here](https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/How-to-build-sni-qt) I would be very thankful if anyone can correct the english part !

[2015-10-25 19:53] edgard commented on #118
I don't have Inkscape and with cairosvg only now it is giving the message:
"You need either a working python-cairosvg installation or inkscape installed. Exiting."

I've checked a little further and seems to be a upstream problem:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=800882

With Inkscape is fine.

[2015-10-25 19:55] bil-elmoussaoui commented on #118
The only way to fix it was adding Inkscape support! I'm going to close this and hope they will fix this issue as soon as possible :+1:

[2015-10-25 19:55] #118 closed

[2015-10-25 20:10] edgard commented on #118
Yeah, just confirmed, installing cairosvg 1.0.17 from ubuntu xenial with fixes the problem.

[2015-10-29 13:24] Foggalong opened #119 "VLC"
![screenshot_2015-10-29_13-24-20](https://cloud.githubusercontent.com/assets/5920259/10819520/6edf59c6-7e40-11e5-8676-4be61663c6f8.png)
VLC isn't showing as themed for me under Numix Circle, and there isn't an icon in hicolor so I'm guessing this means it's hardcoded. Any information you need let me know :)

[2015-10-29 13:35] bil-elmoussaoui commented on #119
I'm not sure if the icon is the one in `/usr/share/vlc/`, can you try changing the icon with the Numix icon manually and see if that works?

[2015-10-29 13:45] Foggalong commented on #119
I can't seem to get it to change by changing that no

[2015-10-29 13:55] bil-elmoussaoui commented on #119
Can you paste the output of `cd /usr/share/icons/hicolor && sudo find -name vlc*` ?

[2015-10-29 14:24] Foggalong commented on #119
Just these

[code]

They'd be picked up by Circle though so I figure it can't be one of them

[2015-10-29 14:32] bil-elmoussaoui commented on #119
VLC is not a Qt application? Can you open VLC and see if you will find any icon in `/tmp`

[2015-10-29 14:38] bil-elmoussaoui commented on #119
Seem that VLC use `vlc-panel`, see [here](https://bugs.launchpad.net/ubuntu/+source/vlc/+bug/530797)

[2015-10-29 15:41] wa4557 commented on #119
You have to rename ``renamed-vlc`` in numix to ``vlc``. THat's because it's one of the toxic icons...

[2015-10-29 17:44] Foggalong commented on #119
Does renaming `renamed-vlc` to `vlc-panel`

[2015-10-29 18:24] bil-elmoussaoui commented on #119
@Foggalong You forgot a part of the sentence i guess? :P

[2015-10-29 19:47] Foggalong commented on #119
Oops :P what I get for typing between lectures!

[2015-10-29 20:07] bil-elmoussaoui commented on #119
I guess you should rename `renamed-vlc` to `vlc` but not sure!

[2015-10-29 20:15] Foggalong commented on #119
We can't rename it to VLC because of the clash with the app icon name, I was just going on the information in the issue you linked

[2015-10-29 20:27] bil-elmoussaoui commented on #119
I tried to rename the icon name to `vlc-panel` but it's not working..maybe commenting on the issue or opening a new one and see if the devs will fix that?

[2015-11-01 10:51] bil-elmoussaoui commented on #119
Sorry, but we can do anything to fix this :(

[2015-11-01 10:51] #119 closed

[2015-11-01 11:01] wa4557 commented on #119
Well one has to decide wheter he wants the correct app icon (then just keep it the way it is) or the correct tray icon (then one has to rename `renamed-vlc` to `vlc` in `status`)

[2015-11-07 10:51] bil-elmoussaoui opened #120 "Inkscape interface opens in Fedora"
Hello
I tried to use the script after adding the support of inkscape too!
And inkscape opens every image that was converted to png..
Is there a way to avoid that? :)
CC: @wa4557

[2015-11-07 10:56] wa4557 commented on #120
Weird on my (ubuntu) machine inkscape is not opened. I have to think about it, maybe there is a command preventing the gui to be opened...

[2015-11-07 17:26] bil-elmoussaoui commented on #117
Fixed the first part of the issue! @wa4557 still wanna do the rest? i have some free time today i can do it if you want :)

[2015-11-07 18:30] wa4557 commented on #117
Go ahead. I'm fairly occuied with work these days...

[2015-11-09 21:20] #120 closed

[2015-11-09 21:40] wa4557 commented on #97
Looks good to me. I've added a bit and was able to build the package :)

[2015-11-09 21:40] bil-elmoussaoui commented on #97
Thanks!! We can finally close this one :)

[2015-11-09 21:40] #97 closed

[2015-11-09 23:22] bil-elmoussaoui commented on #117
It's just so hard to implement :/ i think i will just make the icon in an other file or something like that.. what do you think?

[2015-11-09 23:33] bil-elmoussaoui commented on #117
Or maybe just removing the support of the third icon as Google chrome will remove the notification center  in the newest versions!

[2015-11-12 17:26] #117 closed

[2015-11-15 12:04] bil-elmoussaoui opened #121 "Bug on fedora"
I had this issue today when i tried the script again on fedora
[code]

[2015-11-16 15:42] MrTimscampi opened #122 "Icons too small on Gnome 3.18"
A detection for Gnome should probably be added in the detect_de(), because the icons look slightly too small at 22px, compared to the regular icons on the bar.

![screenshot from 2015-11-16 16-39-35](https://cloud.githubusercontent.com/assets/1087450/11186172/bbeeecba-8c80-11e5-95f0-45a4e026bf47.png)

[2015-11-16 16:24] bil-elmoussaoui commented on #122
What extension you're using to have top bar icons?
Do you have the same size issue if you revert to the default icons?

[2015-11-16 16:45] MrTimscampi commented on #122
I'm using [this](https://github.com/rgcjonas/gnome-shell-extension-appindicator) along with a patched GTK and sni-qt.

Here's how it looks like with the script reverted:
![screenshot from 2015-11-16 17-43-00](https://cloud.githubusercontent.com/assets/1087450/11188096/8decdb98-8c89-11e5-8c58-7862594e1bf4.png)

Skype looks alright, Steam is still too small.

[2015-11-16 16:53] bil-elmoussaoui commented on #122
Well, default skype icons are so big! that's why they look fine :) Steam does not have a hardcoded icon, This is not a Hardcode-Tray issue and we can do nothing about it :/ If they user does not use the Top bar icons extensions the icons will look so big.

[2015-11-16 19:23] Foggalong commented on #122
I'd wager that's an error with the extension rather than the script

[2015-11-17 21:18] #122 closed

[2015-11-20 20:39] bil-elmoussaoui commented on #121
This is not happening anymore.. closing

[2015-11-20 20:39] #121 closed

[2015-11-21 19:36] pavethem opened #123 "Hardcoded icons for museeq"
Numix just added new icons for museeq soulseek client.
The tray icons are hardcoded however.

the item names in /tmp/sni-qt_museeq_18307-wcZLd1/icons/hicolor/64x64/apps/ are:

when you first start the application:
![museeq_30211_2f0bfbefd5f436ee06255de74ae04b74](https://cloud.githubusercontent.com/assets/847563/11315550/fcaf5e44-8ff3-11e5-8f84-136728241d7d.png)
museeq_18307_2f0bfbefd5f436ee06255de

[2015-11-21 19:38] bil-elmoussaoui commented on #123
One more information; can you give me a folder/file location (full path) that's created when installing the application? The best thing is an executable file?

[2015-11-21 19:45] bil-elmoussaoui commented on #123
Fixed in my latest commit!

[2015-11-21 19:45] #123 closed

[2015-11-21 21:25] pavethem commented on #123
you mean /usr/bin/museeq?

[2015-11-21 21:26] bil-elmoussaoui commented on #123
Thanks! i've added that to museeq to the latest version , just re download the script and follow the instructions in the readme file

[2015-12-13 13:02] bil-elmoussaoui opened #124 "Fix only svg icons"
We can fix only svg icons if inkscape & cairosvg are not installed instead of not fixing any icon at all?
@wa4557 what do you think?

[2015-12-13 13:05] wa4557 commented on #124
So an additional variable, if inkscape/cairosvg is not installed only fix svg and not execute conversion and scripts (like spotify). Seems like a good idea.

[2015-12-13 13:08] bil-elmoussaoui commented on #124
I will see what i can do about it :+1:

[2015-12-14 07:32] bil-elmoussaoui opened #125 "Hexchat"
Hexchat is being fixed even if the application is not installed.
I think it's due to the function that creates the icons folder for Hexchat.

[2015-12-16 17:32] bil-elmoussaoui opened #126 "Add Teamviewer 11 support"
It's seems that Teamviewer 11 have a tray icon now. I think it's a Qt icon;
but i can use it in Fedora 23,  i don't know why.
@wa4557 @Foggalong Any one of you is using Ubuntu or XFCE to help me get the icon name ? :+1:

[2015-12-16 17:48] wa4557 commented on #126
No icons in `/tmp`. I don't think it's a QT application

[2015-12-16 17:58] bil-elmoussaoui commented on #126
It's Qt wine application..The only icon installed by the application is in `/opt/teamviewer/tv_bin/desktop/` can you confirm that?

[2015-12-16 18:03] bil-elmoussaoui commented on #126
And in this folder `opt/teamviewer/tv_bin/RTlib/plugins/systemtrayicon` you can find the plugin for the tray icon. I looked at the code,  and application do create a folder in /tmp for Qt icons

[2015-12-16 18:18] wa4557 commented on #126
This: `opt/teamviewer/tv_bin/RTlib/plugins/systemtrayicon` does not exist on my machine. And no there is nothing in `/tmp`

[2015-12-17 14:14] #124 closed

[2015-12-17 14:15] bil-elmoussaoui commented on #124
Fixed in 5a8e3ad61f88918a0200dffa444cea465957e6d1

[2015-12-17 14:20] #125 closed

[2015-12-17 14:41] bil-elmoussaoui commented on #126
In my case i have this folder `sni-qt_TVGuiDelegate_10300-0nRVI4`But there's nothing in the `icons` folder :/ I tried changing the icon in `/opt/teamviewer/tv_bin/desktop/` but that does not change the icon too. I think that the icon is hardcoded in the binary file..

[2015-12-17 14:46] wa4557 commented on #126
Yeah I don't have that folder :( Changing the icon doesn't help in my case either...

[2015-12-17 14:48] bil-elmoussaoui commented on #126
Will keep it open, maybe something will change later..

[2015-12-19 11:41] wa4557 commented on #126
Ok my fault I wa still having teamviewer 10 installed. For teamviewer 11 I have those icons in `/tmp`
![unbenannt](https://cloud.githubusercontent.com/assets/6475757/11912787/bca636cc-a64d-11e5-912a-707c88ca496e.png)

[code]

[2015-12-19 11:48] bil-elmoussaoui commented on #126
Haha:P
What do you think about those names?
[code]

[2015-12-19 11:50] wa4557 commented on #126
:1:

[2015-12-19 11:51] bil-elmoussaoui commented on #126
Fixed in 2ca7031b0a2c63a504ba59c52908737a60c259d0
Thanks :+1:

[2015-12-19 11:51] #126 closed

[2015-12-19 12:08] wa4557 commented on #126
Can you post the output of the code for the trayicon-lugin (maybe pastebin)? (opt/teamviewer/tv_bin/RTlib/plugins/systemtrayico) Still does not exist  on my machine, and I'm trying to find out the name of the plugin, to put it in the right position on the tray...

[2015-12-19 12:12] bil-elmoussaoui commented on #126
You can download the deb file from the website, and extract it you will find the file, i can't copy/paste the content file as it's `.so` file.. :/

[2015-12-19 12:13] wa4557 commented on #126
And how to look at the code then?

[2015-12-19 12:17] bil-elmoussaoui commented on #126
You will need to use a Hex editor :s (Bless Hex Editor is a good one!)

[2015-12-19 12:18] wa4557 commented on #126
Ah yeah sure. Thx :)

[2015-12-19 13:23] bil-elmoussaoui opened #127 "Telegram icons should be symlinked"
Those  `ico_22_*.png` icons must be symlinked to the first one `ico_22_1.png`

- [ ] Telegram
- [ ] My-Weather-Indicator

[2015-12-19 19:56] bil-elmoussaoui commented on #127
The same with `my-weather-indicator`;

[2015-12-19 19:57] bil-elmoussaoui commented on #127
Ops :P I forgot that we can't create those symlinks, otherwise we will hardcode the icons that we fix  LOL.

[2015-12-19 19:58] #127 closed

[2015-12-20 14:25] wa4557 commented on #126
There is another icon... `TVGuiDelegate_28264_c28d37df9872311f7c6b295b70b8a39d`

![unbenannt](https://cloud.githubusercontent.com/assets/6475757/11918357/e1e2aa20-a72d-11e5-8ccd-20dbdc1d9ed2.png)

[2015-12-20 14:30] bil-elmoussaoui commented on #126
Added as `teamviewer-indicator-paused`, but i don't know if it's the right name; when this icon is being used?

[2015-12-20 14:31] wa4557 commented on #126
I guess `idle` would be better or `away` or `inactive`

[2015-12-20 14:35] bil-elmoussaoui commented on #126
changed that to `idle` :+1:

[2015-12-20 14:36] wa4557 commented on #126
Designing those icon will be hard :/

[2015-12-20 14:39] bil-elmoussaoui commented on #126
Like a lot of status icons.. As nobody is using them, there's no reason to include them in Numix base theme ;)

[2015-12-20 14:39] bil-elmoussaoui commented on #126
#91 are the hardest ones to do !

[2015-12-20 14:41] wa4557 commented on #126
Well I am using them, so I have an interest in adding them + teamviewer is actually a program widely used :)

[2015-12-20 14:44] bil-elmoussaoui commented on #126
You can use only the double arrow as a base icon ?

[2015-12-20 14:44] wa4557 commented on #126
Oh come one...
[code]

![unbenannt](https://cloud.githubusercontent.com/assets/6475757/11918416/982f65f0-a730-11e5-91df-ac134476d094.png)

[2015-12-20 14:46] bil-elmoussaoui commented on #126
Added them too :P https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/database/teamviewer Just don't know how to name the two new icons, can you do that?

[2015-12-20 14:48] wa4557 commented on #126
Done

[2015-12-20 14:55] bil-elmoussaoui commented on #126
Thanks , i've opened a new request in Numix base repo ;)

[2015-12-22 22:44] Stunkymonkey opened #128 "Tray-Icon for Trimage"
**Original icon:**
![Image of Trimage](http://trimage.org/trimage-icon.png)

**Icon name:** trimage (of desktop-file)

**Notes:** It's a software for compressing images for the web without losing quality.

[2015-12-22 22:51] bil-elmoussaoui commented on #128
I took a look at the source code of Tirmage and it seems that the icon name is `trimage-icon` as you can see here : [#L548](https://github.com/Kilian/Trimage/blob/master/src/trimage/trimage.py#L548);
Can you use your default file browser and see if you can find that file ?

[2015-12-22 22:52] Stunkymonkey opened #129 "Monochrome-Tray-Icon for Telegram"
**Original tray-icon:**
![Tray-Image of Telegram](https://desktop.telegram.org/img/td_logo.png)

**Icon name:** telegram (of desktop-file)

**Notes:** It's a popular chat-software.

[2015-12-22 22:54] bil-elmoussaoui commented on #129
Already supported, just use the script and the icon should be fixed. If not please check this one #99 #89.

[2015-12-22 22:54] #129 closed

[2015-12-22 23:00] Stunkymonkey commented on #128
found in `/usr/lib/python2.7/site-packages/trimage/pixmaps`

[2015-12-22 23:04] bil-elmoussaoui commented on #128
Can you try changing this icon with an other one and see if the tray icon changes? And check if this file `/usr/bin/trimage` do exists?

[2015-12-22 23:09] Stunkymonkey commented on #128
yes it is the icon (is colored it with gimp):
![screenshot from 2015-12-23 00-08-36](https://cloud.githubusercontent.com/assets/1315818/11968140/53db0d48-a909-11e5-9ccb-c29cbbec64af.png)
and yes the `/usr/bin/trimage` exists

[2015-12-22 23:12] bil-elmoussaoui commented on #128
Nice! :+1: Fixed here. Open a new issue on Numix Base with this icon name `trimage-indicator`, once the icon added, execute the script again

[2015-12-22 23:12] #128 closed

[2015-12-24 08:36] wa4557 opened #130 "sni-qt png?"
Is it necessary that the sni-qt icons are there in png? Or would svg be ok as well?

[2015-12-24 08:38] wa4557 opened #131 "teamviewer not working"
Although the icons are added in `~/.local/share/sni-qt` the new icon is not shown in the tray...

[2015-12-24 10:50] bil-elmoussaoui commented on #130
The guys from elementaryPlus tried to use SVG icons instead of PNG ones. But i don't remember that they've succeed; I will download the source code of sni-qt and see if there's anyway to patch that...

[2015-12-24 10:52] bil-elmoussaoui commented on #131
Try changing the folder where Teamviewer tray icons are stored to `TVGuiDelegate`?

[2015-12-24 10:53] bil-elmoussaoui commented on #131
And in `/tmp` , the icons are stored in a folder? if so, can you get the name of that folder

[2015-12-24 11:19] wa4557 commented on #131
the name is `sni-qt_TVGuiDelegate_3689-3btu2I` but this changes everytime teamviewer is opened

[2015-12-24 11:45] bil-elmoussaoui commented on #131
This is how Qt icons works, can you screenshot the folder in `~/.local/share/sni-qt`and in `/tmp`too?

[2015-12-24 11:52] bil-elmoussaoui commented on #130
If you clone the bzr repo, take a look at `src/iconcache.cpp` you will see that in the code there's a lot of `.png` I don't think that just changing that will make it works with SVG icons instead of png ones..

[2015-12-24 12:40] wa4557 commented on #131
in `/tmp/sni-qt_TVGuiDelegate_4314-ihUvdE`
[code]

and in `~/.local/share/sni-qt/TVGuiDelegate`

[code]

[2015-12-24 13:10] bil-elmoussaoui commented on #131
Something is wrong in the `/tmp/sni-qt_*/` folder, in all the other Qt icons; the icons were only in `/tmp/sni-qt_*/icons/hicolor/24x24/apps`

[2015-12-24 13:15] wa4557 commented on #131
If I manually change the icons in /tmp it works though

Bilal Elmoussaoui <notifications@github.com> schrieb am Do., 24. Dez. 2015
14:10:

[2015-12-24 13:16] bil-elmoussaoui commented on #131
Try installing the 32 bits version of sni-qt too?

[2015-12-24 13:27] bil-elmoussaoui opened #132 "Icon size in Mint"
Reported by @ikuria
The icon size used in Linux Mint 17.3 Rosa is 22x22. I'm not sure if the icon is small or it's normal?
See the skype indicator
![psynkv1](https://cloud.githubusercontent.com/assets/7660997/11995051/24aca5ee-aa4a-11e5-86d7-557eb20dc107.png)
@Foggalong @wa4557 Anyone of you guys is using Cinnamon and can try that? :+1:

[2015-12-24 13:34] ikuria commented on #132
https://i.imgur.com/Q4gsTnk.png

mint classic theme, the systray icon (only skype) the other ones are
applets have diffrent css styles in the numix cinnamon.css, so i must
change that to resize the icon i think,...

you prefere bigger icons? i like it that small *g* maybe i changed it
that way, maybe its my resolution 1920x1080 on 13"FHD (xps13 Dell
notebook)  but i want all the icons in a good pr

[2015-12-24 14:40] bil-elmoussaoui opened #133 "Building sni-qt 32bits version"
Skype and some other applications tray icons needs sni-qt:i386.
We need to add the new dependencies and how to build sni-qt as i386 package too

[2015-12-25 08:38] wa4557 commented on #130
Not worth the worries :)

[2015-12-25 08:38] #130 closed

[2015-12-25 08:39] wa4557 commented on #132
Looks crisp, so I guess 22px is ok

[2015-12-25 08:42] wa4557 commented on #131
Already installed (skype is working). If I manually change the icons in `24x24/apps` it works

[2015-12-25 10:52] bil-elmoussaoui commented on #131
try creating a `24x24/apps` folder for Teamviewer in `.local/share/sni-qt` and see if the new icons will work?

[2015-12-25 13:01] bil-elmoussaoui commented on #130
I will keep an eye on this, having will add HDpi support too ;)

[2015-12-28 22:21] bil-elmoussaoui commented on #132
As it depends on the theme you're using; i'm going to close this. Maybe one day we won't need to patch any ugly icons

[2015-12-28 22:21] #132 closed

[2015-12-28 22:22] bil-elmoussaoui commented on #131
I still need to build sni-qt:i386 version and i'm so busy those days. if you find a way to fix this feel free to modify the code :+1:

[2015-12-29 19:53] wa4557 commented on #131
I think I found out why teamviewer is not working. Teamviewer is shipping its own version of libsni-qt.so `/opt/teamviewer/tv_bin/RTlib/plugins/systemtrayicon/` which means that the patched version of `sni-qt` is probably not used

[2015-12-29 20:00] wa4557 commented on #131
This fixes it: `sudo ln -sf /usr/lib/i386-linux-gnu/qt4/plugins/systemtrayicon/libsni-qt.so /opt/teamviewer/tv_bin/RTlib/plugins/systemtrayicon/` I'm not sure though if this is a fix to implement in the code, or something that should be mentioned in the README

[2015-12-29 20:02] bil-elmoussaoui commented on #131
Its depends if we can easily implement the create/remove symlink :+1:

[2015-12-29 20:04] wa4557 commented on #131
That's probably not to hard (i.e. I could do that) but it's a big change in the system...

[2015-12-29 20:08] wa4557 commented on #131
Ah what the heck I'm going to implement this!

[2015-12-29 20:08] bil-elmoussaoui commented on #131
Well, adding to the readme is fine too. Maybe showing a message to the user to confirm that he wants to create that symlink :+1:

[2015-12-29 20:10] wa4557 commented on #131
Thinking about it, it's actually not a bigger change then changing `pngs`. I guess it's ok to do it

[2015-12-29 20:16] bil-elmoussaoui commented on #131
Maybe adding a new section on the readme to explain why we do have to create that symlink?

[2015-12-29 20:17] wa4557 commented on #131
Sure I'll do that as well :+1: Finally my tray looks good again :)

[2015-12-29 20:33] #131 closed

[2015-12-29 20:36] wa4557 commented on #131
Done. I've added two short sentence in the Readme :+1:
It is really great that we have been able to fix every problem so far :)

[2015-12-29 20:45] bil-elmoussaoui commented on #131
Thanks. Nice idea btw! I wouldn't think of that :+1: We did a great work on this

[2016-01-05 16:43] cpriego opened #135 "Telegram Indicator"
The script used to work with previous versions of Telegram but in the latest versions it stopped working.

[2016-01-05 16:46] bil-elmoussaoui commented on #135
Which version of Telegram you're using?

[2016-01-05 17:09] cpriego commented on #135
I'm using the latest versions of both Telegram (0.9.18) and Hardcode-Tray

[2016-01-05 17:23] bil-elmoussaoui commented on #135
@cpriego Try opening Telegram and see if there's any new folder/icons created in `/tmp`
we had an issue with Telegram before in Ubuntu, i'm not sure if it's the same issue #99 #129

[2016-01-05 17:25] cpriego commented on #135
I'm pretty sure is the same issue.

Yes, there's an icon in /tmp named qt-trayicon-XXXXXX.png

[2016-01-05 17:28] bil-elmoussaoui commented on #135
Well, we can't do anything about it :/ Telegram ships a modified version of sni-qt (qt library used to create/show tray icons) and as every file is hardcoded in the binary file `Telegram` I can't fix it without rebuilding an other version of Telegram... Sorry about that!

[2016-01-05 17:29] wa4557 commented on #135
@bil-elmoussaoui Is it the same as with teamviewer? Can we overwrite the telegram `sni-qt` version?

[2016-01-05 17:30] bil-elmoussaoui commented on #135
@wa4557 I don't think so , Telegram has only a binary file(executable one) :(

[2016-01-05 17:34] bil-elmoussaoui commented on #135
@cpriego Can you open Telegram from terminal and paste the output ?
The binary file is in `/opt/telegram/` or in `~/.TelegramDesktop`

[2016-01-05 17:34] cpriego commented on #135
I feared that (telegram hardcoding everything), should I close the issue?

[2016-01-05 17:35] bil-elmoussaoui commented on #135
We will try to figure out a way to fix this

[2016-01-05 17:36] cpriego commented on #135
Here's the output of the Telegram binary
[code]

[2016-01-05 17:58] bil-elmoussaoui commented on #135
Can you try install libappindicator ? I don't know the exact package name

[2016-01-05 18:01] cpriego commented on #135
Ok, done, do you want me to install the -dev version?

[2016-01-05 18:02] bil-elmoussaoui commented on #135
Nop just the normal version, close Telegram and try again (using Terminal)
Telegram tries to use libappindicator first, before using the patched version of sni-qt
[code]

[2016-01-05 18:17] cpriego commented on #135
hmmm weird, I do have the libraries installed but the Telegram output didn't change. After my first attempt I tried all of the next:

1. Install telegram in new folder /opt/telegram and /opt/Telegram
2. Delete the .TelegramDesktop folder

but the output was always the same
[code]

[2016-01-05 18:20] bil-elmoussaoui commented on #135
Maybe reporting that to Telegram as the libraries are not detected even if they're installed?

[2016-01-05 18:26] cpriego commented on #135
Ok, let me do that.

[2016-01-15 14:00] bil-elmoussaoui opened #136 "Possibility to fix one application"
I think it's a great idea to be able to fix/revert only one application.
Won't have to change a lot of things, just if the user adds a new arg to the command list and choose apply or revert the script will only fix/revert this application.
Something like `--only=telegram,skype`
@wa4557 What do you think?

[2016-01-15 14:09] wa4557 commented on #136
:+1: Should be nothing more than a `if not (sys.argv[1]=="only" and sys.argv[2]=="skype"): continue`

[2016-01-15 14:11] bil-elmoussaoui commented on #136
Yeah! we just pass the argument to the `get_app_informations` https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/script.py#L260 And only get the infos for applications in the argument?

[2016-01-15 14:20] wa4557 commented on #136
Even better!

[2016-01-15 14:29] #136 closed

[2016-01-15 14:29] bil-elmoussaoui commented on #136
Done! :+1:
![screenshot from 2016-01-15 15-29-36](https://cloud.githubusercontent.com/assets/7660997/12355423/ce8cb9ba-bb9c-11e5-8966-f6b8c81cedad.png)

[2016-01-15 14:32] wa4557 commented on #136
Like that :)

[2016-01-15 14:39] bil-elmoussaoui commented on #136
Yeah :) Just need some help, i don't know how to explain that the user can get the applications name from the second column in the db.csv file :/ Can you  do that? :+1:

[2016-01-15 15:01] wa4557 commented on #136
Sure

[2016-01-15 15:15] bil-elmoussaoui commented on #133
@cybre do you know which flags should i add to `cmake ./ ` in order to build a 32bits version? I tried a lot of solutions from internet but i didn't succeed?

[2016-01-15 20:19] cybre commented on #133
I have no idea @bil-elmoussaoui

[2016-01-15 23:35] bil-elmoussaoui commented on #133
I added a way to build 32 bits version but not sure... @wa4557 can you try it ? :+1:

[2016-01-17 20:58] #133 closed

[2016-01-17 20:58] bil-elmoussaoui commented on #133
Added and works fine here. @wa4557 It would be cool if you can check if it good explained :P

[2016-01-18 12:25] bil-elmoussaoui opened #138 "Gitter and Stremio support"
Gitter and Stremio are using Electron (i guess)
The icons are hardcoded on `nw.pak`
I think that we need a better way to handle those applications(not like the chrome way)

Update: all the applications created using Nodejs/Electron and uses a tray icon has the icon hardcoded on `nw.pak` file

[2016-01-18 18:53] cybre commented on #133
@bil-elmoussaoui This just came to my mind. Building sni-qt manually doesn't get you the patched version. The patch is loaded from a diff in `debian/patches` and that's handled in the packaging process.
You should add info about patching to your wiki (`patch -p1 < debian/patches/custom-icons-injection` from the parent directory of the repo before compiling)

[2016-01-18 19:00] wa4557 commented on #133
I was able to build the patched version of sni-qt exactly as it is presented in the wiki (the 64bit version)

[2016-01-18 19:07] bil-elmoussaoui commented on #133
@cybre Thanks, added that :+1:

[2016-01-18 19:19] cybre commented on #133
@wa4557 Well, I've just compiled it and it built the vanilla libraries.
Also, there is no rule in the build system to patch available patches.

[2016-01-18 19:21] bil-elmoussaoui commented on #133
@cybre i don't understand pretty well what do you mean by "patch available patches"

[2016-01-18 19:22] cybre commented on #133
Ah, I had a brain fart
"Also, there is no rule in the build system to patch the sources with the available patches/diff's"
There, fixed

[2016-01-19 19:21] wa4557 commented on #138
What do you suggest? I guess there is no way to not use the unpack script and afterwards pack it again...

[2016-01-19 19:26] Foggalong commented on #138
Might also be worth filing an upstream support to the Electron team.

[2016-01-20 02:17] bil-elmoussaoui commented on #138
@wa4557 Yeah, just for chrome the icons didn't have the same name, and we had to copy them and have a "special" code just for chrome...
@Foggalong Yeah, i will diffidently do; to the Chromuim Team

[2016-01-23 01:13] bil-elmoussaoui commented on #138
I couldn't find the icons anywhere :( @wa4557 Can you confirm that if you're using one of those applications please? :)

[2016-01-23 09:03] eldarik opened #139 "skype icon did not change"
After running script icon did not change. Here is screenshot http://puu.sh/mGlD7/6560419507.png. DE-xfce 4.12

[2016-01-23 10:00] wa4557 commented on #139
Have you installed the patched version of sni-qt?

[2016-01-23 12:23] Foggalong commented on #139
The icon Skype icon is massive so I'm guessing so

[2016-01-24 01:23] bil-elmoussaoui opened #141 "Update chrome script"
In order to fix this issue #138 I updated the code we have been using to fix Google chrome/Chromuim icons.
Everything works fine. The only issue is now it's possible to fix icons from different pak files.
Those lines [#L504-L509](https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/script.py#L504-L509) need to be updated in order to change counter `do` if the pak file of the next icon is d

[2016-01-24 01:26] bil-elmoussaoui commented on #141
@wa4557 Would you like to take care of this if you have some free time? :)

[2016-01-24 01:36] bil-elmoussaoui commented on #138
Sadly i just found out that the icons are hardcoded in the js source files of those applications :/

[2016-01-24 01:36] #138 closed

[2016-01-24 08:38] wa4557 commented on #141
I see what I can do. As you may have noticed I'm not so much arund these days because I have a shitload of work to do, but I'll have a look at it :)

[2016-01-24 09:53] eldarik commented on #139
@wa4557 yes, I've installed the latest version of sni-qt

[2016-01-24 18:15] wa4557 commented on #141
I had a look into it, but I'm not sure what you want to have sorry. For all the apps with thos `pak` icons we have special scripts anyways...

[2016-01-24 18:16] bil-elmoussaoui commented on #141
If you took a look at Chrome script, there's an icon that i haven't fixed because it's not in the same pak file as the others..

[2016-01-24 18:18] wa4557 commented on #141
Ah so you mean see first if the currently extracted pak file is the one needed for the current script, and if no remove it and extract the new one. I think I get it now :)

[2016-01-24 18:22] bil-elmoussaoui commented on #141
Yes, i was not that clear sorry :p

[2016-01-24 18:23] bil-elmoussaoui commented on #139
@eldarik have you installed the 32 bits version of sni-qt too?

[2016-01-24 18:36] bil-elmoussaoui commented on #141
There's the reason why i did all of that :P
![capture du 2016-01-24 19-35-49](https://cloud.githubusercontent.com/assets/7660997/12538136/b305bfde-c2d1-11e5-8f52-44287a7daa08.png)

[2016-01-24 18:37] wa4557 commented on #141
Looks good :) Except for the skype icon...

[2016-01-24 19:08] wa4557 commented on #141
There are several problems when trying to do this, need your thoughts on this:

1) The chrome pak is extracted already in `get_correct_chrome_icons` and not deleted afterwards. This makes sense because there is no sense in doing this multiple times.

2) The thing is: In order to find out the correct icons it is necessary to unpack all the other `pak` files for this app as well, so this means that

[2016-01-24 19:13] bil-elmoussaoui commented on #141
1)  I've just added the code to remove the extracted folder at the end of `get_correct_chrome_icons` , because the latest extracted pak file may not be the same as the first one.
2) Yes, the pak folder should be removed just after finding the right icon;
3) it's what i thought too; may not be the best way but it's fast enough (extracting the pak files does not take really to much time);

[2016-01-24 19:15] wa4557 commented on #141
:+1: Cool then it shouldn't be too hard, already have some ideas :) we might find an even better solution in the future :)

[2016-01-25 04:13] fwahh opened #142 "Tray icons for Linux Mint Update Manager"
The script should be modified to include the update manager's indicator icons.

[2016-01-25 13:34] vysinsky opened #143 "Problem with KeePassX"
Hello,
when I run script it endlessly trying to fix `KeePassX` icon. I get this output:

[code]

I am using latest `master` version of `numix-theme`, `numix-theme-circle` and `Hardcode-Tray`

[2016-01-25 14:28] bil-elmoussaoui commented on #143
I see what's the problem , the application icon is used instead of the status one. I will fix that asap

[2016-01-25 14:37] bil-elmoussaoui commented on #143
I figured it out; this is due to the missing icons in Numix
The icons should be named
- keepassx-indicator
- keepassx-locked
Default icons
![capture du 2016-01-25 15-36-57](https://cloud.githubusercontent.com/assets/7660997/12553765/7cfdd91e-c379-11e5-85b5-cfb717f9340b.png)
Once the icons are added to Numix, run the script again. Can you open a new issue about this in Numix?

[2016-01-25 14:47] vysinsky commented on #143
Sure. Thank you!

[2016-01-25 15:00] bil-elmoussaoui commented on #143
I will close this! if you have any other issues with keepassx later, please open a new issue! Thanks

[2016-01-25 15:00] #143 closed

[2016-01-25 16:11] #142 closed

[2016-01-25 20:37] bil-elmoussaoui commented on #141
I've made few modifications to the way we detect the right icons, i think this will fix every pak file in the future (i hope)  :+1:

[2016-01-26 12:19] Foggalong commented on #141
A little off topic, but are those insync emblems themeable?

[2016-01-26 12:52] bil-elmoussaoui commented on #141
@Foggalong They're and the icons do exists in Numix theme; but i really don't know why there's not being used.. :(

[2016-01-26 13:25] Foggalong commented on #141
@bil-elmoussaoui damn :(

[2016-02-16 20:21] bil-elmoussaoui commented on #139
@eldarik can you give us more information please?

[2016-02-21 14:09] Foggalong opened #145 "Boinc Tray Icon"
The only icon I'm missing. I forget how this work so let me know what information I need to add and I'll find it :)
![screenshot_2016-02-21_14-08-43](https://cloud.githubusercontent.com/assets/5920259/13203015/a54c0914-d8a4-11e5-8f5a-3238ce78839a.png)

[2016-02-21 21:00] bil-elmoussaoui commented on #145
I will add it as soon as possible :+1:

[2016-02-22 08:38] bil-elmoussaoui commented on #145
I couldn't find the icon location :/

[2016-02-22 10:53] Foggalong commented on #145
No, me neither. Really hidded away :(

[2016-02-22 10:54] bil-elmoussaoui commented on #145
I will take a look at the source code this evening and see if i can find out a way to fix it :+1:

[2016-02-29 20:49] bil-elmoussaoui commented on #145
Sorry couldn't find anything on this.. if you have any more information like icons directory reopen this issue :+1:

[2016-02-29 20:49] #145 closed

[2016-02-29 20:49] #139 closed

[2016-02-29 23:47] Foggalong commented on #145
I don't sorry :( I couldn't find anything in my search

[2016-02-29 23:49] bil-elmoussaoui commented on #145
Maybe opening a new issue on BOINC github repository and we will see if
they will provide more information
Le 1 mars 2016 00:47, "Joshua H. Fogg" <notifications@github.com> a écrit :

[2016-02-29 23:50] Foggalong commented on #145
I tried to do this, but couldn't even find which BOINC repo corresponded to the GTK app. The link on their website shows up dead, though I don't think they've taken it closed source :/

[2016-03-01 21:44] bil-elmoussaoui commented on #141
@wa4557 Can you explain to me what was your idea so i can write the code ? :+1: i would like to release a stable version as soon as possible

[2016-03-20 11:29] wa4557 commented on #141
Sorry for not coming back to this for such a long time, had a shitload of work to do the last months. (But I'm back now - though not so often as I used to be probably). Anyways: my original idea was something like this:

1) when looping through all the apps (get_app_information), unpack the corresponding pak files to folders that correspond to their names (so chrome_100 for chrome_100.pak) and don

[2016-03-20 11:41] bil-elmoussaoui commented on #141
@wa4557 Not a problem. Do you think you still have the time to do this? otherwise i can implement it when i have some free time :)

[2016-03-20 11:48] wa4557 commented on #141
I can do it end of next week if that's early enough...

[2016-03-23 16:02] wa4557 commented on #141
I have a really hard time, figuring out how to do this best... The code has become too complicated to just simply change things...

[2016-03-23 16:39] bil-elmoussaoui commented on #141
Yeah i know.. i want to do this too, but so busy with studies those days.. :/

[2016-03-23 16:41] wa4557 commented on #141
I'm slowly understanding what needs to be done. A lot of code needs to be rewritten though :(

[2016-03-23 16:44] bil-elmoussaoui commented on #141
Well, maybe just updating the chrome script? What needs to be done is removing the old pak file, extract the new one, and remove it when the old pak file name isn't the same as the one before, that shouldn't be hard to do by sending the pak file name to the bash script and change the `do` variable value to other values that means to remove/extract/copy the pak file..?

[2016-03-23 16:57] wa4557 commented on #141
the problem is the function `get_correct_chrome_icons` -> very twisted

[2016-03-23 18:26] bil-elmoussaoui commented on #141
Can you explain more which things should be modified/not working correctly in `get_correct_chorme_icons`? I will try to fix it this evening

[2016-03-24 08:16] wa4557 commented on #141
What I tried so far (I've uploaded my changes to this branch: https://github.com/wa4557/Hardcode-Tray/tree/script)

every program that needs to be extracted, extract to a foldername that corresponds to its `pak` file. This way unpacking only once would be sufficient for all programs (just check if the folder already exists etc...). I changed `get_correct_chrome_icons` already in a way that should

[2016-03-24 10:40] bil-elmoussaoui commented on #141
Spotify does not use get_correct_icons function?

[2016-03-24 10:43] wa4557 commented on #141
True, this is why we need to change the spotify script as well, to extract to its own folder. But the thing is: spotify does not need to clean up after itself (deleting the folder) but the script can do that after everything is finished.

[2016-03-24 16:59] bil-elmoussaoui commented on #141
Great! Seems to be the best solution :+1:

[2016-03-24 17:06] wa4557 commented on #141
is it only chrome and spotify that do unpacking?

[2016-03-24 17:26] bil-elmoussaoui commented on #141
Yes, the only other script is Teamviewer but it's only copy a file

[2016-03-24 19:13] wa4557 commented on #141
Ok I've fixed the errors that were still occuring, I'm not sure ,however, if the script works as intented. Can you try?

[2016-03-24 19:55] bil-elmoussaoui commented on #141
Everything works fine; the pak files are extracted on `extracted/pakfilename`. The folder is removed at the end. But the icons are not being fixed. I don't understand why you've removed the (0/1) in the chrome database file. Some icons have a file name that changes in each chrome version; but the icon in the resources.pak is always the same, the 1 means that the icon name provided is not the corre

[2016-03-24 20:00] wa4557 commented on #141
Ah I see. Ok I thought this is for something else that is not needed anymore. I still have not figured out how to reliably do it with those "do" variables though

[2016-03-24 20:05] bil-elmoussaoui commented on #141
I might help fixing the "do" part this weekend, maybe moving your code to a beta branch here so i can push my commits too?

[2016-03-24 20:15] wa4557 commented on #141
How can I merge to a new branch?

[2016-03-24 20:21] bil-elmoussaoui commented on #141
The easiest way is to create a new branch and move your code to the branch and push it!

[2016-03-25 07:37] wa4557 commented on #141
Done :+1:

[2016-03-26 19:06] bil-elmoussaoui commented on #141
Thanks! i will finish the code tomorrow (i hope)

[2016-03-26 21:45] bil-elmoussaoui commented on #141
Everything works fine now! One last issue is the pak file is not copied back :+1:

[2016-03-27 08:13] wa4557 commented on #141
If the "do" variable is working now, everything should be ok!

[2016-03-27 15:47] leoheck opened #146 "Issues"
[code]

[2016-03-27 23:54] bil-elmoussaoui commented on #146
Hello,
Thanks for trying Hardcode-Tray; the issues you've reported will be fixed once the fix of #141 will be released!
I will keep you updated here once we release it.

[2016-03-29 00:00] leoheck commented on #146
Thank you too. I haven't had time to say something but the errors seemed to be self-explanatory. :+1:

[2016-04-17 18:05] wa4557 commented on #135
Relevant: https://github.com/telegramdesktop/tdesktop/issues/1908#issuecomment-211073097

I started coding, shouldn't be too hard

[2016-04-20 18:57] Foggalong commented on #146
I'm having similar problems

[code]

[2016-04-20 20:44] bil-elmoussaoui commented on #146
Sorry guys! I will try to fix those issues this weekend! Really busy with school:/

[2016-05-02 16:36] wa4557 commented on #135
Hmm, the code telegram is written right now it is NOT possible to change that, so that theme icons are used. This is because they are using an Qt version which is not the system one, which means that theme icons cannot be found...

I was, however, able to do a somewhat dirty hack, so that the old method (i.e. the one hardcode-tray uses) works, they won't merge that unfortunately because it really

[2016-05-02 16:53] cpriego commented on #135
@wa4557 Of course, if could please send me the binaries I'd be happy to try them. :smiley:

[2016-05-02 19:29] wa4557 commented on #135
Here you go. Just replace the executable with this one, then run `hardcode-tray` and it should work. I'm afraid that this won't work after an update
https://mega.nz/#!F4IWxSpY

[2016-05-06 10:19] wa4557 opened #147 "Whatsie support"
There is a beautiful whatsapp wrapper on linux that creates a tray icon called whatsie. Unfortunately they use hardcoded tray icons :(

https://github.com/Aluxian/Whatsie

I already opened a issue there asking for themable tray icons, but as far as I understand its currently not possible with the framework they are using (javascript / electron :o)

I guess the images are stored in a biinary file `

[2016-05-07 08:24] bil-elmoussaoui commented on #147
I will take a look at the PR

[2016-05-07 08:26] #147 closed

[2016-05-07 08:28] bil-elmoussaoui commented on #147
Can you open an other PR and change the script name from whatsie to electron?

[2016-05-07 09:13] bil-elmoussaoui commented on #135
@wa4557 You have changed a lot of lines of code? I think the best way to close this issue, is adding the informations about it on the wiki with the temporary solution. if it's only few lines of code to change adding them instead of the executable file is better i guess

[2016-05-07 09:15] wa4557 commented on #135
I haven't, it's actually only one line. The thing is it is EXTREMELY hard to build `telegram` (it took me almost 1 week to figure that out, maybe that's my fault). To be fair I don't think my binary is a proper fix for this issue, I guess we have to keep that open