[2016-05-07 12:01] wa4557 commented on #141
I'm actually wondering if we can do the same as with the electron files here. Unpacking into memory replacing the png bits on the fly and repacking from memory. I suppose it can be done, albeit it may be a bit harder because we have to compare the pngs also

[2016-05-07 13:13] wa4557 commented on #141
I updated the spotify to do the same, no more extracting is now necessary, which means that it is a lot faster, and doesn't have to write so much on the harddisk either -> next up chrome

[2016-05-07 19:38] wa4557 commented on #141
@bil-elmoussaoui I've updated the script in the beta branch to get correct chrome icons without extracting everything, can you try and test it?

[2016-05-07 19:59] bil-elmoussaoui commented on #141
Thanks for your hard work, im going to try it in few hours
Le 7 mai 2016 21:38, "Andreas Angerer" <notifications@github.com> a écrit :

[2016-05-07 20:01] wa4557 commented on #141
No worries, is good to come away from work sometimes :)

[2016-05-07 21:26] bil-elmoussaoui commented on #141
It does not detect the icons at all, i tried it with Chrome & Chromium

[2016-05-07 21:31] wa4557 commented on #141
Hmm the question is why. Any obvious mistakes in my code?

[2016-05-07 21:36] bil-elmoussaoui commented on #141
I hadn't the time to read the whole code yet, but i think that the icons are not the same anymore? and for the icons that have the 0 as the latest parameter passed should not be checked if they exists or not

[2016-05-07 21:38] wa4557 commented on #141
Yeah this also what I think, the icon changed I will try to get the new ones...

Why exactly shouldn't they be changed?

[2016-05-07 21:40] bil-elmoussaoui commented on #141
Because the icon name is always the same (for chrome and chromium) it's the ugly icon always shown, not the notification one

[2016-05-07 21:41] wa4557 commented on #141
Ah ok, yeah makes sense

[2016-05-07 21:47] bil-elmoussaoui commented on #141
Wanna add this condition or you want me to do it?

[2016-05-07 21:48] wa4557 commented on #141
Sure go ahead

[2016-05-07 21:56] bil-elmoussaoui commented on #141
There was some missing stuff on the chrome script, this is the new version, but i still have an issue
[code]

the error message is
[code]

[2016-05-07 21:57] wa4557 commented on #141
Ah you can replace binary with 0

[2016-05-07 22:02] bil-elmoussaoui commented on #141
Wow! it works :D tested with Chrome & Chromium
![capture du 2016-05-08 00-02-35](https://cloud.githubusercontent.com/assets/7660997/15094801/2f0403c2-14b0-11e6-856e-271761a2b294.png)

[2016-05-07 22:04] wa4557 commented on #141
How cool 😎 now nothing is extracted and everything is done on the fly

Bilal Elmoussaoui <notifications@github.com> schrieb am So., 8. Mai 2016,
00:02:

[2016-05-07 22:06] bil-elmoussaoui commented on #141
Yay! finally fixed

[2016-05-07 22:06] #141 closed

[2016-05-07 22:06] bil-elmoussaoui commented on #146
Fixed thanks to @wa4557 :+1:

[2016-05-07 22:06] #146 closed

[2016-05-07 22:34] bil-elmoussaoui opened #150 "Support more electron apps"
Here's a small list of most used electron apps (i think) :

- [x] Gitter -won't fix- the application does not have a `app.asar` file
- [x] Slack desktop - already fixed, nothing to do here :)
- [x] Stremio

[2016-05-08 10:06] bil-elmoussaoui commented on #150
@wa4557 Seems that Stremio use the same path for images as Whatsie, i renamed the script to electron instead of Whatsie. But i couldn't unpack the slack `app.asar` file, can you give it a try?

[2016-05-08 10:52] wa4557 commented on #150
Yeah I can try that out. For Gitter: there's probably a asap file somewhere else?

[2016-05-08 10:57] bil-elmoussaoui commented on #150
I couldn't find it.. and btw after trying fixing Stremio with the script i had this issue
[code]
when i tried to print the json file content(the header variable) it seems to be a unicode issue. Using `asar extract app.asar ./stremio` extracts the file correctly without any issue

[2016-05-08 13:02] wa4557 commented on #150
Ok it seems there's something wrong with the headersize (also for stremio). I really think we have to add custom scripts for all of those electron icons

[2016-05-08 13:20] bil-elmoussaoui commented on #150
Alright, just wanted to have a script for all electron apps, but let's keep it simple for now

[2016-05-08 13:30] wa4557 commented on #150
Sure that would be ideal, but on the other hand the scripts are relatively simple...

[2016-05-08 14:31] wa4557 commented on #150
I've added a stremio script that fixes the above error, I'm not 100% sure why but the header is 3 bytes too short :( can you try it out?

[2016-05-08 15:42] bil-elmoussaoui commented on #150
Still getting this
[code]

[2016-05-08 15:44] wa4557 commented on #150
Yeah I know, I will try to rewrite the script to make it suitable for any electron app

[2016-05-08 19:10] wa4557 commented on #150
For slack: do you have this file? `usr/lib/slack/resources/app.asar.unpacked/src/static/slack-taskbar-rest.png` and what happens if you change it?

Btw: I think I have figured out a way to use one `electron` script to fix all electron scripts, I have to test it a bit more though

[2016-05-08 19:19] bil-elmoussaoui commented on #150
I will try that for Slack.
Btw, i just figured out that i've already added the database file for Slack with this icon line without testing it :p

[2016-05-08 19:20] wa4557 commented on #150
I guess it won't work right away, but slack has a slightly different `asar` file where the png is not stored in the file

[2016-05-08 20:20] bil-elmoussaoui commented on #150
I can confirm that the new script fixes Stremio icon without any issues! :+1: I just need to reinstall the application and see if everything will work fine

[2016-05-08 20:33] bil-elmoussaoui commented on #150
I've got this issue when i run the application, maybe it's due to a verification from Stremio's side to be sure that the files were not changed?
[code]

[2016-05-08 20:34] wa4557 commented on #150
Oh damnit it, thiis means that I'm doing something wrong in decoding the file... I will try to look into that.

[2016-05-08 21:41] wa4557 commented on #150
I think I found the problem, but it is a bit hard to figure out how to fix the error, I'll try and do this tomorrow :)

[2016-05-09 14:10] wa4557 commented on #150
Fixed last issue with stremio the, script works now with stremio and whatsie, and every other electron app :)

[2016-05-09 14:14] bil-elmoussaoui commented on #150
Perfect ! :D
Le 9 mai 2016 16:10, "Andreas Angerer" <notifications@github.com> a écrit :

[2016-05-09 14:54] wa4557 commented on #150
Oh come on, now whatsie stopped working :(

[2016-05-09 14:55] bil-elmoussaoui commented on #150
Maybe it's impossible to fix all electron apps using only one script ?

[2016-05-09 14:58] wa4557 commented on #150
This is what I'm trying but it's hard

[2016-05-09 17:58] wa4557 commented on #150
Now it is working :)

[2016-05-09 19:26] #150 closed

[2016-05-09 19:57] bil-elmoussaoui commented on #150
Thanks for fixing this! :+1:

[2016-05-10 07:06] wa4557 opened #151 "Correct chrome icons to compare to"
The icons that we use right now to compare the chrome icons to are incorrect, since they seem to have changed over the last releases. We might need to implement something that allows to loop over multiple `png` icons in the `get_correct_chrome_icons` function

[2016-05-10 07:09] wa4557 opened #152 "Gitter desktop"
Gitter still uses a hardcoded icon. It is build using chrome as base, as far as I understand, so maybe the icon is located in `nw.pak` (haven't found it though)

[2016-05-10 08:49] bil-elmoussaoui commented on #152
I didn't found it neither, i think that the icon is hardcoded in the binary file? don't know if it's possible..

[2016-05-10 08:52] bil-elmoussaoui commented on #151
We just need to create a folder for each release and loop over the icons in each folder, once an icon is found in the folder we don't look on the next one?

[2016-05-10 09:17] wa4557 commented on #151
I think we can throw them all into one folder and just append sth like `-1.png` to it and then compare it. I'm working on that... I just can't get the notifications to work, so I don't know which icons are the correct ones.

[2016-05-10 09:31] wa4557 commented on #151
I fixed the code. All we need now is to put the new icons into the same folder alongside the old ones with `1.png` `2.png` etc. suffixes

[2016-05-10 09:39] bil-elmoussaoui commented on #151
I will add the new icons (if i can find them) in a few minutes

[2016-05-10 10:11] wa4557 commented on #152
I might be able to filter it out from the binary and replace it. Might be worth a try...

[2016-05-10 19:30] bil-elmoussaoui commented on #152
The icon names are here https://github.com/gitterHQ/desktop/tree/master/nwapp/img. I still don't know if they're hardcoded or not;

[2016-05-11 18:32] wa4557 commented on #152
As far as I can see, the png is not stored in the binary, extracting the png files that are stored directly in the binary only gives different pngs...

[2016-05-11 18:37] bil-elmoussaoui commented on #152
Gitter will release a new version of their app soon, lets wait and see if
they will move to Electron?
Le 11 mai 2016 20:32, "Andreas Angerer" <notifications@github.com> a écrit :

As far as I can see, the png is not stored in the binary, extracting the
png files that are stored directly in the binary only gives different
pngs...

—
You are receiving this because you commented.

Reply to this email

[2016-05-14 09:53] bil-elmoussaoui opened #153 "Nylas N1 support"
Nylas is another Electron app

[2016-05-14 13:49] wa4557 commented on #153
key for the icons is:

    ['files']['static']['files']['images']['files']['toolbar']['files']

then there are a lot of files there:
    u'toolbar-popout@2x.png',
    u'toolbar-star-selected@1x.png',
    u'toolbar-markasread@1x.png',
    u'toolbar-movetofolder@2x.png',
    u'toolbar-folder@2x.png',
    u'toolbar-tag@1x.png',
    u'toolbar-reply-all@2x.png',
    u'toolbar-attach@2x.png',
    u'tool

[2016-05-14 13:51] bil-elmoussaoui commented on #153
Are you sure? I found 3 icons
[code]

[2016-05-14 13:53] wa4557 commented on #153
oh good I looked at the wrong icons... Actually the `electron` script should work for them as well

[2016-05-14 13:56] bil-elmoussaoui commented on #153
But i can't get the main key of `system-tray`

[2016-05-14 13:59] wa4557 commented on #153
Yeah me neither...

[2016-05-15 03:16] bil-elmoussaoui commented on #153
fixed in 4e384fcec074f1b126151c7630510cb8d3fa66db

[2016-05-15 03:16] #153 closed

[2016-05-15 12:40] bil-elmoussaoui opened #154 "Force icon theme"
I think that the user should have the possibilty to use an other icon theme instead of using the default one.
For example, if you use an other icon theme and it's does not support all the hardcoded icons, it would be perfect combination with `--only` option.

@wa4557 What do you think?

[2016-05-15 12:43] wa4557 commented on #154
Sure. A `--theme` flag should be a good idea

[2016-05-15 13:23] bil-elmoussaoui commented on #154
Just started working on this, but i can't see how i can use the other theme without changing the theme for a moment
I found a function on the documentation `Gtk.IconTheme.set_custom_theme(IconTheme theme_name)` it takes an object of type IconTheme, but how i can create a new one using the theme name entered by the user! Do you have any idea?

[2016-05-15 13:25] bil-elmoussaoui commented on #154
Nevermind ,fixed that :p

[2016-05-15 13:28] #154 closed

[2016-05-15 13:57] bil-elmoussaoui commented on #151
The only icons that looks like notification tray icon are
In the `chrome_100_percent.pak`
![5622](https://cloud.githubusercontent.com/assets/7660997/15274545/d36de7de-1ab4-11e6-98d5-e29915bd3d83.png) ![5623](https://cloud.githubusercontent.com/assets/7660997/15274543/d36d82c6-1ab4-11e6-9311-a85f08ec84f4.png) ![5624](https://cloud.githubusercontent.com/assets/7660997/15274544/d36dbd7c-1ab4-11e6-9c8

[2016-05-15 13:58] wa4557 commented on #151
can you get them to show up? I can't...

[2016-05-15 14:03] bil-elmoussaoui commented on #151
I can't neither.. and that's why http://www.omgchrome.com/chrome-drops-notification-center-from-windows-mac-and-linux/

[2016-05-15 14:05] wa4557 commented on #151
Oh nice, was completely useless anyways :)

[2016-05-15 14:06] bil-elmoussaoui commented on #151
Yeah

[2016-05-15 14:06] #151 closed

[2016-05-15 14:20] bil-elmoussaoui opened #155 "Add the script to pip"
The script is growing up more and more and in order to make it easier to fix ugly tray icons. I thought that we can add the script to pip packages (if it's possible) so the user can upgrade to a newer version and can use it by something like `sudo -E Hardcode-Tray` which is better than having to clone the package each time you want to use it.

@wa4557 What do you think about that? :)

[2016-05-15 14:27] wa4557 commented on #155
I don't know. Isn't pip supposed to be for python modules, rather than scripts doing something which happens to be written in python?

[2016-05-15 14:30] bil-elmoussaoui commented on #155
Not really, you can even add examples for your module as a pip package or scripts (you can find them easily in the search section). It's just package manager for everything related to Python

[2016-05-15 14:31] wa4557 commented on #155
Probably a ppa would still be better? (I have no experience with this kind of things...)

[2016-05-15 14:33] bil-elmoussaoui commented on #155
Well, i would love to have a PPA but it will only works with Ubuntu, and those stuffs changes a lot. Adding the script to pip will make it available for all linux users

[2016-05-18 07:03] wa4557 opened #156 "Spotify script dangerous"
In the spotify script, the script generates a folder in `/` repacks the `zip` folder and removes this folder afterwards. This is because it is only possible to update a file in a zip archive if it has exactly the same absolute path as in the zip file, I don't know why...

Is the last `rm -rf /_linux/` potentially dangerous, we don't want a `rm -rf /` to happen, when running the script. Is there an

[2016-05-18 12:01] bil-elmoussaoui commented on #156
Totally agree with you! We can use `zipfile` i did some searches and i think we can update a zip file without having to extract it. There's an example of the code here [StackOverflow](http://stackoverflow.com/questions/25738523/how-to-update-one-file-inside-zip-file-using-python)

[2016-05-18 19:10] wa4557 commented on #156
Well as far as I understand this still does not allow changing files in place

[2016-05-19 13:02] bil-elmoussaoui opened #157 "Messenger support"
Messenger for desktop is a nodejs wrapper for Facebook messenger https://github.com/Aluxian/Facebook-Messenger-Desktop

The icon is mustly hardcoded on the binary file i guess..

[2016-05-21 18:01] bil-elmoussaoui opened #158 "Add Electron apps to how to contribute"
We should add a small paragraph on how to get the icons from the `asar.file`

[2016-05-21 19:45] wa4557 commented on #158
Hmm. I don't know. It is actually pretty hard to figure out the right icons, isn't it?

[2016-05-21 19:45] wa4557 commented on #157
Is this app released yet? (Haven't found a deb to figure out where to look)

[2016-05-21 19:47] wa4557 commented on #156
I did some research, and it seems that there is no easy way to do that :(  so we either keep it as it is now, or we go back to extracting etc. (I vote for keeping it as it is now)

[2016-05-21 19:50] bil-elmoussaoui commented on #158
Yes, the hardest part is finding the key of the icons :( but we can just explain briefly how that works and how to extract an `asar` file using `asar` npm package, what do you think?

[2016-05-21 19:51] bil-elmoussaoui commented on #157
There's a deb file here https://messengerfordesktop.com/

[2016-05-21 19:53] bil-elmoussaoui commented on #156
I vote for keeping the script as it's now, maybe using the absolute path of the directory instead of  ` rm -rf /_linux/` to avoid removing an other folder? this will reduce the probability of removing everything

[2016-05-21 19:56] bil-elmoussaoui commented on #155
I thought about this, and i was looking on aur packages and i find out that someone created an aur package for Hardcode-Tray but it's really cool to see that :) I think we should create a simple bash script that will be called instead of calling the python file, the bash script will call `sudo -E python3 script.py $1...`
The installation will be a simple script that will copy the cloned folder to

[2016-05-21 20:12] wa4557 commented on #156
Well that is the absolute path. But yeah thinking about it, it is actually not dangerous since this path is hardcoded anyways...

[2016-05-21 20:13] wa4557 commented on #157
Seems to be the same as with Gitter. No idea how to fix that (yet)

[2016-05-21 20:16] wa4557 commented on #155
Nice!

I like the idea of a script that acts as a wrapper, but it is actually not necessary. Just rename `script.py` to `hardcode-tray`(or sth else is probably better, but without ending, since we have the shebang there).

And we have to think about a way to not use the `-E` flag for `sudo`

[2016-05-21 20:19] bil-elmoussaoui commented on #155
I think having an other bash script that will have those optional options :
- `update`
- `version`
And if none of them is used the bash script calls the python file with the `-E` flag. And we can't really remove the `-E` flag as it's used to detect the default theme too. Try runing the script with `sudo python3 script.py --size 24` the theme name won't be Numix but the default theme on your distro

[2016-05-21 20:24] bil-elmoussaoui commented on #157
All the nw.js applications have a `icudtl.dat` file. Maybe we should see if we can extract it ?

[2016-05-21 20:26] wa4557 commented on #157
That's a chromium specific file, I don't think that the icons are stored in there...

[2016-05-21 21:11] bil-elmoussaoui commented on #155
I've added a new branch `install`, the branch contains `hardcode-tray`, `install.sh` and `uninstall.sh`
The `install.sh` and `uninstall.sh` are scripts that will be called by the user from the documentation.

[2016-05-21 21:14] bil-elmoussaoui commented on #156
Closing this then, we might find a better solution using only python in the futur :)

[2016-05-21 21:14] #156 closed

[2016-05-21 22:45] #155 closed

[2016-05-22 01:32] bil-elmoussaoui commented on #158
Added few texts, can you see if everything is cristal clear?

[2016-05-22 08:13] wa4557 commented on #158
Looks fine :+1:

[2016-05-22 08:13] #158 closed

[2016-05-22 12:33] wa4557 opened #160 "Script not working"
No time to fix it, but just a quick reminder that the last changes broke the script:

[code]

[2016-05-22 12:37] bil-elmoussaoui commented on #160
Works perfectly here.. can you try with the modification i just pushed?

[2016-05-22 12:39] wa4557 commented on #160
No that didn't help. Reproducible when running the script outside of the `Hardcode-tray` folder. Just go to your `home` folder and try running `hardcode-tray`

[2016-05-22 12:52] #160 closed

[2016-05-22 12:53] bil-elmoussaoui commented on #160
Forgot to test the script somewhere else than the installation folder :P Should be fixed now

[2016-05-22 15:42] bil-elmoussaoui commented on #157
I've found a way to theme nw.js application; i will create a PR soon

[2016-05-22 16:18] bil-elmoussaoui commented on #157
Well, i have a few issues with that. The icons and all the files informations are stored in the executable file. Which is a normal zip file that you can extract. The first issue is that the extracted folder does not have the same size as the executable file at all...
But all we have to do is
- Extract the binary file (zip file)
- Change the icons
- Zip the file again  https://github.com/nwjs/nw.js

[2016-05-22 16:57] wa4557 commented on #157
Do we have to really extract that or is it possible to do it like with the spotify icon?

[2016-05-22 17:05] bil-elmoussaoui commented on #157
I don't know if it's possible to modify the file directly, didn't try it yet

[2016-05-28 10:11] kerozoli opened #161 "Spotify support is broken in latest version"
Spotify support is broken for me in the latest version (earlier version worked for me)
Error in console :

Spotify -- fixed using spotify-indicator
fixing failed with error:
	/opt/Hardcode-Tray/database/scripts/spotify: 3. sor: cd: ./database/scripts: Nincs ilyen fájl vagy könyvtár
	python3: can't open file 'svgtopng.py': [Errno 2] No such file or directory

[2016-05-28 10:16] bil-elmoussaoui commented on #161
Can you try changing the `spotify` script file to this
[code]
The spotify file is in `/opt/Hardcode-Tray/database/scripts/`
In the latest version of Spotify, the indicator is not working anymore that's why i can't test if the solution works!
Thanks for reporting

[2016-05-28 10:23] kerozoli commented on #161
Hi,

The fix isn't working for me.
Yeah,I still using spotify 0.97... because of the indicator :)
I will try to fix the script and make a pull request if it works.
Is this good for you ?

Thanks,
Zoltán Keresztes

[2016-05-28 10:27] bil-elmoussaoui commented on #161
PR are welcome :) You can just change `    python3 ./svgtopng.py "$1" "$f"` to `    python3 /opt/Hardcode-Tray/database/scripts/svgtopng.py "$1" "$f"` but it's not the cleanest solution

[2016-05-28 10:39] kerozoli commented on #161
The "cd" in the 3. line isn't working :

cd ./database/scripts

because the actual directory is where i run "hardcoded-tray"

if I change this line to :

cd /opt/Hardcode-Tray/database/scripts

everything works fine

But this isn't clean too :)

[2016-05-28 10:50] bil-elmoussaoui commented on #161
Fixed! Run `hardcode-tray --update` to update your script.
Thanks for reporting again :)

[2016-05-28 10:54] kerozoli commented on #161
It works :) Thanks for the fix

[2016-05-28 11:24] wa4557 opened #162 "Franz"
another (great) electron app. http://www.omgubuntu.co.uk/2016/04/franz-messaging-app-linux-slack-whatsapp-telegram. This one can be themed wthout altering the `app.asar` file but just by replacing a few icons. The thing is: There is no official way to install it but just downloading a source package and run it from there, which means that there is no "official" location for the icons.

How do we d

[2016-05-28 11:32] bil-elmoussaoui commented on #162
Maybe having a hardcoded path for application directory?
During the fix, if the icons do exists, we ask the user to enter the application path, which is not perfect if the user updates the script. We will need an other csv file stored, on `~/.config/` with the hardcoded paths of each application(this one, and maybe others on the future)
But the hardest part, is how to detect if the application is

[2016-05-28 11:34] wa4557 commented on #162
But how can the script detect if the app exists?

[2016-05-28 11:37] bil-elmoussaoui commented on #162
I've got a better idea!
We add `franz` support with `/opt/franz` as the default path (Aur package https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=franz)
We modifiy `--only` so the user can write a `--path` to the application directory. And ofc, we do that only if the user wants to fix only one application!

[2016-05-28 11:39] wa4557 commented on #162
:+1:

[2016-05-28 11:41] bil-elmoussaoui commented on #162
Do you want to do that? i will look into fixing nwjs apps tomorrow

[2016-05-28 11:42] wa4557 commented on #162
I'll do my best. So just to be clear: `--path` should only work if there's also the `--only` flag, right?

[2016-05-28 11:46] bil-elmoussaoui commented on #162
It should work only if the https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/script.py#L320 has only one application, as you can fix more than one application using `--only`
`hardcode-tray --only dropbox --path /opt/dropbox/` should work, but `hardcode-tray --only dropbox,skype --path /opt/skype`  should ignore the path argument

[2016-05-28 11:47] wa4557 commented on #162
Ok that's easy :)

[2016-05-28 11:48] bil-elmoussaoui commented on #162
Yep :p just a simple condition to add

[2016-05-28 12:44] wa4557 commented on #161
This is actually a bad fix. If I don't have the script installed and just try to run the script it fails now :(

[2016-05-28 17:22] bil-elmoussaoui commented on #161
I will see what i can do

[2016-05-29 13:50] wa4557 commented on #162
This should be fixed now, I guess :)

[2016-05-29 14:17] bil-elmoussaoui commented on #162
Great! :+1:

[2016-05-29 14:17] #162 closed

[2016-05-29 19:34] wa4557 opened #163 "teamviewer doesn't work anymore"
I have absolutely no idea why, but teamviewer stopped working :( `libsniqt.so` is replaced correctly and also the icons in `/home/andreas/.local/share/sni-qt/icons/TVGuiDelegate` seem to be ok (the names there are the same as in `/tmp/sni-qt_TVGuiDelegate_2694-jFooF2/icons/hicolor/24x24/apps`.

Any ideas?

[2016-05-29 21:09] bil-elmoussaoui commented on #161
I've pushed a better fix, can you guys test it ? :+1:

[2016-05-29 21:11] bil-elmoussaoui commented on #163
I've no idea.. it's just happened or after an update?

[2016-05-29 21:27] wa4557 commented on #163
I don't know. Worked great all the time, reinstalled teamviewer (same version) and it stopped working

[2016-05-29 21:34] bil-elmoussaoui commented on #163
Have you tried to reinstall the application again?

[2016-05-29 21:36] wa4557 commented on #163
sure

[2016-05-29 21:41] bil-elmoussaoui commented on #163
If skype works, and teamviewer wroked before the only thing that i can think of is that somehow teamviewer does not use `libsniqt.so` anymore.. but it's the same version :( can you try a downgrade?

[2016-05-30 12:36] kerozoli commented on #161
I tested the fix and it's working
Thanks

[2016-05-30 12:36] #161 closed

[2016-05-30 12:42] kerozoli opened #164 "Viber support"
Latest viber fully supports ubuntu-tray and viber-wrapper not working properly anymore.

Here's the new viber tray icon without viber-wrapper:
![viber](https://cloud.githubusercontent.com/assets/10573944/15649789/6496bc16-2674-11e6-8ad1-54512de6713a.png)

Could you please support Viber ?
(I could work on the support if necessary but unfortunetly only after June 20)

Thanks

[2016-05-30 12:50] bil-elmoussaoui commented on #164
We will see what we can do about it :)
And btw, we do support Nylas too. You can request the icons in Numix theme if you want that :)
The icon names are
- `nylas-tray-full-newitems`
- ` nylas-tray-full`
- `nylas-tray-empty`

[2016-06-01 19:17] wa4557 commented on #164
Since viber is not open source but proprietary, I'm not sure
a) if we can do that, because the software is only distributed as a binary blob, which makes it very hard to unpack it / change it
b) if we are allowed to do that. I have no idea about licencing but changing the tray icon, might be violating the licence agreement

[2016-06-01 19:34] bil-elmoussaoui commented on #164
@wa4557 I was thinking of forking the old viber wrapper indicator, port it to python3 and make it use the icon names provided by the default themes. And add that to `/database/scripts/` once the user install it, the script is copied to `/usr/bin/` as `viber-wrapper` and it changes the desktop file to execute `viber-wrapper` instead of `viber`

[2016-06-01 19:37] wa4557 commented on #164
Actually fixing the app should be fairly easy,because there seems to be an icon folder where we can replace the icons. As I said I'm not sure if we are allowed to do that; but I actually think it's fine

[2016-06-01 19:43] bil-elmoussaoui commented on #164
@wa4557 Already tried that, the application does not use the icons in `/icons` folder :(

[2016-06-01 19:46] wa4557 commented on #164
Ah ok, if vber-wrapper provides the same functionality as the original tray icon, then I think your idea is pretty cool :)

[2016-06-01 19:48] bil-elmoussaoui commented on #164
Yeah, the tray icon only provides `Open Viber` and `Exit`. I will create a branch, with the old script from `Viber-Wrapper-Indicator` repo and start tweaking it ;)

[2016-06-01 20:19] bil-elmoussaoui commented on #164
@wa4557  I've pushed a first commit to port the code to Gtk3, still need some work. I might need some help if you're free of course

[2016-06-03 14:38] wa4557 commented on #164
Sure, what should I do?

[2016-06-03 14:42] bil-elmoussaoui commented on #164
I've updated the code. Still few `os.system` that should be replaced by `subproccess`. Other than that, the code is on Gtk3 now, but runing it shows an exception
[code]
Something still need to be updated but i don't have the time to look at the moment

[2016-06-03 14:44] wa4557 commented on #164
I'll have a look. I am a bit busy myself right now...

Bilal Elmoussaoui <notifications@github.com> schrieb am Fr., 3. Juni 2016,
16:42:

[2016-06-03 23:32] IronJaeger opened #165 "sudo -E hardcode-tray not working"
runing "sudo -E hardcode-tray" after installation returns error message:
" You need to run the script using 'sudo -E'.
Please try again"

Thanks :)

[2016-06-03 23:33] bil-elmoussaoui commented on #165
Script was not able to desktop session, you can fix that by forcing icon size
`sudo -E hardcode-tray --size 24` or 22 if it's fits better with Solus

[2016-06-04 00:07] IronJaeger commented on #165
tried both, killed budgie-panel for refresh, didn't show anything :/

[2016-06-04 00:08] bil-elmoussaoui commented on #165
What was the output after using `sudo -E hardcode-tray --size 24`?

[2016-06-04 00:09] bil-elmoussaoui commented on #165
* Sorry, you should not call the script using sudo -E, just call `hardcode-tray --size 24 --theme Numix-Circle` (the theme is detected automatically, but just in case.)

[2016-06-04 00:26] IronJaeger commented on #165
My icon theme is recognized as Faba , this is the icons folder by Jeorge Sanchez from soluscentral: https://drive.google.com/file/d/0B3A0PYw7fIlJOWZ1VUR1YS1oM00/view?usp=drive_web  we use this because the numix icons do not have "symbolic" which contains the menu button and it replaces it with the ugly stinky gnome foot. with this pack you got Numix circle with mnu button that you can change it wi

[2016-06-04 00:33] bil-elmoussaoui commented on #165
Ah i thought you were using Numix Circle with Numix base icons! The theme you're using does not provide a `google-chrome-tray` icon. You will need to add this icon to your icon theme, update the cache and run the script again. Closing as this has nothing to do with script!

[2016-06-04 00:33] #165 closed

[2016-06-04 00:41] IronJaeger commented on #165
All right, thanks for everything,  "lah yhfdeeeek"  :D

[2016-06-05 16:26] wa4557 commented on #164
Yeah, the script seems to be not working and not detecting a running viber instance. The rewrite of viber also seems to have broken viberwrapper-indicator (as far as I understand, I might be wrong).

This almost makes it impossible to use the already existiing script imo

[2016-06-05 16:46] bil-elmoussaoui commented on #164
We should just rewrite the detection part of the script. The indicator and actions(hide/show and quit) should work without any problem. I will try to find a way to replace the old code used to detect the runing process

[2016-06-12 17:25] wa4557 commented on #135
I pushed a PR in telegram, that at least allows to replace the icons as it was possible before. System icon theming is still not possible though :(

We'll see if it gets merged

[2016-06-15 14:47] suprovsky opened #166 "Not working Dropbox theme icons"
[code]
did nothing.
I'm using Gentoo x64 with latest stable packages + unstable Dropbox 5.3.23. I've installed dependencies by manual compiling. The same thing was on every version of dropbox. Only version 2.10.2 had nice icons.

When I was emerging new version of dropbox in verbose mode, I found out where dropbox keep its tray icons:
[code]
I've converted icons from Numix-Circle theme to png, rep

[2016-06-15 14:51] bil-elmoussaoui commented on #166
Where did you replace the icons ? in `/usr/share/icons/hicolor/16x16/status`?

[2016-06-15 14:52] suprovsky commented on #166
Yeah.

[2016-06-15 15:01] bil-elmoussaoui commented on #166
Well, which means that Dropbox get the icons from the fallback theme instead of Numix. I can't do anything about it. It must be the distro you're using :/

[2016-06-15 15:03] suprovsky commented on #166
I will test it tommorow on Xubuntu 16.04 and I'll give you more info about that.

[2016-06-15 15:04] bil-elmoussaoui commented on #166
Thanks! And i can't add this path `/usr/share/icons/hicolor` to the dropbox path as this will change the fallback theme

[2016-06-18 17:57] bil-elmoussaoui commented on #166
@suprovsky any news?

[2016-06-24 19:20] sagarpanchal commented on #105
@bil-elmoussaoui https://github.com/clementine-player/Clementine/blob/f482612127ca72ea92cd04b95f33c6ae3a1ddab7/dist/CMakeLists.txt

[2016-07-10 12:06] bil-elmoussaoui commented on #166
Reopen this if you have any more info!

[2016-07-10 12:06] #166 closed

[2016-07-10 12:06] bil-elmoussaoui commented on #163
@wa4557 You can still reproduce this ?

[2016-07-10 12:41] wa4557 commented on #163
Sadly yes :(

[2016-07-14 10:18] wa4557 opened #167 "Support for skypeforlinux"
The [new](http://www.omgubuntu.co.uk/2016/07/skype-linux-alpha) skypeforlinux seems to be an electron app, and has the typical `app.asar` file. Should be easy to fix.

[2016-07-14 10:24] bil-elmoussaoui commented on #167
I took a look at the asar file and i find this
[code]
Do you think that we should change the files in `mac` key or `win` one ? as there's no key for linux

[2016-07-14 10:38] wa4557 commented on #167
Probably the win ones ? Not sure, cannot try out at the moment

[2016-07-16 15:22] Winterwolf opened #168 "Not working with skype"
I just installed [latest](https://www.skype.com/en/download-skype/skype-for-computer/) skype for ubuntu 64 (12.04 multiarch), run your script and nothings changes.

[2016-07-16 15:24] wa4557 commented on #168
Have you installed the modified `sni-qt` package?

[code]

[2016-07-16 15:30] Winterwolf commented on #168
Yes, just installed. Run script again and nothing. With other apps (dropbox for example) script works fine. I'm using lubuntu 16.04.

[2016-07-16 15:31] bil-elmoussaoui commented on #168
Can you paste the output of the script when you run it?

[2016-07-16 15:32] Winterwolf commented on #168
[code]

[2016-07-16 15:33] bil-elmoussaoui commented on #168
Can you try to restart your machine? btw, you can just run `hardcode-tray` instead of `sudo -E hardcode-tray`

[2016-07-16 15:35] Winterwolf commented on #168
Same output and skype icon is still green.

[2016-07-16 15:37] wa4557 commented on #168
Are you using the new `skypeforlinux` client?

[2016-07-16 15:38] Winterwolf commented on #168
No

[2016-07-16 15:39] Winterwolf commented on #168
![skype](https://cloud.githubusercontent.com/assets/405685/16895589/8cde8e80-4b84-11e6-89d8-9d90f372ac17.png)

[2016-07-16 15:39] wa4557 commented on #168
@bil-elmoussaoui Maybe the same problem as with teamviewer?

[2016-07-16 15:40] Winterwolf commented on #168
I don't know. I'm not using teamviewer.

[2016-07-16 15:40] bil-elmoussaoui commented on #168
@wa4557 TeamViewer uses sni-qt:32 version too?

[2016-07-16 15:41] wa4557 commented on #168
Yeah

[2016-07-16 15:42] bil-elmoussaoui commented on #168
@cybre Can you please take a look if the 32bits patched version is outdated? Thanks! :+1:

[2016-07-16 15:45] wa4557 commented on #168
Cannot confirm that. For me skype works (teamviewer doesn't). @Winterwolf Can you post the output of
`ls /tmp/sni-qt_skype_13278-aGlMoJ/icons/hicolor/24x24/apps`?

[2016-07-16 15:45] bil-elmoussaoui commented on #167
@wa4557 Going to push a fix soon, but Numix misses a new icon used on this version
the default icon
![tray-skypetemplate 2x](https://cloud.githubusercontent.com/assets/7660997/16895614/a2d536c2-4b74-11e6-980d-ded4a4391ffc.png)
I think we should use `skype-indicator` as an icon name for this. Can you add this icon to Numix theme? :+1:

[2016-07-16 15:49] Winterwolf commented on #168
@wa4557 there is no such file or directory

[2016-07-16 15:51] wa4557 commented on #168
With running skype? Something similar in `\tmp` (like `\tmp\sni-qt_skype_*`)?

[2016-07-16 15:52] Winterwolf commented on #168
`/tmp/sni-qt_skype_20454-AacStX/icons/hicolor/24x24/apps$ ls
skype_20454_0972e5fde53a4a87346ebb91c4c2b159.png  skype_20454_37e170fc54e7355d9d298917e74f9ea9.png  skype_20454_dad77418071bead905e2dbe605715dcd.png
skype_20454_2d1ee5482260fd9cd180b32787792683.png  skype_20454_6cbeda8e2c9f56d3ac75ccdf8d282a69.png  skype_20454_f2fc4a539a7b9553f5b35241d1154e84.png
`

[2016-07-16 15:55] bil-elmoussaoui commented on #167
![tray-offlinetemplate 2x](https://cloud.githubusercontent.com/assets/7660997/16895649/b5af2cde-4b75-11e6-9ed4-72024910a872.png)
there's that one too
the icon name must be something like `skype-status-hidden`. It uses the same icon as `skype-status-offline`
![selection_001](https://cloud.githubusercontent.com/assets/7660997/16895666/0a1a3af2-4b76-11e6-8bd2-b8886b3f18a7.png)

[2016-07-16 15:56] bil-elmoussaoui commented on #168
Can you share a screenshot of this folder too? Also check if you have any icons here `~/.local/share/sni-qt/icons/`

[2016-07-16 15:57] cybre commented on #168
I no longer maintain the patched sni-qt, you are free to fork it and publish it in your own PPA.

[2016-07-16 15:58] wa4557 commented on #167
Yep, going to add them asap :)

[2016-07-16 15:58] bil-elmoussaoui commented on #168
@cybre thanks for the answer!
@wa4557 @Winterwolf can you guys try to build the patched version from source code?

[2016-07-16 16:07] #167 closed

[2016-07-16 16:15] Winterwolf commented on #168
I'm sorry, something strange happens with my system! At first I lost access rights ~/.local/share (they changes to root), then skype is crashes! Now I change rights to all files in my home directory and then restart PC. After this Skype icon is gray. Sorry guys and thank you very much!

[2016-07-16 16:15] #168 closed

[2016-07-16 16:19] bil-elmoussaoui commented on #168
You're welcome! Don't hesitate to report any other issues in the futur :)

[2016-07-17 13:57] bil-elmoussaoui opened #169 "Caprine and Anatine support"
More electron apps out there
Caprine is yet an other Facebook Messenger application built using Electron, the `app.asar` file is installed on `/usr/share/caprine/resources/`
The tray icons are
![selection_002](https://cloud.githubusercontent.com/assets/7660997/16900973/8092f1da-4c2d-11e6-8085-1a82e5a137a2.png)
They're stored in `files/media/files/`
The icon names are :
- `IconTray.png`
- `IconTray

[2016-07-17 14:00] bil-elmoussaoui commented on #163
@wa4557 Can you build the latest version of sni-qt and try again? If it's not working, what distro/ubuntu version you're using? the same for the desktop env so i can try it too.

[2016-07-17 14:43] wa4557 commented on #163
Tried to build it from source. Same behaviour. Skype works but teamviewer doesn't. Using Ubuntu 16.04

[2016-07-17 14:45] wa4557 commented on #169
why not double th sizes if the filename contains @2x?

[2016-07-18 10:18] bil-elmoussaoui commented on #169
I will see what can i do :) shouldn't be that hard to implement!

[2016-07-18 14:44] #169 closed

[2016-07-18 14:46] bil-elmoussaoui commented on #169
@wa4557 Fixed the issue! Everything is working perfectly right now:)

[2016-07-18 14:49] bil-elmoussaoui commented on #153
@wa4557 if you still have issues finding the main key to the tray icons, what i do is to extract the asar file to a folder using `asar` npm package. and look for the icons using my default files manager and once i have the path to the icons i add `files/` before each folder name and it works: p

[2016-07-18 14:59] bil-elmoussaoui opened #170 "Show a progressbar"

[2016-07-18 15:40] bil-elmoussaoui commented on #135
@wa4557 The guys from telegramdesktop have added your fix to the dev branch.
@cpriego Can you try using the dev version of telegramdesktop or just check the latest stable version and see if your issue was fixed?

[2016-07-18 17:53] cpriego commented on #135
It's been fixed since the latest couple of versions. I've been able to copy the icons to the tdata/ticons folder and telegram picks ups any existing icons. If the icon "number" does not exist is automatically generated (with the default telegram style).

Here are some pics of the ticons folder
![](https://s31.postimg.org/eli2di0jf/muestra_003.png)

and the Panel
![](https://s32.postimg.org/mddhjl4

[2016-07-18 20:39] bil-elmoussaoui commented on #135
That's great :D glad it's fixed now

[2016-07-18 20:39] #135 closed

[2016-07-18 22:14] bil-elmoussaoui commented on #163
I will try to install Ubuntu on a VM and check if i can reproduce this

[2016-07-19 11:24] bil-elmoussaoui commented on #145
@wa4557 Can you give a look at this one? It was by far the only application that we haven't successed to fix until now...

[2016-07-21 16:07] wa4557 commented on #145
I'm not even able to install this app oO Some serious library issues with Ubuntu 16.04. Anyways there seems to be a png shipped with this program? Isn't it the one that needs to be replaced?

[2016-08-08 17:32] incorwild commented on #135
@cpriego where can I get icons for telegrams to be replaced? can you share them?

[2016-08-08 18:07] bil-elmoussaoui commented on #135
Just install Numix thème, make it as your default theme and run the script as mentionned on the readme

[2016-08-08 18:10] cpriego commented on #135
@incorwild Well, I just batch copied the png files in the folder but I'll share them here anyway https://db.tt/iLeSQw9d

[2016-08-08 18:11] wa4557 commented on #135
@incorwild Why don't you run the script? That's what it is for :)

[2016-08-09 07:15] incorwild commented on #135
@cpriego thanks
@bil-elmoussaoui @wa4557 I do not want to install all the dependencies for one icon, which can be copied manually

[2016-08-09 10:38] bil-elmoussaoui commented on #135
You don't need to install all of them.. just inkscape or cairosvg!

[2016-08-11 08:25] wa4557 opened #171 "Fixing failed for electron icons"
[code]
this happened when trying to fix skypeforlinux

[2016-08-11 11:05] bil-elmoussaoui commented on #171
Maybe the keys changed on the latest version of skype? We need to check if d[k] exists first to avoid this error

[2016-08-13 13:51] edgard opened #172 "Changing parent directories owner"
Seems like the current version is changing the parent directories (/, /home) owner to the current user applying the fix. Check this out: https://asciinema.org/a/82689

EDIT: Ubuntu GNOME Xenial

[2016-08-13 16:06] bil-elmoussaoui commented on #172
I will take a lot asap! Thanks for reporting the issue

Le 13 août 2016 15:51, "Edgard Castro" <notifications@github.com> a écrit :

[2016-08-18 12:18] szekeres2016 commented on #172
I had login issues on my ubuntu installation after using this (there were some permission issues I could not figure out how to fix), could this have been a reason? I did not made any attempt since I reinstalled with this just to be safe.

[2016-08-19 17:18] #172 closed

[2016-08-19 17:20] bil-elmoussaoui commented on #172
@edgard I've added a ignore list to avoid that. The fix was pushed to master. You can't not upgrade to the latest version (4.0) as it's still on beta! Please clone the repo,  revert the permission issues caused by the script before, try again and report back if you have any issues!

[2016-08-19 17:21] bil-elmoussaoui commented on #172
@szekeres2016 Your issue has nothing to do with this as far as i can tell. The script only changes the permissions of /home in order to be able to create .sni-qt folder and change it permission to the current user applying the fix so the icons can be used by Qt apps...

[2016-08-19 17:43] edgard commented on #172
Hey Bilal!

Just tried and it doesn't seem to work. There's also a small error on the script. Here's a test:
https://asciinema.org/a/19ftlqijauui811dowta5lwwb

Thanks a lot for the great work!

[2016-08-19 17:48] szekeres2016 commented on #172
Even after a reboot there seems to be no difference...

![tray](https://cloud.githubusercontent.com/assets/20751590/17818887/beaae96e-6645-11e6-92f1-865f63d8df04.png)

[2016-08-19 18:22] bil-elmoussaoui commented on #172
@edgard I don't see any error message? i will push an other fix soon!
@szekeres2016 Which indicators does not work and should work or (marked as fixed when you use the script?). Have you installed the patched version of sni-qt?

[2016-08-19 18:26] edgard commented on #172
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/script.py#L154

Should be "not in" instead of "is not in"? Here it's throwing an error.

[2016-08-19 18:29] bil-elmoussaoui commented on #172
Indeed! Thanks, i don't have my laptop and just trying to fix those issues using github without even testing the code :P

[2016-08-19 18:46] edgard commented on #172
Last fixes working like a charm, all good in the hood!

Thanks!

[2016-08-19 18:57] bil-elmoussaoui commented on #172
Thanks for reporting! :+1:
@szekeres2016 Please open a new issue if you have any unreleated issue!

[2016-08-20 21:08] aviskase opened #173 "KeePassX - Generic application icon instead of the tray icons"
Hello! I found an issue #143 that should have fixed tray icons for KeePassX.
When I'm running `hardcode-tray` it seems to successfully fix them:

[code]
But nothing happens: tray icon is still generic application icon, not the ones committed in the https://github.com/numixproject/numix-icon-theme/issues/1000
![0821_997](https://cloud.githubusercontent.com/assets/3819473/17833881/2aeba0b2-674c-11e6

[2016-08-21 12:13] bil-elmoussaoui commented on #173
Can you take a screenshot of the content of /usr/share/keepassx/icons? Also which version of Keepassx/Numix circle are you using?

[2016-08-21 14:43] aviskase commented on #173
Versions:

- keepassx: 2.0.2-1.02~eugenesan~wily1
- numix-icon-theme: 0.3+824~201608071940~ubuntu16.04.1
- numix-icon-theme-circle: 2.0.3+5~201608132046~ubuntu16.04.1

And a screenshot:
![0821_965](https://cloud.githubusercontent.com/assets/3819473/17837812/04a8ade4-67df-11e6-9969-e9f6a8ca8574.png)

[2016-08-21 16:52] bil-elmoussaoui commented on #173
What happens if you change your theme from Numix-circle to Numix?

[2016-08-21 16:58] wa4557 commented on #173
Looks like the icon is taken from circle instead of base. Might be another case for moving them to `panel`

[2016-08-21 18:29] aviskase commented on #173
Now it's plane keepassx icon.
![0821_763](https://cloud.githubusercontent.com/assets/3819473/17838905/78413d50-67fa-11e6-9a66-f3a35ec20e4a.png)

I'm beginning to think that there is something wrong with keepassx itself. Because it was mentioned in the #143 that there is standard `keepassx-locked` icon for tray --- but it never shows up regardless of theme / applying-reverting with harcode-tray.

[2016-08-21 18:36] wa4557 commented on #173
Oh yeah, the poblem is that the app uses the same name for the app icon and for the icon in the tray. Thus the theme cannot provide both :( Nothing that can be done but changing this upstream I'm afraid

[2016-08-21 19:31] aviskase commented on #173
Thanks! I used your explanation and reported an issue to keepassx bug tracker. For those, who might be interested, link is https://dev.keepassx.org/issues/527
So this one could be closed.

[2016-08-21 19:44] bil-elmoussaoui commented on #173
Thanks for reporting it upstream! We had the same issue with other application on Numix theme. Can you please keep us updated if there's any modification in the future? :)

[2016-08-21 19:44] #173 closed

[2016-08-21 19:56] aviskase commented on #173
Yep, of course =)

[2016-09-02 19:30] bil-elmoussaoui commented on #171
Can you try after removing the skypeTemplate icon line? I think this icon is no more needed

[2016-09-05 11:15] wa4557 commented on #171
All good after removing the line :)

[2016-09-05 11:20] bil-elmoussaoui commented on #171
I guess we can remove the line. But it might be used for older versions of
skypeforlinux. Maybe adding a verification to check if the key exists
before? This way we keep supporting for old versions of electron
applications

Le 5 sept. 2016 13:15, "Andreas Angerer" <notifications@github.com> a
écrit :

[2016-09-05 11:21] wa4557 commented on #171
I can do that

[2016-09-05 11:26] wa4557 commented on #171
Fixd

[2016-09-05 11:26] #171 closed

[2016-09-05 11:36] bil-elmoussaoui commented on #171
That would be great, i don't have my laptop anymore so i cant contribute to
any project at the moment :/

Le 5 sept. 2016 13:21, "Andreas Angerer" <notifications@github.com> a
écrit :

[2016-09-14 00:15] edgard opened #174 "Telegram icons getting corrupted GNOME 3.20"
Hey Bilal!

I'm getting some corruption on Telegram icons on Gnome 3.20. It's rather random when it happens so I wasn't really able to figure out a way to reproduce it. The only icon that this is happening is on Telegram (indicator icon).

![](http://oi64.tinypic.com/15mh3ro.jpg)

EDIT: icon was created with cairosvg, not inkscape.

[2016-09-14 00:24] bil-elmoussaoui commented on #174
Can you paste a screenshot of  `~/.TelegramDesktop/tdata/ticons/`?

[2016-09-14 00:26] edgard commented on #174
There you go!

![](http://oi65.tinypic.com/5m051z.jpg)

[2016-09-14 00:29] bil-elmoussaoui commented on #174
Well i guess it has something to do with the topbar extension you're using..Do you still can reproduce this bug without it?
Anyway, the icons are replaced correctly. For me, it's either a gnome-shell bug or topbar extension one. Closing this, thanks for the report anyway!

[2016-09-14 00:29] #174 closed

[2016-09-14 00:38] edgard commented on #174
Nice! I disabled the topbar extension to test, let's see how it goes.

Think it might be a GNOME issue, since on 3.16 had no problem with the same extension.

[2016-09-14 00:41] bil-elmoussaoui commented on #174
I guess it's a gnome 3.20 extension issue see this issue for more info https://github.com/jonls/redshift/issues/330

[2016-09-14 02:17] edgard opened #175 "Telegram "attention" muted chat icons unchanged"
Hey Bilal!

Another bug on the Telegram icons, the muted chat icons when in "attention" status and with an active count of messages is showing the original icons. Same thing you do for regular chats should be done for muted ones.

```icomute_22_{1-100}.png, telegram-attention-panel```

[2016-09-14 02:19] edgard commented on #174
I think I found the culprit. Seems like libappindicator-gtk3 is the problem. Removed it and installed libappindicator-gtk2 and so far so good. Will keep you posted.

[2016-09-14 08:46] bil-elmoussaoui commented on #175
Do you have any information about the max number that you can have on the counter so i can update the normal notification icons too?

[2016-09-14 12:32] edgard commented on #175
That would be 1000 (!!) according to [source](https://github.com/telegramdesktop/tdesktop/blob/master/Telegram/SourceFiles/platform/linux/main_window_linux.cpp#L88).

[2016-09-14 16:17] bil-elmoussaoui commented on #175
I will push a fix this evening!

Le 14 sept. 2016 14:32, "Edgard Castro" <notifications@github.com> a écrit :

[2016-09-14 16:26] edgard commented on #174
Confirmed to be the case, if you have libappindicator-gtk3 installed Telegram is using it and it seems to be slightly broken. It's shifting the icon 1px to left and up, thats why it's getting corrupted at the bottom/right.

[2016-09-14 16:26] edgard commented on #175
Awesome!! Thanks a lot!

[2016-09-15 18:05] #175 closed

[2016-09-15 18:06] bil-elmoussaoui commented on #175
Fixed upsteam,  will try to release 0.4 soon, otherwise you can always pull the latest code version or just update telegram database file

[2016-09-22 01:10] Floofies opened #176 "Applying sets owner/group of user home folder to "root""
On a fresh, but fully updated installation of Xubuntu 16.04 with Telegram installed, applying causes the following:
Here is my user folder **before** applying:
[code]

Here is the same folder right **after** applying:
[code]
In addition to this, the `.TelegramDesktop` and `.TelegramDesktop/tdata` folders receive the same treatment:
[code]
[code]
The owner + group are both being set to `root`. Any

[2016-09-22 01:25] Floofies commented on #176
While I have not found the bug yet, I have found a solution. Running `sudo -E -H hardcode-tray` (that's with the `-H` flag) prevents the problem from occurring.

[2016-09-22 01:54] Floofies commented on #176
Inserting `print(dir_path + str(getenv("SUDO_UID")) + str(getenv("SUDO_GID")))` above the `chown` call located on line 153 yields these results:
[code]
Followed by this is well over 50 identical blocks:
[code]
This indicates to me it could be a unique issue related to Telegram.

[2016-09-22 15:33] bil-elmoussaoui commented on #176
Hey! Thanks for the report
Are you using the latest stable version or the git one? I will investigate this and push a fix by the evening

[2016-09-22 16:01] Floofies commented on #176
Running `hardcode-tray --version` reveals I am using the latest stable version, **3.1**

[2016-09-29 19:53] bil-elmoussaoui commented on #176
The home directory issue was fixed on git version that will be released soon (i hope!) check this issue for more information #172
Can you try the latest git version ? just clone the repo/download the zip file and run `sudo -E python3 script.py --apply --only telegram` and see if you still have this issue with Telegram

[2016-09-30 15:28] Floofies commented on #176
I tested the latest git version and did not see the problem occur. Sorry, I did not know this had been fixed and probably should have searched the issues better!

[2016-10-01 09:05] Foggalong opened #177 "No Fixing Occuring"
Just done a clean install and now the script isn't working for me.
![screenshot_2016-10-01_10-03-24](https://cloud.githubusercontent.com/assets/5920259/19013056/5eda28e8-87be-11e6-9d4d-3367da1a0ce3.png)
I don't know if it's relevant but the icon theme isn't being correctly detected either. I have ownCloud installed which is covered and should have been fixed, but there's also Rambox (an electron a

[2016-10-01 10:51] bil-elmoussaoui commented on #177
You can always force the script to use an other icon theme than the one detected automatically! Just add --theme Numix (take a look at the readme for more info).
Can you open a new issue for Rambox? I will push a fix for it by this evening

[2016-10-01 10:54] bil-elmoussaoui commented on #176
Not a problem :) i will push a new release soon!

[2016-10-01 10:54] #176 closed

[2016-10-01 21:26] bil-elmoussaoui commented on #177
I just add Rambox support! You can either use the git version or wait few days until i release the 4.0 version :)

[2016-10-02 17:34] Foggalong commented on #177
Awesome, I'll get some icons for Numix asap :)

[2016-10-02 17:35] Foggalong commented on #177
@bil-elmoussaoui ownCloud isn't still being detected / fixed :confused:

[2016-10-02 18:40] bil-elmoussaoui commented on #177
Can you check if this folder exists in your case ? https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/db.csv#L36 if not can you check if there's a folder/file that i can use to check if owncloud installed

[2016-10-03 08:54] Foggalong commented on #177
I have `/usr/share/owncloud-client/` :+1:

[2016-10-03 09:20] bil-elmoussaoui commented on #177
Pushed a new commit to fix that! can  you try the latest git version?

[2016-10-03 18:44] Foggalong commented on #177
Nope, still not fixing for me :confused:

[2016-10-03 18:52] bil-elmoussaoui commented on #177
@Foggalong add this to db.csv `OwnCloud, owncloud, /usr/share/owncloud-client/,` don't understand why it wasnt commited before..

[2016-10-04 10:23] mrcodedev opened #179 "Question to change google chrome icon"
Hello,

I'm very noob at this and don't know how it really works. What I'm trying to change is the icon of google chrome bar notifications. To change it not that I really do, because I'm using icons Ultra-Flat and not if I create a folder, or that I must do. You be obliged if you throw me a hand.

Thank you very much

[2016-10-04 11:04] bil-elmoussaoui commented on #179
Please take a look at the documentation https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki everything is well explained there! if you need any more informations feel free to ask!

[2016-10-04 13:37] mrcodedev commented on #179
Hello,

if I followed the steps but don't exactly understand this:

When you execute the command, you are looking at the theme folder you currently have?, and if so how should be called in this case to change the icon of Google Chrome ?.

If I understand accomplish using your script I will help to make a tutorial in Spanish.

Thank you very much

[2016-10-04 15:01] mrcodedev commented on #179
Hello again,

in the end I succeeded but your script ... is not how it works. I've been reading comments and I have seen that in the folder tmp temporary files are stored. I saw it was there the Chrome icon and I have changed.

But out of curiosity I would like if you please how it works hardcode-tray, and not if does the same thing I've done automatically or look at the folder icons. I would like

[2016-10-04 21:54] mrcodedev commented on #179
Goodnight,

I've gotten it to work by adding -t Numix. If you would like on other issues what references look at the script to get you out icons, for example Ultra-Flat?.

Greetings and sorry for the inconvenience

[2016-10-10 15:52] Foggalong commented on #177
@bil-elmoussaoui I'm having this issue again. I have both Rambox and ownCloud installed but neither are being fixed/reverted.

[2016-10-10 16:01] bil-elmoussaoui commented on #177
Are you sure that u re using the latest git version of Hardcode-Tray? If you do how do you run the script ?

[2016-10-10 16:42] Foggalong commented on #177
Yup, I recloned just to be sure it wasn't a problem with my local repo. I run it using this command: `sudo -E ./script.py --theme Numix`

[2016-10-12 10:17] bil-elmoussaoui commented on #177
I will release a new version tonight!

[2016-10-12 10:34] bil-elmoussaoui commented on #179
Sorry for the delay,
Well hardcode-tray will look in the database file(db.csv) and check which application is installed or not. Once this is done, the list of applications has a list of icons under /database/applicationame with the icon name, the symlink icon name and other informations. The script will verify if the icon name exists in the current theme you're using
For example https://github.com

[2016-10-12 10:42] mrcodedev commented on #179
Wow!!!, thank you very much, I was watching it and I figured it was something. When you have a little more time I'll look thoroughly for use with other apps that aren't now supported. If you need a spanish translation and let me know if I can help in some way how little is too.
Greetings bil-elmoussaoui

[2016-10-12 10:44] bil-elmoussaoui commented on #179
Will do think about adding translation support later( once i've fixed all the issues..) if you have any application that is not supported yet, just open a new issue! will try to fix it as soon as possible. Thanks

[2016-10-12 10:44] #179 closed

[2016-10-21 00:01] Floofies commented on #163
I am running Xubuntu 16.04, and I see the same issue.

[2016-10-23 18:00] leoheck opened #180 "Script breaking.."
The app breaks here:

[code]

And the icons seems to be the same.

[2016-10-23 18:01] leoheck commented on #163
Same here! Ubuntu 16.04

[2016-10-23 18:02] leoheck opened #181 "Icon request - No Machine"
Hi, it is possible to add support to no-machine?
https://www.nomachine.com/

It its the red icon here:
![tray-icons](https://cloud.githubusercontent.com/assets/1277920/19628334/1d5da10a-993a-11e6-8cec-b678e4b9b4b8.png)

[2016-10-23 18:03] Floofies commented on #180
Hi, what version are you using? Find out with: `hardcode-tray --version`
Also, what OS?

[2016-10-23 18:04] leoheck commented on #180
Same as you, v3.1

[2016-10-23 18:24] leoheck commented on #170
Very simple one...

[code]

[2016-10-23 18:29] leoheck commented on #181
F.lux (1), hangouts (2), TeamViewer (4), are default icons too. I think it is because the script breaks before it finishes.

[2016-10-23 20:09] leoheck commented on #180
Is it possible that this script made my computer don't start anymore? After the unity loguin, the gui starts load (the status bar is initializing with clock and system butrons but no 3rt-party icons) then it suddenly logs me out.

[2016-10-23 20:13] Floofies commented on #180
@leoheck Check permissions of `/home` and all folders within. See #172 & #176
I would upgrade from v3.1 to the latest git version right away as well.

[2016-10-23 20:25] leoheck commented on #180
Oh, great @Floofies! Inside my home all files were ok, but I miss that verification. Why are you changing such permission? Thanks anyway.

[2016-10-23 20:30] leoheck commented on #176
@bil-elmoussaoui, this is a bug, should be updated right now, not only for version 4.0. This makes the login break.

[2016-10-24 09:28] bil-elmoussaoui commented on #180
This issue was fixed on master branch! i will push a new version soon, see #171

[2016-10-24 09:28] #180 closed

[2016-10-24 09:30] bil-elmoussaoui commented on #181
Hangouts is not supported take a look at the documentation for more informations. For TeamViewer see this #163  . F.lux icon is not hardcoded so i can't do anything about it.. open an issue for that on Numix theme.

[2016-10-24 09:31] bil-elmoussaoui commented on #170
@leoheck If you want you can open a PR to fix this ;) i'm very busy those days to work on Hardcode-Tray..

[2016-10-24 10:21] bil-elmoussaoui commented on #176
I will do by this evening! i will just add few fixes and push a new update! :+1:

[2016-10-24 11:44] leoheck commented on #180
This is the master branch and the version says v3.1

[2016-10-24 12:08] bil-elmoussaoui commented on #180
Once you've cloned the version you will need to execute `sudo -E python3 script.py ...` instead of `hardcode-tray ...`

[2016-10-26 14:56] iwex opened #182 "Not working for me"
Hello! Can't guess why it's not working for me.. I have clean Ubuntu 16.04.
![screenshot from 2016-10-26 17-50-58](https://cloud.githubusercontent.com/assets/4510068/19731078/e5e758ac-9ba4-11e6-8306-9f378e361a37.png)
I've installed script, then python3-cairosvg sni-qt sni-qt:i386, launched hardcode-tray and Apply. But with no success

[2016-10-26 14:57] bil-elmoussaoui commented on #182
Hardcode-Tray does not contain any icon on it. It only uses the icons provided by your current theme(the one you use). You can try Numix icon theme. Almost all icons are supported by Hardcode-tray are supported by Numix so it shouldn't be an issue.
Btw, what's the application indicator on top left?

[2016-10-26 15:07] iwex commented on #182
@bil-elmoussaoui hmm.. Okey, numix

![screenshot from 2016-10-26 18-07-34](https://cloud.githubusercontent.com/assets/4510068/19731734/18ea39e8-9ba7-11e6-932b-01c5dc6f820b.png)

It's https://github.com/Guake/guake

[2016-10-26 15:08] bil-elmoussaoui commented on #182
You need to run the script again once you've choosen Numix

[2016-10-26 15:10] iwex commented on #182
`iwex@iwex-pc:~$ hardcode-tray --apply
Welcome to the tray icons hardcoder fixer!
Your indicator icon size is : 22
Your current icon theme is : Numix
Svg to png functions are : Enabled
Applications will be fixed : All
Applying now..

Google Chrome -- fixed using google-chrome-tray

Done , Thank you for using the Hardcode-Tray fixer!`

Nothing has changed.

[2016-10-26 15:13] bil-elmoussaoui commented on #182
You need to force close Chrome before the icon changes. For Telegram the application is not detected. Can you tell me if this folder exists in your case `.TelegramDesktop/tdata/ticons/`? For Hangouts, it's sadly impossible to change the icons of Chrome extensions, take a look at Hardcode-Tray documentation to understand why. And Guake is not supported yet, i will take a look a bit later if it's po

[2016-10-26 15:17] iwex commented on #182
No, I don't have .TelegramDesktop folder

[2016-10-26 15:26] bil-elmoussaoui commented on #182
Can you try to find out if you have any folder that we can use to check if telegram is installed on your system? and which version of telegram are you using? you might need to check if you have libappindicator installed on y our system too

[2016-10-26 15:32] iwex commented on #182
I used zip archive from Telegram site https://desktop.telegram.org/ 0.10.19
I have libappindicator1 and libappindicator3-1

[2016-10-26 15:36] iwex commented on #182
I've found icon in /tmp folder :)

[2016-10-26 15:40] bil-elmoussaoui commented on #182
There's no .ticons folder in your system? You might find some Telegram icons on /tmp/ folder

[2016-10-26 15:41] iwex commented on #182
/home/iwex/.local/share/TelegramDesktop/tdata/ticons and here

[2016-10-26 18:23] varlesh opened #183 "Chrome/Chromium icon size"
Google Chrome not use 22px icon size on panel.
Chrome 54
OS: KDE Neon (Kubuntu 16.04)
DE: KDE Plasma 5.8.2
Icon theme: Papirus Arc Dark
Please compare.
Original icon 22px
![screenshot_20161026_212055](https://cloud.githubusercontent.com/assets/8083855/19739057/4100aa82-9bc2-11e6-8a7d-2ea9cb5860c0.png)
On tray (icon blurred):
![screenshot_20161026_212308](https://cloud.githubusercontent.com/assets/

[2016-10-26 18:27] varlesh commented on #183
It's Chrome/Chromium bug only, because another icons show fine. For example, telegram, megasync :
![image](https://cloud.githubusercontent.com/assets/8083855/19739267/fa384fbe-9bc2-11e6-95e2-7e9ceb0d2088.png)

[2016-10-26 18:54] varlesh commented on #182
Why use 2 icons only **telegram-panel** and **telegram-attention-panel**?
Script not apply icon **telegram-mute-panel** https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/182#issuecomment-256377642
Numix available icon  **telegram-mute-panel**:
https://raw.githubusercontent.com/numixproject/numix-icon-theme/432bcb1908be75727a2d6a4548dc742c6d57d8b8/Numix/22/status/telegram-mute-panel.svg

[2016-10-29 10:01] bil-elmoussaoui commented on #183
Can you try something like this `hardcode-tray --apply --size 24 --only chrome` ?

[2016-10-29 10:03] bil-elmoussaoui commented on #182
Telegram-panel is the standard tray icon, and telegram-attention-panel is the notification icon. I will fix those issues this evening!

[2016-10-29 10:15] varlesh commented on #183
run:
`hardcode-tray --apply --size 24 --only google-chrome`
Icon not changed

[2016-10-29 10:18] bil-elmoussaoui commented on #183
You need to force close chrome first, the icon won't change automatically

[2016-10-29 10:22] varlesh commented on #183
yes, i doing this - Icon not changed

[2016-10-29 10:24] bil-elmoussaoui commented on #183
Do you have 24px icons on your theme? it seems to be an icon size problem. I have never used KDE but they use 22px icons for tray/indicator icons (correct me if i'm wrong)! if you can share the chrome tray icons you're using so i can check if it's the correct size :)

[2016-10-29 10:26] bil-elmoussaoui commented on #182
@iwex The icons should be fixed in your case now

[2016-10-29 10:29] varlesh commented on #183
Yes on Theme available only 22px icon, but script this icon crop to other size (i don't know this size, because icon packed).
Original icon:
https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme-kde/master/papirus-dark/22x22/status/google-chrome-no-notification.svg

[2016-10-29 10:30] varlesh commented on #183
google-chrome-tray.svg it's symlink to google-chrome-no-notification.svg

[2016-10-29 10:31] bil-elmoussaoui commented on #183
Can you try adding a 24px icons before trying the commad i proposed before? The script does not crop any size of the icon, it's only uses gtk framework to look for the icon with the correct size. Which gtk version is installed on your kde system?

[2016-10-29 10:32] varlesh commented on #183
On Plasa use 22px for tra only/ And my theme available only 22px for tray

[2016-10-29 10:33] varlesh commented on #183
24px not available on icon theme. I try --size 24 and --size 22 -  this not change icon (icon blurred)

[2016-10-29 10:35] varlesh commented on #183
gtk 3.18.9

[2016-10-29 10:36] varlesh commented on #183
Appositely Unity use too 22px on panel. Maybe anybody test on Unity

[2016-10-29 10:38] varlesh commented on #183
LOG:
`alex@dell:~$ hardcode-tray --apply --size 22 --only google-chrome
[sudo] пароль для alex:
Welcome to the tray icons hardcoder fixer!
Your indicator icon size is : 22
Your current icon theme is : Adwaita
Svg to png functions are : Enabled
Applications will be fixed : google-chrome
Applying now..

Google Chrome -- fixed using google-chrome-tray

Done , Thank you for using the Hardcode-Tray fix

[2016-10-29 10:42] bil-elmoussaoui commented on #183
The icon must be scaled by gtk from 22px to 24px which Will make the icons look blurry. Sadly i çan do anything about it! Can you try with Numix theme and see if the icon will look nicer ?

[2016-10-29 10:49] varlesh commented on #183
Hm it's interested.... because on Plasma 5 used only 22px tray icons.
You can compare with Numix
![image](https://cloud.githubusercontent.com/assets/8083855/19828990/7f80ad16-9dde-11e6-9c24-baad85d9e83e.png)

[2016-10-29 10:51] bil-elmoussaoui commented on #183
The icons looks the same.. Try with Numix by forcing the size to 24px (Numix have 24px icons too!)

[2016-10-29 10:58] varlesh commented on #183
Numix 22px
`hardcode-tray --apply --size 22 --only google-chrome`
restart chrome
![image](https://cloud.githubusercontent.com/assets/8083855/19829041/7e31a1da-9ddf-11e6-91a1-8739d1fb12e4.png)
Numix 24px
`hardcode-tray --apply --size 24 --only google-chrome`
restart chrome
![image](https://cloud.githubusercontent.com/assets/8083855/19829053/a5fba274-9ddf-11e6-9cfc-75d77d7c5e17.png)
Original icon:
!

[2016-10-29 10:59] varlesh commented on #183
You see - icon blurred with Numix too!

[2016-10-29 11:03] varlesh commented on #183
It's possible unpack chrome resource pack and check really size?

[2016-10-29 11:05] varlesh commented on #183
Plasma not change icon size, because now used only 22px for  tray icons.
![image](https://cloud.githubusercontent.com/assets/8083855/19829090/c3dc0a80-9de0-11e6-891b-c42c73eeb085.png)

[2016-10-29 11:07] bil-elmoussaoui commented on #183
Yes it's not that complicated ! Take a look at the documentation here on GitHub. If you couldn't do so, I will provide a script for you this evening

[2016-10-29 11:09] bil-elmoussaoui commented on #183
I didn't say that Plasma change the icons. Never used it before... But it has nothing to do with Hardcode-Tray.. It's either a bug with Gtk on plasma or with the tray indicator on Plasma.. But what I don't understand is that the icon look nice for telegram and megasync! Maybe you can try an other theme and see if you get the same result?

[2016-10-29 11:16] varlesh commented on #183
Numix original icon theme (chrome & megasync)
![image](https://cloud.githubusercontent.com/assets/8083855/19829135/e457dae0-9de1-11e6-9ea0-7cae9db937d7.png)
Papirus Arc Dark  (chrome & megasync)
![image](https://cloud.githubusercontent.com/assets/8083855/19829146/27e41864-9de2-11e6-816e-e9ac47b273a9.png)

[2016-10-31 08:05] wa4557 opened #184 "@2x icons"
We should somehow implement, that if a icon name contains `@2x` it should be doubled in size (if it is a png at least). This should enable us to have HiDPi support

[2016-10-31 10:12] bil-elmoussaoui commented on #184
This was already implemented in order to fix Caprine icons #169

[2016-10-31 10:13] bil-elmoussaoui commented on #182
Fixed !

[2016-10-31 10:13] #182 closed

[2016-10-31 10:16] bil-elmoussaoui commented on #183
@varlesh Can you try an other env like xfce or gnome and see if you will have the same issue as with plasma?

[2016-10-31 10:31] bil-elmoussaoui commented on #181
I will open a new issue on Numix to request the icons

[2016-10-31 10:35] bil-elmoussaoui commented on #177
I updated Hardcode-Tray to 3.2, can you try if everything works great again?

[2016-10-31 10:38] wa4557 commented on #184
Ah I see, but this is not a good fix, isn't it?
 Instead of looking for a 22px icon and double it in size, the script is now looking for a 44px sized icon which arguably  does not exist. The theme_lookup funtion should still looking for a 22px icon, and after converting it to png (no further action needed for svg icons) it should double its size

[2016-10-31 10:39] wa4557 commented on #183
I thought chrome/chromium removed the tray icon completely?

[2016-10-31 10:39] bil-elmoussaoui commented on #184
Ah i didn't think of that! Do you have any idea how to double an svg icon on size? I thnik we can only use Inksape for an easy solution..

[2016-10-31 10:40] bil-elmoussaoui commented on #183
They only removed the notifications tray, but chrome indicator is still being used on the latest version.

[2016-10-31 10:42] wa4557 commented on #184
How did you do it for numix-core? There I guess you have to do multiple sizes, right?

[2016-10-31 10:43] bil-elmoussaoui commented on #184
Ah completly forgot that i have already did that :P I will implement the same code here :+1:

[2016-10-31 10:44] wa4557 commented on #184
We have to think about how to handle all the script (electron) things though, where there are also potentially @2x icons.

[2016-10-31 10:46] bil-elmoussaoui commented on #184
I will save the icons on /tmp folder and i can give the icon path to electron script which only have to handle the case where the icon is a path, what do you think?

[2016-10-31 10:48] wa4557 commented on #184
Hmm, I really like the current situation where everthing is written into ram instead of saving it to hard disc. We can keep the binary blob of the png in working memory, just like we do right now for electron scripts...

[2016-10-31 10:49] wa4557 commented on #184
[code]

png_io should be the correct icon right? No need to write a temporary icon anywhere imo

[2016-10-31 10:50] bil-elmoussaoui commented on #184
Ah yeah! i will implement it that way :+1:

[2016-10-31 10:50] wa4557 commented on #184
maybe we can rewrite the `svgtopng` script to accept a size argument?

[2016-10-31 10:52] bil-elmoussaoui commented on #184
Yeah :) it's the easiest solution we can implement !

[2016-10-31 10:52] wa4557 commented on #184
Top :+1:

[2016-10-31 11:09] varlesh commented on #183
it's Plasma bug only. On Unity icon looks good
![screenshot from 2016-10-31 11-06-04](https://cloud.githubusercontent.com/assets/8083855/19852296/8d0dc072-9f73-11e6-8528-c2b62c495a3b.png)

[2016-10-31 11:13] bil-elmoussaoui commented on #183
I can't do anything about Plasma special bug :( you can try asking on some kde forums out there!

[2016-10-31 11:13] #183 closed

[2016-10-31 11:17] varlesh commented on #183
Ok.

[2016-10-31 11:18] wa4557 commented on #183
@varlesh How does the original icon look like. Btw. Unpacking the `.pak` file and replacing the icon is exatly what we are doing (with the same size). This means that the original icon probably is also blurry...

[2016-10-31 11:28] varlesh commented on #183
@wa4557 No, original icon not blurred. I'm author Papirus icon theme and draw this icon (and more others too).
Original icon here:
https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme-gtk/master/Papirus-GTK/22x22/panel/google-chrome-no-notification.svg
https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme-gtk/master/Papirus-GTK/24x24/panel/google-chrome

[2016-10-31 11:33] wa4557 commented on #183
Hmm, this is strange. @bil-elmoussaoui Are we probably replacing a wrong size? Maybe chrome always(!) uses 24px icons?

[2016-10-31 11:35] varlesh commented on #183
@wa4557 No, it's Plasma bug. Because Unity use 22px icons for panel too.

[2016-10-31 11:41] bil-elmoussaoui commented on #183
@wa4557 Whatever the image sizes you replace with it should be shown correctly. As Chrome/Chromium does not handle the size of the tray icon but it's the libappindicator or something smillar in Plasma.

[2016-10-31 12:09] wa4557 commented on #157
I had a look into this, and I was able to succesfully replace the icons for FacebookMessenger.
Steps

1) Extract the binary file: `unzip Messenger`
2) change icons
3) `zip -r ../${PWD##*/}.nw *`
4) `mv Messenger.nw Messenger`
5) `chmod +x Messenger`

It would still be better to do this without extracting the whole file

[2016-10-31 12:11] bil-elmoussaoui commented on #157
If it's just a zip file we can change the icons directly nop? btw, there's a nwjs branch if you want to work on this

[2016-10-31 12:14] Foggalong commented on #177
@bil-elmoussaoui Nope still not working. Can you reopen this issue?

[2016-10-31 12:16] bil-elmoussaoui commented on #177
I've added an other OwnCloud path to the database file, can you clone the repo and try again?

[2016-10-31 12:16] wa4557 commented on #157
I'm working on this, let's see if I figure out the best way to do it :)

[2016-10-31 12:34] varlesh opened #185 "Wire Desktop"
Electron app [wire-desktop](https://github.com/wireapp/wire-desktop)
Packages for Ubuntu: https://wire.com/download/

[2016-10-31 12:47] #185 closed

[2016-10-31 12:48] bil-elmoussaoui commented on #185
Wire support was added? You will need to clone the repo in order to use it.
The icons are
- wire-tray
- wire-tray-notification

[2016-10-31 13:23] varlesh commented on #185
Not working:
[code]

[2016-10-31 13:24] varlesh commented on #185
script updated, icons added - but not change icons.

[2016-10-31 13:30] bil-elmoussaoui commented on #185
It most be due to the installation path. I used AUR PKGBUILD file to install it, the installation path in my case is /opt/Wire. Can you check that on your system?

[2016-10-31 13:33] varlesh commented on #185
DEB-package, binary file here:
/opt/Wire/Wire

[2016-10-31 13:34] varlesh commented on #185
resources files:
/opt/Wire/resources/app.asar
/opt/Wire/resources/electron.asar

[2016-10-31 13:35] bil-elmoussaoui commented on #185
Well, the current theme you're using (see the log you've attached before) is Adawita. You might need to force using your theme by adding `--theme mytheme`

[2016-10-31 13:39] varlesh commented on #185
Option **--theme** does not affect (and not saved) on Plasma. But script working:
[code]

[2016-10-31 13:40] varlesh commented on #185
On script show **Adwaita**, but really used **Papirus**.

[2016-10-31 13:41] bil-elmoussaoui commented on #185
Can you send me the app.asar by email? at bil[dot]elmoussaoui[at]gmail[dot]com

[2016-10-31 13:43] varlesh commented on #185
Rename **zip** to **asar**
[app.zip](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/561851/app.zip)

[2016-10-31 13:44] wa4557 commented on #185
I guess the problem is that your Gtk function which we use to detect the current icon theme does not work. Adwaita does not have the correct icons so the script doesn't know where to get them from. Do you have some kind of patched PyGTK version installed

[2016-10-31 13:48] varlesh commented on #185
@wa4557
i'm not have patched gtk version.
GTK setting apply on kdesettings module.
~/.gtkrc-2.0:
[code]

[2016-10-31 13:48] varlesh commented on #185
**gtk-icon-theme-name="papirus-arc-dark"**

[2016-10-31 13:49] varlesh commented on #185
~/.config/gtk-3.0/settings.ini:
[code]

[2016-10-31 13:52] bil-elmoussaoui commented on #185
I don't have any patched version of PyGtk. The same issue is on XFCE too, check this comment on how to fix it https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/92#issuecomment-135749483

[2016-10-31 13:58] varlesh commented on #185
[code]
![screenshot_20161031_165714](https://cloud.githubusercontent.com/assets/8083855/19856616/44f52d3a-9f8b-11e6-960a-c8c025c84218.png)

[2016-10-31 14:04] bil-elmoussaoui commented on #185
Have you update the icon theme cache?

[2016-10-31 14:05] varlesh commented on #185
State now saved. But icons not changed:
[code]
PS: Skypeforlinux use electron and working fine

[2016-10-31 14:09] bil-elmoussaoui commented on #185
Ah you shouldn't be using `hardcode-tray` to execute the cloned the version, but `sudo -E python3 script.py` :P If you use `hardcode-tray` it will execute the binary file that is still using an older version

[2016-10-31 14:09] varlesh commented on #185
[code]

[2016-10-31 14:10] bil-elmoussaoui commented on #185
It should work in your case too if you follow my latest comment :)
![capture du 2016-10-31 15-10-27](https://cloud.githubusercontent.com/assets/7660997/19856991/2fd0b5e6-9f7c-11e6-8808-5f0896c7e0ae.png)

[2016-10-31 14:16] bil-elmoussaoui commented on #185
Is it working fine now? :)

[2016-10-31 14:21] varlesh commented on #185
Yes, all fine. Thx for help and sorry, it's my fault :)
[code]

[2016-10-31 14:28] bil-elmoussaoui commented on #185
Perfect :) if you have any Electron app, feel free to open a new issue ! Thanks

[2016-10-31 14:29] varlesh commented on #185
ok

[2016-10-31 15:06] Foggalong commented on #177
It now says it's being fixed, but doesn't actually fix. Also Rambox it doesn't say it's fixing either, but not sure if that's expected?

[2016-10-31 15:10] bil-elmoussaoui commented on #177
@Foggalong Do you have the patched version of sni-qt installed? and for Rambox, do you have the latest version of Numix base with Rambox icons? Also it's might due to the installation path of Rambox. On Arch, it's installed on /opt/rambox/. Can you confirm it's installed there in your case too?
+ I've updated the db.csv file, can you clone and try again?

[2016-10-31 15:13] Foggalong commented on #177
For ownCloud, the problem was that I don't have the patched sni-qt installed. The PPA doesn't have Yakkety builds though so I also can't :/

For Rambox, the installation location for Ubuntu is `/opt/Rambox`

[2016-10-31 15:16] wa4557 commented on #157
I have a semi-working version uploaded to the nwjs branch. It doesn't work without unpacking and repacking again though :( Maybe you can try, there is still an issue with `chmod` but apart from that it should work

[2016-10-31 15:17] bil-elmoussaoui commented on #177
Should be fixed for Rambox, just update db.csv file with the latest git version.
You can build it from source, it shouldn't be that complicated, just follow the documentation https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/How-to-build-sni-qt

[2016-10-31 15:22] Foggalong commented on #177
@bil-elmoussaoui I'm more than happy to build from source, but it's not an especially user friendly method. Even as building from source goes it's more complicated than normal.

[2016-10-31 15:23] bil-elmoussaoui commented on #177
Alright! Hope the PPA will be updated soon, otherwise i will have to create a new PPA myself.. Does Rambox issue still occuring?

[2016-10-31 15:25] Foggalong commented on #177
Yeah, Rambox is now working for me which is brilliant :+1:

[2016-10-31 15:34] bil-elmoussaoui commented on #157
It's not working here
I'm getting this error
[code]
I think the issue is due to the name of the file, when i took a look at `/opt/MessengerForDesktop` the only file i found was `Messenger.zip`
For the permission issue, you only need to execute `chmod +x nwjs` and it should be okay (tried it, and it works finne)

[2016-10-31 15:38] wa4557 commented on #157
Yeah but then the database file is wrong and should read `Messenger.zip` instead of `Messenger`.

[2016-10-31 15:38] Foggalong commented on #177
Interesting thing for Rambox: it also changes the Rambox icon within the app to the tray icon. Guessing that there's nothing that can be done about this so no worries :+1:
![screenshot_2016-10-31_15-36-36](https://cloud.githubusercontent.com/assets/5920259/19860230/e147fea8-9f7f-11e6-8a16-f0e174e7e975.png)

ownCloud though unfortunately still not fixed, even with the patched version of SNI Qt inst

[2016-10-31 15:42] bil-elmoussaoui commented on #177
You can report that to Rambox dev so they can change the icon they're using there :) I only change the Tray icon..
I can't do anything about it, the issue is related to sni-qt or the way you build it! Hope that elementaryPlus guys will update their PPA soon!
This can be closed now? :)

[2016-10-31 15:43] bil-elmoussaoui commented on #157
Are you sure about this? Because the script won't find Messenger.zip file during the first icon fix..
I think we can fix this by renaming the script back after we modify the zip file

[2016-10-31 15:47] wa4557 commented on #157
Well the error message says: `FileNotFoundError: [Errno 2] No such file or directory: '/opt/MessengerForDesktop/Messenger'` this means that this file does not exist, right?

[2016-10-31 15:47] wa4557 commented on #157
For Gitter this doesn't work btw., I think I need to come up with a better way to do this...

[2016-10-31 15:48] bil-elmoussaoui commented on #157
Yeah but the error is shown after the first icon is fixed

[2016-10-31 15:48] Foggalong commented on #177
I mean, this issue isn't really fixed. I built sni-qt using the instructions here so at the very least a disclaimer needs to be added saying that it won't work in the latest version of Ubuntu :crying:

Even disregarding that, there's the problem that the script is telling the user than stuff is being fixed when it isn't. I'm not sure whether that's something that can be detected though?

[2016-10-31 15:50] wa4557 commented on #157
Ah I think we have to to chmod after each icon that is fixed, noone has read access to the fle, after the fixing occured. Still not extremely happy with the solution anyways, have to think about this a bit

[2016-10-31 15:50] bil-elmoussaoui commented on #177
I don't think there's a way to detect if the patched version of sni-qt is installed using Python, the script is telling to the user the sni-qt application were fixed which means that the icons were copied correctly to the right directory. And as mentioned on the README the user must have the patched version of sni-qt installed. And i wasn't able to build sni-qt correctly neither so :(

[2016-10-31 15:53] bil-elmoussaoui commented on #157
Alright, btw the latest version of MessengerForDesktop is using Electron :P so the only reason to add nwjs support is Gitter :(

[2016-10-31 15:55] Foggalong commented on #177
That's fair enough. Probably go with the disclaimer then that it doesn't work with Yakkety yet. I've filed an issue upsteam so hopefully it will be updated soon.

[2016-10-31 15:58] wa4557 commented on #157
what if we just don't support them? I mean it is definitely doable in principle, but I really don't like this solution of unpacking it to the harddisc each time we fix an icon.

[2016-10-31 16:02] bil-elmoussaoui commented on #157
We can do that, but there's still some people using nwjs apps out there... I prefer to keep this open until we got a better solution to fix this!

[2016-10-31 20:42] wa4557 commented on #157
I think I found a better way to handle nw.js files. https://github.com/wa4557/Hardcode-Tray/commit/e8668adc42578e1d980d6fba2cea2cce0deafb54

No python magic necessary there, just a temporary folder in the /tmp/ directory. I guess that is fine?

[2016-10-31 20:45] bil-elmoussaoui commented on #157
Looks fine for me ! We don't need to implement the fastest solution as nwjs is almost dead, everyone is using Electron right now :+1:
Can you keep the two other applications i've added to nwjs branch?

[2016-10-31 20:48] wa4557 commented on #157
I kind of fucked up the branch so we might have to readd everything. Just realized that this does not work with gitter though :( Works with facebook messenger, ah what the heck

[2016-10-31 20:49] bil-elmoussaoui commented on #157
Are you using the latest version of Gitter?

[2016-10-31 20:50] wa4557 commented on #157
Yeah downloaded the deb file from their homepage

[2016-10-31 20:58] bil-elmoussaoui commented on #157
Can you try it with Popcorntime-CE ? i guess that Gitter might be applying some verification the same way chrome does with its extensions...

[2016-11-01 08:12] wa4557 commented on #157
I don't even have a tray icon with Popcorn Time

[2016-11-01 11:14] bil-elmoussaoui commented on #157
I tried the latest version you pushed on your fork and i have some feedback:
- I don't think that using a counter in order to know if we have to unzip/zip the file, this causes an issue when only one icon is supported for example. The file won't be extracted into /tmp and nothing will work as expected :P the only way i can think of in order to avoid this is to unzip the file at the beginning and z

[2016-11-01 11:17] wa4557 commented on #157
Didnt think about the single icon case. This can be solved fairly easy though.

Concerning zipping unzipping yeah I saw that too did not figure Out whats causing this yet. Did the replacement work?

[2016-11-01 11:18] wa4557 commented on #157
Restructuring the Script is definitely a good idea we could gain a lot of Speed doung this (in General)

[2016-11-01 11:21] bil-elmoussaoui commented on #157
I will work on restructuring the script, this will help me fix #170 as i needed a list of the icons that are going to be fixed by hardcode-tray but wasn't possible with changing too many lines :/
Will push a new version of the script with a fix of #184 too, after that we can investigate how to fix nwjs issue!

[2016-11-01 11:57] varlesh commented on #183
@wa4557 You right! I found this icon:
/tmp/.com.google.Chrome.SVIQ1P/icons/hicolor/24x24/apps/chrome_app_indicator2_375b2c77f413e2c2dcb95a7b1196b20c.png
![image](https://cloud.githubusercontent.com/assets/8083855/19888860/68d74f0a-a042-11e6-928b-f525941db8cc.png)
![chrome_app_indicator2_375b2c77f413e2c2dcb95a7b1196b20c](https://cloud.githubusercontent.com/assets/8083855/19888892/996c0430-a042-11e6

[2016-11-01 12:00] varlesh commented on #183
22px not created with script:
![image](https://cloud.githubusercontent.com/assets/8083855/19889048/d0cb6aaa-a043-11e6-9f20-e53fbe4816f5.png)
Also with Wire this bug reproduced too.

[2016-11-01 13:11] varlesh opened #186 "Discord/Discord Canary"
Electron app https://discordapp.com
Officialy Linux will be available soon:
https://discordapp.com/apps
On AUR
https://aur.archlinux.org/packages/discord-canary
DEB-package:
https://discordapp.com/api/download/canary?platform=linux
APP.ASAR (rename **zip** to **asar**):
[app.zip](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/564076/app.zip)

[2016-11-01 13:27] bil-elmoussaoui commented on #186
The app.asar file is stored on `/opt/discord-canary/resources/`?

[2016-11-01 13:30] varlesh commented on #186
No, here:
/usr/share/discord-canary/resources/app.asar

[2016-11-01 13:41] #186 closed

[2016-11-01 13:42] bil-elmoussaoui commented on #186
The icons are
- `discord-tray`
- `discord-tray-notification`

[2016-11-01 13:42] varlesh commented on #186
ok, thx

[2016-11-01 15:20] wa4557 commented on #157
What I don't get: We're already doing this right? There is the function `get_apps_information` that throws everything together into a big dictionary, why is necessary to restructure the script then?

[2016-11-01 19:40] bil-elmoussaoui commented on #157
That's correct, but the issue is the `get_apps_information` will only check if the applications are installed or not. We do the rest of the job on `install` and we check if the icons do exists or not. What i'm thinking of is moving the part where we check if the icons do exists into an other function that will be called in `get_apps_icons` (don't remember the function name). This way the list of i

[2016-11-02 10:56] iwex opened #187 "Guake icon"
Hello! Could you please add guake support? https://github.com/PapirusDevelopmentTeam/papirus-icon-theme-gtk/issues/111

[2016-11-02 11:19] bil-elmoussaoui commented on #187
I will see what can i do about this ;)

[2016-11-02 11:27] #187 closed

[2016-11-02 11:28] bil-elmoussaoui commented on #187
Fixed! Please clone the git version and run `sudo -E ./python3 script.py --only guake`

[2016-11-02 11:33] varlesh commented on #187
@bil-elmoussaoui maybe better create script **install-git.sh** and **uninstall-git.sh**? It's will be comfortable for more users...

[2016-11-02 11:35] iwex commented on #187
@bil-elmoussaoui Also, please add `/usr/local/share/pixmaps/guake`. Thank you :)

[2016-11-02 11:36] varlesh commented on #187
@iwex No ;) it's script for only tray

[2016-11-02 11:37] varlesh commented on #187
@iwex https://github.com/Foggalong/hardcode-fixer

[2016-11-02 11:39] varlesh commented on #187
It's not needed. On desktop file use icon name **guake**:
[code]
https://github.com/Guake/guake/blob/master/data/guake.desktop.in

[2016-11-02 11:41] bil-elmoussaoui commented on #187
@varlesh I'm planning to improve the install script to make it possible to update the script to the latest git version. But i need to fix the rest of the issues first. For now, i've added few lines to Wiki to explain how to use Git version
https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/FAQ#how-to-use-git-version

[2016-11-02 11:42] iwex commented on #187
@varlesh, yes, but I have Guake icons only in `/usr/local/share/pixmaps/guake`

[2016-11-02 11:42] varlesh commented on #187
@bil-elmoussaoui Ok, fine!

[2016-11-02 11:43] varlesh commented on #187
@iwex show input:
`cat /usr/share/applications/guake.desktop`

[2016-11-02 11:43] bil-elmoussaoui commented on #183
For me this can't be fixed from our side. The folders are created by the API used by KDE to draw tray icons. This is why the icons are stored on `/tmp` (like Qt icons). And as i've never used KDE, i don't know if it's a missing package, or there's any way to patch the current library used to draw tray icons on KDE. If you have any solution for this later, feel free to add it to Wiki! Thanks
I migh

[2016-11-02 11:45] iwex commented on #187
@varlesh
`cat /usr/share/applications/guake.desktop`:
[code]

`cat /usr/local/share/applications/guake.desktop`:
[code]

[2016-11-02 11:45] varlesh commented on #187
@iwex Icon=guake

[2016-11-02 11:45] iwex commented on #187
@varlesh aaaand?

[2016-11-02 11:46] varlesh commented on #187
icon use from icon theme

[2016-11-02 11:47] iwex commented on #187
@varlesh but we are talking about tray-icon, not desktop

[2016-11-02 11:48] varlesh commented on #187
tray icon name **guake-tray**

[2016-11-02 11:53] varlesh commented on #183
Ok, thx for info. I'm already reported bug on KDE:
https://bugs.kde.org/show_bug.cgi?id=366062
I hope this fixed on new KDE vesion...

[2016-11-02 12:42] wa4557 commented on #157
Have youbalready started working on that? I guess it should be very easy. I can do if you want

[2016-11-02 12:50] bil-elmoussaoui commented on #157
Yes it should be ready in an hour i guess :) i'm trying to re-read the code and improve it too!

[2016-11-02 15:56] bil-elmoussaoui commented on #184
Done! Will push the new code in few minutes
![capture du 2016-11-02 16-55-25](https://cloud.githubusercontent.com/assets/7660997/19936264/374387f2-a11d-11e6-8823-52ebaf50b11c.png)
![icontrayunread](https://cloud.githubusercontent.com/assets/7660997/19936271/40840530-a11d-11e6-9ce2-ab1388cb2397.png)
![icontrayunread 2x](https://cloud.githubusercontent.com/assets/7660997/19936272/40852802-a11d-11e6-

[2016-11-02 16:14] bil-elmoussaoui commented on #184
Fixed upstream

[2016-11-02 16:14] #184 closed

[2016-11-02 16:16] bil-elmoussaoui commented on #170
@leoheck Fixed, i used a part of your code, but modified somethings, i tottaly forgot to mention that on the commit history! i will do add a comment about that soon!

[2016-11-02 16:16] #170 closed

[2016-11-02 16:18] bil-elmoussaoui commented on #177
I'm going to close this, as i don't think that i will be able to maintain a PPA at this moment! if i find any better way to compile the patched version, i will do it!

[2016-11-02 16:18] #177 closed

[2016-11-02 16:28] bil-elmoussaoui commented on #163
I will need some help here! Can you check on `/tmp/` if you will find any icon that Teamviewer uses for it's tray icon?

[2016-11-02 21:05] leoheck commented on #170
@bil-elmoussaoui, you don't have to do that. I was only trying to help you to fix your issue. :)

[2016-11-02 21:08] bil-elmoussaoui commented on #170
The issue wasn't really how to show a progress bar :P but i had to refactor the code in order to get the number of icons that are going to be fixed so i can get the total number of that ! that's why it took some time ! thanks anyway :+1:

[2016-11-02 21:13] leoheck commented on #163
Yeah, I found it.

Main path:
[code]

Icon Sizes:
[code]

File names:
[code]

[2016-11-02 21:16] bil-elmoussaoui commented on #163
Could you paste a screenshot of the icons? The latest icon `TVGuiDelegate_28669_efbb734158e93591c95134fbc4e9d667.png`

[2016-11-02 21:19] leoheck commented on #170
Sure @bil-elmoussaoui, that was what I was trying to say :)
I am not very good in English.

[2016-11-02 21:21] leoheck commented on #163
Sure, totally forgot that.

![teamviwericons](https://cloud.githubusercontent.com/assets/1277920/19947953/82910f18-a131-11e6-8678-49a2336c0fb5.png)

[2016-11-02 21:36] bil-elmoussaoui commented on #163
Well, there was a missing icon! but it's the teamviewer error tray icon! I'm going to install Ubuntu to investigate this

[2016-11-02 22:15] wa4557 commented on #157
I fixed the nwjs script and adapted the script accordingly. Should also work if there's only one icon to fix now.

https://github.com/bil-elmoussaoui/Hardcode-Tray/tree/nwjs2

[2016-11-02 22:57] bil-elmoussaoui commented on #157
@wa4557 I tried your branch and i have few things to report back :
1 - On line 600, you forgot to convert `script_do` to a string
2 - Can you please apply `chmod +x nwjs` and push the changes to your branch?
3 - I tried it with Gitter, and i had this error message
[code]

[2016-11-02 23:03] bil-elmoussaoui commented on #157
The third issue is happening because of this. I took the executable file after i ran hardcode-tray; and i extracted it's content, the content of the file was in `/Gitter/tmp/Gitter/` instead of just `/Gitter/`
But the icon is being replaced successfully!
One more issue is
[code]
I didn't tried to run Gitter again to see if it's working, i will do once the two other issues are fixed :P

[2016-11-02 23:11] bil-elmoussaoui commented on #157
Fixed 1, 2 and 3 ! The only issue that i still have is the extra bytes at the beginning of the zipfile..

[2016-11-02 23:35] bil-elmoussaoui commented on #157
I did some more tests, it seems that you will need nw installed on your system in order to package the nw file and make it executable again (see my latest commit).
As an Arch user, i installed this package https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=nwjs-bin (this is the PKGBUILD, might help you package it yourself)
You will need to copy `libnw.so` and `libffmpeg.so` that ships with nw

[2016-11-02 23:51] bil-elmoussaoui commented on #157
I was able to get ride of all those errors, i took a look at some issues on nwjs repo and i figured out that i had to ship
- nw_100_percent.pak
- nw_200_percent.pak
- resources.pak
- natives_blob.bin
- snapshot_blob.bin

Those files are from Chromium and so they are shipped with nwjs too!
Copying those files to the directory where you copy the executable nwjs file did the trick!
But the applicatio

[2016-11-03 03:00] edgard opened #188 "cli switches not working"
Hi Bil, seems that the apply and revert switch are not working since the code refactor. Or is just with me? :D

[2016-11-03 05:41] bil-elmoussaoui commented on #188
Do you have any error msg?

[2016-11-03 08:33] edgard commented on #188
Nothing really, it just show the 1) apply or 2) revert options like I haven't passed any cli parameters.

[2016-11-03 09:32] bil-elmoussaoui commented on #188
What are you runing? I mean the command you type on terminal + cli

[2016-11-03 12:04] #188 closed

[2016-11-03 12:04] bil-elmoussaoui commented on #188
Fixed that upstream

[2016-11-03 12:12] varlesh commented on #188
With fresh git version ( option -ug):
[code]

[2016-11-03 12:14] bil-elmoussaoui commented on #188
@varlesh The issue shouldn't be shown any more, but you will need to have Rsvg installed in your system! it's a library i used to fix #184...

[2016-11-03 12:19] varlesh commented on #188
OMG - when script working on my PC open hardcoded icons on Inkscape in fullscreenmode

[2016-11-03 12:21] varlesh commented on #188
an error:
[code]

[2016-11-03 12:24] bil-elmoussaoui commented on #188
Because it does not detect RSVG so it uses inksape instead, please install Rsvg first ;) should be in your repository

[2016-11-03 12:25] varlesh commented on #188
I'm use rsvg-convert for convert SVG to PNG. Working very good, package librsvg2-bin

[2016-11-03 12:26] bil-elmoussaoui commented on #188
I know there's bunch of scripts that can do that, but i wanted to use Python code to not add more dependecies :P Can you go to /tmp and look if you will find an icon with `hardcode.png` name?

[2016-11-03 12:28] varlesh commented on #188
/tmp/hardcode.png not available

[2016-11-03 12:31] bil-elmoussaoui commented on #188
Should be fixed on latest git version

[2016-11-03 12:31] varlesh commented on #188
i'm have inkscape (because nedd for draw and work for me) and rsvg... and script open icons on inkscape in fullscreen

[2016-11-03 12:32] varlesh commented on #188
Ok, test

[2016-11-03 12:34] bil-elmoussaoui commented on #188
Fixed Inksape opening gui to convert svg to png files ;)

[2016-11-03 12:38] varlesh commented on #188
inkscape not opening, but ave errors:
[code]

[2016-11-03 12:46] varlesh commented on #188
Maybe better replace inkscape to rsvg-convert. It's easy and fast util:
Options:
[code]

[2016-11-03 12:48] bil-elmoussaoui commented on #188
It should be fixed now :P the reason why i added Inkscape support at first, it's because on some distro python svg library was corrupted and not working correctly :(

[2016-11-03 12:53] varlesh commented on #188
[code]

[2016-11-03 12:55] varlesh commented on #188
On ubuntu available packages:
python-rsvg
ruby-rsvg2
gir1.2-rsvg-2.0

I'm install all this packages. Or need another?

[2016-11-03 12:59] bil-elmoussaoui commented on #188
Pushed a new version again! It has been a long time since i used Ubuntu :(
On Arch i have those installed
- librsvg
- python2-rsvg
- lib32-librsvg

[2016-11-03 13:01] varlesh commented on #188
No errors :)

[2016-11-03 13:05] bil-elmoussaoui commented on #188
Perfect! Thanks for reporting ;)

[2016-11-03 15:48] edgard commented on #188
yup, back working again since 41d8338, thanks!!

[2016-11-03 16:05] edgard opened #189 "sni-qt-eplus not available anymore on arch, readme update"
Hey!

Just a small update, the package sni-qt-eplus is not available on arch anymore, only the bzr version 'sni-qt-eplus-bzr'. On your readme you're refering to it so people might get confused.

Also, on unrelated note, I'm maintaining the AUR package called 'hardcode-tray-fixer-git' to make it easier to install. :)

[2016-11-03 18:16] bil-elmoussaoui commented on #189
Can you push an update with all the those informations? you can also mention how to install hardcode-tray-fixer-git from AUR if you want to :+1:

[2016-11-03 21:00] Sadi58 opened #190 "can't start"
On Ubuntu 16.10 64-bit, I get the following terminal output:

[code]

[2016-11-03 21:01] bil-elmoussaoui commented on #190
Please upgrade to the latest version, you seem to be using 3.3, this issue was fixed here #188

[2016-11-03 21:05] Sadi58 commented on #190
Thanks, but I've just cloned the git repository; maybe this is because I don't have Rsvg installed - is it python-rsvg?

[2016-11-03 21:09] bil-elmoussaoui commented on #190
You don't have to clone the git repo, just run hardcode-tray --update!  this will install the latest stable version. I don't know the package name on Ubuntu, if you ever figure out, please open a PR and add it to the list of dependecies ! the package is used to resize svg icons in order to add HiDPI support

[2016-11-03 21:09] #190 closed

[2016-11-03 21:47] Sadi58 commented on #190
I used this command (`cd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/install.sh | bash`) to download and install the latest version, but I still get the same error message.
I have **librsvg2-2** [_SAX-based renderer library for SVG files (runtime)_] and **librsvg2-common** [_SAX-based renderer library for SVG files (extra runtime)_] packages (**version

[2016-11-03 21:48] varlesh commented on #189
Also need update README and add new depends - librsvg2-bin and etc

[2016-11-03 22:22] bil-elmoussaoui commented on #190
What's the output of hardcode-tray --version ?

[2016-11-03 22:25] Sadi58 commented on #190
3.4

[2016-11-03 23:59] bil-elmoussaoui commented on #190
Do you have Inkscape installed ?

[2016-11-04 07:36] Sadi58 commented on #190
Yes, I have it in working condition, but not the `python3-cairosvg` package, which I guess is not required if `inkscape` is already installed.

[2016-11-04 10:52] bil-elmoussaoui commented on #190
Fixed the issue on git version ;) i will create a new release once i've fixed more stuff!

[2016-11-04 10:52] bil-elmoussaoui commented on #190
Fixed the issue on git version ;) i will create a new release once i've fixed more stuff!

[2016-11-04 11:41] Sadi58 commented on #190
Thanks a lot; working great now!
It fixed that hardcoded tray icon issue even for the new skypeforlinux (alpha/beta) which no longer requires a patched version of `sni-qt`!
BTW I have a lot of git repositories which are synched automatically at startup, that's why I also included **Harcode-Tray** among them, and simply symlinked its local directory to `/opt` and then symlinked `/optHarcode-Tray/ha

[2016-11-04 11:48] bil-elmoussaoui commented on #190
@Sadi58 Yeah we do support almost all electron applications, here's a list of supported applications https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/Supported-applications

[2016-11-04 11:55] Sadi58 commented on #190
Thanks a million for this total solution!
I've just said goodbye to https://github.com/pwittchen/fix-skype-icon ;-)

[2016-11-04 15:04] leoheck opened #191 "Electron"
fixing failed with error:
	  File "/opt/Hardcode-Tray/database/scripts/electron", line 56
	    print 'xxx'
	              ^
	SyntaxError: Missing parentheses in call to 'print'

Done , Thank you for using the Hardcode-Tray fixer!

[2016-11-04 15:04] #191 closed

[2016-11-04 15:05] bil-elmoussaoui commented on #191
This line does not even exists in the script :P https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/database/scripts/electron

[2016-11-04 15:05] leoheck commented on #191
Sorry I think this problem was caused by me. I installed again but the script was not override.

[2016-11-04 15:07] leoheck commented on #191
Wow, you are fast! :)
Actually, the problem is this.

[code]

[2016-11-04 15:10] leoheck commented on #191
I am trying to reinstall to see why facebook icon has a bad resolution.
![screenshot from 2016-11-04 13-09-40](https://cloud.githubusercontent.com/assets/1277920/20010632/ffc0237a-a28f-11e6-9d4e-729470b305c0.png)

[2016-11-04 15:10] bil-elmoussaoui commented on #191
Fixed !

[2016-11-04 15:10] bil-elmoussaoui commented on #191
Btw, which version of Facebook are you using?

[2016-11-04 15:12] leoheck commented on #191
messenger 2.0.1-beta

[2016-11-04 15:13] bil-elmoussaoui commented on #191
Can you please try again ? the icon shown in your screenshot does not seem to be from Numix theme..

[2016-11-04 15:13] leoheck commented on #191
This line (mine is 57) isn't working with electra:

[code]

[2016-11-04 15:15] leoheck commented on #191
I am trying. Do I need reboot or restart something?

[2016-11-04 15:15] bil-elmoussaoui commented on #191
I fixed the issue on git, please update !

[2016-11-04 15:15] bil-elmoussaoui commented on #191
You need to close the application and restart it again

[2016-11-04 15:16] leoheck commented on #191
Hmm, t was fixed now?
Oh, ok. I will do that.

[2016-11-04 15:21] leoheck opened #192 "RSVG"
Is this a new requirement to run?

[code]

[2016-11-04 15:21] bil-elmoussaoui commented on #192
This issue was also fixed on master.. Please follow the wiki guide on how to use the latest git version

[2016-11-04 15:21] #192 closed

[2016-11-04 15:22] leoheck commented on #192
Sorry for that! Which guide?

[2016-11-04 15:23] bil-elmoussaoui commented on #192
RSVG is used to scale SVG icons in order to support HiDPI icons (Electron icons). If you can't install it, the script will use Inkscape instead  https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/FAQ#how-to-use-git-version

[2016-11-04 15:27] leoheck commented on #192
Ok, then install script don't use git master version. Thank you. Sorry for create many issues.

[2016-11-04 15:28] leoheck commented on #191
The icon is still bad.

[2016-11-04 15:29] bil-elmoussaoui commented on #191
When you run the script what's the result you have?

[2016-11-04 15:29] bil-elmoussaoui commented on #192
Nop, but there's an option to update to git version too ;) i use releases to let beginner users have a "stable" version of the script ! Not a problem.

[2016-11-04 15:31] leoheck commented on #191
Now it is ok (I forgot to restart afert install the git version). I am dumb today, sorry to bother you @bil-elmoussaoui

[2016-11-04 15:32] varlesh opened #193 "Wrong convert INKSCAPE-SVG to PNG"
It's very strange. I don't know it's bug inkscape or ...
Script convert icon with background, but background - it's not layer!
For example, **clementine-panel** from Papirus Arc Dark (for KDE).

On left original icon - on right converted with script.
![image](https://cloud.githubusercontent.com/assets/8083855/20010814/971d4192-a2ba-11e6-84f7-e17f5ebcffe9.png)
Converted icon have background **#f7f7

[2016-11-04 15:33] leoheck commented on #191
Suggestion: Add a -d flag in install script to install git version =)

[2016-11-04 15:34] bil-elmoussaoui commented on #191
There's already a flag for installing from git version :p Not a problem :) happy to hear that everything works nice for you!

[2016-11-04 15:43] varlesh commented on #193
I'm delete icon cache, update script from git and run twice. Bug reproduced with INKSCAPE-SVG icons...
I know need save icons as PLAIN-SVG, but i must remake all tray icons - it's very long work and have more icons... because Developers like hardcoded :(

[2016-11-04 15:46] bil-elmoussaoui commented on #193
Tried with Numix theme, and the issue is only reproducible with your theme :(

[2016-11-04 15:49] wa4557 commented on #193
@varlesh You could try some svg-cleaning scripts (https://github.com/RazrFalcon/svgcleaner) that removes all of the unneeded parameters

[2016-11-04 15:56] varlesh commented on #193
@wa4557 I previously used this util and after some SVG's will bee broken. For example, cleaning icon not change color anymore.

[2016-11-04 15:58] varlesh commented on #193
Maybe it's possible add option for ignore pagecolor?

[2016-11-04 16:00] bil-elmoussaoui commented on #193
If you can figure out how to do that with Inkscape command line, i would be more than happy to implement that :+1:

[2016-11-04 16:04] varlesh commented on #193
it's **pagecolor**. I confirm this.
Icon saved as PLAIN-SVG and converted with script:
![image](https://cloud.githubusercontent.com/assets/8083855/20012679/4212c99a-a2c1-11e6-9a2a-a2dc58fb2a64.png)

[2016-11-04 16:07] varlesh commented on #193
@bil-elmoussaoui
**-l, --export-plain-svg=FILENAME**

https://inkscape.org/en/doc/inkscape-man.html#options

[2016-11-04 16:09] bil-elmoussaoui commented on #193
Well in that case just run a bash script that will export all your svg icons as plain ones? I can provide one if you want to :)

[2016-11-04 16:11] varlesh commented on #193
But if another (future) icon theme have this INKSCAPE-SVG or NUMIX too?
Maybe better add this option on script? And i'm will be happy ... and others too!!!

[2016-11-04 16:13] varlesh commented on #193
Yes, convert time will. But all icon theme will be converted right.

[2016-11-04 16:14] bil-elmoussaoui commented on #193
Well, Numix does not have this issue :) if any future icon theme has this issue i will link this issue with the script i'm going to provide. The reason why i'm not willing to implement this directly on Hardcode-Tray because we will have the same result if the user uses Cairosvg we will face the same issue again. So better fix it from the source!
The script will walk in the directory you provide an

[2016-11-04 16:17] varlesh commented on #193
I hate inkscape!!! :( Ok, i'm go clean SVG's...

[2016-11-04 16:17] #193 closed

[2016-11-04 16:18] bil-elmoussaoui commented on #193
I do hate it too! Good luck with that :+1:

[2016-11-04 16:18] varlesh commented on #193
Thx :)

[2016-11-04 18:06] edgard commented on #189
Sure thing, #194

Haven't added anything about librsvg2-bin because I'm running Arch and this is not a dependency here, so I can't properly check.

[2016-11-04 18:13] bil-elmoussaoui commented on #189
It should be a dependency on Arch too! I will take care of the rest :) thanks!

[2016-11-04 18:13] #189 closed

[2016-11-04 18:15] edgard commented on #189
Oh I meant it was already installed because librsvg is a dependency of gtk2/3 on Arch.

[2016-11-04 18:49] wa4557 commented on #163
Even with the new teamviewer 12 it doesn't work... Tried everything, no idea :(

[2016-11-04 19:29] bil-elmoussaoui commented on #163
It most be the patched version of sni-qt then, we need to figure out how to get the latest version! as the PPA was not updated since few weeks or months now..

[2016-11-06 09:49] varlesh opened #196 "Long work with Telegram"
I know Telegram create 1000 icons. But maybe better use symlinks for that? It's accelerate time.
for example:
[code]

[2016-11-06 09:52] varlesh commented on #196
copy only 3 icons and others symlinks:
[code]
Profit: It's It's accelerate time and save disk space.

[2016-11-06 09:58] bil-elmoussaoui commented on #196
I will push a fix soon!

[2016-11-07 10:36] varlesh commented on #196
thx :) Working fine and fast!

[2016-11-07 16:35] wa4557 commented on #196
@bil-elmoussaoui This could arguably be done better :/ Wouldn't it be cool to be able to symlink to already existing icons (with a third column in the database files). The same way it is done for the `qt-script` icons. Weather-indicator would benefit for example. Right now you need an extra script just for telegram...

Sorry for only raising issues and not solving them, no free time at all :)

[2016-11-07 16:39] bil-elmoussaoui commented on #196
I will try to do better tomorrow :)

[2016-11-07 16:39] bil-elmoussaoui commented on #196
The problem is the third column is detected as the script file name so... but yeah, it can be fixed easily :+1:

[2016-11-07 16:42] wa4557 commented on #196
can we do sth like `icon1, icon2, , symlink` (note the two commas, which means that there is no script file)

[2016-11-07 16:47] bil-elmoussaoui commented on #196
i was going to suggest that ;) i think i'm going to implement that instead of adding a third column which is much better!

[2016-11-07 16:54] bil-elmoussaoui commented on #196
We might need to discuss how to implement the JSON integration, i was thinking of getting rid of the db.csv file and only use the json file, which will be something like this
[code]

[2016-11-07 17:00] wa4557 commented on #196
Yes that could work. One problem is that the file will get huge, and contributing will get more complicated. Maybe keep the telegram script after all :P

[2016-11-07 17:04] bil-elmoussaoui commented on #196
Well, i was thinking of having multiple json files for each script, and the script instead of reading the db.csv and after that reading the database files, we can have only a database folder with json files. This was we only read the json files :+1:

[2016-11-07 17:10] wa4557 commented on #196
Yeah, I think that's better than having one large file :+1:

[2016-11-07 17:14] wa4557 commented on #196
Is there also a way, to somehow include the special treatment dropbox hexchat and chromium need in the json files (an additional key for example)? I think doing all these exceptions directly in the script is not the best idea...

[2016-11-07 17:23] bil-elmoussaoui commented on #196
I don't have any idea for chromium, dropbox and hexchat can be easily handled, we can add new keys for example  `"ignore_backup" : true` and stuff like that. But chromium is a complicated case :(

[2016-11-07 17:24] wa4557 commented on #196
Ok let's keep Chrome then

Bilal Elmoussaoui <notifications@github.com> schrieb am Mo., 7. Nov. 2016,
18:23:

--
Projektass. Dipl.-Ing Andreas Angerer

TU Wien - Atominstitut
Stadionallee 2
1020 Wien
Austria

e-mail: andreas.angerer@tuwien.ac.at
Tel: +43 1 58801 141 853

[2016-11-07 18:54] bil-elmoussaoui opened #197 "Use json instead of csv"
As discussed here #196
I think it's time to move to a more readable database by us and a way to make adding new icons more easier.
I started moving some database files in the json branch, if you have some free time a help will be much appreciated. Once all the files are using the new format, i will modify the script to read the json files instead of the csv files. Shouldn't be hard, but i will try

[2016-11-08 09:58] varlesh opened #198 "PPA for Ubuntu 14.04 / 16.04 / 16.10"
I'm create PPA for Xenial and Trusty with patched sni-qt and hardcode-tray. Please update README.

**INSTALL (Ubuntu 14.04 / 16.04 / 16.10):**
[code]
**PPA link**:
https://launchpad.net/~varlesh-l/+archive/ubuntu/hardcode-tray/+packages

**DEPENDS**:
- git
- python3
- wget
- inkscape
- python3-cairosvg
- gir1.2-rsvg-2.0
- libqt4-svg
- sni-qt (=0.2.8-0~81~ubuntu14.04.1) and sni-qt (=0.2.8-0~81~ubun

[2016-11-08 12:14] bil-elmoussaoui commented on #198
Can you run the building for other versions of ubuntu too?

[2016-11-08 12:40] varlesh commented on #198
No. I'm only copy sni-qt packages from repository **ppa:cybre/sni-qt-eplus** (availiable packages for 14.04 -16.04 only. ) and build hardcode-tray for 14.04 and 16.04.
Ubuntu 14.10, 15.04, 15.10 - discontinued!

[2016-11-08 12:47] varlesh commented on #198
For Ubuntu 16.10 i don't know how patch sni-qt and can't test (i'm use only LTS-releses). Also it's really not needed, because 16.10 supported only 9 months

[2016-11-08 13:00] varlesh commented on #198
@bil-elmoussaoui Try build for Yakkety:
https://launchpadlibrarian.net/292653209/buildlog_ubuntu-yakkety-amd64.sni-qt_0.2.8-0~81~ubuntu16.10_BUILDING.txt.gz
If it's ok, im build hardcode-tray for Ubuntu 16.10. But, i'm not test this!!!

[2016-11-08 13:05] varlesh commented on #198
Added 16.10

[2016-11-08 13:17] bil-elmoussaoui commented on #198
@varlesh Thank you!!
@Foggalong Can you try this PPA for sni-qt?

[2016-11-08 15:59] bil-elmoussaoui commented on #197
Quick update : finished converting all csv files to json, was the hardest task till now :p i will have to check every file if the json syntax is correct. once everything is okay, i will update the script which shouldn't be complicated

[2016-11-08 16:01] bil-elmoussaoui commented on #198
@varlesh Can you open a PR with the modification ?

[2016-11-08 16:03] varlesh commented on #198
ok

[2016-11-08 16:30] varlesh commented on #198
Done, but need fix depends list. I don't know how

[2016-11-08 16:35] bil-elmoussaoui commented on #198
Fixed! thank you!!

[2016-11-08 16:35] #198 closed

[2016-11-08 16:38] wa4557 commented on #197
Great, I might have some freetime this weekend, if there's still something left to do then :P

[2016-11-08 16:39] bil-elmoussaoui commented on #197
I have some free time today, i will see if i can fix everything and release a new version ! :P

[2016-11-08 17:14] francoism90 opened #200 "Solaar support?"
Is it possible? Battery icons of the current icon theme could be used.

Thanks. :)

[2016-11-08 17:27] bil-elmoussaoui commented on #200
I will push a fix once i've done with moving from csv to json database, see #197

[2016-11-09 00:22] bil-elmoussaoui commented on #197
@wa4557 it's working pretty well now, i just need to modify the revert code. I've removed the google chrome notification center support as it's removed in the latest versions of chrome, and it was causing too many issues, and a lot of lines codes...People will just have to upgrade their browser ;)
I couldn't manage to integrate the dropbox path into the json file, i modified the code a little bit

[2016-11-09 08:40] wa4557 commented on #197
Looking good to me. Wasn't able to find any breakage so far. Will have a look into the code a bit later...

[2016-11-09 12:01] bil-elmoussaoui commented on #197
I will see how to fix the issue. We still need chrome script, as i've only removed the icons that were used by the notification center; But chrome still have a tray icon, the get_correct_chrome_icons were used by the notification center, also the chrome images we had in the database folder. I don't know how we can really fix the dropbox issue :( if you have any idea feel free to tell me about it :

[2016-11-09 12:04] bil-elmoussaoui commented on #200
As i don't have a Logitech pref, which icons are used from the ones you have in /usr/share/solaar?

[2016-11-09 12:39] #197 closed

[2016-11-09 12:39] bil-elmoussaoui commented on #200
Fixed

[2016-11-09 12:39] #200 closed

[2016-11-09 12:39] bil-elmoussaoui commented on #196
fixed

[2016-11-09 12:39] #196 closed

[2016-11-09 12:40] bil-elmoussaoui commented on #163
@wa4557 Can you guys try with the new PPA, created by  @varlesh ?

[2016-11-09 12:55] varlesh commented on #163
On my PPA package for 16.04 from PPA sni-qt-eplus. I'm build package for 16.10 only.
Also original sni-qt version semilar on Ubuntu 16.04, 16.10 and 17.04:
http://packages.ubuntu.com/search?keywords=sni-qt&searchon=names&suite=all&section=all

[2016-11-09 13:00] bil-elmoussaoui commented on #197
Moved the dropbox code to a new script "dropbox", and added a new key to the json files, that have a script that will be executed on the application path.

[2016-11-09 21:18] varlesh opened #202 "Not worked after last update"
Fresh git-version 1e5917f3480f5221da76cba1959b08cdffbfe883
[code]

[2016-11-09 21:24] varlesh commented on #202
Installed from PPA and apply **--update-git** option. Install path **/opt/Hardcode-Tray** and symlink **/usr/bin/hardcode-tray** (as PKGBUILD on ARCH)

[2016-11-09 21:48] #202 closed

[2016-11-09 21:48] bil-elmoussaoui commented on #202
Fixed

[2016-11-09 22:13] varlesh commented on #202
Error not showing, but script not working:
[code]
Installed Chrome, Mega, Clementine

[2016-11-09 22:36] bil-elmoussaoui commented on #202
Can you go to /opt/hardcode-tray and modify the script.py file. Add after this line https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/script.py#L206 `print(database_files)` and paste the output here.
The script is working perfectly here, just installed the latest git version from AUR and everything works as expected

[2016-11-09 22:53] varlesh commented on #202
[code]

[2016-11-09 23:03] varlesh commented on #202
ls -Rl:
[code]

[2016-11-09 23:19] bil-elmoussaoui commented on #202
Try cloning the repo by yourself and just using `sudo -E python3 script.py` ?

[2016-11-09 23:23] varlesh commented on #202
worked, but also script create empty folders with some apps
![image](https://cloud.githubusercontent.com/assets/8083855/20158646/a3e512de-a6ec-11e6-8897-cb4b9541ddc3.png)

[2016-11-09 23:24] varlesh commented on #202
Why PKGBUILD have wrong install path?:
[code]
install -Dm755 "$srcdir/$pkgname/script.py" "$pkgdir/opt/$_pkgbase/script.py"
_pkgbase=**hardcode-tray-fixer**

**PATH=/opt/hardcode-tray-fixer**

[2016-11-09 23:26] bil-elmoussaoui commented on #202
I'am not the maintainer of AUR package. report that upstream please :)
Which sni-qt applications folders were created? those applications are not installed in your case?

[2016-11-09 23:26] varlesh commented on #202
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/hardcode-tray
`sudo -E python3 /opt/Hardcode-Tray/script.py "$@"`

[2016-11-09 23:29] bil-elmoussaoui commented on #202
Well, this line is the one that must be used if you install hardcode-tray using the script i provide in the repo. The installation method in the PKGBUILD does not follow any of that; so it's up to the maintainer of the AUR package to change that..
And i fixed the latest issue with qt empty folders being created even if the application is not installed

[2016-11-09 23:29] varlesh commented on #202
Maintaner have account on github?

Which sni-qt applications folders were created? those applications are not installed in your case?

I'm have megasync and clementine only. Other apps not installed:

- bitcoin-qt
- flareget
- mumble
- museeq
- MusicManager
- owncloud
- python2.7
- qelectrotech
- screencloud
- seafile-applet
- skype
- tomahawk
- TVGuiDelegate
- WizNote

[2016-11-09 23:30] bil-elmoussaoui commented on #202
The maintainer of AUR package is @edgard. And as i said before, this issue is now fixed on master

[2016-11-09 23:31] varlesh commented on #202
Ok.
Why not worked from /opt/Hardcode-Tray?

[2016-11-09 23:33] bil-elmoussaoui commented on #202
Hardcode-Tray in the opt folder must be outdated as you're using the AUR package which does not download the source in the same location; try running `hardcode-tray --update-git`

[2016-11-09 23:34] varlesh commented on #202
i'm use ubuntu 16.04 (KDE Neon)

[2016-11-09 23:36] varlesh commented on #202
broken script hardcode-tray, because after `--update-git` and run `sudo -E python3 /opt/Hardcode-Tray/script.py`
All worked

[2016-11-09 23:40] varlesh commented on #202
no!!! Need cd directory where available database/
Not working:
`sudo -E python3 /opt/Hardcode-Tray/script.py`
Working:
[code]

[2016-11-09 23:45] bil-elmoussaoui commented on #202
It's normal that running the first command won't make the script work. As the absolute path detected will be the folder you're in, so the python code won't be able to detect the database folder.

[2016-11-09 23:47] varlesh commented on #202
need fix script, for example:
[code]

[2016-11-09 23:49] bil-elmoussaoui commented on #202
@varlesh Are you sure? everything works fine in my case...
@wa4557 can you try so we can have a third result ?

[2016-11-09 23:51] varlesh commented on #202
@bil-elmoussaoui yes, because needed for packages (ARCH and DEB) Exit to home directory and run `sudo -E python3 /path_to_folder/script.py` - this's not worked, because script not seen database

[2016-11-09 23:54] bil-elmoussaoui commented on #202
I did those changes on master

[2016-11-09 23:56] varlesh commented on #202
All worked now!
When will be new release?

[2016-11-10 00:01] bil-elmoussaoui commented on #202
I will work on nwjs issues #157 & #152 tomorrow! i will push a new version just after that. So maybe tomorrow evening or this weekend

[2016-11-10 00:02] varlesh commented on #202
Ok, i'm update PPA after next stable release. Thx you:)

[2016-11-10 00:03] varlesh opened #203 "Wrong path install on PKGBUILD"
@edgard
PKGBUILD now have wrong path install:
[code]
Right path install will be **/opt/Hardcode-Tray**:
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/hardcode-tray

[2016-11-10 00:03] edgard commented on #202
The name is "hardcoded-tray-fixer" on Arch because when I adopted it from the previous maintainer on AUR it was already named like that. To change that we would need to create a new package and delete the older one, which will break for previous users.

[2016-11-10 00:48] bil-elmoussaoui commented on #203
@edgard Can you also add me as a co-maintainer ? my username is `bil-elmoussaoui`. This way i can keep the AUR package updated if you're busy :+1:

[2016-11-10 01:52] edgard commented on #203
sure thing! just did!

[2016-11-12 04:38] varlesh opened #205 "WMail"
Electron app:
https://github.com/Thomas101/wmail
Header.json (rename zip to json):
[header.zip](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/587048/header.zip)
Binary archive:
https://github.com/Thomas101/wmail/releases/download/v2.0.0/WMail_2_0_0_linux_x86_64.tar.gz
app.asar very big (i can't attach here) and not extract, have error 'dist'

[2016-11-12 05:17] varlesh commented on #205
Oops, not needed. Program have option for customize tray color:
![image](https://cloud.githubusercontent.com/assets/8083855/20235859/67d16548-a8b0-11e6-9ad2-04defc1b4f08.png)

[2016-11-12 14:19] bil-elmoussaoui commented on #205
@varlesh  You can change the icons or just background/border?

[2016-11-12 14:22] varlesh commented on #205
Only colors changed.

[2016-11-12 14:25] bil-elmoussaoui commented on #205
Well, i will add it to Hardcode-Tray then, as the icon will remain the same whatever the theme you're using. Which is the main reason of creating this script

[2016-11-12 14:37] varlesh opened #206 "Wire not working"
New script again  not working with electron apps
Fresh git-version:
![image](https://cloud.githubusercontent.com/assets/8083855/20238500/27e4bc2a-a8fe-11e6-9f64-05d5bcbfc572.png)

Old version worked (https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/9aad49a67c004b314dbdb4cddbc512e8d552e6f7):
![image](https://cloud.githubusercontent.com/assets/8083855/20238517/81966a20-a8fe-11e6-8c03-7e95153a

[2016-11-12 14:38] varlesh commented on #206
I don't know why it's happened. Qt-apps (for example) clementine and megasync working, chrome too.
Wire not. No errors.

[2016-11-12 14:39] varlesh commented on #206
json-version bugged :(

[2016-11-12 14:42] varlesh commented on #206
Also i' seen Hexchat on status progress, but hexchat not installed. Why script use this app?

[2016-11-12 14:44] bil-elmoussaoui commented on #206
The Hexchat is a known bug after the latest upgrade to json structure, i'm working on it ;) I will check the electron apps right now!

[2016-11-12 14:49] bil-elmoussaoui commented on #206
Can't confirm your issue! Have you received any Wire update recently ?

[2016-11-12 14:50] varlesh commented on #206
wire-2.11.2670-amd64.deb

[2016-11-12 14:50] varlesh commented on #206
You revert icons before run script?

[2016-11-12 14:51] bil-elmoussaoui commented on #206
Yeah, i reinstalled Whatsie and skypeforlinux and tried again, the icons work perfectly! It must be the new update of Wire, i will take a look

[2016-11-12 14:57] varlesh commented on #206
It's strange, because old version (not JSON) working fine with wire

[2016-11-12 15:02] varlesh commented on #206
Whatsie working, Wire not
![image](https://cloud.githubusercontent.com/assets/8083855/20238685/1f7413f2-a902-11e6-8e12-df8b9abe9192.png)

[2016-11-12 15:05] bil-elmoussaoui commented on #206
Wire, change the installation location to `/usr/lib/wire/resources`. I added this path to the json file, clone and try again :)

[2016-11-12 15:05] varlesh commented on #206
[code]

[2016-11-12 15:07] bil-elmoussaoui commented on #206
Fixed, it was a typo :p

[2016-11-12 15:10] varlesh commented on #206
Icon not changed

[2016-11-12 15:11] varlesh commented on #206
![image](https://cloud.githubusercontent.com/assets/8083855/20238755/664b00dc-a903-11e6-87f1-b84c3a4fb514.png)

[2016-11-12 15:12] bil-elmoussaoui commented on #206
What if you try with `--only wire`? What's the result?

[2016-11-12 15:13] varlesh commented on #206
[code]
But icon not changed!

[2016-11-12 15:14] bil-elmoussaoui commented on #206
Well, copy the app.asar to your home directory and run
`asar extract app.asar ./wire`
Move to `/wire/img` and see if the icon changed?

[2016-11-12 15:16] varlesh commented on #206
Not JSON version worked! https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/9aad49a67c004b314dbdb4cddbc512e8d552e6f7

[2016-11-12 15:16] varlesh commented on #206
it's problem with new json database only

[2016-11-12 15:17] #206 closed

[2016-11-12 15:17] varlesh commented on #206
On PPA available old version https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/9aad49a67c004b314dbdb4cddbc512e8d552e6f7 and this version works with Wire.
New git-version with json-database not fix Wire

[2016-11-12 15:18] bil-elmoussaoui commented on #206
Fixed! I modified the path of the icons on the new version, don't know or remember why :P

[2016-11-12 15:19] varlesh commented on #206
Now worked :)

[2016-11-12 15:31] bil-elmoussaoui commented on #205
Hardcoded on the code source see https://github.com/Thomas101/wmail/blob/master/src/scenes/mailboxes/src/Components/TrayRenderer.js

[2016-11-12 15:31] #205 closed

[2016-11-12 15:36] varlesh commented on #205
Program have color change - it's good.

[2016-11-12 15:37] bil-elmoussaoui commented on #205
Yeah but drawing the icons is not the best solution, it can be fixed easily by using the icon from the theme instead of hardcoding things even more.

[2016-11-12 15:39] varlesh commented on #205
It's better than nothing ))

[2016-11-12 15:41] varlesh commented on #205
I found site with electron apps. OMG, it's crazy - very more apps use Electron.
http://electron.atom.io/apps/

[2016-11-12 15:44] varlesh commented on #205
Oh, no... Please stop :)! I must will be draw new icons...

[2016-11-12 15:46] bil-elmoussaoui commented on #205
Well, not all of them have tray icons :P

[2016-11-12 17:24] bil-elmoussaoui commented on #206
Fixed the Hexchat issue on master!

[2016-11-12 17:32] varlesh commented on #206
Fine, working!

[2016-11-13 09:03] lbngoc opened #207 "cannot start hardcode-tray"
Hi,

I use Linux Mint 18 and install hardcode-tray from PPA, when I type this command "hardcode-tray" from Terminal, I face this error:
[code]
Can anyone tell me how to fix this ?
Many thanks !!

[2016-11-13 12:25] edgard opened #208 "Icon for clipit"
Hi Bilal!

Would it be possible to fix clipit tray icon? Numix circle includes an icon but it's color and it is out of place on a monochrome tray.

[2016-11-13 12:34] bil-elmoussaoui commented on #208
Can you screenshot the tray icon?

[2016-11-13 12:35] bil-elmoussaoui commented on #207
You will need to install `python3-gobject` As i don't use Mint, i don't know the name of the package there.

[2016-11-13 12:37] bil-elmoussaoui opened #209 "Json enhancements"
- [x] Add icons_path key
- [x] Replace path with app_path key
- [x] Remove Hexchat script
- [x] Modify icons/app path for the rest of applications

[2016-11-13 12:37] edgard commented on #208
Sure thing, here it is: https://u.teknik.io/UCj5o.png

Numix circle has
/usr/share/icons/Numix-Circle/48/apps/clipit-trayicon.svg

But it's that colored one.

[2016-11-13 12:56] bil-elmoussaoui commented on #208
This cannot be fixed, because the application uses the same icon for the application icon (on the desktop file) and for the tray icon. As you can see in `/usr/share/Numix/22/status/` you will find an icon named `renamed-clipit-trayicon`. We have renamed the icons that had the same status/app icon name. Which caused some issues (the tray icon being displayed instead of the app icon..)

In order to

[2016-11-13 13:00] #208 closed

[2016-11-13 13:06] bil-elmoussaoui commented on #203
I'm going to create a new aur repo, once i've done with that i will request a merge with your repo. As the name of the repo is not the name of the script...
There's also few things to change.

[2016-11-13 18:06] yalok opened #210 "sni-qt Ubuntu 16.10 dependency failure"
Hi

Here is an installation issue:
[code]

[2016-11-13 18:14] bil-elmoussaoui commented on #210
@yalok I'm not the maintainer of the PPA and i don't use Ubuntu neither.. @varlesh is the maintainer of the PPA. I will ping him here and we will see what he will say :)
@varlesh can you take a look at this?

[2016-11-13 18:44] yalok opened #211 "No change for indicator-lunar"
Indicator-lunar remains colorful.

https://launchpad.net/~thebernmeister

[2016-11-13 18:53] bil-elmoussaoui commented on #211
Indicator lunar icons are not hardcoded, the icons are
- `indicator-lunar`
- `indicator-lunar-satellite`
You just need to report an issue to theme you're using to include those icons

[2016-11-13 18:53] #211 closed

[2016-11-13 19:18] bil-elmoussaoui commented on #145
I downloaded the source code of the application, those are the tray icons used by the applications
https://github.com/BOINC/boinc/tree/master/clientgui/res
For example `boincdisconnect.xpm`
The problem, is once you install a pre-compiled application, you won't find any trace of those icons :P

[2016-11-13 19:24] varlesh commented on #210
@yalok Fixed. Please update packages database and install after a few minutes.

[2016-11-13 19:30] varlesh commented on #210
@yalok Please test hardcode-tray (and sni-qt) on Ubuntu 16.10, because now right work confirmed on Ubuntu 16.04 only.

[2016-11-13 19:41] varlesh commented on #207
@bil-elmoussaoui  For PPA use depends: git, python3, wget, inkscape, python3-cairosvg, gir1.2-rsvg-2.0, libqt4-svg, sni-qt
Need add `python3-gi`?

[2016-11-13 19:44] varlesh commented on #207
http://packages.ubuntu.com/search?keywords=python3-gi&searchon=names&suite=xenial&section=all

[2016-11-13 19:48] varlesh commented on #207
Also availabe package `python3-gi-cairo`. I don't know what use on script, because i'm not programmer :)
http://packages.ubuntu.com/xenial/python3-gi-cairo

[2016-11-13 19:49] varlesh commented on #207
I think it's python3-gi, because i'm use Ubuntu and script working fine. python3-gi-cairo not installed

[2016-11-13 20:17] bil-elmoussaoui commented on #207
Yes its python3-gi

[2016-11-13 20:18] varlesh commented on #207
Packages updated with fresh git-version, python3-gi added.
Close.

[2016-11-13 20:24] varlesh commented on #207
@bil-elmoussaoui Need add python3-g depends on README

[2016-11-13 20:25] bil-elmoussaoui commented on #207
Added

[2016-11-13 20:25] varlesh commented on #207
@lbngoc Update APT package database and reinstall `hardcode-tray`, now fixed.

[2016-11-14 02:44] lbngoc commented on #207
@bil-elmoussaoui @varlesh  Thanks for your support !
Finally I found that this issue was occurred because of my python3 version (3.4), I update to version 3.5 and this issue is fixed.
I think you need to note this to README.

[2016-11-14 11:42] bil-elmoussaoui commented on #207
Well, the script was coded using python 3.3. It must be just a new package that was installed for python3.5 that was needed in order to make everything works in your case.

[2016-11-14 11:42] #207 closed

[2016-11-14 13:21] bil-elmoussaoui commented on #210
@yalok reopen if you still have the same issue. Closing.

[2016-11-14 13:21] #210 closed

[2016-11-14 15:54] #209 closed

[2016-11-14 15:55] bil-elmoussaoui commented on #209
Fixed in 779b73bc8be2dbe74463aac1b95d3c7bbb0a2140

[2016-11-14 17:53] #203 closed

[2016-11-14 17:54] bil-elmoussaoui commented on #203
@varlesh I've added two new packages to AUR. `hardcode-tray` for the latest stable version and `hardcode-tray-git` for the latest development version on git.

[2016-11-14 17:56] varlesh commented on #203
Fine, i'm already update PPA.
We are the best! :laughing:

[2016-11-14 18:03] bil-elmoussaoui opened #212 "Update screenshots"
The screenshots used right now, shows just a few of the applications (almost 70) that we actually can fix using Hardcode-Tray.
Would like to have both screenshots of Numix and  Papirus to show the same applications before and after.

[2016-11-14 18:05] varlesh commented on #212
OMG, i'm not have all this apps

[2016-11-14 18:09] bil-elmoussaoui commented on #212
There's no need to include all the applications icons on the same screenshot.
Something like this might look great
![ElementaryPlus](https://raw.githubusercontent.com/mank319/elementaryPlus/master/StatusIconPreview.png)

[2016-11-14 18:09] edgard commented on #203
@bil-elmoussaoui I haven't seen anywhere how to delete the package, I suppose they will sent something to me to confirm, as soon as they do, I will confirm it.

[2016-11-14 18:10] bil-elmoussaoui commented on #203
I have sent a request to remove the package. I will keep maintaining both, i can add you as co-maintainer in case I'm not available if you would like so :)

[2016-11-14 18:10] varlesh commented on #212
OK i'm add, but only later. I'm busy now

[2016-11-14 18:12] edgard commented on #203
Sure, feel free to add me, I can definitely help if needed.

[2016-11-14 18:16] bil-elmoussaoui commented on #203
Done! You can update the PKGBUILD and your contact information in case ;)

[2016-11-14 18:51] xaxousis opened #213 "Applications not patched, detected on revert"
I am trying to run the script on a Linux Mint 18 fresh install, with Papirus icon theme and I can't get it to work.

This is the output I get:
[code]

When I select revert, I get the following output:
[code]

I guess this has something to do with the script not finding the icons or the apps when trying to set them. The icons are located in the standard `~/.icons/Papirus-GTK' folder.

Thanks for yo

[2016-11-14 18:57] varlesh commented on #213
sni-qt version updated to 0.2.8?

[2016-11-14 19:01] xaxousis commented on #213
Got the one from the PPA.
[code]

[2016-11-14 19:02] varlesh commented on #213
Yes, it's ok.
@bil-elmoussaoui

[2016-11-14 19:13] bil-elmoussaoui commented on #213
You shouldn't revert after applying the new icons :P You have to force quit the application and restart it in order to see the new icon. Or just restart the system

[2016-11-14 19:19] xaxousis commented on #213
I did restart, to no avail !

[2016-11-14 19:20] varlesh commented on #213
@xaxousis If install icon theme on root directory?

[2016-11-14 19:21] xaxousis commented on #213
I tried that too...

[2016-11-14 19:22] varlesh commented on #213
hm

[2016-11-14 19:27] varlesh opened #214 "Telegram icons created wrong path"
hardcode-tray v3.5
icons created on **~/.local/share/TelegramDesktop/tdata**
right path **~/.local/share/TelegramDesktop/tdata/ticons**
![image](https://cloud.githubusercontent.com/assets/8083855/20279422/8f49cc36-aab9-11e6-95b8-0ad451784375.png)

[2016-11-14 19:29] bil-elmoussaoui commented on #213
Which version of hardcode-tray are you using? try this to know `hardcode-tray --version` and how did you install it

[2016-11-14 19:33] xaxousis commented on #213
I've been fiddling with `script.py` a bit. It detects:
  - Chromium (which is not installed on the computer by the way);
  - Hexchat, the app_path points directly to the executable but it isn't patched;
  - Skype, the app_path points to "/usr/share/skype" while the binary is at /ussr/bin/skype.

I tried specifying Skype with the `--path /usr/bin/skype` option. It is then found but not patched.

[2016-11-14 19:33] xaxousis commented on #213
I'm using the version from the PPA
[code]

[2016-11-14 19:35] bil-elmoussaoui commented on #214
Can't confirm that at all :P as you can see in the icons path https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/database/telegram.json

[2016-11-14 19:37] bil-elmoussaoui commented on #213
Well, the script is more complicated than your thought! The app_path is used only to detect if the application is installed, which is the case as they're shown when you hit revert.
You need to check the icons_path to see if the icons have been created successfully or not.

[2016-11-14 19:41] varlesh commented on #214
But i'm now tested and script create icons and symlinks on **tdata** folder.
Maybe need add slash after ticons?:
`"{userhome}/.local/share/TelegramDesktop/tdata/ticons"`

[2016-11-14 19:43] #214 closed

[2016-11-14 19:43] bil-elmoussaoui commented on #214
Completly forgot the /, should be all good right now

[2016-11-14 19:43] varlesh commented on #214
Now  worked :+1:

[2016-11-14 19:44] xaxousis commented on #213
`icon_path` is empty for all the programs, but `app_icons` seems to hold the correct values.

[2016-11-14 19:47] varlesh commented on #213
On Ubuntu 16.04 script worked with Papirus-GTK icon theme (installed on root directory):
![image](https://cloud.githubusercontent.com/assets/8083855/20280119/38684b7e-aabc-11e6-897d-eabd94d44dbe.png)
Telegram and Chrome icons on tray

[2016-11-14 19:47] varlesh commented on #213
Installed from PPA

[2016-11-14 19:49] bil-elmoussaoui commented on #213
I don't understand anything, you have been saying that nothing is fixed. And now Chrome and Telegram are? Can you please explain more.

[2016-11-14 19:59] xaxousis commented on #213
No, I've been trying to make it work for Skype and HexChat. Which are detected by the script but not patched. I've since been trying to find out how to have them work.

[2016-11-14 20:01] bil-elmoussaoui commented on #213
Which version you have of skype? Can you try something like `hardcode-tray --only hexchat`

[2016-11-14 20:06] bil-elmoussaoui commented on #213
I know what causing this issue, will push a fix right now

[2016-11-14 20:10] xaxousis commented on #213
Great ! :D
I was about to post the JSON content of the `app` variable for HexChat.

[2016-11-14 20:15] #213 closed

[2016-11-14 20:16] bil-elmoussaoui commented on #213
Should be fixed! it's not the best fix yet, but if it's does what it should do, i will refactor this part of code :P

[2016-11-14 20:18] xaxousis commented on #213
Thanks ! :smiley:
I'll check that as soon as possible.

[2016-11-14 20:18] bil-elmoussaoui commented on #213
@xaxousis You will have to clone the repo in order to use the latest version, check the wiki on how to do so

[2016-11-14 20:53] varlesh commented on #213
@xaxousis Use option `hardcode-tray -ug `

[2016-11-15 03:22] KottV commented on #181
Anyone tested nomachine?
doesn't work for me (KDE 5.8.3)
and i've found lot of original themed tray icons in /usr/NX/share/images/

[2016-11-15 12:37] varlesh opened #215 "Youtube indicator not full"
Fixed script:
youtube-indicator-dark-sync{0-9}.svg
youtube-indicator-light-sync{0-9}.svg
youtube-indicator-downloading-dark.svg
youtube-indicator-downloading-light.svg

[code]
![image](https://cloud.githubusercontent.com/assets/8083855/20305975/3fd0b062-ab49-11e6-9199-ddfc8f7e4a29.png)

[2016-11-15 13:54] bil-elmoussaoui commented on #215
Which ones are missing ?

[2016-11-15 13:57] varlesh commented on #215
youtube-indicator-dark-sync{0-9}.svg
youtube-indicator-light-sync{0-9}.svg
youtube-indicator-downloading-dark.svg
youtube-indicator-downloading-light.svg

[2016-11-15 13:58] varlesh commented on #215
On database available:
youtube-indicator-dark-sync{0-5}.svg
youtube-indicator-light-sync{0-5}.svg

[2016-11-15 13:59] varlesh commented on #215
@bil-elmoussaoui on first message already fixed code, compare

[2016-11-15 14:00] #215 closed

[2016-11-15 14:00] bil-elmoussaoui commented on #215
Done

[2016-11-15 19:12] lordbertus opened #216 "Script not running on Ubuntu 16.10: ImportError"
When I try to run the script on Ubuntu 16.10 64bit (Hardcode-Tray installed through the PPA):

bert@bertswritingmachine:~$ sudo hardcode-tray

Traceback (most recent call last):
  File "script.py", line 13, in <module>
    from csv import reader
  File "/usr/local/lib/python3.5/csv.py", line 7, in <module>
    from _csv import Error, __version__, writer, reader, register_dialect, \
ImportError: /u

[2016-11-15 19:20] bil-elmoussaoui commented on #216
You must use `hardcode-tray` and not `sudo hardcode-tray`. I don't use csv anymore. I will remove the unneeded code right now

[2016-11-15 19:25] varlesh commented on #216
@lordbertus
[code]

[2016-11-15 19:31] varlesh opened #217 "[Question] Support not hardcoded apps"
@bil-elmoussaoui Hi :)
Some apps have one icon name for tray and desktop-file. This not like me and some users, because we like monochrome icons for tray :)
Maybe we can add hack for this apps?

For example, apps:
[code]

[2016-11-15 19:43] #216 closed

[2016-11-15 19:45] bil-elmoussaoui commented on #181
Which theme are you using? I personally don't use No Machine, so i couldn't test it correctly. Which are the icons that are missing so i can see if i can fix them too.

[2016-11-15 19:47] bil-elmoussaoui commented on #216
Released a new version, 3.5.1 which includes to many small fixes. Should fix your issue too

[2016-11-15 19:50] bil-elmoussaoui commented on #217
I don't think i can do something about this :( Numix had a long discussion about how to fix this and sadly we got no way to fix those applications. Either the application should rename the tray icon name or the application name. I would like to create a PR for each project to do that but would they merge it ?

[2016-11-15 19:52] varlesh commented on #216
Soon updated on PPA

[2016-11-15 19:52] lordbertus commented on #216
Thanks for the response. Actually the issue is there whether I use sudo or not. Unfortunately, after applying all the steps written by Varlesh and making sure I have the latest version, I still have the same problem:

bert@bertswritingmachine:~$ hardcode-tray --update
Hardcode-Tray is up to date

bert@bertswritingmachine:~$ hardcode-tray
Traceback (most recent call last):
  File "script.py", line

[2016-11-15 19:56] bil-elmoussaoui commented on #216
It's seems that your python installation is broken :( Please open an issue on a ubuntu forum, as i'm using Arch linux and i can not help you fix this!

[2016-11-15 20:00] varlesh commented on #217
I think devs not fixed this, because not interested for them...
Better variant - use another apps

[2016-11-15 20:00] bil-elmoussaoui commented on #181
NoMachine have only one tray icon? the red one?

[2016-11-15 20:00] varlesh commented on #216
@lordbertus **hardcode-tray --update-git**

[2016-11-15 20:02] bil-elmoussaoui commented on #216
@varlesh no need to use update-git as i've released a new version!

[2016-11-15 20:04] varlesh commented on #216
Oh, yes i'm stupid ^)

[2016-11-15 20:06] varlesh commented on #181
@KottV Papirus have NoMachine icons
Numix not available:
https://github.com/numixproject/numix-icon-theme/issues/1158

[2016-11-15 20:10] #181 closed

[2016-11-15 20:11] bil-elmoussaoui commented on #181
Fixed this issue, the icons should be replaced... There's only two tray icons
![tray-archlinux](https://cloud.githubusercontent.com/assets/7660997/20322090/0cb4a7b8-ab78-11e6-9719-3ad7e8aa713d.png)
![tray-archlinux-faded](https://cloud.githubusercontent.com/assets/7660997/20322091/0cb5807a-ab78-11e6-8239-121a4424456d.png)
the second one is transparent by default (nothing shown) but you can use the

[2016-11-15 20:13] varlesh commented on #181
good solution :+1:  Because i'm don't want draw 28 icons

[2016-11-15 20:16] bil-elmoussaoui commented on #217
For vlc, i might have a "solution". As it's a Qt application, it must create a folder under `/tmp` with the icon on it. Can you check that?

[2016-11-15 20:17] varlesh commented on #181
@bil-elmoussaoui  This icons not used anymore?:

- nomachine-desktop
- nomachine-recording
- nomachine-service

[2016-11-15 20:18] bil-elmoussaoui commented on #181
Yeah, but you can keep them just in case..

[2016-11-15 20:18] varlesh commented on #181
ok

[2016-11-15 20:20] varlesh commented on #217
Ok, some momnets only... i'm now fix nomachine

[2016-11-15 20:21] varlesh commented on #217
For tray icon name `vlc-panel`

[2016-11-15 20:23] bil-elmoussaoui commented on #217
I know that, just check if there's any vlc icons in `/tmp`?

[2016-11-15 20:29] varlesh commented on #217
hm, vlc use **vlc-panel** icon on tray (tested with Unity)
![image](https://cloud.githubusercontent.com/assets/8083855/20322751/43ed45ec-ab8b-11e6-82f9-3f8efe869dd7.png)

[2016-11-15 20:31] varlesh commented on #217
Not needed for Unity  DE:
![image](https://cloud.githubusercontent.com/assets/8083855/20322842/8e9eb76a-ab8b-11e6-9519-959ebfb6ca8f.png)
VLC good devs :)

[2016-11-15 20:33] varlesh commented on #217
/tmp not contained icon for vlc

[2016-11-15 20:36] bil-elmoussaoui commented on #217
Anyway, i can't fix the rest of the apps :P i'm going to close this.

[2016-11-15 20:36] #217 closed

[2016-11-15 20:37] bil-elmoussaoui commented on #212
@varlesh Have you took a look at this?

[2016-11-15 20:37] varlesh commented on #217
Ok

[2016-11-15 20:39] varlesh commented on #212
Oh, im forgot. Sorry

[2016-11-15 20:40] varlesh commented on #212
Soon add...

[2016-11-15 21:54] varlesh commented on #212
![papirus](https://cloud.githubusercontent.com/assets/8083855/20325803/2f54b564-ab97-11e6-953f-2d79ebaaebfd.png)

[2016-11-15 22:02] bil-elmoussaoui commented on #212
Amazing! Can you do the same with Numix? :+1:

[2016-11-15 22:07] lordbertus commented on #216
So yeah probably something wrong with my Python installation, will check it elsewhere. Thanks for your willingness to help though!

[2016-11-15 22:10] bil-elmoussaoui commented on #216
@lordbertus This might help you https://unix.stackexchange.com/questions/218911/help-me-repair-my-python-i-think-dpkg-has-to-be-reset-very-tricky-issue

[2016-11-16 01:24] varlesh opened #218 "[warning] Script change recursive owner system folders with Guake"
After apply script for **guake** change recursive owner system folders from ROOT to USER.
**/usr/share/pixmaps/guake**
RECURSIVE!!!
![2016-11-16 04-20-23](https://cloud.githubusercontent.com/assets/8083855/20331153/94c2e3e0-abb4-11e6-909f-0db62b74af91.png)

[2016-11-16 01:30] bil-elmoussaoui commented on #218
I know what causes this issue. Will fix it tomorrow morning

[2016-11-16 01:35] KottV commented on #181
yep, now evrthng ok

[2016-11-16 01:43] KottV commented on #181
I use papirus, it's just perfect.

[2016-11-16 01:47] bil-elmoussaoui commented on #181
Happy to hear that !

[2016-11-16 02:44] #218 closed

[2016-11-16 02:45] bil-elmoussaoui commented on #218
Fixed on master

[2016-11-17 18:13] bil-elmoussaoui commented on #212
@varlesh any news? :)

[2016-11-17 18:18] varlesh commented on #212
@bil-elmoussaoui Sorry, but i'm now busy :( Fix more thousand icons on Papirus... Will be global update

[2016-11-18 06:02] lbngoc opened #220 "Not work on Linux Mint"
I am using Linux Mint 18, after run `hardcode-tray --apply` it seem did not working, all applications icon was not changed, excluded skype apha
![](https://i.imgur.com/dERgQQ7.png)

[2016-11-18 11:28] bil-elmoussaoui commented on #220
It must be the theme you're using. Hardcode-tray does not have any icons, it's uses the icons provided by the theme itself. So just use an other theme, or open a new issue upstream to ask the designers of Super Flat Remix to add Hardcode-Tray support.

[2016-11-18 11:28] #220 closed

[2016-11-18 16:35] lbngoc commented on #220
@bil-elmoussaoui  Thank you for explaining ! But something was wrong here because current icon theme on my system was [Papyrus](https://github.com/PapirusDevelopmentTeam/papirus-icon-theme-gtk).
I tried with this command ` hardcode-tray --theme Papirus-GTK  --apply` but nothing was changed.

[2016-11-18 18:56] bil-elmoussaoui commented on #220
The theme name is Paiprus-gtk and not Papirus-GTK

[2016-11-19 05:34] lbngoc commented on #220
I attach my settings Theme in Linux Mint and my command here, what was wrong here :(
![](https://i.imgur.com/6D4WX0O.png)
Also tried with `Paiprus-gtk`, `Papirus-gtk`.. :( but not working too

[2016-11-19 10:55] bil-elmoussaoui commented on #220
You need to install the patched version of sni-qt in order to make megasync icons works

[2016-11-19 12:46] Foggalong commented on #198
@bil-elmoussaoui While the script installs and runs fine from the PPA, this still isn't fixing ownCloud for me on 16.10 :/

[2016-11-19 23:04] bil-elmoussaoui commented on #198
@Foggalong It must be sni-qt :( can you tell me which system are you using so i can try to recreate the same system as a VM and see if i can figure it out

[2016-11-20 02:38] Foggalong commented on #198
@bil-elmoussaoui Ubuntu 16.10, XFCE Panel, ownCloud 2.2.2, sni-qt & hardcode tray from the PPA mentioned here.

[2016-11-20 12:30] kadza93 opened #221 "Archlinux --theme"
I have installed hardcode-tray using yaourt, when I use `hardcode-tray` in terminal I get Adwaita icons detected even tho I don't use them. So i did try to force theme via `hardcode-tray --theme Numix` and after trying to apply to all i get following error.

[code]

I really have no clue whats wrong i'm on kde de.

Edit: Here is the screen shoot if it makes it more readable.

![screenshot_20161120

[2016-11-20 13:03] bil-elmoussaoui commented on #221
Those errors
[code]
Are due to your Gtk theme.
Can you try to upgrade to the git version using `hardcode-tray --update-git` and try again?
I think the issue is due to a missing file in your chrome/chromium installation (the file resources.pak must be broken :( )

[2016-11-20 13:53] kadza93 commented on #221
Nope still the same. Mind you i'm using theme from [this](https://github.com/varlesh/Arc-Dark-KDE) repo.

[2016-11-20 13:54] bil-elmoussaoui commented on #221
Can you try reinstalling Chrome/chromium ?

[2016-11-20 13:56] kadza93 commented on #221
Maybe because i'm on beta of chrome, i'l try installing stable release.

[2016-11-20 14:00] bil-elmoussaoui commented on #221
Both versions are supported. Just give the reinstallation a try

[2016-11-20 14:10] kadza93 commented on #221
Reinstalled both, same error.

[2016-11-20 14:13] kadza93 commented on #221
When i try `hardcode-tray --theme Numix --only franz` i get `No apps to fix! Please report on GitHub if this is not the case` i don't need really to fix chrome because i will not be displaying it but nevertheless its not working for some reason.

[2016-11-20 15:23] bil-elmoussaoui commented on #221
How did you installed franz? Using yaourt? I will see how to fix the chrome issue

[2016-11-20 15:27] kadza93 commented on #221
Yeah i installed both chrome and franz via `yaourt`.

[2016-11-20 15:39] bil-elmoussaoui commented on #221
Which folders do you have on `/opt/`? (try something like `ls`)

[2016-11-21 15:47] bil-elmoussaoui commented on #221
Ping?

[2016-11-21 20:49] #221 closed

[2016-11-21 20:55] bil-elmoussaoui commented on #221
I pushed a fix to avoid the issue you're having with the chrome icons. For franz, you must have installed `franz-bin`, I pushed a new fix for this one too.

[2016-11-22 01:26] kadza93 commented on #221
@bil-elmoussaoui Sorry for late answer i have been busy. So update managed to try and change the theme but still no luck.
![screenshot_20161122_022338](https://cloud.githubusercontent.com/assets/9012882/20507440/f8c637c0-b05a-11e6-851d-46166af7f360.png)

I did try with numix same result.

[2016-11-22 01:30] kadza93 commented on #221
As for /opt
![ls-l](https://cloud.githubusercontent.com/assets/9012882/20507560/a50f1e8e-b05b-11e6-950b-38f730623b8f.png)

[2016-11-22 08:49] bil-elmoussaoui commented on #221
Please install Inkscape. As you can see svg to png lcons are not active on your screenshot. See README for more information

[2016-11-22 21:51] bil-elmoussaoui commented on #212
Not a problem, i've updated the screenshot here https://github.com/bil-elmoussaoui/Hardcode-Tray#themes, the credits are on the commit https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/9c3abf990ea014105021ab6951d7601e1e107e5b

[2016-11-24 07:28] varlesh opened #222 "qbittorrent (monochrome icons)"
I know, for tray use desktop icon, BUT qbittorrent have light and dark icons (it's enabled on settings).

![image](https://cloud.githubusercontent.com/assets/8083855/20589899/752264ac-b230-11e6-8e1e-83debb3e10fa.png)

Maybe we can fix this icons?
for example icon name` qbittorrent-panel-dark` and `qbittorrent-panel-light`

icon created on tmp :)
![image](https://cloud.githubusercontent.com/assets/

[2016-11-24 11:26] varlesh commented on #222
I think his code will be worked...
[code]

[2016-11-24 11:53] bil-elmoussaoui commented on #222
Have you tried your code? also you must change `force_create_folder` to `true`

[2016-11-24 12:00] varlesh commented on #222
oops, not needed... program apply icon `qbittorrent-panel` from icon theme :)
![image](https://cloud.githubusercontent.com/assets/8083855/20597785/bbd41c80-b256-11e6-9b9d-8342f3db28fb.png)
It's worked how with vlc

[2016-11-24 12:01] #222 closed

[2016-11-24 12:14] varlesh opened #223 "Rrevert option not worked"
Git-version: 693c13c5cf77a0f1fb6612f3db1631d4c9551c30
log:
[code]

[2016-11-24 12:27] #223 closed

[2016-11-24 12:27] bil-elmoussaoui commented on #223
Fixed

[2016-11-24 12:32] varlesh commented on #223
Now it's ok! You are awesome :+1:

[2016-11-25 15:21] Foggalong opened #225 "Inconsistent Progress Bar Persistence"
The progress bars which the script displays while fixing don't have consistent persistence. The first few cycle through, each one replacing the position of the last (I assume this is intended functionality?)
![edited_sc](https://cloud.githubusercontent.com/assets/5920259/20629230/5161bd0e-b322-11e6-9286-298a230386d7.png)
But then the last one always remains rather than being replaced by the done s

[2016-11-25 15:24] Foggalong opened #226 "ownCloud Not Being Fixed"
From what I understand the PPA introduced in #198 was designed to fix the problem of the patched SNI-Qt PPA not being available for 16.04 and above. I'm still having the same issue even with the new one though.

My system is Ubuntu 16.10 with XFCE Panel, and ownCloud 2.2.2 says it's being fixed by the script but remains hardcoded.

[2016-11-25 16:51] bil-elmoussaoui commented on #226
Do you have any other qt application installed ? In order to verify if it's a sin-qt issue or something else

[2016-11-25 16:52] bil-elmoussaoui commented on #225
Will push a fix this evening

[2016-11-25 19:52] Foggalong commented on #226
I don't, but I'd be willing to install one to test. Recommendation?

[2016-11-25 19:52] bil-elmoussaoui commented on #226
You can try megasync

[2016-11-25 19:54] Foggalong commented on #226
@bil-elmoussaoui Preferably something in the Ubuntu repos, though I'll try Mega if nothing else.

[2016-11-25 19:55] bil-elmoussaoui commented on #226
You can still try the old skype version, if i still remember it's on Ubuntu ppa

[2016-11-25 20:01] varlesh commented on #226
i confirm this, new version not see megasync:
![image](https://cloud.githubusercontent.com/assets/8083855/20634520/26cd035a-b363-11e6-900a-808f4b068cd9.png)

[2016-11-25 20:02] bil-elmoussaoui commented on #226
@varlesh Have you ran the script after installing megasync?

[2016-11-25 20:03] varlesh commented on #226
of course

[2016-11-25 20:04] varlesh commented on #226
Maybe change paths? Because icon reverted:
[code]

[2016-11-25 20:05] varlesh commented on #226
on tmp
![image](https://cloud.githubusercontent.com/assets/8083855/20634586/9c522948-b363-11e6-877f-0a55101060dd.png)

[2016-11-25 20:07] bil-elmoussaoui commented on #226
Those icons are already in the database, it seems that either MegaSync ships it's own version of libsni-qt or that the patch we used to use is not working anymore :(

[2016-11-25 20:08] varlesh commented on #226
Ok, i'm now test with old version (Not json)...

[2016-11-25 20:16] varlesh commented on #226
With old version 9aad49a67c004b314dbdb4cddbc512e8d552e6f7 worked, JSON-version very bugged.
![image](https://cloud.githubusercontent.com/assets/8083855/20634736/13c11c86-b365-11e6-8ea6-243349cc5516.png)

[2016-11-25 20:16] bil-elmoussaoui commented on #226
Fixed the issue for json version, can you try again?

[2016-11-25 20:20] varlesh commented on #226
Also for better looking need add status for changed icons, how reverted:
[code]
Yes show progress, but i'm not see what apps changed. For example:
[code]

[2016-11-25 20:22] varlesh commented on #226
Mega worked with fresh git-version!

[2016-11-25 21:20] bil-elmoussaoui commented on #225
Better like this?
![capture du 2016-11-25 22-16-06](https://cloud.githubusercontent.com/assets/7660997/20635442/4fdc4478-b35d-11e6-94de-a40ea889e4e3.png)
![capture du 2016-11-25 22-19-22](https://cloud.githubusercontent.com/assets/7660997/20635443/4fdd3b26-b35d-11e6-8d17-af75cc0e413d.png)

[2016-11-25 21:21] varlesh commented on #225
Yes, it's fine! :+1:

[2016-11-25 21:28] #225 closed

[2016-11-25 21:48] bil-elmoussaoui opened #227 "Convert old spotify script from bash to python"
I think we should convert the python script from bash to python. One of the main reason to do so is to let the users keep using Hardcode-Tray even if the don't have cairo or Inkscape installed.
As we don't verify if svg2png is enabled on bash script, which we should do. The user will get some errors and this might mess the resources.zip file.

We can use ZipFile which is shipped with default pytho

[2016-11-25 21:49] bil-elmoussaoui commented on #226
Also @Foggalong i might need to see the content of /tmp the icon names might have changed..

[2016-11-25 23:05] bil-elmoussaoui commented on #227
Fixed in be7ef3897f8388645266e17a29122e987f236a8b
I've also added HiDPI support for tray icons.
Spotify icons names are named this way `spotify-linux-xx.png`, so now the created icons are scaled up/down to all different sizes so the icon will look better. Thing that wasn't possible using bash :(
The unziping/ziping processor takes more time indeed. But the user applies the script once in a while,

[2016-11-25 23:05] #227 closed

[2016-11-26 18:00] Chamrosh opened #228 "add lantern and alkasir icon"
https://getlantern.org/
https://alkasir.com/en/

[2016-11-26 18:12] bil-elmoussaoui commented on #228
I just built lantern on my desktop. The icon is stored under /tmp with the name systray_rjbgJW. As the file will be removed once the application is closed, this will make it impossible to theme only if i can access to the source code of the application.I will clone the source code and investigate.

[2016-11-26 18:31] bil-elmoussaoui commented on #228
This is sadly hardcoded. As you can see here https://github.com/getlantern/lantern/blob/devel/src/github.com/getlantern/systray/systray_linux.c#L41
This https://github.com/getlantern/lantern/blob/devel/src/github.com/getlantern/systray/systray_linux.c#L45 will generate a unique icon name.
The icon is received a bytes data. https://github.com/getlantern/lantern/blob/devel/src/github.com/getlantern/

[2016-11-27 02:52] polarathene commented on #212
I just found out about hardcode tray when reading the Papirus theme README, they included this before/after screenshot: https://github.com/PapirusDevelopmentTeam/papirus-icon-theme-kde/blob/master/hardcode-tray-preview.png

It wasn't clear what hardcode-tray was doing with it's description, it fixes something about tray icons and themes. I'm guessing some tray icons/apps don't respect themes for s

[2016-11-28 01:51] bil-elmoussaoui commented on #212
My english skills are not that good, if you have a better description just open a PR and i will merge it ;)

[2016-11-28 08:31] varlesh commented on #212
Numix:
![numix](https://cloud.githubusercontent.com/assets/8083855/20661122/1e5a19ea-b55e-11e6-9df4-79621b7a2540.png)
Papirus:
![papirus](https://cloud.githubusercontent.com/assets/8083855/20661128/296d4e38-b55e-11e6-81dc-c20a69695213.png)

[2016-11-28 08:32] varlesh commented on #212
@bil-elmoussaoui Also please fix link to https://github.com/PapirusDevelopmentTeam/papirus-icon-theme

[2016-11-28 08:39] varlesh commented on #212
Papirus:
![papirus-new](https://cloud.githubusercontent.com/assets/8083855/20661326/51a097f6-b55f-11e6-949f-f4d018760386.png)

[2016-11-28 09:35] Jacobtey opened #230 "Pacman status icons"
Hi! What about subject?

[2016-11-28 13:56] bil-elmoussaoui commented on #230
Are you using Pamac by Monjaro? if so the icons are not hardcoded.
You can find the icon names here https://github.com/manjaro/pamac/blob/master/src/tray.vala

[code]

[2016-11-28 13:56] #230 closed

[2016-11-28 13:59] #212 closed

[2016-11-28 14:02] bil-elmoussaoui commented on #226
@Foggalong Can you show me the output of `owncloud --version`

[2016-11-28 14:02] bil-elmoussaoui commented on #212
Done

[2016-11-28 14:06] varlesh commented on #230
also octopi:
https://github.com/aarnt/octopi/blob/0cff45f88c4b41decda6a35a8435c10d29c06a6b/src/uihelper.h

[2016-11-28 14:10] bil-elmoussaoui commented on #230
@varlesh Do you want me to add octopi support?

[2016-11-28 14:14] varlesh commented on #230
if possible.

[2016-11-28 14:15] varlesh commented on #230
icons names from source... (on Papirus already available)

[2016-11-28 14:21] bil-elmoussaoui commented on #230
Couldn't build octopi correctly on my laoptop, can you get the path where the icons are stored, also the binary file in /usr/bin to check if the app is installed ! thanks

[2016-11-28 14:30] varlesh commented on #230
On Manjaro package:
![image](https://cloud.githubusercontent.com/assets/8083855/20671904/5b6769aa-b590-11e6-9c8c-90d7e76a02e7.png)

[2016-11-28 14:31] varlesh commented on #230
[code]

[2016-11-28 14:38] varlesh commented on #230
it's octopi-notifier. Main cpp here:
https://github.com/aarnt/octopi/blob/master/notifier/octopi-notifier/mainwindow.cpp

[2016-11-28 16:07] Foggalong commented on #226
@bil-elmoussaoui Will double check when I'm back with my computer, but it's just the latest version in the Ubuntu repos so I assume [2.2.2](http://packages.ubuntu.com/yakkety/owncloud-client)

[2016-11-28 18:06] bil-elmoussaoui commented on #230
@varlesh done, icon names are
- octopi-indicator
- octopi-error
- octopi-info

[2016-11-28 20:03] varlesh commented on #230
ok, thx

[2016-11-29 19:12] bhajneet opened #231 "Choose Color"
Hello,

Sorry I could not figure out how to direct message the developer.

Is there a way to choose the color of the hardcoded icons? For instance since I'm using Papirus Dark, the icons are all white. I would like to use a less bright color which matches the icons of the Papirus Dark plain greyscale icons.

[2016-11-29 19:59] bil-elmoussaoui commented on #231
Well, it's not possible as the script does not provide any icons. if you want to do any modifications on icons you can open icons that you want to modify using inkscape and change the color to the one you wish

[2016-11-29 20:04] varlesh commented on #231
@bhajneet
[code]

[2016-11-29 20:14] varlesh commented on #231
i'm now commited single color.. update and run:
[code]

[2016-11-29 20:28] bhajneet commented on #231
Ah very cool! I will have to pick files more manually as some icons are darker than others when disabled, but this was a very good lead on using svg @varlesh  (Also I believe the "fill" is only #fff with 3 instead of 6)

[2016-11-29 21:07] varlesh commented on #231
#fff not needed anymore, i'm replace all #fff to #ffffff

[2016-11-29 21:08] varlesh commented on #231
Update Papirus from git

[2016-11-29 21:09] varlesh commented on #231
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/314960d1f450c145c701006140a2f5e37f12f4fe

[2016-11-29 21:11] varlesh commented on #231
All worked fine :)
![image](https://cloud.githubusercontent.com/assets/8083855/20729063/96b6de80-b691-11e6-85b3-ccc5f58858fa.png)

[2016-11-29 21:37] #231 closed

[2016-11-30 11:21] bil-elmoussaoui commented on #231
@wa4557 do you think it's a good idea to add such an option to the script? shouldn't be complicated..

[2016-11-30 13:11] wa4557 commented on #231
Hey, sorry for not being around lately, I'm kinda busy lately. I personally don't think we should add such an option, this is something the icon theme has to provide, not this script

[2016-11-30 23:53] bil-elmoussaoui commented on #226
I just installed xubuntu here, installed owncloud from the main repository.
xubuntu info
[code]
OwnCloud version
[code]
Once i've installed everything, i ran OwnCloud, and the icons was ugly. I ran Hardcode-tray and i had the same result. I checked `/tmp` and i found those icons
![screenshot_2016-12-01_00-49-19](https://cloud.githubusercontent.com/assets/7660997/20776311/0c02e55c-b760-11e6-8854-ea

[2016-12-01 00:04] bil-elmoussaoui opened #232 "xfce weather applet"
The icons are stored on `/usr/share/xfce4/weather/icons/`
with 3 different themes
- `liquid`
- `liquid-dark`
- `simplistic`

and 3 different sizes : 22, 48 & 128.
Only 22 will be used for tray icons.
Icon names
[code]

[2016-12-01 06:16] stelmak opened #233 "Bug: can't apply your's script"
Chromium                 [##......................................] 1/23 4.3%
Traceback (most recent call last):
  File "script.py", line 549, in <module>
    install(fix_only, icon_path)
  File "script.py", line 502, in install
    symlink_file(output_icon, symlink_icon)
UnboundLocalError: local variable 'output_icon' referenced before assignment

[2016-12-02 07:51] #233 closed

[2016-12-02 07:51] bil-elmoussaoui commented on #233
Should be fixed; just update to git version using `hardcode-tray --update-git`

[2016-12-02 10:09] Daniil08 opened #234 "It doesn't work in cinnamon 3.2.2"

[2016-12-02 10:11] bil-elmoussaoui commented on #234
It does not work won't help much debug your issue and fix it. What's the
error you're getting ? Also how did you installed it?

Le 2 déc. 2016 11:09 AM, "Daniil08" <notifications@github.com> a écrit :

[2016-12-02 11:25] Daniil08 commented on #234
So, I installed by the manual. I have not errors, but icons in the panel do not change
![2016-12-02 14-20-46](https://cloud.githubusercontent.com/assets/24314159/20832379/0e7f84fc-b89b-11e6-941b-8b9242466f33.png)

[2016-12-02 11:57] bil-elmoussaoui commented on #234
Well, you have to restart the application in order to see the modifications. For Megasync you will need sni-qt (the patched version)

[2016-12-02 12:04] bil-elmoussaoui commented on #232
@Foggalong @wa4557 @varlesh Do you guys think it's better to create a theme for xfce weather applet by the theme creator as the applet provide a theme changer or should i add it to hardcode-tray support?

[2016-12-02 12:07] varlesh commented on #232
On numix and papirus already available weather icons for panel. Maybe better use this names?

[2016-12-02 12:09] varlesh commented on #232
For example:
[code]

[2016-12-02 12:16] bil-elmoussaoui commented on #232
I know, but i can't change 48 and 256 sizes! it's not what hardcode-tray should do.. can't neither change the three themes

[2016-12-02 12:19] varlesh commented on #232
why 48? weather-* icons available for panel 22 and 24 px's

[2016-12-02 12:22] bil-elmoussaoui commented on #232
48 and 256 sizes are shown when you click on the panel, are shown here http://goodies.xfce.org/_media/projects/panel-plugins/weather-plugin-summary-forecast-rows.png?cache=

[2016-12-02 12:24] varlesh commented on #232
But, you say for panel use only 22px.
Numix files:
[code]

[2016-12-02 12:26] Daniil08 commented on #234
But I restarted the application and I have the patched version of sni-qt

[2016-12-02 12:27] varlesh commented on #232
We hardcoded tray icons, 48px and 256px - it's not tray icons!

[2016-12-02 12:30] varlesh commented on #232
Papirus now not have weather-* icons for other sizes, available only for panel 22 and 24px and symbolic

[2016-12-02 12:32] varlesh commented on #234
@Daniil08 `hardcode-tray -ug` делали?

[2016-12-02 12:34] Daniil08 commented on #234
@varlesh Да, делал, ничего не помогает, либо я что-то не так делаю, но несколько раз переустанавливал уже

[2016-12-02 12:35] varlesh commented on #234
@bil-elmoussaoui anybody tested hardcode-tray with cinnamon? Because i'm try with only Unity and KDE

[2016-12-02 12:36] varlesh commented on #234
@Daniil08 ставьте с PPA, там зависимости нужны

[2016-12-02 12:40] Daniil08 commented on #234
@varlesh всё равно то же самое

[2016-12-02 12:42] varlesh commented on #234
Я лично тестировал в Unity и KDE - все работает отлично. С Cinnamon не подскажу, так как не имею оного.

[2016-12-02 12:43] Daniil08 commented on #234
Надеюсь, что пофиксят, если это не моя личная ошибка

[2016-12-02 12:44] varlesh commented on #234
В смысле пофиксят? Говорю же что работает сейчас, в данный момент в кедах и юнити...

[2016-12-02 12:45] Daniil08 commented on #234
Я имел ввиду для корицы

[2016-12-02 12:51] varlesh commented on #234
@bil-elmoussaoui Anybody test hardcode-tray with Cinnamon? Because some Linux Mint's users have problem for use.
Maybe Arch-users... or others?

[2016-12-02 12:52] varlesh commented on #234
I'm check work with only Unity and KDE

[2016-12-02 12:59] varlesh commented on #234
@Daniil08 Megasync not used patched icons too?

[2016-12-02 13:01] varlesh commented on #234
Because for skype (old version) need install sni-qt:i386 version. For chrome/chromium libappindicator (and kill process)

[2016-12-02 13:13] bil-elmoussaoui commented on #234
Well, if it's not working it must be sni-qt or we are missing some dependency for sni-qt that is installed on your system @varlesh but not on cinnamon by default..

[2016-12-02 13:13] bil-elmoussaoui commented on #232
@varlesh the other sizes are needed too (must be colored), they're used for Gnome Weather

[2016-12-02 13:21] varlesh commented on #234
@bil-elmoussaoui He install from PPA, but PPA have all depends.
@Daniil08 Try:
[code]

[2016-12-02 13:22] varlesh commented on #234
I'm specialy add option --reinstall, because some users not update system now and already have installed not patched sni-qt

[2016-12-02 13:26] varlesh commented on #232
Gnome Weather used not symbolic icon?

[2016-12-02 13:30] Daniil08 commented on #234
@varlesh doesn't work still

[2016-12-02 13:35] varlesh commented on #234
@Daniil08 `apt show sni-qt` log?

[2016-12-02 13:47] Daniil08 commented on #234
@varlesh $ apt show sni-qt
Package: sni-qt
Version: 0.2.8-0~81~ubuntu16.04.1
Priority: optional
Section: x11
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
Installed-Size: 157 kB
Depends: libc6 (>= 2.14), libdbusmenu-qt2, libgcc1 (>= 1:3.0), libqt4-dbus (>= 4:4.6.1), libqtcore4 (>= 4:4.7.3-1ubuntu3~), libqtgui4 (>= 4:4.8.7), libstdc++6 (>= 4.1.1)
Download-Size: 45,5 kB
APT-Manual-

[2016-12-02 13:49] varlesh commented on #234
Try run again script after install patched sni-qt
[code]
Restart apps

[2016-12-02 13:55] Daniil08 commented on #234
@varlesh $ hardcode-tray --theme Papirus -s 22 --apply
Welcome to the tray icons hardcoder fixer!
Your indicator icon size is : 22
Your current icon theme is : Papirus
Svg to png functions are : Enabled
Applications will be fixed : All
Applying now..

Chromium                 [##......................................] 1/26 3.8%
Google Chrome            [###.....................................] 2/

[2016-12-02 13:56] Daniil08 commented on #234
and SkypeAlpha too

[2016-12-02 14:03] bil-elmoussaoui commented on #234
@Daniil08 Force close skypealpha and try again!

[2016-12-02 14:11] varlesh commented on #234
@bil-elmoussaoui Maybe for Mint need additional depends?
Now use this:
[code]

[2016-12-02 14:14] varlesh commented on #234
Similar issue:
https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/220

[2016-12-02 14:20] varlesh commented on #234
i'm now write Mint 18 to usb stick and check this on liveCD

[2016-12-02 14:38] varlesh commented on #234
i confirm this for megasync on Linux Mint 18 Cinnamon 64bit:
![screenshot from 2016-12-02 14-37-54](https://cloud.githubusercontent.com/assets/8083855/20837685/07fe6894-b89d-11e6-9f58-4a778f87f8b1.png)

[2016-12-02 14:41] varlesh commented on #234
icons installed to ~/.local/share/sni-qt/icons/megasync but not apply

[2016-12-02 14:43] varlesh commented on #234
directory `/tmp/sni-qt_megasync_7057-CfXxXd/icons` not contained icons

[2016-12-02 14:46] varlesh commented on #234
`gsettings set org.gnome.desktop.interface icon-theme 'Papirus'` not solve problem

[2016-12-02 14:52] varlesh commented on #234
skype4linux not working too:
![screenshot from 2016-12-02 14-51-07](https://cloud.githubusercontent.com/assets/8083855/20838084/e3522920-b89e-11e6-9ac5-56fd0186a73a.png)

[2016-12-02 15:14] varlesh commented on #234
with last version on KDE Neon (Kubuntu):
[code]

[2016-12-02 15:24] varlesh opened #235 "GTK Parsing Error and bug with dconf after last update"
KDE Neon after last update hardcode-tray from git:
[code]
Also change dconf permissions:
[code]

[2016-12-02 15:49] varlesh commented on #235
Sorry, it's my fualt after kdesudo

[2016-12-02 15:49] #235 closed

[2016-12-02 15:57] aditiapratama opened #236 "hunk #1 FAILED at 145"
Hi, I tried to patch sni-qt, but I got following err
[code]

any lead? I'm on fedora 25

[2016-12-02 16:11] bil-elmoussaoui commented on #235
The gtk parsing error are css errors.. can't do anything about them

[2016-12-02 16:14] bil-elmoussaoui commented on #234
Well for skypeforlinux, which version are you using? can you try changing the status to offline or busy?

[2016-12-02 16:16] aditiapratama commented on #236
![image](https://cloud.githubusercontent.com/assets/982553/20841169/5f0e69d4-b8e5-11e6-8de1-94bc3efe8f56.png)

Here you go

[2016-12-02 16:18] aditiapratama commented on #236
![image](https://cloud.githubusercontent.com/assets/982553/20841202/7c5d4ad2-b8e5-11e6-9a27-61ce7282e671.png)

this is what inside patches

[2016-12-02 16:21] bil-elmoussaoui commented on #236
You can apply the patch manually if you want. if you don't want to do something wrong just email me both of the files and i will send the patched file to you at bil[dot]elmoussaoui[at]gmail[dot]com

[2016-12-02 16:23] Daniil08 commented on #234
@bil-elmoussaoui I can change the status
![2016-12-02 19-21-49](https://cloud.githubusercontent.com/assets/24314159/20841415/c0e1faf2-b8c4-11e6-9e8e-ae4d11cd5174.png)

[2016-12-02 16:23] varlesh commented on #234
skype4linux not worked for me too anymore on KDE Neon.

[2016-12-02 16:26] bil-elmoussaoui commented on #234
@varlesh can you extract the asar file? you will need node and npm, and then `sudo npm install asar`
and to extract the file do `asar extract app.asar ./skype` the content of the asar will be in the skype folder.
Icons must be somewhere here `apps/swx/tray`

[2016-12-02 16:26] varlesh commented on #234
![image](https://cloud.githubusercontent.com/assets/8083855/20841528/32d87a96-b8c5-11e6-9322-d9bac2d7ece6.png)

[2016-12-02 16:27] varlesh commented on #234
@bil-elmoussaoui Sorry No, because npm bugged on  ubuntu. I have error:
`error: missing required argument `dest'`

[2016-12-02 16:29] bil-elmoussaoui commented on #234
ah sorry just use ` asar extract app.asar dest ./skype`

[2016-12-02 16:37] aditiapratama commented on #236
Ok it seems manually apply the patch works. btw should I uninstall/remove sni-qt from repo packages?

[2016-12-02 16:44] varlesh commented on #234
extract, but i'm not found files for tray.
Extracted archive:
https://www.datafilehost.com/d/6be5d44a

[2016-12-02 16:54] varlesh commented on #234
Maybe icons now on content_shell.pak?

[2016-12-02 16:54] varlesh commented on #234
how extract this file?

[2016-12-02 17:06] bil-elmoussaoui commented on #236
Yep

[2016-12-02 17:08] varlesh commented on #234
@bil-elmoussaoui
oh sorry found, worked but... script not change icons and pack to app.asar with original windows icons.
- I'm apply hardcode-tray (on status all OK)
- copy skypeforliinux to another directory
- extract file app.asar and see this:
![image](https://cloud.githubusercontent.com/assets/8083855/20843072/06cf7d54-b8cb-11e6-94ed-ea6002714479.png)

[2016-12-02 17:09] varlesh commented on #234
path resources/dest/tray/win/

[2016-12-02 17:10] bil-elmoussaoui commented on #234
Will implement that ;)

[2016-12-02 17:15] varlesh commented on #234
I hate MS and wtf?
![penguin](https://cloud.githubusercontent.com/assets/8083855/20843362/1f28d62e-b8cc-11e6-9387-6e3352e46310.gif)

[2016-12-03 00:16] #236 closed

[2016-12-03 00:24] bil-elmoussaoui commented on #234
The latest skypeforlinux support is now on master! closing this issue, as the sni-qt issue is the same as #226 please report there with any new information

[2016-12-03 00:24] #234 closed

[2016-12-03 06:59] Daniil08 commented on #226
I turned on indicators in the main settings of cinnamon and megasync started to work
![2016-12-03 09-58-29](https://cloud.githubusercontent.com/assets/24314159/20857483/1b0e731e-b93f-11e6-95cc-4f990327bce3.png)

[2016-12-03 11:55] bil-elmoussaoui commented on #232
On GNOME shell search? No, they never did

[2016-12-03 20:28] Jacobtey commented on #230
Hi! Also there is an octopi-transparent icon - https://github.com/aarnt/octopi/tree/master/resources/images

[2016-12-04 15:24] jlda opened #238 "not working in manjaro kde 16.10.3"
![spectacle ns2921](https://cloud.githubusercontent.com/assets/11981120/20867148/1839a494-ba14-11e6-9f37-cf22784e4566.png)
It's not working for any applications i have...

[2016-12-04 17:04] bil-elmoussaoui commented on #238
Your theme name is Papirus and not papirus

[2016-12-04 17:04] #238 closed

[2016-12-05 19:07] Jacobtey commented on #230
Changing /usr/share/icons/octopi.png  octopi_red.png octopi_yellow.png doesn't effect to octopi-notifier tray icons. Only replacement in source above and recompiling.

[2016-12-05 19:18] bil-elmoussaoui commented on #230
@Jacobtey Well, the icons must be stored somewhere else than. I will take a look

[2016-12-05 19:30] bil-elmoussaoui commented on #230
@Jacobtey The icons are hardcoded on qresource file https://github.com/aarnt/octopi/blob/master/resources.qrc#L10; an equivalent to gresource files.. and those files can not be modified as far as i know. There seem to be an opened issue about that here https://github.com/aarnt/octopi/issues/156

[2016-12-07 16:53] mustaqimM opened #239 "Keepassx icon doesn't change"
When running hardcode-tray, it doesn't detect Keepassx, so nothing changes.

[2016-12-07 16:56] bil-elmoussaoui commented on #239
Which version if Keepassx are you using ? + check this issue out #173

[2016-12-09 00:01] systematicat opened #240 "Some troubles in Ubuntu 16.04.1"
- Ubuntu 16.04.1
- Latest patched sni-qt from git
- Latest Arc-Dark theme
- Latest Papirus-Dark from git
- Latest Harcdode-tray from git
- I want to patch Google Chrome, Keepassx and Skype 4.3

Help me please with these problems:
1) Hardcode-tray didn`t create app folders in ~/.local/share/sni-qt/icons even if I set option "force_create_folder": true in app .json file. So I create them myself.
2)

[2016-12-09 00:07] bil-elmoussaoui commented on #240
Please, first change the title to something else. Saying that the script is absolutely useless won't help me improve it.
In order to explain how things works.
Google chrome does not use a qt tray icons. It's uses a gtk indicator, but the icons are hardcoded on a binary file. `resources.pak`, which can be extracted using the data_pack file provided with the script. Or others libraries. So no folder

[2016-12-09 00:14] systematicat commented on #240
Sorry but after your answer I think I was right name script useless...
What about this - No matter which theme I use even if I set "$hardcode-tray --theme Papirus-Dark --apply" icons in ~/.local/share/sni-qt/icons/skype appear only in dark variant and no icons in other apps folders. ?
And yes I HATE ELECTRON :-) And all you guys who write desktop apps with web technologies.

[2016-12-09 00:16] bil-elmoussaoui commented on #240
Because you're setting the theme using `--theme Papirus-Dark`. We can't have more than one color variant using Qt (sni-qt...) don't know why people still using this.. Try using something like `--theme Papirus` or without it at all.
And which other folders are you talking about ?

[2016-12-09 00:22] systematicat commented on #240
Thx. But it doesn`t work. Icons still setting in dark variant dont`t know why.
"$hardcode-tray" or "$hardcode-tray --theme Papirus --apply" - no difference

[2016-12-09 00:25] bil-elmoussaoui commented on #240
Which icon theme are you using ? Can you screenshot the result on terminal  + the content of the sni-qt folder

[2016-12-09 08:06] wa4557 commented on #240
@systematicat You know this is a FOSS program, so we are working on this in our free-time? Instead of complaining you could help improving it, or fork it and make it better

@bil-elmoussaoui Are there any sni-qt programs that still work? I had a look in the path and it is actually a really simple patch with just a few lines of code (written in C, which would be ok for me), I have absolutely no ide

[2016-12-09 09:53] bil-elmoussaoui commented on #240
Yeah, we can create a new repository for that. Add a log file and we will see how to improve sni-qt support

[2016-12-09 09:54] wa4557 commented on #240
I have no idea how, but I think I have just created a PPA with the patched version of sni-qt :) We'll see how this works out, and if we can add debug infos into the code...

[2016-12-09 10:07] bil-elmoussaoui commented on #240
If this works, we have to put the code somewhere in order to improve it. Maybe adding more features to it

[2016-12-09 10:08] wa4557 commented on #240
i have the code hosted on launchpad
https://code.launchpad.net/~andreas-angerer89/sni-qt/sni-qt-patched

I can add you as collaborator?

[2016-12-09 10:29] bil-elmoussaoui commented on #240
Here's my account on launchpad https://launchpad.net/~bilal-elmoussaoui

[2016-12-09 10:35] wa4557 commented on #240
ppa is ready asa well

https://code.launchpad.net/~andreas-angerer89/+archive/ubuntu/sni-qt-patched

[2016-12-09 10:39] bil-elmoussaoui commented on #226
@Foggalong Can you try this new PPA by @wa4557 https://code.launchpad.net/~andreas-angerer89/+archive/ubuntu/sni-qt-patched . We are going to patch sni-qt directly, and add few features in the future if possible.

[2016-12-09 10:41] bil-elmoussaoui commented on #240
Perfect! Can you use the same recipe to build the patched version of sni-qt for older versions of Ubuntu too?

[2016-12-09 10:41] wa4557 commented on #240
14.04?

[2016-12-09 10:41] bil-elmoussaoui commented on #232
@wa4557 do you have any idea?

[2016-12-09 10:45] bil-elmoussaoui commented on #240
@wa4557 all the possible ubuntu builds, this way we won't force users to upgrade their system just to fix an ugly icon..

[2016-12-09 10:46] wa4557 commented on #240
I can only build supported versions, so 14.04 is the only one I can add

[2016-12-09 10:49] bil-elmoussaoui commented on #240
Well, we add only 14.04 then ;) and i think that the i386 version is missing too :P

[2016-12-09 10:49] wa4557 commented on #240
no, i386 should be built. Just installed it on my system

[2016-12-09 10:54] varlesh commented on #240
Maybe better update sni-qt on my PPA?

[2016-12-09 10:56] varlesh commented on #240
@wa4557 You want maintainer for hardcode-tray packge too?

[2016-12-09 10:57] varlesh commented on #240
or i can copy new sni-qt patched version from your PPA

[2016-12-09 10:57] wa4557 commented on #240
I don't care actually. As far as I can see, you are using the original sni-qt-eplus code. I think we want to change that because we have to change the source code of it. What you can do is use my branch as source for your ppa. I'm going to delete mine then

[2016-12-09 10:59] wa4557 commented on #240
You have to use this branch https://code.launchpad.net/~andreas-angerer89/sni-qt/sni-qt-patched

I'm keeping my ppa for now because I try different things

[2016-12-09 10:59] varlesh commented on #240
Yes, on my PPA e-plus version build for 16.10 release only. For older ubuntu releases only copied

[2016-12-09 11:02] varlesh commented on #240
@wa4557 Oh no... i'm don't know how work with recipie bazar and other tools...
Maybe you want new mantainer for hardcode-tray and sni-qt? For example hardcode-tray will be better integrate update with git (daily builds PPA)

[2016-12-09 11:02] varlesh commented on #240
sorry my Emglish :)

[2016-12-09 11:03] wa4557 commented on #240
ok, i will then use git-import to maintain hardcode-tray as well :) No worries

[2016-12-09 11:04] varlesh commented on #240
Thx! Because i'm not have time for this... Ok, when all finished and update readme - i'm delete my PPA

[2016-12-09 11:13] bil-elmoussaoui commented on #240
We better use the new PPA as i'm going to see if it's possible to use the current theme directly or at least svg icons..

[2016-12-09 11:19] Foggalong commented on #226
Will test that sure :+1:

[2016-12-09 11:28] wa4557 commented on #240
@varlesh How did you make the hardcode-fixer package?

[2016-12-09 11:28] varlesh commented on #240
@wa4557 i'm create manual. Sources and DEBIAN available on PPA

[2016-12-09 11:35] varlesh commented on #226
@Daniil08 i think better use another color for cinnamon tray on Arc Dark, because colors different with papirus:
[code]

[2016-12-09 12:22] wa4557 commented on #240
Ok, I have no idea how to do that, sorry :/ I'm really not good with launchpad. Can you give me any instructions, or can I copy your branch somehow?

[2016-12-09 12:28] varlesh commented on #240
i'm not have branch. Upload only src and changelog.
https://launchpad.net/~varlesh-l/+archive/ubuntu/hardcode-tray/+files/hardcode-tray_3.5.2.1xenial.tar.gz

[2016-12-09 12:29] varlesh commented on #240
unpack archive. And see debian directory

[2016-12-09 12:30] wa4557 commented on #240
ah, ok I get it. So you're not importing with git? I think I can do that automatically :)

[2016-12-09 14:56] wa4557 commented on #240
@bil-elmoussaoui I figured it out how to automaatically upload the git version to launchpad; now I'm a bzr master \o/. In the ppa is now the patched version of sni-qt and a package for hardcode-tray

@varlesh After we change the readme you can delete your ppa I guess :)

[2016-12-09 16:43] wa4557 commented on #232
I think I don't get it. There are 22px icons used in the tray which can easily be changed, right? Then there are also icons for larger sizes which are not used in the tray. Just don't change them, they are not tray icons after all

[2016-12-09 17:00] bil-elmoussaoui commented on #232
The issue is that xfce weather applet offers a way to change the current
theme of it(small and larger sizes..).

Le 9 déc. 2016 5:43 PM, "Andreas Angerer" <notifications@github.com> a
écrit :

[2016-12-09 19:06] Foggalong commented on #226
Nope, still isn't working. After running the script it also seems to have unlinked my ownCloud account from the syncing app which is really weird. It really shouldn't be doing anything that can cause that :/

[2016-12-09 19:32] wa4557 opened #241 "script sets homefolder to owner root"
A rather serious issue occured after I used the script. Somehow the user of the home folder and ~/.local/share was set to root, which prevented me from logging into the computer. Since local/share was affected I suspect it has to do something with sni-qt part of the script? I actually don't want to run the script again, to try out because it is a big hassle to get everything back working. Any idea

[2016-12-09 20:14] systematicat commented on #240
Found all answers...

[2016-12-09 20:14] #240 closed

[2016-12-09 20:34] varlesh commented on #232
@bil-elmoussaoui if you not like xfce weather applet, you can use another app.
For example Gis-weather:
https://github.com/RingOV/gis-weather

[2016-12-09 20:36] varlesh commented on #232
Yes. this app use hardcoded icons too, but SVG's

[2016-12-09 20:40] varlesh commented on #232
also i'm open this issue:
https://github.com/RingOV/gis-weather/issues/26

[2016-12-09 20:50] wa4557 commented on #226
@bil-elmoussaoui Owncloud is not using sni-qt, but native `QIcon`. I'm not sure why it isn't fixed though, shoud be possible to theme them

[2016-12-09 22:16] bil-elmoussaoui commented on #226
It's using sni-qt as far as i know, see #56

[2016-12-09 22:18] bil-elmoussaoui commented on #241
Must be related to this https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/script.py#L131

[2016-12-09 23:17] bil-elmoussaoui commented on #232
@varlesh it's not that i like it or not; i don't even use XFCE lol. I just want to fix as much hardcoded tray icons as i can ;)

[2016-12-09 23:19] bil-elmoussaoui commented on #226
@wa4557 In my system, gnome 3.22 with Arch linux, OwnCloud use the icon from the theme directly. So my guess, is that owncloud supports all the possible ways to create a tray icon on Linux; We just need a library as dependency in order to force OwnCloud to use sni-qt instead of QIcon

[2016-12-09 23:21] bil-elmoussaoui commented on #240
@wa4557 Perfect! i'm going to change the README.
@systematicat Hope that we were able to provide helpful information.

[2016-12-09 23:26] bil-elmoussaoui opened #242 "Build sni-qt patched for ArchLinux"
I have to build a new version of the patched sni-qt for AUR and use it as a dependency for AUR packages instead of the packages that build the PPA provided by elementaryPlus guys.

[2016-12-09 23:37] bil-elmoussaoui opened #243 "sni-qt improvements"
In order to get all the sni-qt issues fixed and help us improve user experience here's a list of things that i will try to sort out if have some free time soon.

- [x] In order to debug issues correctly. We must add a log file somewhere and save all important information; icon names, application name and stuff like that. We can save that here `~/.cache/sni-qt/logs`
- [x] The possibility to use SVG

[2016-12-09 23:56] bil-elmoussaoui opened #244 "pylint all the python files"
Just tried pylint with all the python scripts and there's a lot of things to fix/improve.
Here's the result of each file
- `chrome.py`
[code]
- `data_pack.py`
[code]
- `dropbox`
[code]
- `electron`
[code]
- `spotify`
[code]
- `svgtopng.py`
[code]
- `script.py`
[code]

[2016-12-10 01:04] varlesh opened #245 "support CSS SVG's"
Papirus now have CSS style for all monochrome icons.
But this not worked if icon converted to png... i don't know maybe it's bug...
For example Telegram:
![image](https://cloud.githubusercontent.com/assets/8083855/21069690/ff583010-be84-11e6-8e80-47d541ef29e3.png)
Original icons for tray have color #d3dae3 and show on others DE fine and file managers too:
![image](https://cloud.githubusercontent.c

[2016-12-10 01:05] varlesh commented on #245
@bil-elmoussaoui who convert SVG to PNG for hardcode-tray?

[2016-12-10 01:17] bil-elmoussaoui commented on #245
@varlesh We use either Inkscape or svg2png from cairo library

[2016-12-10 01:25] varlesh commented on #245
hm interested it's bug inkscape or cairo...

[2016-12-10 01:29] bil-elmoussaoui commented on #245
Can you try converting an svg file to a png using Inkscape ? you can use `inkscape -z -f file_name.svg -e file_name.png` and see if you still have the error. If not, i will add an argument to force using inkscape instead of using cairo by default; this way the users having this issue can have a fix waiting for the upstream bug fix

[2016-12-10 01:32] varlesh commented on #245
It's worked fine:
`inkscape -z -f file_name.svg -e file_name.png`
icon have original color #d3dae3

[2016-12-10 01:32] bil-elmoussaoui commented on #245
Perfect! i will add this right now.

[2016-12-10 01:32] varlesh commented on #245
Ok, i'm check this with -ug option

[2016-12-10 01:43] #245 closed

[2016-12-10 01:43] bil-elmoussaoui commented on #245
Fixed! Try using `--force-inkscape` documentation added to README too.

[2016-12-10 01:50] varlesh commented on #245
`hardcode-tray -s 22 --force-inkscape -o telegram`
but not worked - icons black :(

[2016-12-10 01:52] varlesh commented on #245
i'm update hardcode-tray with -ug, delete cache thumbnails and icons from tdata folder... but anyway icons black

[2016-12-10 01:54] bil-elmoussaoui commented on #245
Sorry it was a typo. Should be fixed now

[2016-12-10 01:54] varlesh commented on #245
ok, check...

[2016-12-10 01:56] varlesh commented on #245
Yes, all fine!
Thank you Bilal :)

[2016-12-10 01:57] bil-elmoussaoui commented on #245
You're welcome!

[2016-12-10 01:57] varlesh commented on #245
You very awesome!

[2016-12-10 01:59] bil-elmoussaoui commented on #244
Here's the list of pylint issues https://www.codacy.com/app/bil-elmoussaoui/Hardcode-Tray/issues?bid=3912774&filters=W3siaWQiOiJDYXRlZ29yeSIsInZhbHVlcyI6WyJDb2RlIFN0eWxlIl19XQ==
I will push a fix to all of those issues tomorrow evening!

[2016-12-10 02:00] bil-elmoussaoui commented on #239
Also, can you provide the distro, the version of it.

[2016-12-10 07:06] wa4557 commented on #243
Svg is easy; I already know how to do that. We have to change the way sni-qt icons are handled than though, since we have to do everything with symlinks then.

Currently I'm trying to figure out what's wrong with teamviewer, maybe this solves also the owncloud issue (which I cannot reproduce)