[2017-06-02 08:08] Foggalong opened #373 "Rambox No Longer Fixed"
### Specifications
- Hardcode-Tray version : 3.8.2
- Distribution : Ubuntu 17.04
- Gtk version : 3.22
- Application name :  Rambox
- Application version : 0.5.9

### Expected behavior and actual behavior

Expect it to fix the Rambox tray icon, doesn't fix the Rambox tray icon.

### Steps to reproduce the problem
1. Install latest version of Rambox
2. Install latest version of HC-T
3. Run HC-T

[2017-06-02 08:08] PrzemekSkw commented on #372
I have dconf editor on Deepin but it don't work properly I think. I find that:
![image](https://cloud.githubusercontent.com/assets/25219988/26716859/7428a0e4-477b-11e7-9507-76cd9f3015f9.png)

[2017-06-02 08:09] Foggalong commented on #373
For clarification, the exact same version HC-T running on the same system correctly fixed the previous version (0.5.3) of Rambox.

[2017-06-02 08:10] bil-elmoussaoui commented on #372
Can you look for something like org.deepin.desktop.interface?

[2017-06-02 08:14] PrzemekSkw commented on #372
`hardcode-tray --apply --theme Papirus`
and
`hardcode-tray --revert --only steam`
does nothing. Reverting don't work because it don't save my first icon and now when I reverting it's always broken.
I don't `have org.deepin.desktop.interface` only that I show above.

[2017-06-02 08:17] bil-elmoussaoui commented on #372
Does nothing isn't helpful, what's the output on the terminal? + The log file ;)

[2017-06-02 08:19] PrzemekSkw commented on #372
It's something strange with that Deepin DE because few things I want to change (like hide desktop icons) in dconf editor and it don't work. So maybe You can tell me how to manually change that steam icon and I will remove hardcode-tray and wait untill it will support Deepin?

[2017-06-02 08:20] bil-elmoussaoui commented on #373
I've just downloaded the same version as you and it works without any problem. How did you installed this version?

[2017-06-02 08:22] PrzemekSkw commented on #372
` hardcode-tray --apply --theme Papirus
Welcome to Hardcode-Tray!
Desktop Environment: Other
Scaling Factor: 1
Icon Size: 22
Icon Theme: Papirus
Conversion Tool: Inkscape
To Do: All
Applying now..

Google Chrome       [#######.............................] 1/5 20.0% 3.72s
HP Printer          [##############......................] 2/5 40.0% 0.29s
Nylas N1(Mail)      [#############################..

[2017-06-02 08:22] bil-elmoussaoui commented on #372
Hardcode-Tray was made to work on every linux distro and it works without any problem. The only issue here is that the icon theme is not detected correctly on deepin, i don't use deepin so i can't figure out from where i can get that value. That's why i asked for that information.

[2017-06-02 08:24] bil-elmoussaoui commented on #372
The icon should be here /usr/share/pixmaps/steam_tray_mono.png , if not or the icon is broken you can remove it using `sudo rm /usr/share/pixmaps/steam_tray_mono.png` and recreate a new one using `sudo inkscape -z -f /usr/share/icons/Papirus/22x22/panel/steam_tray_mono.svg -e /usr/share/pixmaps/steam_tray_mono.png -w 22 -h 22`.

[2017-06-02 08:25] PrzemekSkw commented on #372
I try IOS icons and steam icon changes:
![image](https://cloud.githubusercontent.com/assets/25219988/26717466/c97bf27e-477d-11e7-8bb3-084a326bda5e.png)
but not look like steam :)

[2017-06-02 08:26] Foggalong commented on #373
Just `dpkg -i`'d the deb file that the internal updater prompted me to download

[2017-06-02 08:26] bil-elmoussaoui commented on #372
Have you tried to close the application and reopen it again ?

[2017-06-02 08:29] PrzemekSkw commented on #372
Yes I close and open steam every time. I find that icon and something is wrong with it:
![image](https://cloud.githubusercontent.com/assets/25219988/26717604/4b82246e-477e-11e7-9026-31629db9e517.png)

[2017-06-02 08:29] bil-elmoussaoui commented on #373
What's the output of `hardcode-tray --apply --only rambox`? Also can you get me the latest log file in /tmp/Hardcode-Tray after you have executed the command

[2017-06-02 08:30] Foggalong commented on #373
Output:

![screenshot_2017-06-02_09-29-02](https://cloud.githubusercontent.com/assets/5920259/26717609/eda9f4be-4775-11e7-9e21-dd4ea9ba01c7.png)

Log:

![screenshot_2017-06-02_09-30-18](https://cloud.githubusercontent.com/assets/5920259/26717668/1eb15ca0-4776-11e7-811f-4a37e1a73cd8.png)

[2017-06-02 08:31] bil-elmoussaoui commented on #372
Can you follow the tips i've proposed below ? As the icon theme wasn't detected correctly the icon that was found was itself. I will push a fix for that as soon as i can but you can fix it as i said. Remove that icon and run the script again using --theme Papirus argument.

[2017-06-02 08:33] Foggalong commented on #373
I've just realised that it's detecting Adwaita as my theme when it's actually Numix. Rerunning with the `--theme Numix` flag successfully fixed Rambox. That means it's a problem with the theme not being correctly detected :confused:

[2017-06-02 08:33] bil-elmoussaoui commented on #373
What distro are you using ?  `echo $XDG_CURRENT_DESKTOP`
And do you have any idea of the exact path on dconf of the icon theme ?
The issue is due to the icon theme not being detected correctly. You can use `--theme Numix` to fix that or use the config.json file so you will never have to worry about that.

[2017-06-02 08:35] PrzemekSkw commented on #372
Now it works :) thank You  very much for Your time and help.

[2017-06-02 08:36] Foggalong commented on #373
Distro is Xubuntu 17.04 with i3 as the window manager. Running `echo $XDG_CURRENT_DESKTOP` returns `i3` but the icon theme is being applied via the XFCE settings rather than i3 config.

[2017-06-02 08:36] Foggalong commented on #373
@bil-elmoussaoui The script is also claiming that it's fixing ownCloud when it's not. Should I open a new issue for that?

[2017-06-02 08:37] bil-elmoussaoui commented on #373
Alright, can you open dconf and see where the icon is stored ? i've never used xfce before...

[2017-06-02 08:37] bil-elmoussaoui commented on #373
Do you mean that it shouldn't say that it's fixing owncloud because you don't have it installed on your system or the icons doesn't change ?

[2017-06-02 08:41] bil-elmoussaoui commented on #372
& I've fixed the issue that caused the broken symlink on master ;)

[2017-06-02 08:41] #372 closed

[2017-06-02 08:45] Foggalong commented on #373
There's `org.gnome.desktop.interface.icon-theme` but that's currently set to Adwaita so that's clearly not how the theme is being applied here.

And yeah: hardcode-fix says it's been fixed, but the icons are remaining the same.

[2017-06-02 08:47] bil-elmoussaoui commented on #373
The OwnCloud issue is known, they're using Qt5 instead of Qt4 and there's an open issue about that #293
Well, if you don't know which gsettings path is being used i think you will have to live with that until someone else knows :p:

[2017-06-02 08:52] bil-elmoussaoui commented on #373
Here's what defines where to look for the icon theme https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/src/const.py#L44

[2017-06-02 09:01] bil-elmoussaoui commented on #373
I think i've figured it out
`xfconf-query -c xsettings -p /Net/IconThemeName -s` should return the icon theme on xfce, but why your XDG_CURRENT_DESKTOP returns i3?

[2017-06-02 09:02] Foggalong commented on #373
I think the whole point is that it's not a gsettings path. I've found where the icon theme setting is referred to: the file `~/.config/gtk-3.0/settings.ini` has the line `gtk-icon-theme=Numix Circle`. That file seems to contain all the settings set by lxappearance, and according to the [Arch Linux wiki](https://wiki.archlinux.org/index.php/GTK%2B#Configuration) looks to be the standard way to chan

[2017-06-02 09:03] Foggalong commented on #373
The `-s` in the command above sets that setting, you need to run it without that to find what value is currently set.

[2017-06-02 09:04] bil-elmoussaoui commented on #373
*it must -v sorry

[2017-06-02 09:06] Foggalong commented on #373
I can't see what it originally said anymore because when I copy pasted your command I accidentally had a "Numix" left over from a previous grep command, so because of your `-s` the icon theme was set to "Numix" and the previous setting lost :confused:

However I'm fairly sure it's the ~/.config/gtk-3.0/settings.ini` which is changing the theme

[2017-06-02 09:08] bil-elmoussaoui commented on #373
Does this works with only XFCE or i3 too?

[2017-06-02 09:11] Foggalong commented on #373
Yeah it is. If I set the theme to Numix then both `~/.config/gtk-3.0/settings.ini` and `xfconf-query -c xsettings -p /Net/IconThemeName -s` say that the theme is Numix.

![screenshot_2017-06-02_10-08-24](https://cloud.githubusercontent.com/assets/5920259/26719217/8eeb3c34-477b-11e7-8178-ad48b53411b8.png)

If I then apply Numix Circle `~/.config/gtk-3.0/settings.ini` confirms that the new icon them

[2017-06-02 09:14] bil-elmoussaoui commented on #373
Yep, because i don't want to force users to use that if it shouldn't be used. The same file seems to be used on KDE & Deepin too.
So, elementary, GNOME & Solus uses the gsettings value  & the rest uses that file ?

[2017-06-02 09:15] Foggalong commented on #373
I'll have to run up a fresh VM later to check, but it sounds like if it's the case for KDE & Deepin, it probably will be for i3 & XFCE. The pattern looks to be those that have heavy GTK integration use gsettings, those that don't use settings.ini

[2017-06-02 09:39] bil-elmoussaoui commented on #373
Fixed on master https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/49ae80e9629e669b5144f950115f1be6ec0c3dd6

[2017-06-02 09:39] #373 closed

[2017-06-09 07:09] varlesh commented on #296
It's not Papirus problem, because all this icons available on theme:
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/data/database/keepassx.json
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/blob/master/Papirus/22x22/panel/hp-indicator.svg
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/blob/master/Papirus/22x22/panel/hexchat-fileoffer.svg
https://github.co

[2017-06-09 12:29] Feichtmeier opened #375 "Big chrome icon"
### Specifications
- Hardcode-Tray version : `3.8.2`
- Distribution : `Ubuntu 16.04`
- Gtk version : `3.20`
- Inkscape version : `0.9.1` if installed
- Cairo version : `` if installed
- Sni-qt version: `no idea how to check this but I installed it from your repo
- Application name :  `google-chrome`
- Application version : `59.0.3071.86`

### Expected behavior and actual behavior
I would expect th

[2017-06-09 13:57] bil-elmoussaoui commented on #375
Can you paste the content of the log file that can be found in /tmp/Hardcode-Tray/. The log files are ordered by date/time

[2017-06-09 14:01] Feichtmeier commented on #375
There is no Hardcode-Tray folder in tmp :O
![screenshot from 2017-06-09 16-00-31](https://user-images.githubusercontent.com/15329494/26978721-d55b076a-4d2c-11e7-97e0-827e4c0b68e8.png)

[2017-06-09 14:06] bil-elmoussaoui commented on #375
@Feichtmeier Can you try running the script again and see what happen? you might have restarted your laptop since the last time you've used Hardcode-Tray. The files on /tmp folder are removed automatically whenever you restart your system.
Also, the output on the terminal would be great too.
Try running something like `hardcode-tray --apply -ct Inkscape --only google-chrome`

[2017-06-09 14:09] Feichtmeier commented on #375
hardcode-tray --apply -ct Inkscape --only google-chrome
[sudo] password for mememe:
Welcome to Hardcode-Tray!
Desktop Environment: Gnome
Scaling Factor: 2
Icon Size: 44
Icon Theme: Pop
Conversion Tool: Inkscape
To Do: Google-Chrome
Applying now..

Google Chrome       [####################################] 1/1 100.0% 2.76s
Took 2.76s to finish the tasks

Logfile which is now there (sorry):

[DEBUG]

[2017-06-09 14:16] Feichtmeier commented on #375
It became indeed smaller! But when I apply it to all without the "--only " parameter will all icons become smaller? since telegram and insync and dropbox look fine. Now only the GPMDP looks big
![screenshot from 2017-06-09 16-15-37](https://user-images.githubusercontent.com/15329494/26979415-f9847b4c-4d2e-11e7-953e-a627db2c3e2f.png)

[2017-06-09 18:01] varlesh commented on #375
I think it's bug HiDPI libappindicator, he don't have scale for SVG's. Papirus have only vector icons and 44px should bee rendered fine...
Similar bug https://github.com/Bajoja/indicator-kdeconnect/issues/53

[2017-06-09 18:14] bil-elmoussaoui commented on #375
@varlesh Thanks for the feedback! Anyway, i wasn't going to modify anything as Scaling factor is detected correctly from Hardcode-Tray side...

[2017-06-09 18:14] bil-elmoussaoui commented on #296
@varlesh It's an issue with Gnome & sni-qt

[2017-06-09 18:33] varlesh commented on #296
@bil-elmoussaoui  Ok :) @akyag Maybe need install  and configure Qt5ct on your system? Also for right work need SVG's libraries for Qt-apps - libqt4-svg and libqt5svg5

[2017-06-10 15:16] bil-elmoussaoui commented on #375
At worst, you can change the value of scaling factor to 1 again. And set whatever icon size you want. For now, the icon size must be one of the following values `16, 22, 24`. But you can change it pretty easily by modifying this file https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/src/const.py#L42 and adding another icon size for example 32 or 48... And use `hardcode-tray --size MYNEW

[2017-06-10 15:16] #375 closed

[2017-06-11 12:33] matteosecli opened #376 "App request: Ring"
Hello, could you please add [Ring](https://ring.cx/) to the list of supported applications? I use Numix Circle, which already has an icon for the app, but the app itself shows in tray the same icon that you find in the dash, i.e. this one: https://github.com/numixproject/numix-icon-theme-circle/blob/master/Numix-Circle/48/apps/ring.svg.
I attach a screenshot of my tray just to be clearer (sorry fo

[2017-06-11 12:45] bil-elmoussaoui commented on #376
Hey,
Thanks for your request. I can't do anything about it. The icon is hardcoded to use the same icon as the application icon name. Which causes this issue. You can see that by yourself by checking the source code that can be found here : https://gerrit-ring.savoirfairelinux.com/#/admin/projects/
On the ring-gnome project, file `ringmainwindow.cpp` at the line 1306.
[code]

This should be reporte

[2017-06-11 12:45] #376 closed

[2017-06-12 11:51] dylanparry opened #377 "Request: Icon for vmware player"
### Specifications
- Hardcode-Tray version : `3.9`
- Distribution : `Ubuntu Zesty (with Gnome Shell)`
- Gtk version : `3.22.11`
- Inkscape version : `0.92.1 r15371`
- Cairo version : `1.0.20`
- Sni-qt version: `0.2.7`
- Application name :  `vmware player/workstation`
- Application version : `12.5.6`

Hi,

Could you add icons for vmware player? Here's what it looks like at the moment:

![vmware](ht

[2017-06-12 12:03] bil-elmoussaoui commented on #377
@dylanparry Hey, Thanks for reporting the issue! i will see what i can do about it. Yeah, it's because you're using Gnome instead of Unity. And i'm not aware if any equivalent exists, I will let you know if i ever find something else

[2017-06-12 12:11] dylanparry commented on #377
Thanks. Looking at the processes running on my machine, it appears that the icon is provided by `vmware-tray`. That's assuming that the application name is sensible, and it's not doing something totally unrelated to the tray icon!

[2017-06-12 12:40] bil-elmoussaoui commented on #377
At first look, it seems that VMware superposes two icons on top of each other. You can find the icons in `/usr/lib/vmware/share/icons` the "play" icon you see, is `vmware-powered-on` But I still didn't find out the "background" icon

[2017-06-12 13:01] dylanparry commented on #377
It looks similar to the `vm-upload.png` icon, but that already has a badge. I wonder if it is that one with the play icon laid over it to cover the other badge?

[2017-06-12 13:02] bil-elmoussaoui commented on #377
Maybe :P My computer is not that good to run vmware, you can backup those icons and just play with them using Gimp by changing the background color and see if the icon is changed! That will really helpful

[2017-06-12 13:03] dylanparry commented on #377
I'll have a look to see if I can find the right icon and get back to you.

[2017-06-12 13:16] dylanparry commented on #377
I've found a better fix... There's a setting to hide the icon and not show it in the tray at all, which is fine by me as I didn't really want it in the first place! Thanks for your help.

[2017-06-12 17:17] marhkb opened #378 "ghetto-skype not recognized in Arch Linux"
### Specifications
- Hardcode-Tray version : `3.9.r0.g07dfcc6`
- Distribution : `Arch`
- Gtk version : `3.22.15`
- Inkscape version : `0.92.1`
- Cairo version : `1.14.8`
- Sni-qt version: `latest git`
- Application name :  `ghetto-skype`
- Application version : `1.5.0`

### Expected behavior and actual behavior
ghetto-skype should be recognized, but is not on Arch Linux. The cause may be that the

[2017-06-12 17:25] bil-elmoussaoui commented on #378
Fixed on master

[2017-06-12 17:25] #378 closed

[2017-06-12 17:26] bil-elmoussaoui commented on #377
As you wish :) at worst, you can still report that upstream and we hope they will get that fixed for the rest of VMware users :+1:

[2017-06-12 17:26] #377 closed

[2017-06-12 19:33] marhkb opened #379 "--size is multiplied with 3 (scaling factor)"
### Specifications
- Hardcode-Tray version : `3.9.r1.gb4bb5ea`
- Distribution : `Arch`
- Gtk version : `3.22.15`
- Inkscape version : `0.92.1`
- Cairo version : `1.14.8`
- Sni-qt version: `latest git`
- Application name :  `ghetto-skype`
- Application version : `1.5.0`

### Expected behavior and actual behavior
by executing "hardcode-tray --size 22 --theme Papirus" I get the following output

[cod

[2017-06-12 19:38] bil-elmoussaoui commented on #379
Well, because you've set 3 as a scaling factor on your system that you've got this result... can you share the log file? it can be found on /tmp/Hardcode-Tray/

[2017-06-12 19:43] marhkb commented on #379
Ok, do you know where to set it back to 1? I cannot remember that I have ever changed such a value. Here is the log file

[12-06-2017_21-28-43.log.txt](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1069315/12-06-2017_21-28-43.log.txt)

[2017-06-12 19:55] bil-elmoussaoui commented on #379
i will take a look this evening once I'm in front of a screen and a keyboard

[2017-06-13 01:05] viggy96 opened #380 "Discord support"
### Specifications
- Hardcode-Tray version : `3.5.2.1~830~ubuntu16.04.1`
- Distribution : `Ubuntu 16.04.2 LTS`
- Inkscape version : `0.91-7ubuntu2`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `Discord`
- Application version : `0.0.1`

### Expected behavior and actual behavior
Please add support for Discord system tray icon

[2017-06-13 01:08] bil-elmoussaoui commented on #380
Discord is already supported. please upgrade to a newer version

[2017-06-13 01:09] bil-elmoussaoui commented on #380
you can use hardcode-tray --update-git

[2017-06-13 01:13] viggy96 commented on #380
Upon using `hardcode-tray --update-git`:

`Traceback (most recent call last):
  File "hardcode-tray.py", line 104, in <module>
    App.execute()
  File "/opt/Hardcode-Tray/src/app.py", line 119, in execute
    delta = app.do_action(action)
  File "/opt/Hardcode-Tray/src/modules/applications/application.py", line 151, in do_action
    self.install()
  File "/opt/Hardcode-Tray/src/decorators.py", li

[2017-06-13 01:56] bil-elmoussaoui commented on #380
Which conversion tool do you use? CairoSVG?

[2017-06-13 01:59] viggy96 commented on #380
ImageMagick was the conversion tool.

[2017-06-13 02:04] bil-elmoussaoui commented on #380
Can you try using something else? just to know if it's the imagemagick backend that's broken or something else

[2017-06-13 02:12] viggy96 commented on #380
Do you know how I can install a different one?

[2017-06-13 02:18] bil-elmoussaoui commented on #380
Just check the readme you can use Inkscape for example or python-cairosvg with librsvg

[2017-06-13 02:24] viggy96 commented on #380
Sorry, it works now, but it still doesn't fix the Discord icon.

[2017-06-13 02:26] bil-elmoussaoui commented on #380
Hmm, i will take a look but i would like how did you installed Discord?
i will fix Imagemagick backend soon too

[2017-06-13 02:28] viggy96 commented on #380
I installed it with the deb package on the Discord website.

[2017-06-13 02:54] bil-elmoussaoui commented on #380
Alright, i will fix it as soon as I'm home

[2017-06-13 10:10] varlesh commented on #380
icon names and place not changed (fresh package from website discord-0.0.1.deb):
![image](https://user-images.githubusercontent.com/8083855/27077671-eaee5bbe-5041-11e7-8332-c2a5c72889b3.png)

[2017-06-13 10:12] bil-elmoussaoui commented on #380
Can you paste the log file that can be found on /tmp/Hardcode-Tray?

[2017-06-13 10:16] varlesh commented on #380
Not confirm this bug, all worked fine:
![image](https://user-images.githubusercontent.com/8083855/27077938-d4326ed2-5042-11e7-9c21-2dfeafa9f6fb.png)
hardcode-tray --theme Papirus-Dark -s 22 -ct Inkscape

[2017-06-13 10:18] varlesh commented on #380
log https://pastebin.com/D5bhGsZd

[2017-06-13 10:22] bil-elmoussaoui commented on #380
@varlesh i was asking the issue reporter :p

[2017-06-13 10:25] varlesh commented on #380
@bil-elmoussaoui Bilal please add short option for `--theme` > `-t`

[2017-06-13 10:29] bil-elmoussaoui commented on #380
@varlesh you can use the config.json file and you won't have to type any more arguments anymore, see the readme

[2017-06-13 12:39] marhkb commented on #379
I solved it by myself after taking a look at source code. In file ".config/plasma-org.kde.plasma.desktop-appletsrc" there was an entry "iconSize=3". I don't know how it get there. Changing it back to "1" was the solution and has no other effect except that ghetto-skype symbol isn't cropped anymore.

[2017-06-13 13:54] bil-elmoussaoui commented on #379
Sorry for the long delay. I was a little bit, and yeah the scaling factor on KDE is detected from that file as you've mentioned.
If there's any other issues just let me know :+1:

[2017-06-13 13:54] #379 closed

[2017-06-13 14:02] bil-elmoussaoui commented on #379
You can now set the scaling factor on the config.json file as explained on the README; This value will always overwrite your system settings

[2017-06-13 14:20] bil-elmoussaoui commented on #380
@viggy96 The ImageMagick backend is now fixed on master. The fact that Discord is not detected must be due to the non-detection of your current icon theme. You can force your current theme using either `--theme` argument or just use the config.json file which will make your life much much easier :)

[2017-06-13 16:11] thob opened #381 "error when launching"
### Specifications
- Hardcode-Tray version : `3.9`
- Distribution : `Ubuntu 16.04`

I get this error message

![image](https://user-images.githubusercontent.com/755337/27092226-f09cc7fa-5062-11e7-8216-bbdc16e1cecf.png)

`hardcode-tray --theme Papirus` does work it seems

[2017-06-13 16:19] bil-elmoussaoui commented on #381
Fixed on master.
The issue was due to me assmuing that Cinnamon stores the Icon Theme Name in `.config/gtk-3.0/settings.ini` and i've corrected that :)

[2017-06-13 16:19] #381 closed

[2017-06-15 20:31] varlesh opened #384 "PPA missing depend (for non-GTK DE's)"
@wa4557 Hi Andreas )
On KDE Neon hardcode-tray not worked, because need depend `gir1.2-gtk-3.0`. Please add this package for Dependencies on DEBIAN/Control.
See log:
[code]

[2017-06-15 20:32] wa4557 commented on #384
Will do

[2017-06-15 20:33] varlesh commented on #384
Thx!

[2017-06-15 20:39] wa4557 commented on #384
Done

[2017-06-15 20:39] #384 closed

[2017-06-15 20:46] yochaigal commented on #371
I have this exact issue on Arch Linux KDE Plasma 5.10.1

Welcome to Hardcode-Tray!
Desktop Environment: Kde
Traceback (most recent call last):
  File "hardcode-tray.py", line 85, in <module>
    print("Scaling Factor: {}".format(App.scaling_factor()))
  File "/opt/Hardcode-Tray/src/app.py", line 159, in scaling_factor
    if scaling_factor > 1:
TypeError: '>' not supported between instances of 'No

[2017-06-15 20:47] bil-elmoussaoui commented on #371
This was fixed few days ago, please update to the latest version!

[2017-06-15 20:49] yochaigal commented on #371
Ah, I switched to the git version on AUR and it works.
Thansk!

[2017-06-15 20:51] bil-elmoussaoui commented on #371
Enjoy!

[2017-06-19 12:28] Armanmd opened #385 "Script shouldn't run as root user"
### Specifications
- Hardcode-Tray version : ``
- Distribution : `kali rolling`
Linux Kali 4.9.0-kali4-amd64 #1 SMP Debian 4.9.30-1kali1 (2017-06-06) x86_64 GNU/Linux
- Gtk version : `+3`
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  ``
- Application version : ``

issue:

i install it with this commend:

cd /tmp && wg

[2017-06-19 13:34] bil-elmoussaoui commented on #385
You shouldn't run the script as a root user. Anyway this can be improved a bit, i will take a look as soon as i can

[2017-06-19 14:18] Armanmd commented on #385
So I wait for your action :+1:

[2017-06-19 22:48] #385 closed

[2017-06-19 22:49] bil-elmoussaoui commented on #385
Fixed on master ;) You might need to use `--theme` & `--size` as running the script as root user will not make it easier for the script to detect your default DE and so you correct icon size to use.
The script should be run using `sudo -E` to preserve the environment information

[2017-06-19 23:03] bil-elmoussaoui commented on #373
@Foggalong I've pushed a much better fix to master if you have some free time to test it that would be really helpful. Thanks

[2017-06-19 23:04] bil-elmoussaoui commented on #380
Closing as this issue is already fixed, please make sure that the theme is correctly set to Papirus or Numix or whatever theme that does support Hardcode-Tray

[2017-06-19 23:04] #380 closed

[2017-06-20 08:23] Armanmd commented on #385
sudo -E hardcode-tray
Script shouldn't be run as root

[2017-06-20 08:25] Armanmd commented on #385
i install script again but still not working

installtion commend:

cd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/data/install.sh | bash

[2017-06-20 08:46] Armanmd opened #386 "Script shouldn't run as root user"
i install script again but still **not working**

installtion commend:

_**cd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/data/install.sh | bash**_

output :-1:
#:**sudo -E hardcode-tray**
Script shouldn't be run as root

(For information i use Papirus icon theme)

[2017-06-20 09:31] bil-elmoussaoui commented on #386
You should upgrade your script using hardcode-tray --update-git

[2017-06-20 11:40] Armanmd commented on #386
#:hardcode-tray --update-git
Script shouldn't be run as root

Not working yet

[2017-06-20 11:40] bil-elmoussaoui commented on #386
Can you upgrade the script without using root permission and then try again?

[2017-06-20 11:46] Armanmd commented on #386
i cant

[2017-06-20 11:47] Armanmd commented on #386
what to do ?

[2017-06-20 11:49] bil-elmoussaoui commented on #386
Remove the script : https://github.com/bil-elmoussaoui/Hardcode-Tray#uninstallation
& then reinstall it again

[2017-06-20 11:57] Armanmd commented on #386
try1:(here i removed script)
#:cd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/data/uninstall.sh | bash
--2017-06-20 07:49:56--  https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/data/uninstall.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.64.133, 151.101.128.133, 151.101.192.133, ...
Connecting to raw

[2017-06-20 12:28] bil-elmoussaoui commented on #386
Follow those steps please:
1 - `rm -rf /opt/Hardcode-Tray`
2 - `rm -f /usr/bin/hardcode-tray`
3 - `cd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/data/install.sh`
4 -  `chmod +x ./install.sh`
5 - `./install.sh --g`

[2017-06-21 10:13] varlesh opened #387 "manual KDE bugs fix possible?"
Hi all. It's not hardcode-tray bug, but maybe we can fix it?
By default on KDE draw only 22px icons for system tray apps. It's fine worked for KDE and Qt-apps. But for GTK and electron ugly (libindicator). Icons not draw with 22px size (i think likely draw 32px icons - it's blurred and big for tray).
For compare:
Bug already registered and confirmed https://bugs.kde.org/show_bug.cgi?id=366062
![im

[2017-06-21 19:59] Armanmd commented on #386
ok let me to test i will tell you is it work !

plz dont  close issue

[2017-06-21 21:38] varlesh commented on #387
i'm try red backgrond color for wire. Source file have size 22x22px, but on tray really used 20,5px or 21px:
![image](https://user-images.githubusercontent.com/8083855/27407840-16a7a6ca-56eb-11e7-8729-0c987973462d.png)
See, red square have 1px outline with transparent...
Anybody use KDE?

[2017-06-21 21:51] varlesh commented on #387
@davidedmundson David you main developer, sorry for this report, but really [bug](https://bugs.kde.org/show_bug.cgi?id=366062) opened 2016-07-24 with Plasma 5.7 and not fixed on Plasma 5.10.2.

[2017-06-22 00:48] davidedmundson commented on #387
*If* you're using libindicator you're not using xembedsniproxy.
Easiest way to tell, kill xembedsniproxy and see if the icon disappears.

[2017-06-22 07:28] Armanmd commented on #386
root@Kali:cd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/data/install.sh
--2017-06-22 03:24:46--  https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/data/install.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.192.133, 151.101.0.133, 151.101.64.133, ...
Connecting to raw.githubusercontent.com (raw.github

[2017-06-22 07:30] Armanmd commented on #386
not working

[2017-06-22 07:46] varlesh commented on #387
@davidedmundson thx for support, yes you right i kill xembedsniproxy and icon not disappears.

[2017-06-22 09:32] bil-elmoussaoui commented on #386
Please follow the steps. And use Github markdown to share correct tterminal output. As i don't really which step gives you which output :/

[2017-06-22 23:22] bil-elmoussaoui commented on #387
Sadly i can't do anything about it; You can try by using a smaller size for Wire and the rest of electron apps and see if that helps.
My C/C++ skills are not good enough to fix this issue upstream so...

[2017-06-23 05:54] AndydeCleyre opened #388 "Size from config file not used"
### Specifications
- Hardcode-Tray version : `3.9.r8.gbbab5c2`
- Distribution : `Arch`
- Gtk version : `3.22.16`
- Inkscape version : `0.92.1`
- Cairo version : `1.14.10`
- ~~Sni-qt~~
- Application name :  `Telegram Desktop`
- Application version : `1.1.7`

### Expected behavior and actual behavior
The size specified in the config file should be used when none is specified in the command arguments

[2017-06-23 07:33] ryzokuken opened #389 "How to undo changes completely"
### Specifications
- Hardcode-Tray version : `v3.9`
- Distribution : `Linux Mint`
- Gtk version : `3.18.9-1ubuntu3.3`
- Inkscape version : `Inkscape 0.91 r13725`
- Cairo version : `1.0.19`
- Sni-qt version: `N.A.`
- Application name :  `Hexchat`
- Application version : `2.12.4`

### Expected behavior and actual behavior

I tried reverting and resetting the cache, but to no avail. I keep reverting

[2017-06-23 10:41] bil-elmoussaoui commented on #388
I will take a look

[2017-06-23 10:42] bil-elmoussaoui commented on #389
Can you paste the logs (/tmp/Hardcode-tray/) after you've applied the script and also after you've reverted the result

[2017-06-23 11:42] Jacobtey opened #390 "Translation"
What about translating the script?

[2017-06-23 12:26] ryzokuken commented on #389
1. The changes were not complete, idk why. The nvidia icon is still normal (green), so the rad-ness of having a completely matching panel is missing.
2. The icon is supposed to stay limited to the notification indicator, right? Because it looks cool in there, but not at other places. Unfortunately, for me, the icon crept into the window list in the panel as well as the alt+tab popup.

### The Logs

[2017-06-23 12:54] bil-elmoussaoui commented on #389
Well, for the nvidia tray icon. You should open an issue about it and i will fix it. For the icon used other than the tray icon, it's either a Hexchat issue or a startupwmclass's missed on your hexchat desktop file.
As Hexchat hardcode the tray icons here `/home/ryzokuken/.config/hexchat/icons/`
Can you try removing just `hexchat.png` and see if everything is fine? I might have added an unneeded i

[2017-06-23 12:55] bil-elmoussaoui commented on #390
Is this really needed? there's just few words that should be translated, the rest are just logs which i must keep in English so i can fix bugs easier ;)

[2017-06-23 13:03] ryzokuken commented on #389
manually removing hexchat icon made the icon fallback to the original icons *everywhere* i.e. in the notification tray as well, but the other icons (for alerts) are still there, so it looks kinda weird.

[2017-06-23 13:05] bil-elmoussaoui commented on #389
So it's an upstream issue for Hexchat. I can't do anything about it....Please report that upstream and ask them to use a different icon name for the tray other than `hexchat.png`which is used by the application itself

[2017-06-23 13:08] ryzokuken commented on #389
@bil-elmoussaoui For the time-being, let's focus on reverting the changes while I talk to the people over at https://github.com/hexchat/hexchat

[2017-06-23 13:13] bil-elmoussaoui commented on #389
Well, just remove the rest of the icons then

[2017-06-23 13:23] ryzokuken commented on #389
That worked. I never really understood why `reverse` did not work. Also, now the alt+tab menu and window buttons on the panel show the regular panel icon. Shouldn't they show the Papirus application icon?

[2017-06-23 13:24] bil-elmoussaoui commented on #389
As i said, it's an upstream issue. i've never used Hexchat. I think i know why the revert didn't work, i will take a look right now ;)

[2017-06-23 13:45] Armanmd commented on #386
hi i install hardcode-tray with your ppa but hardcode-tray not working

root@Kali:~# hardcode-tray
Traceback (most recent call last):
  File "hardcode-tray.py", line 25, in <module>
    from src.app import App
  File "/opt/Hardcode-Tray/src/app.py", line 25, in <module>
    from src.const import DB_FOLDER
  File "/opt/Hardcode-Tray/src/const.py", line 29, in <module>
    USERHOME = get_userhome(US

[2017-06-23 13:46] bil-elmoussaoui commented on #386
The script wasn't created to be run as root :( i will see if i can reproduce this and fix it

[2017-06-23 13:49] Armanmd commented on #386
I can not fix it
And I will wait

[2017-06-23 18:54] Jacobtey commented on #390
I think about 'hardcode-tray -h' after all .

[2017-06-23 19:33] bil-elmoussaoui commented on #390
Makes sense, i will take care of that

[2017-06-23 21:36] AndydeCleyre commented on #386
@Armanmd Why do you want to run as root? You almost definitely should not be doing that. Please [format](https://guides.github.com/features/mastering-markdown/) code and console stuff so that people can read it more easily.

[2017-06-23 21:46] AndydeCleyre commented on #388
And do I understand correctly that it's a deliberate decision to require that users modify the source of your program (step 2 above) after every update in order to support Plasma icon sizes, as a safety measure? I would love if hardcode-tray supported Plasma out of the box . . .

[2017-06-24 07:53] matteosecli commented on #376
Sorry for the delay! Thank you, I see...
I'll report to them and see if they want to use a different icon name for the tray icon.
Keep going with this nice project, btw! It's just great! :smiley:

[2017-06-24 17:37] bil-elmoussaoui commented on #388
Fixed on master. For the icons sizes, I will do some tests and if everything scales perfectly, i will allow users to use icons sizes bigger than 24px.

:stop_sign:
Don't update to master version yet, as i'm trying to fix this #385. A new version should land this evening

[2017-06-24 17:37] #388 closed

[2017-06-24 17:38] bil-elmoussaoui commented on #389
Fixed on master.

:stop_sign:
Don't update to master version yet, as i'm trying to fix this #385. A new version should land this evening

[2017-06-24 17:38] #389 closed

[2017-06-24 17:38] #387 closed

[2017-06-24 17:59] ryzokuken commented on #389
@bil-elmoussaoui Thanks for the quick action.

[2017-06-24 18:16] #390 closed

[2017-06-24 18:17] bil-elmoussaoui commented on #390
Fixed on master. You can now translate the file `po/hardcode-tray.pot` using Poedit

:stop_sign:
Don't update to master version yet, as i'm trying to fix this #385. A new version should land this evening

[2017-06-24 18:31] bil-elmoussaoui commented on #386
Should be fixed on master. Tried it and it works as expected :)

[2017-06-24 18:31] #386 closed

[2017-06-24 18:43] bil-elmoussaoui opened #391 "Update PPA"
I've just pushed a new release which introduces translations and few bugs fixes
In order to get translations to work, i had to use a build system (Meson here). And I've also removed the update & update-git options as it's now easier to update the script using meson.

The PPA should be updated to use meson build system. I've added the build commands to the README.

@wa4557 Do you think that you wil

[2017-06-24 18:43] bil-elmoussaoui commented on #390
I've pushed a new release, if you want to translate the script go ahead :+1:

[2017-06-24 18:53] Jacobtey commented on #390
Oops! I can't find `po/hardcode-tray.pot` or I'm looking for smth wrong

[2017-06-24 18:56] bil-elmoussaoui commented on #390
Here you go https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/po/hardcode-tray.pot

[2017-06-24 19:01] Jacobtey commented on #390
ок

[2017-06-24 19:03] bil-elmoussaoui commented on #390
The original strings might be really awful, as my English skills are not that good. If you want to update anything just go ahead ;)

[2017-06-25 02:48] bil-elmoussaoui commented on #389
@ryzokuken I've pushed a fix on Hexchat repository!

[2017-06-25 06:00] wa4557 commented on #391
Yes. But not overly soon. I'm occupied until Thursday...

[2017-06-26 18:56] AndydeCleyre commented on #385
@bil-elmoussaoui

I wholeheartedly agree with you when you say

But it seems that presently the script will *only* run as root!

[2017-06-26 23:56] bil-elmoussaoui commented on #385
Because the script already runs as root. if you run the script with double sudo it break some python code which could cause some permissions issues

[2017-06-27 00:30] AndydeCleyre commented on #385
I'm not sure if I'm being clear. The behavior changed, breaking commands that worked a few revisions ago.

Now, when you run the command as a regular user, the script exits without acting, instead insisting that the user run the command as root.

I don't think this is intentional, is it?

[2017-06-27 11:23] bil-elmoussaoui commented on #385
@AndydeCleyre It's intentional. I had a bash script that runs "sudo -E /op/hardcode-tray/hardcode-tray.py` but as i've moved to a build system (Meson here) in order to implement i18n; I had to remove the bash script that updates the script manually (latest stable version or git version) the bash script wasn't doing anything else anymore. So i ditched the bash script and i kept only Python code. No

[2017-06-27 20:29] garchomps opened #396 "Steam Icon Super Tiny"
### Specifications
- Hardcode-Tray version : `3.9`
- Distribution : `Xubuntu 17.04`
- Gtk version : `3.22.11-0ubuntu3`
- Inkscape version : `0.92.1 r15371` if installed
- Cairo version : `1.14.8-1ubuntu0ppa1` if installed
- Sni-qt version: `0.2.7+20161212~10~ubuntu17.04.1` if installed
- Application name :  `Steam`
- Application version : `1496897923`

### Expected behavior and actual behavior

##

[2017-06-28 05:08] AndydeCleyre commented on #385
Ok, thanks. Ideally, extra privileges would apply to only the few commands that really need it.

[Oomox](https://github.com/actionless/oomox/blob/master/oomoxify.sh#L269) for example builds themes in a temporary folder as the user, and only runs a privileged command at the end, to copy the files into place.

[2017-06-28 11:12] bil-elmoussaoui commented on #385
Totally agree with you. i will work on improving this for the next release

[2017-06-28 18:15] bil-elmoussaoui commented on #396
The icon is located on `/usr/share/pixmaps/`. Can you upload the icon file? + the logs that can be found on `/tmp/Hardcode-Tray/`?

[2017-06-29 22:03] woomba commented on #396
### Specifications

- Hardcode-Tray version : `3.9`
- Distribution : `Ubuntu GNOME 17.04`
- Gtk version : `3.22.11-0ubuntu3`
- Inkscape version : `0.92.1 r15371` if installed
- Cairo version : `-` if installed
- Sni-qt version: `-` if installed
- Application name : `Steam`
- Application version : `1496897923`

### Expected behavior and actual behavior

### Steps to reproduce the problem
Same issue

[2017-06-30 00:52] bil-elmoussaoui commented on #396
The icon size is correct. As you can see it's 22x22. if you want a bigger icon for steam tray icon, just force that using `hardcode-tray --size 24 --only steam`It's might also be an issue with the extension you're using to force the tray icon to be on top on GNOME. As the generated icon looks perfectly fine.

[2017-06-30 01:07] woomba commented on #396
Reinstalled Steam and forced the bigger icon but it's tiny again. The extension I'm using is TopIcons Plus. Disabling it still shows the small icon:

![2017-06-30 11_02_48-ubuntu 64-bit - vmware workstation](https://user-images.githubusercontent.com/25892893/27716779-14bb9566-5d84-11e7-92d6-eabddcc45702.png)

As mentioned in the first post, I am not able to revert it to its original state unless I

[2017-06-30 01:14] bil-elmoussaoui commented on #396
This issue is unrelated. it's a known issue on GNOME Shell. You can try by yourself or look at GNOME's bug tracker for more information.

[2017-06-30 01:15] bil-elmoussaoui commented on #396
+ I'm using Gnome 3.25 on Arch with Steam too and the icon works just fine. Please try to tweak the icon size using TopIconsPlus (there's a setting for tray icons size)

[2017-06-30 10:44] bil-elmoussaoui opened #397 "Ask for root privileges only when needed."
For now, we do ask for root privileges even when it's not needed (cleaning the cache? installing only apps that store their icon on the home folder like Telegram, Hexchat, or Qt apps).

The best way to handle this is to run the script as a normal user and use pkexec(PolicyKit) to do the root stuff for us.
PolicyKit is created by FreeDesktop. So it should be supported on all the Linux distro out th

[2017-06-30 23:08] garchomps commented on #396
![steam_tray_mono](https://user-images.githubusercontent.com/6912559/27756636-459d71ac-5dc7-11e7-91d5-9738bff50a48.png)

[DEBUG] 2017-06-30 19:01:25 DE: Xfce
[DEBUG] 2017-06-30 19:01:25 Config file: Not found.
[DEBUG] 2017-06-30 19:01:25 Arguments/Icon Size: 24
[DEBUG] 2017-06-30 19:01:25 Arguments/Theme: Papirus
[DEBUG] 2017-06-30 19:01:25 Arguments/Conversion Tool: Inkscape
[DEBUG] 2017-06-30 19

[2017-07-02 15:00] wa4557 commented on #391
Your commands in the README don't work.

`meson builddir --prefix=/usr`

[code]

[2017-07-02 15:03] wa4557 commented on #391
If I create an empty folder called `builddir` I get a different error :

[code]

Please make sure that the commands are correct otherwise I cannot update the ppa.

[2017-07-02 16:17] bil-elmoussaoui commented on #391
The commands do work. I just forgot to mention that you need meson > 0.40. You can upgrade to this version using pip. `sudo pip3 install --upgrade meson`

[2017-07-02 16:58] wa4557 commented on #391
Ok, got it now. There might be an issue though, ppa with meson are apparently not supported... Will further investigate

[2017-07-02 19:12] bil-elmoussaoui commented on #391
Thank you very much!!! I will take a look too as soon as I can

[2017-07-05 08:07] varlesh opened #399 "FlareGet icon not worked anymore"
hardcode-tray git version
flareget_4.5-102
LOG:
[code]
Terminal:
[code]

Program create folders on `/tmp/sni-qt_flareget_5799-sTKfw7/icons` , but icon not available, folder icons empty.
Icon ~/.local/share/sni-qt/icons/flareget/22/300c99bb493a7061e9852c73b89a09e4.svg availble, but not
applied

[2017-07-05 08:23] varlesh commented on #399
Also LOG flareget:
[code]

[2017-07-05 08:59] varlesh commented on #396
For XFCE:
Steam use icon theme from system icon theme, why hardcode-tray available this on database?
@garchomps See your screenshot, mostly icons blured, because panel size very small. I recommend increase panel size to 26px or 28px:
![image](https://user-images.githubusercontent.com/8083855/27856997-0d0f92d0-6181-11e7-9cec-87583cd0288c.png)
Also for notification use 22px or 24px and dor hardcode-

[2017-07-05 10:51] bil-elmoussaoui commented on #396
@varlesh As I've explained before. It's the same case as Guake terminal, the icon can not be overridden in some systems.That's why I've added it. Also, there's an option in the config file called `blacklist` where you can add the apps that you don't to be fixed. If your Steam icon works perfectly, all you have to do is add it to the blacklist :)

[2017-07-05 10:52] bil-elmoussaoui commented on #399
@varlesh What's the output of `dbus-send --type=method_call --print-reply --dest=com.canonical.indicator.application /com/canonical/indicator/application/service com.canonical.indicator.application.service.GetApplications` while flarget app is open

[2017-07-05 11:12] varlesh commented on #399
Error org.freedesktop.DBus.Error.ServiceUnknown: The name com.canonical.indicator.application was not provided by any .service files

[2017-07-05 15:37] romanlex opened #400 "Plasma 5 what wrong?"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Arch Linux`
- Gtk version : `3.22`
- Inkscape version : `0.92.1 r` if installed
- Cairo version : `` if installed
- Sni-qt version: `from AUR sni-qt-patched-git` if installed
- Application name :  ``
- Application version : ``

### Expected behavior and actual behavior
Expect icons from Papirus Icon Theme or
![image](https://user

[2017-07-05 15:37] Foggalong opened #401 "Rambox Javascript Error"
### Specifications
- Hardcode-Tray version : 3.9
- Distribution : Ubuntu 17.04
- Gtk version : 3.22
- Inkscape version : 0.92.1
- Cairo version : 1.0.20
- Sni-qt version: 0.2.7
- Application name :  Rambox
- Application version : ``

### Expected behavior and actual behavior
Expect Rambox to open with a themed tray icon. Instead an error window titled "A JavaScript error occurred in the main proce

[2017-07-05 16:48] bil-elmoussaoui commented on #400
What's the output on terminal? And can you also send the logs that can be found on /tmp/Hardcode-Tray

[2017-07-05 16:50] bil-elmoussaoui commented on #401
Hmm, this shouldn't cause any issue at all :o as the upgrade process will change the asar file (that contains the assets of the application). Let me debug this :)
If you can try reinstalling a fresh version of Rambox and see if this works that would be awesome, also if you can reproduce that on the other electron application

[2017-07-05 17:02] bil-elmoussaoui commented on #401
+ Can you paste the latest log from /tmp/Hardcode-tray?

[2017-07-05 17:40] romanlex commented on #400
@bil-elmoussaoui
console output:

log:
[05-07-2017_20-38-56.txt](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1125534/05-07-2017_20-38-56.txt)

[2017-07-05 18:03] bil-elmoussaoui commented on #400
Which Skype version is this? electron or Qt?

[2017-07-05 18:29] romanlex commented on #400
@bil-elmoussaoui
Qt version.
Megasync and Octopi from AUR

[2017-07-05 19:42] bil-elmoussaoui commented on #400
Well, it must be an issue with our patched version of sni-qt :( I'm using arch as well and I wasn't able to get it to work.

Octopi is not supported as the icons are hardcoded on the binary file

[2017-07-06 14:15] Foggalong commented on #401
I'm not somewhere I can VM stuff at the moment (in the process of moving house) so won't be able to sorry :( weirdly, applying Hardcode-Tray again seems to have fixed it so not sure what's going on there

[2017-07-06 15:47] bil-elmoussaoui commented on #401
I will try to reproduce this :) Good luck with that !

[2017-07-07 09:11] varlesh commented on #400
@romanlex
- Skype 4.3 discontinued from 1 july 2017, use new electron version. (hardcode-tray supported)
- MegaSync - not supported anymore, because tray icon now on binary file, see [this](https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/296)
- Octopi fresh version from git now have option for choose icon tray, see [this](https://github.com/aarnt/octopi/issues/156)

[2017-07-07 09:38] mnmlguy opened #402 "Syncthing-GTK support"
Hi! Thanks for the awesome script!

Would love to see support for Syncthing-GTK if possible.
https://github.com/syncthing/syncthing-gtk
Papirus icon theme already has the icons for it.

Cheers!

[2017-07-07 10:43] mnmlguy commented on #402
Sorry for bothering you. I've figured out why Papirus icons didn't work.
Syncthing-GTK needs .png icons instead of .svg that are provided with the icon theme.
Simple conversion to png did the thing.

[2017-07-07 10:43] #402 closed

[2017-07-07 10:44] varlesh commented on #402
@mnmlguy Update last version from git, i'm fix icon names:
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/9a818a91500d0e2b690619ff6e25169c223337c4

[2017-07-08 15:58] garchomps commented on #396
@varlesh I've tried all of what you recommended, the icon still will not scale with the size of the system tray and stays the same size.
@bil-elmoussaoui I'd like to know what config file contains this blacklist option so I can so go back to the original steam icon as reverting it does not seem to fix it? Thanks.

[2017-07-08 16:00] bil-elmoussaoui commented on #396
@garchomps https://github.com/bil-elmoussaoui/Hardcode-Tray#config-file
Here you go

[2017-07-08 16:08] garchomps commented on #396
The blacklist seems to be working, my steam icon is still super tiny though :(

[2017-07-08 16:12] bil-elmoussaoui commented on #396
Well, try reinstalling steam in that case. Or replace the icon manually with a bigger one. Plus, there's an upstream issue on Valve bug tracker here on Github. Which should fix this issue (I hope)

[2017-07-08 16:15] garchomps commented on #396
Reinstalling Steam seemed to fix it, thanks!

[2017-07-08 16:26] bil-elmoussaoui commented on #396
Happy to hear that :)

[2017-07-08 16:26] #396 closed

[2017-07-09 14:54] wa4557 commented on #391
@bil-elmoussaoui

I think  figured out how to do it, however on launchpad they use an older meson version. Can you change the meson.build files such that the also work with lower versions?

[2017-07-09 15:08] bil-elmoussaoui commented on #391
@wa4557 older versions doesn't work as expected with gettext for translations... I will take a look anyway. Launchpad is really the worst tool ever invented in the history of Linux.
I think one of the best way to fix this, is to create a deb package using Travis CI and upload it directly into the releases archives

[2017-07-09 16:25] wa4557 commented on #391
My packaging skills are also only ...semi good...
And I have to learn everything the hard way. But I think it should be possible

[2017-07-10 21:40] varlesh commented on #399
gnomeshell bug and appindicator. closed

[2017-07-10 21:40] #399 closed

[2017-07-11 08:59] varlesh commented on #296
i'm extract binary file and open on ghex .rodata.
On source code i see this:
[code]
Maybe it's help create patch or another method for change tray icons on Qt5-apps

[2017-07-11 09:12] wa4557 commented on #391
As expected the packaging does not work with the provided `meson.build` file.

https://launchpadlibrarian.net/328244612/buildlog_ubuntu-yakkety-amd64.hardcode-tray_3.5.2.1~849~ubuntu16.10.1_BUILDING.txt.gz

If we would be able to change the meson version, I guess it would work

[2017-07-11 18:51] #400 closed

[2017-07-11 18:52] bil-elmoussaoui commented on #400
Closing as i can't do anything about this yet. There's an open issue for each issue you've mentionned.

[2017-07-11 18:52] bil-elmoussaoui commented on #391
@wa4557 I will try to get this to work or at least provide a patch for the PPA

[2017-07-13 18:05] artkis opened #404 "installed but icon tray in random theme"
### Specifications
- Hardcode-Tray version : `3.5.2.1~837~ubuntu17.04.1`
- Distribution : `Ubuntu GNOME 17.04 64-bit`
- Gtk version : `libgtk-3-bin	3.22.11-0ubuntu3`
- Inkscape version : `0.92.1-1`
- Cairo version : `1.15.4-0intel1`
- Sni-qt version: `0.2.7+20161212~10~ubuntu17.04.1`
- Application name :  `vlc, qbittorrent, dropbox`
- Application version : `vlc 2.2.4-14ubuntu2.1, qbitorrent3.3.13-

[2017-07-13 20:06] bil-elmoussaoui commented on #404
the qbitorrent is not hardcoded. It uses the Papirus icon theme. Neither is the VLC.
For the dropbox icon, what's the output in the terminal? + The logs from /tmp/Hardcode-Tray/

[2017-07-14 10:14] artkis commented on #404
i done this to terminal:
Swipe your finger across the fingerprint reader
Welcome to Hardcode-Tray!
Desktop Environment: Gnome
Scaling Factor: 1
Icon Size: 22
Icon Theme: Papirus.foldercolor
Conversion Tool: ImageMagick
To Do: All
Applying now..

Chromium            [#########...........................] 1/4 25.0% 23.00s
Clementine          [##################..................] 2/4 50.0% 0.00s
Sky

[2017-07-14 10:18] bil-elmoussaoui commented on #404
its /tmp and not tmp/

[2017-07-14 13:27] artkis commented on #404
[DEBUG] 2017-07-14 14:17:35 DE: Gnome
[DEBUG] 2017-07-14 14:17:35 Config file: Not found.
[DEBUG] 2017-07-14 14:17:35 Arguments/Icon Size: None
[DEBUG] 2017-07-14 14:17:35 System/Icon Size: 22
[DEBUG] 2017-07-14 14:17:36 System/Theme: Papirus.foldercolor
[DEBUG] 2017-07-14 14:17:36 Arguments/Conversion Tool: None
[DEBUG] 2017-07-14 14:17:36 Config/Conversion Tool: None
[DEBUG] 2017-07-14 14:17:36

[2017-07-15 06:17] wa4557 opened #405 "Config file ignored"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Ubuntu 16.04`
- Gtk version : `3.18`

### Expected behavior and actual behavior
content of hardcode-tray.json
[code]

Output when running script (is german). As you can see `ImageMagick` is used instead of inkscape. Also a backup is created

[code]

### Steps to reproduce the problem
1. Run hardcode-tray

[2017-07-15 06:19] wa4557 commented on #405
logfile:
[code]

[2017-07-15 08:46] wa4557 commented on #391
I asked on AskUbuntu

https://askubuntu.com/questions/936337/build-launchpad-ppa-packages-with-backport-version

Building on trusty won't be possible though, because in trusty there is no meson package

[2017-07-15 13:56] bil-elmoussaoui commented on #405
I've updated on the latest version the way the config file works. You need to use `_` instead of `-`. The new config file must be
[code]

[2017-07-15 13:56] #405 closed

[2017-07-15 13:57] bil-elmoussaoui commented on #404
Can you try doing this;
[code]
And see if that changes anything?

[2017-07-15 14:16] artkis commented on #404
Welcome to Hardcode-Tray!
Desktop Environment: Gnome
Scaling Factor: 1
Icon Size: 22
Icon Theme: Papirus
Conversion Tool: Inkscape
To Do: Dropbox
Applying now..

No apps to fix! Please report on GitHub if this is not the case

Done, Thank you for using the Hardcode-Tray fixer!
![screenshot from 2017-07-15 18-15-13](https://user-images.githubusercontent.com/30148306/28239990-aa38e63c-6989-11e7-9cda

[2017-07-15 14:23] bil-elmoussaoui commented on #404
It seems that Hardcode-Tray couldn't detect the Dropbox installation path. You can check that here
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/data/database/dropbox.json
And look for the correct installation path and add it to the config file. A PR would be really welcome, as i don't really have the time at the moment to test it on your OS/DE

[2017-07-15 14:25] artkis commented on #404
Thank you  very much for sharing your time and talent Mr. bil-elmoussaoui!

[2017-07-15 14:35] bil-elmoussaoui opened #406 "Don't overwrite file permissions"
For now, we have been setting new file permissions to each file. I think the best way for a better script is to save each file permission before each modification and set the new file permission to be the same as the old file version. This will avoid a lot of possible issues in the future.

This should be implemented only after implementing #397

[2017-07-18 13:45] bil-elmoussaoui commented on #404
Any news? Is this fixed for you?

[2017-07-18 13:46] bil-elmoussaoui commented on #401
I couldn't reproduce this issue :(

[2017-07-18 13:48] bil-elmoussaoui commented on #296
One of the issues about supporting qt5 apps is that there's no way for us to know if it's a qt5 or a qt4 app...

[2017-07-18 14:03] varlesh commented on #296
Mega maybe fix this on upstream.
![2017-07-18 18-02-52](https://user-images.githubusercontent.com/8083855/28321119-6cf7d5ce-6be3-11e7-8196-fc74cd68ea03.png)

[2017-07-18 14:07] bil-elmoussaoui commented on #296
Until then we should find a solution for other qt apps :+1:

[2017-07-18 16:52] artkis commented on #404
Yes, I am already satisfied. Skype has an update, it returns also to its original icon but after command line (hardcode-tray --apply), it was fixed also.
![screenshot from 2017-07-18 20-45-49](https://user-images.githubusercontent.com/30148306/28329365-a115633c-6bfa-11e7-99fb-ee72d392803a.png).
Thanks. Hope for your continue improving of Linux look.

[2017-07-18 17:04] bil-elmoussaoui commented on #404
Yeah, because skype stores the icons on a binary file. Each update will overwrite the binary file with a new one. That's why you should run hardcode-tray each time you update skype or any other electron based app.
Btw, there's an option to change the color of the tray icons so they can be white as the rest of yours ;) Just check the README file

[2017-07-18 17:04] #404 closed

[2017-07-18 17:11] artkis commented on #404
ok i will try

[2017-07-20 12:15] Foggalong commented on #401
I wouldn't worry about it to be honest. It fixed itself almost immediately so whatever it is is going to be difficult to make happen again. I'd say close the issue and just remember it for if anything similar happens in future

[2017-07-20 12:18] bil-elmoussaoui commented on #401
Alright, makes sense. If you ever had this issue again, please don't forget to keep a copy of the log files (`/tmp/Hardcode-Tray`)

[2017-07-22 05:45] varlesh commented on #391
i think better solution for all distros - it's appimage package - portable and worked on all distros... but only we need patched sni-qt library on deb's

[2017-07-22 05:46] varlesh commented on #391
More info here:
https://github.com/AppImage/AppImageKit/blob/appimagetool/master/README.md

[2017-07-22 17:54] SeptemberHX opened #407 "Jetbrain Toolbox, Netease music support !"
Please support jetbrain toolbox !! You can find it here: [Jetbrain toolbox](https://www.jetbrains.com/toolbox/)
![image](https://user-images.githubusercontent.com/18042424/28493429-bbb0c540-6f49-11e7-9e84-56160dffff83.png)

And another app: Netease music !! [netease music download link](http://s1.music.126.net/download/pc/netease-cloud-music_1.0.0-2_amd64_ubuntu16.04.deb)
![image](https://user-ima

[2017-07-23 10:41] bil-elmoussaoui commented on #407
Jetbrain Toolbox has the icon hardcoded on the binary see #297
The Netease music seems to be using NodeWebkit? But their binary is quite different than the rest of the NodeWebkit apps. As the application is closed source, they might have changed the way the binary is made... i can't investigate further without the source code :(

[2017-07-23 10:50] bil-elmoussaoui commented on #407
PomoDoneApp support is now on master

[2017-07-23 11:14] chuutatsu opened #409 "With Papirus icons, Hardcode Tray does not change Steam's tray icon."
### Specifications
- Hardcode-Tray and sni-qt versions:
![screenshot_2017-07-23_18-06-45](https://user-images.githubusercontent.com/24815847/28498847-dda1976e-6fd1-11e7-8d14-dd5cb799ccee.png)
- Distribution : Manjaro 17.0.2 XFCE
- Gtk version : 3.22
- Inkscape version : 0.9.2-1.3
- Icon name :  Papirus

###  Actual Behavior
1. After running hardcode tray with Papirus icons, all tray icons changed

[2017-07-23 11:42] bil-elmoussaoui commented on #409
That was fixed few releases before...The latest version of Hardcode-Tray is 4.1 and not 3.8 :(

[2017-07-23 11:44] bil-elmoussaoui commented on #409
The best way to fix the broken icon is first to reinstall Steam so the original icon can be reinstalled (this won't remove your games library). After that, upgrade Hardcode-Tray using the manual installation to get the latest version (see README). And then run `hardcode-tray --apply --only steam` paste the output here & also the log file from `/tmp/Hardcode-Tray` (just the latest one)

[2017-07-23 11:45] chuutatsu commented on #409
So that was meant.... the packages in AUR wasn't updated.

Alright.

[2017-07-23 11:47] bil-elmoussaoui commented on #409
I maintain the AUR packages myself and they are up to date as far as i know. Do yoy you use the stable or the git version?

[2017-07-23 11:50] chuutatsu commented on #409
I'm using the **hardcode-tray** one, not **hardcode-tray-git**.

[2017-07-23 11:57] bil-elmoussaoui commented on #409
@chuutatsu You can now run `yaourt -S hardcode-tray` which will grab the latest release; I thought that i have upgraded the script, but i didn't git push :rofl:

[2017-07-23 12:12] chuutatsu commented on #409
Alright, I'll redownload them now and post the result here then.

[2017-07-23 16:06] bil-elmoussaoui commented on #409
You're welcome

[2017-07-23 16:06] #409 closed

[2017-07-24 00:38] probonopd commented on #391
Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimage.org/t/how-to-make-an-appimage-e

[2017-07-24 00:45] bil-elmoussaoui commented on #391
@probonopd  I don't know how AppImage works internally. But the case here is the app(cli here) runs only from terminal and must have access to the user's file system. Can be this done using AppImage?

[2017-07-24 01:04] probonopd commented on #391
Yes.

[2017-07-24 01:19] bil-elmoussaoui commented on #391
Alright, i will see what i can during this week/weekend.  I might need some help. Do you mind if a ping you or is there an official iirc where i can get some help?

[2017-07-24 01:21] probonopd commented on #391
Sure, either ask me here or drop by #AppImage on irc.freenode.net

[2017-07-24 02:05] bil-elmoussaoui opened #410 "Basic tests"
The script is getting much and much bigger than we expect (in our first version). We should implement some basic tests and modify some parts of the code to make it possible in order to avoid those basic small issues to appear in the future.

The idea is to:
- Unit test almost every possible part of the code
- JSONLint the database file

[2017-07-24 11:39] SeptemberHX commented on #407
It doesn't work ... Pomodone APP still have the original tray icon.
I have checked the pomodoneapp.json and it seems everything is right.

So, how to print the log of hardcode-tray ? I think there may be something useful in the log.

[2017-07-24 11:54] bil-elmoussaoui commented on #407
The icon theme you're using must add a support for this application.

[2017-07-24 16:12] SeptemberHX commented on #407
Thanks for that ! After I put some icons in my icon theme folder, it works.

Another application request: Nozbe, [offical site](https://nozbe.com/)
Build with electron I think. It has the same folder structure as PomodoneApp

Thanks for your fantastic work !!!!!

[2017-07-25 21:34] bil-elmoussaoui commented on #407
Nozbe needs some specific work in order to make things works. They indeed uses Electron. If you install the application, you will find under the `install_path/resources` a file named `app.asar` that you can extract using `asar`module from npm `sudo npm -g i asar`. Once you've extracted that file, the icon for the tray menu is created in `app/utils/index.js`. You will find a function that creates t

[2017-07-25 21:34] #407 closed

[2017-07-27 09:31] varlesh commented on #404
@artkis why you not change color on gnome shell tray icons? it's looks ugly.
With ePapirus and your gnome-shel theme i recommend fix color:
`sed -i 's/#f6f6f6/#6e6e6e/g' ~/.themes/THEME_NAME/gnome-shell/gnome-shell.css`
Looks better with single color palette on tray:
![2017-07-27 13-26-47](https://user-images.githubusercontent.com/8083855/28663766-575332b6-72cf-11e7-9bc5-3093355452b2.png)
More inf

[2017-07-30 19:36] wa4557 commented on #391
Even thoug an AppImage would be great I still think that a working PPA would make sense.
I got meson to work but now I have a different problem I don't know how to solve

@bil-elmoussaoui I think the issue is that there is no "build" command in meson.build. Because the install thing is not what is needed for building the deb file. Can you look into that?

Here the logfile of the (failed) build

[2017-07-30 23:44] viggy96 opened #411 "Does not work with Google Chrome dev channel"
### Specifications
- Hardcode-Tray version : `3.9`
- Distribution : `Ubuntu 16.04.2 LTS`
- Inkscape version : `0.91 r13725`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1` if installed
- Application name :  `Google Chrome dev channel`
- Application version : `61.0.3163.13 (Official Build) dev (64-bit)`

### Expected behavior and actual behavior
Change tray icon to appropriate theme icon

[2017-08-02 22:15] bil-elmoussaoui commented on #391
@wa4557 Sorry for the delay. I think you forgot to copy/paste the logfile content here :P

[2017-08-02 22:20] bil-elmoussaoui commented on #391
By taking a look at the current PPA build status, i think i might have figured out how to fix that issue. I'm forcing to install the content of the database files into /opt/HardcodeTray but that won't work for fake root. I have fixed that on my alpha branch, but there are few things to be fixed there before i can merge into the master branch. i will try to do that before the weekend and hopefully,

[2017-08-03 07:07] wa4557 commented on #391
@bil-elmoussaoui Cool. But you must not update meson to 0.41 otherwise a PPA won't work! The latest version of meson in Trusty/Xenial is 0.40.1. So if your script also works with 0.40 we have to keep it

[2017-08-03 11:34] bil-elmoussaoui commented on #411
The icon name must have been updated. Let me upgrade my Google Chrome Unstable and fix it :+1:

[2017-08-03 11:40] bil-elmoussaoui commented on #391
I will not, we don't use any new features from 0.41 (the latest thing we use the python module on Meson which was released with the 0.40 version http://mesonbuild.com/Python-3-module.html)

[2017-08-03 11:48] wa4557 commented on #391
Was just looking at your commit messages. It says 0.41 :)

[2017-08-03 11:50] bil-elmoussaoui commented on #391
It must be a typo (see https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/alpha/meson.build#L3)

[2017-08-03 11:51] wa4557 commented on #391
is the alpha branch already usable? Wanna try if packaging works

[2017-08-03 11:53] bil-elmoussaoui commented on #391
Yep should work as expected :+1:

[2017-08-03 11:58] wa4557 commented on #391
I get :` Native dependency 'gobject-introspection-1.0' not found`

[2017-08-03 12:01] bil-elmoussaoui commented on #391
We need also `libgirepository1.0-dev` in order to make it detectable using pkgconfig

[2017-08-03 12:02] wa4557 commented on #391
And for gtk+-3.0?

[2017-08-03 12:07] bil-elmoussaoui commented on #391
it must be `libgtk3-dev`

[2017-08-03 12:07] wa4557 commented on #391
Got it it's `libgtk-3-dev`
Still get a permission error though :( `PermissionError: [Errno 13] Permission denied: '/usr/lib/python3.5/site-packages'`

[2017-08-03 12:37] bil-elmoussaoui commented on #391
@wa4557 I think that you might need to use the --prefix argument somewhere? as I don't force installing on /usr/lib at all see
 https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/alpha/meson.build#L28 which all does is installing on `PREFIX/python libraries location`

[2017-08-03 12:49] wa4557 commented on #391
So which `--prefix` should I use? Isn't the standard python location in `usr/lib/python3.5`?

[2017-08-03 12:55] wa4557 commented on #391
Never mind, I get a new permission error now

[code]

[2017-08-03 12:58] bil-elmoussaoui commented on #391
It depends on the Python version shipped with the Ubuntu version :/ The python path is detected automatically thanks to Meson.

For the /usr/local/share i don't see what it's saying that there's a permission error :/. That shouldn't be a problem?

[2017-08-03 13:03] wa4557 commented on #391
As a normal user I can't install to `/usr` right?

[2017-08-03 13:04] bil-elmoussaoui commented on #391
Nop, normal users can't install any deb file at all...

[2017-08-03 13:04] bil-elmoussaoui commented on #391
But for packaging, you should be able to create /usr/share/Hardcode-Tray/ without any issue as launchpad build system uses a fake root

[2017-08-03 13:04] wa4557 commented on #391
But still I should be able to build the deb file. Oh boy I know so little about packaging, just trying random stuff :)

[2017-08-03 13:07] wa4557 commented on #391
Can you have a look at this? They seem to have a working `meson.build` on launchpad

https://bazaar.launchpad.net/~ztefn/haguichi/meson-build/view/head:/meson.build

[2017-08-03 13:09] bil-elmoussaoui commented on #391
Hey the problem isn't on meson :P As i have switched recently Lollypop from Autotools to Meson and the build works just fine. It seems that they use something like this for the nina -C install
`DESTDIR=/<<PKGBUILDDIR>>/debian/lollypop ninja -C build -v install`
In our case it must be
`DESTDIR=/<<PKGBUILDDIR>>/debian/hardcode-tray ninja -C builddir -v install`
I don't know where this should be plac

[2017-08-03 13:34] wa4557 commented on #391
Yes I guess you're right. Now I need to find the `debian` folder for lollypop somewhere to reverse engineer it...

[2017-08-03 13:38] bil-elmoussaoui commented on #391
@wa4557
Here's the rules file of Lollypop
[code]

[2017-08-03 13:59] bil-elmoussaoui commented on #411
Fixed on master

[2017-08-03 14:02] wa4557 commented on #391
Got it working :) Can I change the file in the master branch?

[2017-08-03 14:02] wa4557 commented on #391
Nevermind you already merged, awesome

[2017-08-03 14:05] bil-elmoussaoui commented on #391
What's the next step? Should i create a new release to trigger the PPA update?

[2017-08-03 14:13] wa4557 commented on #391
@bil-elmoussaoui Already building. That's ok its adaily build anyways

[2017-08-03 14:15] bil-elmoussaoui commented on #391
Trusty doesn't have the needed version of Ninja either + it's not supported anymore. People should upgrade to 16.04 or build from source code by installing meson using `pip3 install meson` and building ninja from source code...
This can now be closed?
I will create a new issue for the AppImage as it's a completely different story....

[2017-08-03 14:17] wa4557 commented on #391
Wait a moment, I get a few warnings during build. Might be worth looking into:
[code]

[2017-08-03 14:22] bil-elmoussaoui commented on #391
`W: hardcode-tray: executable-not-elf-or-script usr/lib/python3.5/site-packages/HardcodeTray/modules/applications/helpers/data_pack.py` Fixed that on master
I think somehow it complains about installing some files in usr instead of /usr

[2017-08-03 14:25] wa4557 commented on #391
What about the location of the python module?

[2017-08-03 14:28] bil-elmoussaoui commented on #391
I've just downloaded the latest deb, extracted it and everything seems to be okey. I don't have an Ubuntu machine at the moment to try it

[2017-08-03 14:29] wa4557 commented on #391
It's not ok. Ubuntu does not recognize the installed python module...

[2017-08-03 14:31] bil-elmoussaoui opened #412 "Create a man page"
Debian build system complains about that. Shouldn't be too hard to do

[2017-08-03 15:30] bil-elmoussaoui commented on #391
i've tried the latest package in elementary OS and everything is installed correctly except the executable file...

[2017-08-03 17:28] bil-elmoussaoui commented on #391
@wa4557 Should be fixed now https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/5250d099232f7064f77d63f4fbab18c21dc33459

[2017-08-03 17:41] wa4557 commented on #391
Cool, I'll check it out. I don't know why the executable is not installed, though...

[2017-08-03 18:54] Feichtmeier opened #413 "Hardcode-Tray stopped working, reinstalled, won't install from ppa"
I can't check the version because:

/opt/Hardcode-Tray$ hardcode-tray --version
Traceback (most recent call last):
  File "/usr/bin/hardcode-tray", line 38, in <module>
    from HardcodeTray.app import App
ImportError: No module named 'HardcodeTray'

Hmpf. I reinstalled hardcode-tray many times it still gives the same error

hardcode-tray
Traceback (most recent call last):
  File "/usr/bin/hardcod

[2017-08-03 18:56] bil-elmoussaoui commented on #413
Hey sorry for that, this bug was introduced once we were able to update the PPA to use the meson build system.
And this bug is already fixed on master. The auto build should be triggered in a few hours ( @wa4557 can you do that manually ?)
For now; if you really need Hardcode-Tray you can still compile it from source.  Otherwise, a new update should land by tomorrow (we hope that launchpad won't b

[2017-08-03 19:02] #413 closed

[2017-08-03 19:21] wa4557 commented on #413
@Feichtmeier Should work now. If you install again from PPA you should get a working version

[2017-08-03 19:44] bil-elmoussaoui commented on #391
Thanks for your work on this @wa4557. We have finally got a working PPA again :P

[2017-08-03 19:44] #391 closed

[2017-08-04 16:26] Armanmd opened #415 "Hardcode-Tray not working!"
### Specifications
- Hardcode-Tray version : `latest version on the github (4.1)`
- Distribution : `Linux Kali 4.9.0-kali3-686-pae #1 SMP Debian 4.9.18-1kali1 (2017-04-04) i686 GNU/Linux
`
- Gtk version : `3.22`
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `telegram (v:1.1.10-1b) and rhythmbox (v:3.4.1) on the top pa

[2017-08-04 16:40] bil-elmoussaoui commented on #415
Please provide more information and create a specific and detailed issue instead of saying that it doesn't work. What does not work ? I need the logs from /tmp/Hardcode-Tray.

[2017-08-05 08:08] Armanmd commented on #415
**_Please take a look at the screen shot. When I execute the command (sudo -E hardcode-tray), no icons will change in the top panel_**
**_And this is my Hardcode-Tray log :_**

_https://picload.org/view/rwdwalir/screenshot-20170804121720-1366.png.html_
or
_https://ibb.co/kGWZ4v_
[code]
what to do ?

[2017-08-05 11:24] bil-elmoussaoui commented on #415
I see that  Telegram is not detected correctly. It must be that Telegram is installed in a different location on Kali Linux. Can you see if any folder from app_path or icons_path exists? if not please create a PR with the correct paths in Kali Linux https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/data/database/telegram.json

For the other tray icon, I don"t think that we support it. W

[2017-08-06 11:46] Feichtmeier commented on #413
Yes it works now! Thank you!

[2017-08-06 12:52] Armanmd commented on #415
# Hello
**Thanks** for the **reply**
**_I installed the telegram software from Kali Tanks_**
![](http://i.imgur.com/EYMxSfI.png)
Installed Files locations:
[code]
What if I want to install manually? What should I do?

[2017-08-06 13:15] Armanmd opened #416 "[Icon Request] Rhythmbox Music Player"
App name:Rhythmbox

- url(github):https://github.com/mendhak/rhythmbox-tray-icon

**_Tray icons:_**
![](http://i.imgur.com/joOtcFb.png)
![](http://i.imgur.com/sx0TYYI.png)
**_location:_**
![](http://i.imgur.com/oyjcPXF.png)

[2017-08-08 14:33] bil-elmoussaoui commented on #415
Telegram stores the icons here `$HOME/.local/share/TelegramDesktop/tdata/ticons/` If you don't find any icon. You must be missing libappindicator or an other dependency in your installation system

[2017-08-08 14:39] #416 closed

[2017-08-08 14:40] bil-elmoussaoui commented on #416
Fixed on master. Your icon theme must provide
- `rhythmbox-indicator`
- `rhythmbox-playing`

[2017-08-09 06:27] SolarLiner commented on #412
I was already on my way to do that. I'll update with a pull request soon enough (I hope!).

[2017-08-09 07:38] bil-elmoussaoui commented on #412
@SolarLiner that would be really awesome

[2017-08-09 07:49] SolarLiner commented on #412
So the man file itself can be anything and put anywhere, but the file must be placed at `/usr/local/man/man1/hardcode-tray.1` and then gzipped. I see no scripts folder, only a travis configuration.

I've put the source man file in `./doc/man/hardcode-tray.1` if that's okay.
![image](https://user-images.githubusercontent.com/4302963/29110724-e27c0024-7d11-11e7-8e88-2db68e174151.png)

[2017-08-09 09:23] bil-elmoussaoui commented on #412
Fixed on master thanks to @SolarLiner

[2017-08-09 09:23] #412 closed

[2017-08-09 09:45] bil-elmoussaoui opened #418 "Add bash & zsh autocomplete"
For a perfect cli tool. We need bash & zsh auto-completion. I have already done that for zsh (for flatpak) so i think it shouldn't be super hard to do the same for hardcode-tray. I will try to do that as soon as possible

[2017-08-09 11:25] Armanmd commented on #415
@bil-elmoussaoui Hi, I found the location

![](http://i.imgur.com/IruLYyp.png)

what to do ?

i think Hardcode-Tray not working on the Debian Maschine ؟

Have you tried on Debian?

[2017-08-09 11:34] bil-elmoussaoui commented on #415
Again the issue is due to having root as a username :( Hardcode-Tray was never tested in such case. The location is not found because the home location is not detected correctly. I'm not going to do any modifications at the moment to make things works as this might break stuff. But this should be fixed once #397. If you don't want to wait. Just edit `const.py` can be found in `/usr/lib/python3.5 o

[2017-08-09 14:00] Armanmd commented on #415
@bil-elmoussaoui **_Thanks_** for the **_reply_**
![screenshot from 2017-08-09 09-56-26](https://user-images.githubusercontent.com/29518463/29125236-376240f4-7ce9-11e7-9dcc-00022c8ed427.png)
 **_i try on another user wroked as well so if i  want use hardtray on the root user what must i do_**

the output of $HOME in terminal is
:bash: /root: Is a directory
USERHOME = /root (notworking)

[2017-08-09 14:59] bil-elmoussaoui commented on #415
You must use "", something more like `USERHOME = "/root" or whatever the output you've got from `$HOME`

[2017-08-10 12:12] Armanmd commented on #415
@bil-elmoussaoui output not working plz check this image

![](http://i.imgur.com/DNSqnqU.png)

[2017-08-10 12:13] Armanmd commented on #415
![](http://i.imgur.com/CNaD4VT.png)

[2017-08-10 12:57] bil-elmoussaoui commented on #415
Fixed that issue on master https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/4cd44cec3fc72f0a948550f98feb87bcd813d6df
The userhome/username should be detected correctly now

It's up to Numix theme to support that, open a new issue about that upstream.
Closing

[2017-08-10 12:57] #415 closed

[2017-08-10 17:14] Armanmd opened #419 "Rhythmbox"
Do you support Rhythmbox on the numix theme ?

![1](https://user-images.githubusercontent.com/29518463/29182680-1be16964-7e00-11e7-953b-084633d4a07f.png)

[2017-08-10 17:41] Armanmd commented on #418
i like that :)

[2017-08-10 19:31] #419 closed

[2017-08-12 23:33] viggy96 opened #420 "hardcode-tray crashing on apply"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Ubuntu 16.04 LTS`
- Gtk version : `3.18`
- Inkscape version : `0.91-7ubuntu2`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`

### Steps to reproduce the problem
1. Run hardcode-tray with any conversion tool.

I get the following error:

[code]

[2017-08-14 02:48] SolarLiner opened #421 "Running Hardcode-Tray crashes"
### Specifications
- Hardcode-Tray version : `` (impossible to retrieve, crashes)
- Distribution : `Ubuntu GNOME 17.04`
- Gtk version : `2.24.31-1ubuntu1 | 3.22.11-0ubuntu3`
- Inkscape version : `0.92.1` if installed
- Cairo version : `1.0.20` if installed
- Sni-qt version: `0.2.7+20161212~1` if installed
- Application name :  ``
- Application version : ``

Running hardcode-tray in any mode (even

[2017-08-14 15:51] diogo-gomes opened #422 "KeePass2 Plugin Application Indicator"
### Specifications
- Hardcode-Tray version : `3.5.2.1~863~ubuntu16.04.1`
- Distribution : `Xubuntu 16.04`
- Gtk version : `3.2.0-2`
- Inkscape version : `0.91-7ubuntu2`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `keepass2-plugin-application-indicator`
- Application version : `0.4.7+0.5.7`
- PPA: `[launchpad.net/~dlech/+archive/ubuntu/keepass2-plugins]`(https://launch

[2017-08-14 18:11] BrusAndr commented on #422
+1, I also noticed this problem.
KeePassX site: http://www.keepassx.org/
GitHub repo: https://github.com/keepassx/keepassx

[2017-08-14 18:37] diogo-gomes commented on #422
@bil-elmoussaoui,

I updated the issue with:

- PPA: `[launchpad.net/~dlech/+archive/ubuntu/keepass2-plugins]`(https://launchpad.net/~dlech/+archive/ubuntu/keepass2-plugins)
- Repository: `[github.com/dlech/Keebuntu](https://github.com/dlech/Keebuntu)`

[2017-08-15 06:22] kmf commented on #421
Have the same issue.

[2017-08-15 09:43] chuutatsu opened #423 "Missing dependency gobject-introspection?"
I tried to reinstall hardcode-tray-git again. The build process failed and I got this error.

"missing dependency gobject-introspection"

Apparently I am not the only one who experienced this. The commenter at this AUR page also gave the same error message. https://aur.archlinux.org/packages/hardcode-tray-git

I am using the stable version (hardcode-tray) for now.

[2017-08-17 10:14] bil-elmoussaoui commented on #420
This must be due to a newer version of either Chrome/Chromium/Vivaldi. (the applications who uses the pak module). Can you tell me which ones of those you're using ? or which one you've upgraded recently?

[2017-08-17 10:15] bil-elmoussaoui commented on #421
Hmm i should have tested this more. I will fix this one tonight

[2017-08-17 10:15] bil-elmoussaoui commented on #423
I will fix the AUR repository right now

[2017-08-17 10:17] bil-elmoussaoui commented on #422
@BrusAndr It's not the same issue. Keepassx is the other issue that has been reported few times but i can't do anything about it (the last time i checked). I will do some verifications again (and open an issue upstream about that)

@diogo-gomes Thanks for the links. I will see if it can be done tonight :)

[2017-08-17 10:39] SolarLiner commented on #421
Something something not enough automated testing... 🙃🙃

[2017-08-17 10:45] bil-elmoussaoui commented on #421
Tests are not ready yet :( and I'm so busy these days...

[2017-08-17 13:27] viggy96 commented on #420
I'm using Chrome Version 62.0.3178.0 (Official Build) dev (64-bit).

[2017-08-17 14:48] ianfebriyanto commented on #421
same here

[2017-08-19 09:45] bil-elmoussaoui commented on #423
Fixed

[2017-08-19 09:45] #423 closed

[2017-08-19 09:49] bil-elmoussaoui commented on #421
Fixed on master. Now Hardcode-Tray doesn't change the permissions of any file which caused a lot of issues. This will be improved a lot with #397 & #406

[2017-08-19 09:50] #421 closed

[2017-08-19 10:03] bil-elmoussaoui commented on #420
I have improved the situation a bit on the master branch. We use a modified version of `data_pack.py` originally created by Chromium devs. And it was working only with Pak files of version 4. Now the Pak files of the latest Chrome & Chromium uses the version 5. I don't know what are the differences. But it seems it works at least on my machine.

Can you try master? Be sure to backup the resources.

[2017-08-19 10:03] #420 closed

[2017-08-19 10:08] bil-elmoussaoui commented on #422
@diogo-gomes The deb file you linked doesn't use a hardcoded icon. But `keepass2-locked`
![keepass2-locked](https://user-images.githubusercontent.com/7660997/29485710-d58b0d66-84d6-11e7-9698-be49556e1ecc.png)
![keepass2-locked](https://user-images.githubusercontent.com/7660997/29485717-db9f52a2-84d6-11e7-808a-b7a4efd7b181.png)
![keepass2-locked 1](https://user-images.githubusercontent.com/7660997/

[2017-08-19 10:08] #422 closed

[2017-08-20 11:10] chuutatsu commented on #423
Thank you!

[2017-08-20 20:38] leoheck opened #424 "Meson problem"
Just reporting an issue. Running on Ubuntu 17.04 (Linux moon 4.10.0-32-generic)

[code]

[2017-08-20 20:56] bil-elmoussaoui commented on #424
@leoheck Can you try upgrade meson to a newer version using `pip3 install --upgrade meson`? That should fix the issue. As we request meson >= 0.40

[2017-08-20 20:58] #424 closed

[2017-08-20 20:58] bil-elmoussaoui commented on #424
See the readme https://github.com/bil-elmoussaoui/Hardcode-Tray#building-dependencies

[2017-08-20 21:19] leoheck commented on #424
Good, it worked, thanks. I had to use sudo instead.
`sudo -H pip3 install --upgrade meson`

[2017-08-20 21:23] leoheck opened #425 "Missing tray icon for google-chrome"
Google Chrome version
Version 61.0.3163.49 (Official Build) beta (64-bit)
Edit: I am using paper icon theme

[2017-08-20 21:28] bil-elmoussaoui commented on #425
Paper doesn't support Hardcode-tray. You can either open an issue about that upstream or just use an other theme like Numix or Papirus to set the icons with the --theme argument. You can also recolour the icons to make them look like Paper tray icons. Just look at the README or use man hardcode-tray to see the list of possible options.

[2017-08-20 21:46] #425 closed

[2017-08-21 14:27] jcubic opened #426 "New icons request"
Do you accept new icons requests? It would be nice to have icons for liferea. The icons that need to be replaced are located in [pixemap directory](https://github.com/lwindolf/liferea/tree/master/pixmaps) the other icons are taken from theme but not the one from tray.

[2017-08-21 14:32] bil-elmoussaoui commented on #426
@jcubic Which ones are used by Lifrea as tray icons?

[2017-08-21 14:38] jcubic commented on #426
the ones outside of folders, and after install they are located in /usr/share/liferea/pixmaps/

[2017-08-21 14:41] bil-elmoussaoui commented on #426
By looking at the source code the only used icons are https://github.com/lwindolf/liferea/blob/00ac9b126f9908468b32a17da699f3a85012ae47/plugins/trayicon.py#L92-L93

[2017-08-21 14:42] jcubic commented on #426
Yes I just look ate the source code in the same time just wanted to comment that only two of them are used available.png and unread.png

[2017-08-21 14:50] #426 closed

[2017-08-21 14:52] bil-elmoussaoui commented on #426
Fixed on master. You can use `sudo hardcode-tray --only liferea` to fix only Liferea once the icons are included by the theme you're using right now.
The icons are:
- [ ] ![unread](https://user-images.githubusercontent.com/7660997/29524776-09519410-8691-11e7-8ea7-11f5df7f8ae9.png) `liferea-unread`

- [ ] ![available](https://user-images.githubusercontent.com/7660997/29524779-0c5bb33e-8691-11e7-9e0

[2017-08-21 14:52] jcubic commented on #426
Wow, that was fast, thanks.

[2017-08-21 14:54] bil-elmoussaoui commented on #426
It's pretty easy to include new applications support thanks to our base code;)

[2017-08-21 15:06] jcubic opened #427 "How to create icons in theme?"
I want to start adding hardcode-tray icons to my theme [Clarity](https://github.com/jcubic/Clarity), should I just add icon like `/scalable/status/bitcoin-indicator.svg`  and the icon will work or something else need to be done. This info can be added to README as well.

[2017-08-21 15:13] bil-elmoussaoui commented on #427
@jcubic I have already thought about everything :p just take a look at our Wiki https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/FAQ#how-to-support-an-application-in-your-theme

[2017-08-21 15:14] bil-elmoussaoui commented on #427
All needs to be done is just adding the icons. And the users can run hardcode-tray if they want and the icons will be picked from their current theme (if they exist). This way we avoid adding any icon into our repository and each theme can support one or more app ;)

[2017-08-21 15:15] bil-elmoussaoui commented on #427
The wiki might need some re-wording indeed. Any help is always welcome:+1:

[2017-08-21 19:39] GohanSaiyajin opened #428 "Not Patching Steam's icon with Papirus Theme"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Linux Mint 18.2 Cinnamon`
- Gtk version : `3.18`
- Inkscape version : `Most Recent` if installed
- Cairo version : `Not Installed` if installed
- Sni-qt version: `Most Recent` if installed
- Application name :  `Steam`
- Application version : `Most Recent`

### Expected behavior and actual behavior
Steam's icon is simply not upda

[2017-08-22 12:28] TheGohan1905 commented on #428
EDIT: After changing the panel height, noticed that it still works if the icons are large. If Medium or Small icons are selected, it reverts to the base icon.

[2017-08-22 12:46] bil-elmoussaoui commented on #428
Which version of hardcode-tray are you using? The git one? Can you also copy/paste the logs from Hardcode-tray, they can be found on /tmp/Hardcode-tray. Ordered by date

[2017-08-22 13:57] TheGohan1905 commented on #428
Using version 4.1, added from the rep. I tried using --update-git like I did last time I had an issue, but it seems the command is not here anymore. Posting the logs.

Actually, this is the only log I could find, did a fresh install before reporting.

[2017-08-22 15:31] bil-elmoussaoui commented on #428
By looking at the last line it seems that it works without any issue. Can you take a look at /usr/share/pixmaps/steam_tray_mono.png?

[2017-08-22 15:40] TheGohan1905 commented on #428
![steam_tray_mono](https://user-images.githubusercontent.com/26198732/29574024-bb9cc2d4-8736-11e7-92e3-400173393902.png)

It looks exactly how it should be.
Like i said, if i use a custom panel size with the "Allow Cinnamon to scale text and icons according to the panel height" option enabled and leaving it at 40, 45% of the indicator, the Steam icon goes like the image above, but if lower than th

[2017-08-22 15:43] bil-elmoussaoui commented on #428
It must be an issue with cinnamon then. I don't know how things works there but if it works for a size and doesn't for an other it has to be an upstream size where the cinnamon panel tries to get a larger size of the icon but it doesn't get the right one :/

[2017-08-22 15:46] GohanSaiyajin commented on #428
Okay, gonna try some workaround here. Thanks for helping!

[2017-08-22 15:46] #428 closed

[2017-08-22 16:05] bil-elmoussaoui commented on #428
You can always open an issue upstream

[2017-08-23 01:37] viggy96 commented on #411
Still does not appear to work.
`Version 62.0.3192.0 (Official Build) dev (64-bit)`

[2017-08-23 08:05] bil-elmoussaoui commented on #411
The icon name must have changed again :/ I'm going to give it a try :)

[2017-08-23 10:16] chuutatsu opened #429 "Is that possible to change Papirus tray icons' color using this command?"
I need a little help. I found this in the Papirus page.

Can I use the command above to change the color of Papirus tray icons?
And how is the exact example?

[2017-08-23 10:31] bil-elmoussaoui commented on #429
yeah, ofc you can use that. The default color used by Papirus tray icons is `#5c616c` you can find that pretty easily by opening any tray icon using Inkscape.

Or if you want you can open the text editor and open any svg icon from Papirus

[code]

Then all you have to do is using `hardcode-tray --change-color "#5c616c #00000" That will replace `#5c616c` with `#000000` before copying the icons to t

[2017-08-24 09:10] #427 closed

[2017-08-24 09:10] #429 closed

[2017-08-24 09:15] chuutatsu commented on #429
Alright, thanks for explanation.

[2017-08-24 09:23] bil-elmoussaoui commented on #411
It seems that our DataPak module is not valid anymore for the latest version of Pak :( this will need more investigation and maybe a rework of the Pak module.
This won't happen anytime soon; maybe in a month or so as i'm pretty busy at the moment

[2017-08-30 09:09] jareksprysz opened #430 "Please consider adding Qnapi app."
Qnapi is movie subtitles searching tool.

[2017-08-30 09:28] bil-elmoussaoui commented on #430
I can't fix this as the icon is hardcoded on the binary. The application uses a qresource file see https://github.com/QNapi/qnapi/blob/master/gui/res/resources.qrc#L3
And the icon is set from that file
https://github.com/QNapi/qnapi/blob/cdc431b2214ae45e420286ff460bb0131d7a1360/gui/src/qnapiapp.cpp#L166

Instead, they should use `QIcon::fromTheme("qnapi-tray")` and fall back to the current icon fr

[2017-08-30 12:03] bil-elmoussaoui commented on #430
See https://github.com/QNapi/qnapi/issues/125

[2017-08-30 12:03] #430 closed

[2017-09-01 11:51] drakkar1969 opened #431 "Skype Preview not working"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Arch Linux`
- Gtk version : `3.22`
- Inkscape version : `0.92.2 5c3e80d, 2017-08-06` if installed
- Sni-qt version: `sni-qt-patched-git r.-1` if installed
- Application name :  `Skype Preview`
- Application version : `8.5.76.55323`

### Expected behavior and actual behavior
Tray icons no longer changed since upgrade from Skype fo

[2017-09-01 15:07] bil-elmoussaoui commented on #431
What's skype preview? 🤔

[2017-09-01 15:10] drakkar1969 commented on #431
Latest version of Skype for Linux Beta has picked up the Skype re-design already rolled out on Android/Windows - and re-named Skype Preview ....

[2017-09-01 15:38] bil-elmoussaoui commented on #431
I will see what i can do

[2017-09-01 15:51] drakkar1969 commented on #431
Thanks!

[2017-09-01 16:58] varlesh commented on #431
extract asar skypeforlinux (8.5.76.55323) :
[code]

[2017-09-01 16:59] varlesh commented on #431
![image](https://user-images.githubusercontent.com/8083855/29979902-5ec17c60-8f58-11e7-8d9c-a36602a506bc.png)

[2017-09-01 17:07] varlesh commented on #431
PPA https://repo.skype.com/deb/pool/main/s/skypeforlinux/

[2017-09-01 17:09] varlesh commented on #431
Skype Preview (skypeforlinux_8.5.76.55323) it's unstable app... maybe need create another file for database, because skypeforlinux_5.3.0 it's stable release?

[2017-09-01 17:12] varlesh commented on #431
On official download link https://go.skype.com/linux.deb downloaded stable version skypeforlinux_5.3.0. Users will be confused

[2017-09-01 17:17] varlesh commented on #431
on skypeforlinux_5.3.0 used another paths an icons:
[code]
![image](https://user-images.githubusercontent.com/8083855/29980434-f078d944-8f5a-11e7-86ed-4d75a6fcb1bf.png)

[2017-09-01 17:30] bil-elmoussaoui commented on #431
@varlesh Currently, we don't have a way to check the application version. I don't know if there's any way to do that (that works on almost every linux distro).
But indeed, we should at least separate the icons from each version, otherwise, it will be impossible to debug in the future.

[2017-09-01 23:00] flops opened #432 "Synergy not working"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Arch`
- Gtk version : `3.22.19`
- Inkscape version : `0.92.2 5c3e80d, 2017-08-06` if installed
- Cairo version : `2.0.3` if installed
- Sni-qt version: `r.-1` if installed
- Application name :  `synergy`
- Application version : `1.8.8`

### Expected behavior and actual behavior
Papirus Icons theme got synergy panel icon, hardcode

[2017-09-02 15:53] bil-elmoussaoui commented on #432
Synergy is a qt application. Either the application is moved to use qt5 which then will be a duplicate of #293. If not, the sni-qt doesn't work correctly on archlinux with Gnome. I myself use Archlinux, and i wasn't able to debug that :( Currently, i'm so busy. But once i have some free time i will improve the situation  (sni-qt is built using C++, and my C++ skills are not that good :( which make

[2017-09-02 21:01] drakkar1969 commented on #431
Managed to patch with this database file:

skypepreview.json
[code]

[2017-09-04 13:21] varlesh commented on #431
Variants:
- options `--help` or `--version`. Skypeforlinux not have yet :(
- use package manager (for example, `dpkg -s skypeforlinux | grep Version`) - but this not good solution (More systems and more package managers - it's not universal)
- check hash sum binary file - not good too, because we must control always new changes/releases and generate new sum.
- wait stable release :) It's most prac

[2017-09-04 16:11] bil-elmoussaoui commented on #431
@varlesh This will make things more complicated :( there's no standard way to verify if the application is installed. As the user can install the application from the official deb, or just compile it by himself (apps other than Skype); and i must support dpkg, pacman, dnf (fedora)...which is a lot worse than you can imagine :P

[2017-09-04 17:24] bil-elmoussaoui commented on #406
Quick update: I have already removed the code that rewrites the permissions. Should make things better in the next version

[2017-09-04 19:58] bil-elmoussaoui commented on #410
On master, the database files are linted and verified using jsonschema & i moved from Travis to Circle-ci which has a much easier docker support. So every commit will be verified; for now we only check if the python code is pylinted & the json files are correctly written. More stuff will be coming next week i hope!

[2017-09-04 20:17] bil-elmoussaoui commented on #431
Fixed on master. I'm not going to separate the application into different json files. At least not anytime soon.
So, i have merged @drakkar1969 is json file with the old json file that we had 👍
The electron module, does detect if the file exists before replacing it so it shouldn't cause any issue at all here

[2017-09-04 20:17] #431 closed

[2017-09-04 20:29] drakkar1969 commented on #431
awesome, thanks

[2017-09-05 14:17] bil-elmoussaoui opened #438 "Introduce app id"
For now, if the user wants to fix only google chrome, he must go to the database list and then figure out the file name in order to fix it.

The best way to handle this is to introduce an app id; which will be listed with a new variable argument in two columns, the app name, and the app id. So the user can easily figure out how to fix only one app, or how to add an application to the blacklist. Th

[2017-09-07 11:42] Foggalong commented on #401
@bil-elmoussaoui This happened again with the update to the latest version and I managed to snag the log file this time
[code]

[2017-09-09 09:09] orange-buffalo opened #441 "Telegram icons are partially applied"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Kubuntu 17.04`
- Gtk version : `3.22`
- Inkscape version : `0.92.1 r15371`
- Sni-qt version: `0.2.7+20161212~11~ubuntu17.04.1`
- Application name :  `Telegram`
- Application version : `1.1.23`

### Expected behavior and actual behavior
ER: Icon theme is applied
AR: Icon theme is partially applied (proper icon is rendered in tray

[2017-09-09 09:47] drakkar1969 opened #442 "Run hardcode-tray as user from root?"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Arch Linux`
- Gtk version : `3.22`
- Inkscape version : `0.92.2 5c3e80d, 2017-08-06`
- Sni-qt version: `r.-1`

Is there a way to run the script as a specific user from root? The reason for this is that, when apps are updated/re-installed, tray icons revert to original and have to be re-patched with hardcode-tray. I would like to

[2017-09-09 10:08] bil-elmoussaoui commented on #442
It seems a great idea :) But first let me finish #440 once it's done, we can see how to make this possible

[2017-09-09 10:09] bil-elmoussaoui commented on #441
Can you see which icons are unthemed on `$HOME/.local/share/TelegramDesktop/tdata/ticons/`?

[2017-09-09 11:06] orange-buffalo commented on #441
For me the location was `$HOME/.TelegramDesktop/tdata/ticons/`, but anyway, the only unthemed file there is `ico_22_0.png`

[2017-09-09 11:10] #441 closed

[2017-09-09 11:10] bil-elmoussaoui commented on #441
Fixed on the master branch. Please either upgrade to master or wait until the v4.2 is released
Thanks

[2017-09-09 11:34] orange-buffalo commented on #441
Thanks a lot for such a quick resolution!

[2017-09-09 12:21] drakkar1969 commented on #442
Sounds good, thanks

[2017-09-10 10:23] Foggalong commented on #401
@bil-elmoussaoui This problem has persisted and doesn't seem to be going away this time. Could we get this issue reopened?

[2017-09-10 10:44] bil-elmoussaoui commented on #401
There's nothing on the asar file :( does this happens with any other electron app?

[2017-09-10 10:47] Foggalong commented on #401
I don't use any other electron apps which have tray icons :frowning_face:

[2017-09-10 10:58] bil-elmoussaoui commented on #401
Let me install Rambox and see how i can handle this

[2017-09-10 11:09] Foggalong commented on #401
As a note, the issue seems to be specifically to do with upgrading from one version to another. I've not had it appear in any other scenario.

[2017-09-14 21:22] behroozramezani opened #445 "Add persepolis"
- Application name :  persepolis
[https://persepolisdm.github.io/](https://persepolisdm.github.io/)
Tray icons:
![screenshot_20170915_014708](https://user-images.githubusercontent.com/17659342/30456195-e0945708-99b7-11e7-9c08-024368dc8631.png)

[2017-09-17 16:26] wa4557 commented on #432
For me synergy is fixed. Running version 1.8.8 and Numix icon theme

[2017-09-17 16:29] bil-elmoussaoui commented on #432
Yeah it works on any DE other than Gnome, it's a sni-qt issue...

[2017-09-17 16:30] wa4557 commented on #226
I want to reopen this. Owncloud should be working (so it tries to look for a system theme icon) but isn't on most systems because it ships its own Qt version which does not find the current icon theme. I opened a bug report https://github.com/owncloud/client/issues/6036 but I'm not sure this is easily fixable

[2017-09-17 16:37] wa4557 commented on #432
This Qt programs are a pain in the ass...

[2017-09-17 16:38] bil-elmoussaoui commented on #226
Alright, even if it's an upstream issue but keeping this open will help us keep track of the upstream issue 👍

[2017-09-17 16:40] bil-elmoussaoui commented on #432
Yeah... Too complicated for almost nothing, I don't use any Qt application, so working on sni-qt is really something I'm not willing to spend my time on anytime soon :/

[2017-09-17 19:01] bil-elmoussaoui commented on #445
I will see what i can do as soon as possible

[2017-09-17 19:46] bil-elmoussaoui commented on #442
So the best way to handle this i guess, is to add some option to specify the user that he runs the script?
I think this could be easily fixed by patching your own const.py
As you can see here https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/const.py.in#L27
Just replace the USERNAME and USERHOME variable with the username you want to use and the USERHOME with the path to your home direc

[2017-09-17 21:24] bil-elmoussaoui commented on #445
I looked a bit on the source code of the application, it seems that the tray icon is not hardcoded at all. They just use the same icon name for the tray icon and the application icon.
See here https://github.com/persepolisdm/persepolis/blob/f24bdb9b18f78d26ffdbe4ac0596f590bb8bcd64/persepolis/scripts/mainwindow.py#L744-L745
This should be reported upstream, so they can use another icon name like `p

[2017-09-17 21:25] #445 closed

[2017-09-18 19:20] drakkar1969 commented on #442
ok thanks, let me try that out

[2017-09-19 07:40] drakkar1969 commented on #442
Ok, so I'm dumb: I was running hardcode-tray with various combinations of `sudo` in the pacman hook. But pacman hooks already run commands with elevated privileges, so `sudo` is not required.

If I just run `hardcode-tray` (without `sudo`) from the pacman hook, it works, and USERNAME/USERHOME are correctly assigned as my user name/my home dir respectively.

The only thing that does not work is det

[2017-09-19 07:55] bil-elmoussaoui commented on #442
Nice! The DE is used only to decide which icon size to use and other stuff. That can be configured either from the command line or using the json config file. There's no easy way to detect any distro sadly :( all i do is read the env variables, that might be not exported correctly with pacman...

[2017-09-19 08:25] drakkar1969 commented on #442
I'm setting icon size from the command line, so that works

Re env variables, in effect DESKTOP_SESSION and XDG_CURRENT_DESKTOP are not exported with pacman, so no options there ...

[2017-09-19 08:32] bil-elmoussaoui commented on #442
It's all i can do for now ! If you have any idea on mind just let me know 👍 otherwise this can be closed I guess

[2017-09-19 08:33] drakkar1969 commented on #442
ok, thanks

[2017-09-19 08:33] #442 closed

[2017-09-20 10:14] dflock opened #446 "Can't install hardcode-tray when using inkscape-trunk"
### Specifications
- Hardcode-Tray version : `hardcode-tray_3.5.2.1~880~ubuntu16.04.1_all.deb`
- Distribution : `XUbuntu`
- Inkscape version : `Inkscape 0.92+devel (unknown)`

### Expected behavior and actual behavior

[code]

Note the `hardcode-tray : Depends: inkscape but it is not going to be installed` - this is because I have `inkscape-trunk` installed and the `hardcode-tray` package has a ha

[2017-09-20 10:18] dflock commented on #446
Ended up editing the control file to get this to install, like this: https://serverfault.com/a/859394/72740

[2017-09-20 10:20] bil-elmoussaoui commented on #446
We should definitely remove the hard dependency of Inkscape. As the user can use whatever conversion tool they want

[2017-09-21 07:50] wa4557 commented on #446
@bil-elmoussaoui Should I remove it as dependency?

[2017-09-21 08:32] bil-elmoussaoui commented on #446
Yeah especially sni-qt and Inkscape. We should ensure to have a working installation, so maybe we should keep the python cairosvg backend?

[2017-09-21 08:35] wa4557 commented on #446
Ok I'll keep `python3-cairosvg` I guess it's not too big anyways

[2017-09-21 08:36] wa4557 commented on #446
Done

[2017-09-21 08:36] #446 closed

[2017-09-21 08:47] bil-elmoussaoui commented on #446
Perfect 👍

[2017-09-21 08:54] varlesh commented on #446
Inkscape need for Papirus icons, because cairosvg not support CSS-styles.
https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/245

[2017-09-21 08:56] bil-elmoussaoui commented on #446
People can still install Inkscape and use it, it's just no more a hard dependency

[2017-09-21 08:57] wa4557 commented on #446
what about rsvg? Maybe we just should keep that then?

[2017-09-21 09:00] varlesh commented on #446
@wa4557 I don't know need test it. Also you can move inkscape packgae from `Recommends` to `Suggests`

[2017-09-21 09:04] varlesh commented on #446
worked on Ubuntu 16.04:
![image](https://user-images.githubusercontent.com/8083855/30687789-65df5466-9ecd-11e7-827f-4ea6cad4e5f0.png)

[2017-09-21 09:05] wa4557 commented on #446
Ok let's make a dependency on rsvg then. I will move the others to suggests

[2017-09-21 09:08] varlesh commented on #446
@bil-elmoussaoui Why needed this more conversion tools? Maybe we will be used only RSVGConvert?

[2017-09-21 10:17] bil-elmoussaoui commented on #446
@varlesh you don't need them; you can keep using only RSVG. Others are there if someone wants to use something else they can do it without any issue ;)

[2017-09-21 10:26] varlesh commented on #446
@bil-elmoussaoui But this superfluous work for you - support more coversion tools. I think RSVG enough

[2017-09-22 08:44] wa4557 commented on #446
@bil-elmoussaoui Any reason for the `git` dependence? Seems to be weird for this kind of program...

[2017-09-22 08:46] varlesh commented on #446
It's last option `--update-git` now discontinued.

[2017-09-22 08:50] wa4557 commented on #446
Ok I remove that dependency as well then

[2017-09-24 13:31] Foggalong commented on #411
@bil-elmoussaoui will this also affect Chrome stable?

[2017-09-24 13:34] bil-elmoussaoui commented on #411
it does only affect the dev version, but once the 61 is released it will be affected too. I will try to fix it before the end of the month

[2017-09-24 19:44] GUiHKX commented on #411
61 went stable 19 days ago: https://chromereleases.googleblog.com/2017/09/stable-channel-update-for-desktop.html

[2017-09-24 19:56] bil-elmoussaoui commented on #411
Ops i wasn't aware of that :) i will mark this as a high priority then ;)

[2017-09-24 20:02] viggy96 commented on #411
Current version is: `Version 63.0.3218.0 (Official Build) dev (64-bit)`

[2017-09-26 20:07] johnnydvc opened #447 "Request for Keepassxc icon (same as Keepassx)"
I'm using Keepassxc instead of Keepassx.
Can you please add another json file for that?
The same Icons as Keepassx would be just great.
Thank you

maybe like this?

[code]
}

[2017-09-28 09:59] artemlyubin commented on #163
Any progress with this?

[2017-09-29 07:44] wa4557 commented on #163
Unfortunately it seems to be impossible for now :( Let's see what the future brings...

[2017-09-29 07:56] alienzj opened #448 "Request for BOINC icon"
Can you please add json file for BOINC？

[2017-09-29 08:01] bil-elmoussaoui commented on #448
It was already reported before. The icon is hardcoded on the binary file and there's no easy way to replace it :(

[2017-10-04 13:54] varlesh opened #449 "Mailspring support"
Mailspring (fork Nylas Mail N1)
website: http://www.getmailspring.com/
github page: https://github.com/Foundry376/Mailspring
CODE:
[code]

[2017-10-06 13:06] #448 closed

[2017-10-06 13:06] bil-elmoussaoui commented on #448
Duplicate of #145

[2017-10-06 13:07] bil-elmoussaoui commented on #447
It's already supported see #341

[2017-10-06 13:07] #447 closed

[2017-10-06 13:08] bil-elmoussaoui commented on #449
Can you please create a new PR? Thanks 👍

[2017-10-09 12:03] #449 closed

[2017-10-19 19:54] varlesh commented on #446
@wa4557 please add `librsvg2-bin` package to `Depends` on **debian/control**
RSVGConvert contained on librsvg2-bin package

[2017-10-20 18:05] bil-elmoussaoui commented on #411
Sorry guys for the long delay, i have been so busy those last days. I will work on this tomorrow and release a new version

[2017-10-22 10:33] wa4557 commented on #446
@varlesh Done

[2017-10-22 14:01] bil-elmoussaoui commented on #411
Should be fixed https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/950a925e5a49e2a6d7282b9a4eda8fbe76f222d7

[2017-10-22 21:52] viggy96 commented on #411
Hardcode Tray appears to cause seg fault.

`[1:1:1022/174841.499009:ERROR:data_pack.cc(278)] Data pack file corruption: Alias #0 past end.
[1:1:1022/174841.499051:ERROR:resource_bundle.cc(810)] Failed to load /opt/google/chrome-unstable/resources.pak
Some features may not be available.
[9754:9754:1022/174841.664930:ERROR:data_pack.cc(278)] Data pack file corruption: Alias #0 past end.
[9754:9754:1

[2017-10-22 23:50] arifcatalyst commented on #104
I am using the stable Version. I have the same error.

[2017-10-22 23:59] arifcatalyst opened #451 "Exception raised in the DataPak helper"
### Specifications
- Hardcode-Tray version : `Hardcode-Tray: 4.1`
- Distribution : `Manjaro`
- Gtk version : `3.22`
- Inkscape version : `Inkscape 0.92.2 5c3e80d, 2017-08-06` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `Papirus`
- Application version : ``

### Expected behavior and actual behavior
With `sudo -E hardcode-tray --conversion-t

[2017-10-23 07:37] bil-elmoussaoui commented on #451
It's not an issue at all

[2017-10-23 08:01] arifcatalyst commented on #451
How is this not an issue ? It doesn't work.

[code]

[2017-10-23 09:32] bil-elmoussaoui commented on #451
Well, that wasn't what you have mentioned in the content of the issue
..

[2017-10-23 12:03] arifcatalyst commented on #451
Since, I have mentioned now.

[2017-10-23 12:08] jnsdrtlf opened #453 "Installation fails missing pgk-config"
### Specifications
- Distribution : `arch`

### Problem
When following the installation instructions for arch, installing sni-qt-patched-git exits with an error:
[code]
The package `pkg-config` is required but not included in an standard arch installation. It is part of the `base-devel` group.

### Solution
[code]
or
[code]

This should be added to the `README.md`.

[2017-10-23 12:25] bil-elmoussaoui commented on #451
The issue was closed before. Please report the right issue content next time;

[2017-10-23 12:26] #453 closed

[2017-10-23 12:27] bil-elmoussaoui commented on #411
I must have missed something, i will take a look right now

[2017-10-24 02:38] KottV commented on #282
Hi.
The original app doesn't exist anymore, here the successor: https://github.com/Enrico204/Whatsapp-Desktop
And it uses icons from /opt/whatsapp-desktop/resources/app/assets/icon

[2017-10-24 23:16] flops opened #454 "Arch linux pacman hook"
It's not a bug, it's some kind of suggestion. I've tired to run a script after install any supported package so just fast added a hook for pacman to run after every install and run hardcode-tray if needed.
It's dirty and there could be much cleaner way to use HardcodeTray.App class as is (i'm not a python dev at all).
https://gist.github.com/flops/26e02c63dd1193332c3a5e060a05d565

But as an proof

[2017-10-26 16:34] Feichtmeier opened #455 "Chrome does not start anymore after using hardcode-tray"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Ubuntu 17.10 GNOME desktop`
- Gtk version : `3.22`
- Inkscape version : `0.92.2` if installed
- Cairo version : `1.0.20`
- Sni-qt version: `no idea how to check this`
- Application name :  `google-chrome-stable`
- Application version : `62.0.3202.62`

### Expected behavior and actual behavior
After using hardcode tray chrome does

[2017-10-27 09:43] bil-elmoussaoui commented on #455
Hmm, it's an issue with my latest attempt to fix the newest version of Chrome. I will try to do that this weekend

[2017-10-27 09:44] bil-elmoussaoui commented on #454
It's definitely a great idea. But before working on this, I would like to improve the basic functionalities, and rewrite some code to fix some small issues. Once it's done i will work on this 👍

[2017-10-29 14:28] NusryNizam opened #456 "Flareget: Browser Integration won't work after applying hardcode-tray"
### Specifications
- Hardcode-Tray version : `v3.9`
- Distribution : `Xubuntu 14.04.5, Ubuntu 16.04.3`
- Gtk version : `libgtk-3-0:amd64  3.10.8-0ubunt amd64 , libgtk2.0-0:amd64 2.24.23-0ubun amd64`
- Inkscape version : `0.92`
- Cairo version : `` (no idea)
- Sni-qt version: `` (no idea
- Application name :  `flareget`
- Application version : `v4.5-102`

### Expected behavior and actual behavior
B

[2017-10-29 14:31] bil-elmoussaoui commented on #456
Hardcode-tray doesn't modify anything in the source code of flareget. It just add some icons in $HOME/.local/share/sni-qt/icons. Nothing more. So I can't understand how does this could change anything related to the browser extension

[2017-11-03 18:58] phyrz91 opened #457 "Support for f.lux."
Can you add new tray icon for f.lux?

https://justgetflux.com/

Thank you in advance.

Great job!

[2017-11-03 19:22] bil-elmoussaoui commented on #457
which icon theme are you using? f.lux doesn't use a hardcoded tray icon :) so it's up to the theme you're using to ship it
The icon name is `fluxgui-panel`

[2017-11-03 19:22] #457 closed

[2017-11-03 19:22] #456 closed

[2017-11-03 19:23] bil-elmoussaoui commented on #455
I will close this one as #411 is already opened with the same issue

[2017-11-03 19:23] #455 closed

[2017-11-03 19:24] phyrz91 commented on #457
Hi Bil, I use Papirus icon theme.

[2017-11-03 19:27] bil-elmoussaoui commented on #457
Papirus icon theme already has this icon. Which distro you're using?

[2017-11-03 19:27] phyrz91 commented on #457
Debian testing.

[2017-11-03 19:33] bil-elmoussaoui commented on #457
I have really no idea why it doesn't work in your case :/ Is there a way to download the deb file that you used to install f.lux on your system?

[2017-11-04 02:53] varlesh commented on #457
https://github.com/xflux-gui/xflux-gui/issues/79

[2017-11-06 17:59] topisani commented on #451
I get this too, any ideas?

[2017-11-07 13:52] sorrowless commented on #451
Have the same issue on latest ArchLinux installation.

[2017-11-07 14:13] arifcatalyst commented on #451
Well, after the last update of` sni-qt`, I no longer have this issue. But Chromium-dev icon is still not fixed.And Chrome doesn't launch which is an existing bug.

[2017-11-07 21:15] bil-elmoussaoui commented on #451
I'm pretty aware of this issue, but sadly I'm so busy these days to work on Hardcode-Tray. I will try to have some free time to do some fixes and create a new release 👍

[2017-11-11 14:12] navdeepio opened #458 "Error on first run"
### Specifications
- Hardcode-Tray version : `4.1.1`
- Distribution : `Antergos`
- Gtk version : `latest`
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  ``
- Application version : ``

### Expected behavior and actual behavior
sudo hardcode-tray --apply results in a python exception

Welcome to Hardcode-Tray!
Desktop En

[2017-11-11 14:16] bil-elmoussaoui commented on #458
It's a duplicate of #451
Can you please send me the resources.pak file, you can find that in /opt/google/chrome/resources.pak by email
bil[dot]elmoussaoui[at]gmail[dot]com
I will try to reproduce it and fix it today :+1:

[2017-11-11 14:16] #458 closed

[2017-11-11 15:09] bil-elmoussaoui commented on #451
Can anyone of you guys send me the resources.pak file that you can find in /opt/google/chrome by email at bil[dot]elmoussaoui[at]gmail[dot]com
So i can work on this issue as soon as i can
Thanks

[2017-11-11 17:02] varlesh commented on #451
rename **zip** to **pak**:
[resources.zip](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1463907/resources.zip)
Chrome 62.0.3202.89

[2017-11-12 13:19] bil-elmoussaoui commented on #451
The issue is due to an outdated version of our modified version of data_pack helper (used to extract and create the pak file format).
Here's where the exception is raised
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/559ea362dcbc8fbb84004c66072d2f7cc5807186/HardcodeTray/modules/applications/helpers/data_pack.py#L63-L65
And it's due to a non-supported version of Pak files, the version we su

[2017-11-12 13:19] #451 closed

[2017-11-12 16:34] bil-elmoussaoui commented on #411
I have been trying to figure out what doesn't work correctly and it seems that Chromium has some tests to verify the content of the pak file; and it fails here
https://chromium.googlesource.com/chromium/src/+/b4600574aa6560a15f1d891f044af7a521141a01/ui/base/resource/data_pack.cc#278
Extracting the "corrupted" file using our script works correctly. So for me, we just need to figure out what we do m

[2017-11-12 19:26] conformist-mw opened #459 "Telegram `No apps to fix!`"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `ubuntu xenial`
- Gtk version : `3.18`
- Sni-qt version: `0.2.7+20161212~11~ubuntu16.04.1`
- Application name :  `telegram`
- Application version : `1.1.23`

### Expected behavior and actual behavior
Change icons but `No apps to fix!`
### Steps to reproduce the problem
installation path: `/opt/telegram/{Telegram,Updater}`
files lo

[2017-11-12 20:00] bil-elmoussaoui commented on #459
Can you please paste the whole output on the terminal with the rest of the information printed by Hardcode-Tray?

[2017-11-12 20:29] conformist-mw commented on #459
[code]

[2017-11-12 21:17] bil-elmoussaoui commented on #459
The problem is the icon theme is not detected correctly on your distro.
You can use `--theme` argument. See hardcode-tray --help.
Closing.

[2017-11-12 21:17] #459 closed

[2017-11-12 21:20] wa4557 commented on #411
I'll try and have a look

[2017-11-13 14:25] conformist-mw commented on #459
@bil-elmoussaoui Okay, but I'm confused. I use `Breeze` icon theme and adding to command `--theme breeze` has no any effect, still `No apps to fix`, no changes.

[2017-11-13 16:58] bil-elmoussaoui commented on #459
Hardcode-tray uses the icons provided by the theme... So we won't have to ship too many icons.
Breeze doesn't support those icons so it won't work; you need to use something else like Numix or Papirus ;)

[2017-11-14 08:20] hxss opened #460 "Deluge Icon"
### Specifications
- Hardcode-Tray version : `4.1-1`
- Distribution : `4.13.11-1-ARCH`
- Gtk version : `gtk2 2.24.31-1, gtk3 3.22.26-1`
- Application name :  `Deluge`
- Application version : `deluge 1.3.15+2+g38d7b7cdf-1`

### Expected behavior and actual behavior
Please add deluge tray icon replacement.
![image](https://user-images.githubusercontent.com/17298149/32769637-8e7b9d6c-c93e-11e7-9188-3

[2017-11-14 08:36] varlesh commented on #460
It's upstream issue:
https://github.com/deluge-torrent/deluge/blob/develop/deluge/ui/gtkui/systemtray.py#L104

Used application icon name `deluge` on tray

[2017-11-14 11:55] hxss commented on #460
I dont understand. Deluge now use "deluge" icon name and this is problem?

[2017-11-14 13:56] varlesh commented on #460
Yes, other apps used different icons.
For example, [QMPlay2](https://github.com/zaps166/QMPlay2):

- desktop-launcher icon name `QMPlay2`
- tray icon name `QMPlay2-panel`

[2017-11-14 13:58] hxss commented on #460
got it. Thank you

[2017-11-14 13:58] #460 closed

[2017-11-17 07:51] varlesh opened #462 "My-weather-indicator empty icon"
Empty icon `mwil-chance-of-snow.png` for My-weather-indicator:
https://github.com/atareao/my-weather-indicator/blob/master/data/icons/mwil-chance-of-snow.png

[2017-11-17 12:32] #462 closed

[2017-11-17 12:32] bil-elmoussaoui commented on #462
Fixed

[2017-11-17 14:04] msimicshauma opened #463 "Chrome won't launch after icons are applied"
### Specifications
- Hardcode-Tray version : `3.5.2.1`
- Distribution : `Ubuntu 16.04`

### Expected behavior and actual behavior
After applying Papirus Icon Pack, Chrome won't launch. Every other program I use is fine.
Then I have to reinstall chrome, and it works with it's ugly icon. I applied again and the same problem occurred.
I'm using: "sudo hardcode-tray --conversion-tool RSVGConvert" comm

[2017-11-17 15:07] bil-elmoussaoui commented on #463
Duplicate of #411

[2017-11-17 15:07] #463 closed

[2017-11-18 00:01] Lupusaurus opened #464 "Megasync icon not overridable"
Megasync get updated (to 3.5 ver.) and the icon returned to the original, I tried to override it again but didn't work.

Hardcode-Tray version: 4.1, elementary Loki, Gtk 3.18

[2017-11-18 04:56] varlesh commented on #464
Megasync not hardcoded anymore. Used tray icons from system icon theme now:
![2017-11-18 08-54-09](https://user-images.githubusercontent.com/8083855/32977026-20d792cc-cc3e-11e7-8482-328557915ffb.png)
@bil-elmoussaoui Bilal delete Mega from database
#296

[2017-11-18 04:58] varlesh commented on #464
original hicolor status icons:
![image](https://user-images.githubusercontent.com/8083855/32977040-91d4bd74-cc3e-11e7-8eb5-74ccc6e5ce68.png)

[2017-11-18 09:46] bil-elmoussaoui commented on #464
@varlesh i don't think that we should remove the file from the database as people who still uses the old version can keep using it!
i will remove it once it's updated everywhere 👍
Thanks for the info!

[2017-11-18 09:46] #464 closed

[2017-11-18 09:49] varlesh commented on #464
old version not worked.

[2017-11-18 12:47] bil-elmoussaoui commented on #296
Fixed in the latest release of MegaSync; the icons are not hardcoded anymore

[2017-11-18 12:47] #296 closed

[2017-11-19 07:38] cas-- commented on #460
As far as I was aware if the theme has a `<app>-panel.png` status icon then it will be used e.g. `/usr/share/icons/Faenza-Dark/status/24/deluge-panel.png`

[2017-11-19 07:52] varlesh commented on #460
@cas-- That worked on Unity and Gnome only

[2017-11-20 18:15] jfkpdq commented on #335
Same issue after installing as flatpack. Set the location right `/home/USER/.var/app/org.telegram.desktop/data/TelegramDesktop/` but I got "app not found".

[2017-11-20 18:22] bil-elmoussaoui commented on #335
Can you modify the /usr/share/hardcode-tray/database/telegram.json and add that path to icons_path and try again? + Which icon theme are you using? If you can paste the output you got in terminal that would be great

[2017-11-20 18:41] jfkpdq commented on #335
OK I tried some modifications on the .json but nothing works. Strangely the `ticons` folder in the flatpack version (from` flathub`) only have 3 icons, which looks weird.

Theme is Mint-X-Grey.

`$ sudo hardcode-tray --only telegram --path /home/fabien/.var/app/org.telegram.desktop/data/TelegramDesktop
Welcome to Hardcode-Tray!
Desktop Environment: Other
Scaling Factor: 1
Icon Size: 22
Icon Theme:

[2017-11-20 18:49] bil-elmoussaoui commented on #335
Well, that theme just doesn't support hardcode-tray...please read the readme carefully next time ;) we don't ship any icon at all! we use the icons shipped by the theme used by default ;)
try using --theme Numix or Papirus to fix those icons or add the icons by yourself to your current theme

[2017-11-20 18:54] jfkpdq commented on #335
OK sorry. I'll find a manual way to copy new icons that suits HiDPi display in the tray.

[2017-11-20 19:05] bil-elmoussaoui commented on #335
What do you mean by that? you can use a theme icon to just replace the tray icons, without even using it ;)

[2017-11-30 06:40] GGimenez96 opened #466 "Won't work on Franz v5"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Ubuntu 16.04.3`
- Gtk version : `3.18`
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `Franz`
- Application version : `5.0.0-beta.14`

### Expected behavior and actual behavior
Franz tray icon is shown black, big and ugly. Messages counter won't appea

[2017-11-30 09:33] phyrz91 opened #467 "Support for Caprine."
Can you add new tray icon for Caprine?

https://github.com/sindresorhus/caprine

Thank you in advance.

[2017-11-30 12:40] bil-elmoussaoui commented on #467
I'm using Caprine daily and i don't have any issue with that. Which theme are you using?

[2017-11-30 12:50] bil-elmoussaoui commented on #466
I can't compile the 5.0 beta. Can you please send me the resources folder? It can be found in the source folder of the application. Or just send me the deb file you've used to install the application

[2017-11-30 12:58] phyrz91 commented on #467
I use Papirus Dark icons  & Debian Testing and Hardcode-Tray: 4.1

[2017-11-30 13:05] bil-elmoussaoui commented on #467
Can you run hardcode-tray and send me the logs? can be found on /tmp/Hardcode-Tray/
the files are ordered by date/time

[2017-11-30 13:14] phyrz91 commented on #467
[caprine.tar.gz](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1517883/caprine.tar.gz)

[2017-11-30 13:21] bil-elmoussaoui commented on #467
It seems that it can find the caprine installation path. How did you install it? Can i have the link of the deb or the ppa or whatever you used please

[2017-11-30 13:29] phyrz91 commented on #467
I downloaded this version: caprine_2.7.1_amd64.deb
[https://github.com/sindresorhus/caprine/releases/tag/v2.7.1](url)

I used console(dpkg) for installed.

[2017-11-30 13:53] bil-elmoussaoui commented on #467
Fixed on master.

[2017-11-30 13:53] #467 closed

[2017-11-30 18:12] GGimenez96 commented on #466
I used the deb file provided by the official website: https://github.com/meetfranz/franz/releases/download/v5.0.0-beta.14/franz_5.0.0-beta.14_amd64.deb

[2017-12-02 15:05] bil-elmoussaoui commented on #466
I will take a look tomorrow

[2017-12-02 15:49] GGimenez96 commented on #466
Ok. Thanks!

[2017-12-02 16:19] fabiomargarido opened #468 "Request for Zoom desktop client tray icon"
Request for Zoom desktop client (https://zoom.us) tray icon

### Specifications
- Hardcode-Tray version : `3.5.2.1~885~ubuntu16.04.1`
- Distribution : `Ubuntu 16.04.3 LTS`
- Gtk version : `3.18.9-1ubuntu3.3`
- Inkscape version : `0.91-7ubuntu2`
- Cairo version : `1.14.6-1`
- Sni-qt version: `0.2.7+20161212~11~ubuntu16.04.1`
- Application name :  `Zoom`
- Application version : `2.0.106600.0904`

##

[2017-12-02 17:29] hxss commented on #296
@bil-elmoussaoui

on xfce megasync dont use new icons. Hardcode-tray said that mega-icon changed, but megasync still use default icon.
[code]
![image](https://user-images.githubusercontent.com/17298149/33517977-5269a3da-d7af-11e7-8134-ecb40c0fda76.png)
I was try mega [from aur](https://aur.archlinux.org/packages/megasync/) and now install megasyng [from official site](https://mega.nz/sync).

4.13.

[2017-12-02 18:40] varlesh commented on #411
@bil-elmoussaoui Maybe now delete chrome from database? Because after hardcode-tray Chrome not start anymore...

[2017-12-02 20:01] bil-elmoussaoui commented on #411
You can add google-chrome and chromium to the blacklist until it's fixed

[2017-12-02 20:21] bil-elmoussaoui commented on #468
Sorry but i can't fix this one :(
The icon seems to be hardcoded on the binary. And as the application is closed source, i can't provide a patch to fix it or even find out a way to fix it.

The only thing i can propose you, is sending an email to the devs asking them to make the tray icon themeable

[2017-12-02 20:21] #468 closed

[2017-12-04 12:39] fabiomargarido commented on #468
Thank you for the prompt reply.

I'll try to do that.

Keep up the great work!

On Sat, Dec 2, 2017 at 6:22 PM Bilal Elmoussaoui <notifications@github.com>
wrote:

[2017-12-05 06:45] varlesh opened #470 "TeamViewer now native app"
https://community.teamviewer.com/t5/Linux/Update-TeamViewer-13/td-p/24537

[2017-12-08 17:07] bil-elmoussaoui commented on #470
Thanks for sharing this! I couldn't install it on Archlinux, is there a tray icon now?

[2017-12-08 17:14] #466 closed

[2017-12-08 17:15] bil-elmoussaoui commented on #466
Fixed on master

[2017-12-09 17:18] lbngoc opened #472 "Tusk app support"
Hi, can you add support for Tusk app (an alternate Evernote in Linux) ?
https://github.com/klauscfhq/tusk
https://electronjs.org/apps/tusk

[2017-12-10 07:39] varlesh commented on #470
Yes, used app icon from theme on tray:
![image](https://user-images.githubusercontent.com/8083855/33802989-7174361a-dd9e-11e7-82e7-166fd5f9fcbf.png)
Also need fix **StartUpWMClass**

[2017-12-12 11:38] remlap opened #473 "Discord Fault"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Ubuntu Mate 17.10`
- Gtk version : `3.22`
- Sni-qt version: `0.2.7+17.04.20170112-0ubuntu1`
- Application name :  `Discord`
- Application version : `12.11.2017 `

### Expected behavior and actual behavior
Discord has updated and now Hardcode-Tray will not convert.

[2017-12-15 14:16] bil-elmoussaoui commented on #472
The app support was added in master
Here's the default tray icon
![icontray](https://user-images.githubusercontent.com/7660997/34045813-ec701f72-e1aa-11e7-92a1-defc9ca5fb3f.png)

The icon name is `tusk-indicator`

[2017-12-15 14:18] #472 closed

[2017-12-15 14:23] bil-elmoussaoui commented on #473
Here's the list of the new tray icons
- [ ] `discord-tray` ![tray](https://user-images.githubusercontent.com/7660997/34046009-b72cd5f2-e1ab-11e7-8dae-94642212a662.png)
- [ ] `discord-tray-connected` ![tray-connected](https://user-images.githubusercontent.com/7660997/34046010-b74a5c9e-e1ab-11e7-8994-13d3f9a1bdeb.png)
- [ ] `discord-tray-deafened` ![tray-deafened](https://user-images.githubuserconte

[2017-12-15 14:23] #473 closed

[2017-12-15 15:00] arifcatalyst commented on #411
Any updates ?

[2017-12-15 15:54] bil-elmoussaoui commented on #470
If they use the same icon name as the application icon, the issue must be reported upstream then. Otherwise, we can do too much, as there's nothing but binary files.
Anyway, i will try to install the beta on Ubuntu and see what i can do about that.

[2017-12-15 22:12] bil-elmoussaoui commented on #411
Sorry guys but I'm really busy those days with studies. I don't really have time to work on any issue at the moment. The latest commits were to add or update some app supports which doesn't take more than 5 minutes to do thanks to our simple database files. I will try to make some time for this as soon as possible.

[2017-12-16 10:13] bil-elmoussaoui commented on #473
@varlesh Discord added new tray icons on their latest version

[2017-12-16 10:17] varlesh commented on #473
@bil-elmoussaoui ok. deafened and muted - it's similar status?

[2017-12-16 10:22] bil-elmoussaoui commented on #473
@varlesh The muted status is for the microphone/audio input; and the daefened status is for the audio output

[2017-12-18 10:35] thegreatyellow67 opened #476 "Hardcode-Tray error"
### Specifications
- Hardcode-Tray version : 4.1-1
- Distribution : Manjaro Linux 17.1-rc1 Hakoila
- Gtk version : ``
- Inkscape version : 0.92.2 5c3e80d, 2017-08-06
- Cairo version : 1.15.8-2
- Sni-qt version: sni-qt-patched-git r.-1
- Application name :  ``
- Application version : ``

When I run hardcode-tray with command:
sudo -E hardcode-tray

and choice:
Welcome to Hardcode-Tray!
Desktop Envi

[2017-12-18 13:25] bil-elmoussaoui commented on #476
The issue is caused by a new version of pak files (the format of the file, that chrome uses to store their assets). Recently, there was a new version. Which we tried to support in the master branch; but there's still an issue that we should fix #411. Once it's fixed we will release a new stable release.

In order to fix this, you will have to add `google-chrome` and `chromium` to your blacklist. S

[2017-12-18 13:25] #476 closed

[2017-12-18 23:09] bil-elmoussaoui commented on #253
The app dev seems quite dead at the moment. So closing this

[2017-12-18 23:09] #253 closed

[2017-12-18 23:11] bil-elmoussaoui commented on #401
I wasn't able to reproduce this at all :(
It seems that somehow the icons were corrupted on the asar file (the file used by electron to store assets and some js files)

[2017-12-20 12:09] bil-elmoussaoui commented on #411
Fixed on master. I'm going to create a new release this evening or tomorrow. Can anybody try the master branch and see if it works as expected for you too?
It's working for me here with the latest Google Chrome/Chromium stable version
![screenshot from 2017-12-20 13-08-42](https://user-images.githubusercontent.com/7660997/34206466-f1c1e2aa-e586-11e7-9dc4-bb53820950c0.png)
PS: That was the gift i g

[2017-12-20 12:09] #411 closed

[2017-12-20 12:12] r4dixx commented on #411
Awesome! Thanks a ton for your work 🙂 I can try tonight

[2017-12-20 13:04] arifcatalyst commented on #411
@bil-elmoussaoui It's not working for me. Using dev version of Chromium.

[2017-12-20 13:20] bil-elmoussaoui commented on #411
It's not the same issue. But i have added chromium support few seconds ago. Can you try again using the latest master?

[2017-12-20 13:39] bil-elmoussaoui commented on #411
It's still the v4.1 I will release the new version when this issue is marked as fixed

[2017-12-20 14:56] arifcatalyst commented on #411
Not Working

[2017-12-20 15:28] bil-elmoussaoui commented on #411
@arifcatalyst by not working, you mean that chromium doesn't even open for you? Or just the tray icon is not replaced?

[2017-12-20 15:29] arifcatalyst commented on #411
Tray-icon is not replaced.

[2017-12-20 15:38] bil-elmoussaoui commented on #411
Well, it's not the same issue at all. Can you please open a new issue for that instead? With the chromium verison and the resources.pak file that can be found in /usr/lib/chromium-dev/

[2017-12-20 15:46] arifcatalyst commented on #411
How is it not ?

Here is the `resources.pak` file
[resources.pak.zip](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1576147/resources.pak.zip)

[2017-12-20 15:54] bil-elmoussaoui commented on #411
Well, this issue was more of chrome not being able to run at all after applying hardcode tray. I will take a look this evening

[2017-12-20 17:23] bil-elmoussaoui commented on #411
@arifcatalyst Should be fixed now.

[2017-12-20 17:56] arifcatalyst commented on #411
Yes  it's now

![screenshot_2017-12-20_23-20-47](https://user-images.githubusercontent.com/26674272/34221201-2cb0d1a4-e5dd-11e7-88d8-34d4fc32d14a.png)

[2017-12-20 18:01] bil-elmoussaoui commented on #411
What are those two unthemed tray icons? :)

[2017-12-20 18:04] arifcatalyst commented on #411
Albert and flux-gui

[2017-12-20 18:10] GUiHKX commented on #411
Wohoo! Working fine on XFCE as well. Thanks!

![screenshot_2017-12-20_16-09-07](https://user-images.githubusercontent.com/626206/34221743-4cfd0ee2-e5a0-11e7-94d4-75ccd8facfa0.png)

[2017-12-20 18:31] bil-elmoussaoui commented on #411
@GUiHKX I think that RSS icon can be fixed too ;)

[2017-12-20 18:33] GUiHKX commented on #411
It's [QuiteRSS](https://github.com/QuiteRSS/quiterss), do you think it can be done?

[2017-12-20 18:38] bil-elmoussaoui commented on #411
@GUiHKX The icon seems to be hardcoded on using the qrc assets files. See this line of code
https://github.com/QuiteRSS/quiterss/blob/d5a64fd2c6e037cf708fdaf895f34c2429813893/src/application/mainwindow.cpp#L642

They must replace that with loading the tray icon from the theme with a different icon name than the one they use right now (they can fallback to the current implementation if the icon is

[2017-12-20 18:41] GUiHKX commented on #411
Awesome! I'll try to open a ticket tomorrow, but it seems to me that the dev has been ignoring tickets lately. Anyway it's worth trying. Thanks

[2017-12-24 10:26] wa4557 commented on #470
It's not using the same icon. The icon it uses is `TeamViewer` which is not the app icon

[2018-01-01 23:27] bil-elmoussaoui opened #478 "Add Whatapp Desktop v0.4.0 support"
Not sure since when exactly, but Whatsapp-Desktop now uses asar for the assets. We should add a different database file for it.

[2018-01-03 18:43] varlesh commented on #478
Icons not packed and located on directory `/opt/whatsapp-desktop/resources/app/assets/icon`:

- icon.png
- icon@1.5x.png
- icon@1.25x.png
- icon@2x.png
- iconWarning.png
- iconWarningWithMsg.png
- iconWithMsg.png

![image](https://user-images.githubusercontent.com/8083855/34534407-734c0804-f0d7-11e7-81df-766fd4f657ed.png)
Version 0.4.2 resources from deb-package

[2018-01-07 17:58] #478 closed

[2018-01-07 18:04] bil-elmoussaoui commented on #438
I'm going to work on this after the finals.
Here's how the database file would look like
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/a96cf74c162e819810ba59f53e825d83df0404b2/data/database/caprine.electron.json

Basicly, i would love to also add multiple original icon names for the same theme icon name. This way we avoid having huge database files with duplicated icon names, or just diffe

[2018-01-07 18:07] bil-elmoussaoui commented on #470
The icon names are still hardcoded. And the application even if it's a native one, still uses Qt, so it's either Qt5 then it's a duplicate of #293 or it's a qt4, and then we should see how to fix it like in here #163.

So, i'm going to close this issue as a duplicate, since the new version doesn't provide any way to fix the icons neither :(
And we should really contact teamviewer devs and see if t

[2018-01-07 18:07] #470 closed

[2018-01-11 09:00] bil-elmoussaoui commented on #296
Have you used hardcode tray?

[2018-01-11 09:38] ikurek commented on #296
@bil-elmoussaoui Yes, i ran 'sudo hardcode-tray', but I'd didn't detect megasync, so I tried 'sudo hardcode-tray --only megasync', still without success.

[2018-01-11 09:52] bil-elmoussaoui commented on #296
Please send me the log files. They are on /tmp/Hardcode-Tray

[2018-01-11 10:02] varlesh commented on #296
@ikurek Megasync not hardcoded anymore! What you doing? XFCE have bugs with some tray-apps icons -  it's happened because some OS compiled xfce4-session package without flag `--disable-legacy-sm` . See this for more info: https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues/549
And this: https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues/943

[2018-01-11 10:04] varlesh commented on #296
Also install needed libs `libqt5svg5` and `libqt4-svg` (it's deb-packages names, but i think you found this on manjaro repos)

[2018-01-11 10:09] ikurek commented on #296
@bil-elmoussaoui I'm attaching the logs
[11-01-2018_10-58-22.log](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1622054/11-01-2018_10-58-22.log)
[11-01-2018_10-59-37.log](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1622055/11-01-2018_10-59-37.log)

@varlesh I'll check If Manjaro uses this flag and report soon

[2018-01-11 10:11] hxss commented on #296
@ikurek Hi. If you use qt5ct, you need to disable it when running megasync. And you steel need to hardcode icons into hicolor theme. See [here](https://github.com/meganz/MEGAsync/issues/149#issuecomment-354794215) my solution.

[2018-01-11 10:24] ikurek commented on #296
@hxss Yeah, that worked, so it was an XFCE bug after all. Thank you all for help.

[2018-01-13 10:38] Foggalong opened #480 "Rambox Not Fixed"
### Specifications
- Hardcode-Tray version : 4.2
- Distribution : Fedora 27
- Gtk version : 3.22
- Inkscape version : 0.92.2 (5c3e80d, 2017-08-06)
- Application name :  Rambox
- Application version : 0.5.13

### Expected behavior and actual behavior
Expected: HC-T detects Rambox and changes the tray icon, actually doesn't detect it's installed. Location is still `/opt/Rambox/`.

### Steps to repro

[2018-01-13 10:48] bil-elmoussaoui commented on #480
I have just tried the latest Rambox version and it works correctly for me. Can you copy/paste the logs?
No need to specify --path in this case.

[2018-01-13 14:49] terencode commented on #480
@bil-elmoussaoui I'm also unable to apply it. What logs do you want?

[2018-01-13 14:55] bil-elmoussaoui commented on #480
They are stored on /tmp/Hardcode-Tray/

[2018-01-13 15:29] terencode commented on #480
Here you go:
[13-01-2018_16-24-53.log](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1628466/13-01-2018_16-24-53.log)

Note: I'm using Arch Linux, rambox installed from the [AUR](https://aur.archlinux.org/packages/rambox/).

[2018-01-13 16:03] bil-elmoussaoui commented on #480
@Foggalong Where did you get the package from?

@terencode Can you try using the latest master version? Should be fixed in my latest commit 👍

[2018-01-13 16:06] Foggalong commented on #480
@bil-elmoussaoui I actually tested with two; the appimage and the rpm from the latest version on GH.

[2018-01-13 16:15] bil-elmoussaoui commented on #480
@Foggalong the appimage could not be patched at the moment... Its a sandboxed format !
I just tried the rpm and it works correctly  fine

[2018-01-13 16:19] Foggalong commented on #480
@bil-elmoussaoui On Fedora? This is my log 😢

[13-01-2018_16-24-53.log](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1628493/13-01-2018_16-24-53.log)

[2018-01-13 17:26] Foggalong opened #481 "Wrong Logfile Date Format"
One thing I noticed when testing for #480 (so same versions) is that the logfiles aren't using the right date format. [Within the log](https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/HardcodeTray/modules/log.py#L32) it's fine, using `%Y-%m-%d %H:%M:%S` as expected. For the [log file name](https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/const.py.in#L33-L34) however (and ba

[2018-01-13 18:10] terencode commented on #480
@bil-elmoussaoui I can't try it, I get this when trying to apply:
[code]

[2018-01-13 18:18] bil-elmoussaoui commented on #480
Somehow there was an issue that I didn't seen before. But I have fixed that. You can pull the latest commit and build it. Otherwise you can try with `sudo -E hardcode-tray --only rambox --apply`

[2018-01-13 18:19] terencode commented on #480
@bil-elmoussaoui nice thanks I was going to add it was introduced with e9730bc26738e5a79ad9cf28058894d76a8369ca but was faster ;)

[2018-01-13 18:22] terencode commented on #480
@bil-elmoussaoui Everything working for me!

[2018-01-13 18:23] bil-elmoussaoui commented on #480
@terencode Perfect! Enjoy using a beautiful desktop :+1:

[2018-01-13 18:24] bil-elmoussaoui commented on #480
@Foggalong The icons are stored in `/opt/Rambox/resources/app.asar` Can you make sure it's the case?

[2018-01-13 18:26] bil-elmoussaoui commented on #481
I'm willing to clean the whole code for the next major release and add a lot of tests for every signle small case. To make sure the product distributed is working correctly in every platform with few simplifications ;) I will make sure the backup and logs have the correct format

[2018-01-13 18:36] Foggalong commented on #480
Yup :+1:
![2018-01-13-183625_1920x1080_scrot](https://user-images.githubusercontent.com/5920259/34908947-b1ee1564-f890-11e7-822e-685643a28ae7.png)

[2018-01-13 18:41] bil-elmoussaoui commented on #480
@Foggalong Can you please run `sudo -E hardcode-tray --only rambox.electron,rambox --apply`? Or just add the `hardcode-tray.json` to `$HOME/.config/` and put this content on it
[code]
This will ensure that the Numix theme will be used with 24 icons size instead of trying to detect it automatically. This will allow you to avoid settings `--theme` and `--size` argument every time.

Other configurati

[2018-01-13 18:54] Foggalong commented on #480
Hey look, our old friend is back!

![2018-01-13-185121_1920x1080_scrot](https://user-images.githubusercontent.com/5920259/34909075-c306475c-f892-11e7-89d9-02ab8f6ca546.png)

Thankfully disappeared after restarting Rambox. Running `sudo -E hardcode-tray --only rambox.electron,rambox --apply` worked with the same HC-T version as the start, not the latest git, and without doing the thing about adding

[2018-01-13 18:59] bil-elmoussaoui commented on #480
@Foggalong Nop the issue is about detecting the current theme :) if you run it using `sudo hardcode-tray` the theme won't be detected currently as the `-E` flag allows reading the values of the current user settings correctly :)
+ You should never run hardcode-tray and the application is open :p especially with electron apps as we replace stuff on a binary  file ;)

[2018-01-13 19:13] Foggalong commented on #480
Ah okay. Any thoughts on the theme detection / logs you need?

[2018-01-13 19:15] Foggalong commented on #397
Yeah, this really needs fixing 😜

[code]

[2018-01-13 19:24] bil-elmoussaoui commented on #480
Just what DE you're using?

[2018-01-13 19:44] Foggalong commented on #480
Still XFCE/i3 :)

[2018-01-16 13:42] bil-elmoussaoui commented on #480
I will refactor that part of the code as of the next version. This is not an issue at all, but it needs some improvements as part of #397. So if you run the code without root permissions it should work as expected for detecting the system :)
I'm going to close this as the Rambox app works as expected after all

[2018-01-16 13:42] #480 closed

[2018-01-16 14:01] Foggalong commented on #480
@bil-elmoussaoui Thinking back, didn't there use to be a warning if you ran the script without the required `-E` flag?

[2018-01-17 06:31] varlesh opened #482 "Keybase support"
**App:** Keybase
**Site:** https://keybase.io
**About:** Keybase is a new and free security app for mobile phones and computers. For the geeks among us: it's open source and powered by public-key cryptography.

Electron app, but icons not packet and contained on opt directory:

![image](https://user-images.githubusercontent.com/8083855/35028707-e0b69b36-fb70-11e7-9375-58ed48c9db13.png)
[code]
![im

[2018-01-17 08:11] varlesh commented on #482
**keybase.json**:
[code]

[2018-01-17 13:26] #482 closed

[2018-01-17 23:52] bil-elmoussaoui commented on #480
There wasn't, we can't detect that :( At least, I'm not aware of that

[2018-01-19 13:10] jeremyj opened #485 "Unable to change Whatsapp panel icon"
### Specifications
- Hardcode-Tray version : `3.5.2.1~885~ubuntu16.04.1`
- Distribution : `Ubuntu 16.04.3 LTS`
- Gtk version : `2`
- Cairo version : `1.14.6` (not sure)
- Sni-qt version: `0.2.7+20161212~11~ubuntu16.04.1`
- Application name :  `Whataspp`
- Application version : `0.4.2`

### Expected behavior and actual behavior
icon is expected to be Papiurs (grey monochrome) but is instead the Wha

[2018-01-19 13:52] varlesh commented on #485
@jeremyj You use old version package 3.5.2.1~885~ubuntu16.04.1 builded 2017-10-24

@wa4557 i think PPA not updated anymore

[2018-01-19 16:06] jeremyj commented on #485
@wa4557 is it possible to update the PPA?

[2018-01-22 10:57] bil-elmoussaoui commented on #401
I was able to reproduce this by using hardcode-tray without closing Rambox. And there's no simple way of us to detect if the application is running :/ I think we should just add a warning to ask the user to close all the applications before using Hardcode-Tray?

[2018-01-23 09:17] Foggalong commented on #401
Yeah, that would be good :+1:

[2018-01-23 16:05] natanvarga opened #486 "Messenger for Desktop"
### Specifications
- Hardcode-Tray version : `4.2-1`
- Distribution : `Manjaro Linux`
- Desktop environment : `cinnamon`
- Gtk version : `3.22.26-4`
- Inkscape version : `0.92.2-8`
- Cairo version : `1.15.10-1`
- Sni-qt version: `r.-1`
- Application name :  `messengerfordesktop`
- Application version : `2.0.9+42+g4e4d6f1-3`

### Expected behavior and actual behavior
Does not change to theme's pane

[2018-01-24 08:44] orschiro commented on #411
@bil-elmoussaoui I am still having this problem. Ran hardcode-tray and then Google Chrome stable is no longer launching:

[code]

I need to reinstall the deb file to run Chrome again.

[2018-01-24 08:46] bil-elmoussaoui commented on #411
Please update to the latest stable version

[2018-01-24 09:55] orschiro commented on #411
This is the latest I can install:

[code]

[2018-01-25 10:01] oceanicdev opened #487 "Upwork tracker"
Can anyone add support for upwork tracker?
![screenshot from 2018-01-25 12-57-48](https://user-images.githubusercontent.com/29436639/35382266-b068fb12-01cf-11e8-824a-8f22bd3d3a73.png)
Just for test we can use any icons.

[2018-01-25 19:40] terencode opened #488 "Chromium 64 hard-coded tray icon not getting fixed"
### Specifications
- Hardcode-Tray version : `4.2`
- Distribution : `ArchLinux`
- Gtk version : `3.22`
- Inkscape version : `0.92.2 5c3e80d` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `Chromium`
- Application version : `64.0.3282.119`

### Expected behavior and actual behavior
Icon should get replaced by the one of the corresponding theme

[2018-01-25 23:16] bil-elmoussaoui commented on #487
From where I can get the package you used to install the application ?

[2018-01-25 23:16] bil-elmoussaoui commented on #488
Can you please paste the output of Hardcode-Tray when you run it?

[2018-01-25 23:17] bil-elmoussaoui commented on #486
I will take a look right now.  Please, next time include the package on the issue. I will add that to the issue template

[2018-01-26 02:54] GUiHKX commented on #488
I'm facing the same issue

[code]

[2018-01-26 02:57] GUiHKX commented on #488
Log file for `sudo -E hardcode-tray --only chromium`:

[code]

[2018-01-26 08:15] oceanicdev commented on #487
https://www.upwork.com/downloads
Or it exists in AUR

[2018-01-26 08:46] terencode commented on #488
@bil-elmoussaoui forgot about that sorry, here are the relevant lines:
``[DEBUG] 2018-01-25 20:14:15 Executing command: inkscape -z -f /usr/share/icons/Papirus/24x24/panel/google-chrome-tray.svg -e /tmp/tmpzsutk_82 -w 24 -h 24
[ERROR] 2018-01-25 20:14:15 Couldn't find a PNG file.
``

[2018-01-27 11:11] #488 closed

[2018-01-27 11:11] bil-elmoussaoui commented on #488
Fixed on master

[2018-01-27 11:26] #485 closed

[2018-01-27 12:17] bil-elmoussaoui commented on #485
The PPA should be updated right now. Don't know why it was failing to update recently :(

[2018-01-27 12:20] bil-elmoussaoui commented on #487
upwork seems to be using Node Webkit. Node Webkit's executable file is basically a zip file. But sadly I don't know why I can't extract it :/ It must be encrypted somehow as Node Webkit allows you do that :/
I will see what I can do, but no promises :(

[2018-01-27 12:22] #481 closed

[2018-01-27 12:23] bil-elmoussaoui commented on #481
Fixed on master. Should be there on v4.3

[2018-01-27 12:26] bil-elmoussaoui commented on #486
Fixed on master

[2018-01-27 12:26] #486 closed

[2018-01-27 13:06] varlesh commented on #485
PPA have wrong version: `hardcode-tray - 3.5.2.1~908~ubuntu17.10.1`

[2018-01-27 13:07] varlesh commented on #485
now 4.2

[2018-01-27 13:07] bil-elmoussaoui commented on #485
I will fix that right now

[2018-01-27 13:27] varlesh opened #491 "Merge projects... it's possible?"
Maybe better solution merged this projects to single?:
- Hardcode-Tray
- Hardcode-Fixer
- StartupWMClassFixer

Reasons:
- all this applications have same goal
- It's comfortable for users
- single application, single repository
- run once and all fixed

For example command:
`sudo -E hardcode-fix-complete apps tray wmclass`

About hardcode-tray - i think why not use only RSVGConvert? Other options

[2018-01-27 14:19] GUiHKX commented on #488
Thanks for the fix, but the icon looks too blurry for me on KDE...

![image](https://user-images.githubusercontent.com/626206/35472755-3d3f5b0c-035c-11e8-9bdc-69223b9d9d74.png)

[2018-01-27 14:23] bil-elmoussaoui commented on #488
@GUiHKX You can force a different size for chromium only using
`sudo -E hardcode-tray --only chromium --size 24` and see if it makes things better ;) You can try also 16/22

[2018-01-27 14:29] GUiHKX commented on #488
Unfortunately it didn't. I mean, using `16` made the icon look larger, but it was still blurry. Do you think that's not fixable or is it a KDE issue?

[2018-01-27 15:22] bil-elmoussaoui commented on #488
I don't think It's an issue of Hardcode-Tray. Can you try with a different conversion tool like Inkscape?

[2018-01-27 15:44] GUiHKX commented on #488
I see no difference unfortunately:

![image](https://user-images.githubusercontent.com/626206/35473431-bd64e3b4-0367-11e8-8ff8-2bac429dadfc.png)

Log:
[code]

But to be honest, I don't think the original icon looks that great either, lol

![image](https://user-images.githubusercontent.com/626206/35473445-fd63df1a-0367-11e8-91a1-a6b47824c053.png)

So never mind I guess...

[2018-01-27 16:37] bil-elmoussaoui commented on #488
Must be something related to KDE then

[2018-01-27 16:39] varlesh commented on #488
@GUiHKX
`XDG_CURRENT_DESKTOP=Unity chromium`
by default on KDE used 22px icons on tray

[2018-01-27 16:49] varlesh opened #492 "Google Chrome 64 not fixed"
Google Chrome 64.0.3282.119
Need add `10156` as Chromium https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/b518335014c2ff136471f54025be89ee0d3c2b74

[2018-01-27 16:55] varlesh commented on #488
![image](https://user-images.githubusercontent.com/8083855/35474190-58e95c98-03a4-11e8-80ab-f59fd29fb3fb.png)

[2018-01-27 17:22] GUiHKX commented on #488
@varlesh I've tried to run that command but I saw no changes as well (am I supposed to?)

On a side note, is that a RSS reader in your tray? Which program is it? Thanks :)

[2018-01-27 17:26] varlesh commented on #488
@GUiHKX

Need kill chromium:
`killall -9 chromium`
or maybe (it's different on some Linux OS's):
`killall -9 chromium-browser`
And start again with Unity env option from terminal:
`XDG_CURRENT_DESKTOP=Unity chromium`
or:
`XDG_CURRENT_DESKTOP=Unity chromium-browser`
tray icon will be rendered right and hardcoded version too...

[2018-01-27 17:31] GUiHKX commented on #488
Yup, tried that, still didn't work. Blurry tray icon still

[2018-01-27 17:32] varlesh commented on #488
install widget:
plasma-widget https://github.com/cute-jumper/plasma-rss-indicator
also you can change icon tray.
Download attach file and extract to **~/.local/share/plasma/plasmoids/rss_indicator/contents/ui/**
[akregator.tar.gz](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1670329/akregator.tar.gz)
And changed on code ~/.local/share/plasma/plasmoids/rss_indicator/contents/ui/main.qml:

[2018-01-27 17:34] varlesh commented on #488
Hm, it's strange... Maybe you need libappindicator libs or other Unity-specific libs on Arch?

[2018-01-27 17:36] GUiHKX commented on #488
Bingo! I had `libindicator-gtk2` installed, but not `libindicator-gtk3`. Installing it fixed it! Thank you very much!

[2018-01-27 17:37] varlesh commented on #488
without `XDG_CURRENT_DESKTOP=Unity`:
![image](https://user-images.githubusercontent.com/8083855/35474607-201cbe22-03aa-11e8-858e-19ee8658ac64.png)
with `XDG_CURRENT_DESKTOP=Unity`:
![image](https://user-images.githubusercontent.com/8083855/35474612-2facdc96-03aa-11e8-8b60-d9ce1e8d59ce.png)

[2018-01-27 21:41] GUiHKX commented on #488
Using `XDG_CURRENT_DESKTOP=Unity` is better for the tray icon size, but Chromium's window controls are hidden when the window is maximized.... But not that big of a deal.

[2018-01-27 22:24] bil-elmoussaoui commented on #492
Fixed

[2018-01-27 22:24] #492 closed

[2018-01-27 22:26] bil-elmoussaoui commented on #491
I don't think it's a good idea at all. Every project has a different purpose and different way of dealing with everything. We require dependencies that shouldn't be needed if you want to just fix a hardcoded desktop application icon.
You can always, add an alias on your .bashrc or .zshrc file to apply the three scripts at once :)

[2018-01-27 22:26] #491 closed

[2018-01-28 08:34] jeremyj commented on #485
I still see version `3.5.2.1~908~ubuntu16.04.1` in the PPA

[2018-01-28 10:22] Foggalong commented on #491
Yeah likewise disagree: I don't have to use StartWMClassFixer on any of my setups because none of the DEs/WMs I use are affected by it, and I only have to use Hardcode-Tray on my desktop because that's the only machine on which apps I use have hardcoded tray icons. That means on my other machines I'd be installing a lot of functionality and dependencies I didn't need. An especial concern because o

[2018-01-28 10:27] bil-elmoussaoui commented on #491
@Foggalong the dependencies list is just librsvg nothing more :p sni-qt is only if you're using any Qt apps. But yeah every script has a different purpose, so I don't see any reason to merge them

[2018-01-28 10:36] oceanicdev commented on #487
@bil-elmoussaoui Thanks for your help

[2018-01-28 10:57] varlesh commented on #491
Ok, guys it's only suggestion )

[2018-02-01 18:00] abouvier commented on #488
How did you make this Chromium tray icon appear? I'm on KDE and I never saw one.

[2018-02-01 18:15] GUiHKX commented on #488
In order to make the icon appear, first you have to enable this option in `chrome://settings`:

![image](https://user-images.githubusercontent.com/626206/35694997-4d72e978-076a-11e8-8fba-48fc7149d7ea.png)

Even then, the tray icon will only show up you have an extension that requires the [`background` permission](https://developer.chrome.com/apps/declare_permissions#background).

[2018-02-01 21:38] natanvarga commented on #486
Thanks. Fixed now.

[2018-02-03 18:38] jeremyj commented on #485
I'm sorry guys I don't understand what's going on with the PPA.
@varlesh says it's now 4.2 but I still see version `3.5.2.1~908~ubuntu16.04.1` and my WhatsApp icon is still green

[2018-02-05 10:02] bil-elmoussaoui commented on #485
@jeremyj The PPA should be up to date, I couldn't update the version number. I don't know why :(
Can you try to install it manually? shouldn't be too complicated...If you need any help to do so, don't hesitate to check our Gitter channel, I will provide as much help as I can!

[2018-02-05 10:04] jeremyj commented on #485
@bil-elmoussaoui OK I will try compilng the package

[2018-02-05 11:18] bil-elmoussaoui opened #494 "Use packagecloud to provide DEB, RPM packages"
We must use this instead of launchpad, and with circleci we can easily create a deb, rpm package and push it !
https://packagecloud.io

This way we will have an up to date packages

[2018-02-07 15:04] oceanicdev opened #495 "Mailspring seems does not work"
Seems it does not work after latest updated of Mailspring (1.1.3-27dcee2f). Icon is not fixed.

![screenshot from 2018-02-07 18-03-37](https://user-images.githubusercontent.com/29436639/35923423-3eb34574-0c31-11e8-977c-3fa4eb157c48.png)

[2018-02-08 17:35] drakkar1969 commented on #495
Icon names have changed, need to update the `mailspring.json` file

- `MenuItem-Inbox-Zero@2x.png` changed to `MenuItem-Inbox-Zero.png`
- `MenuItem-Inbox-Full@2x.png` changed to `MenuItem-Inbox-Full.png`
- `MenuItem-Inbox-Full-NewItems@2x.png` changed to `MenuItem-Inbox-Full-NewItems.png`

Thanks!

[2018-02-08 19:53] HenriqueY commented on #473
Discord tray still not working for me, using papirus

[2018-02-08 20:46] drakkar1969 opened #496 "New skypeforlinux "do not disturb" tray icons"
Newest skype for linux update (8.15.0.4) has added tray icons for "do not disturb" state:

![screenshot from 2018-02-08 22-39-25](https://user-images.githubusercontent.com/18715287/35997070-0dca9dd6-0d21-11e8-8e54-e94af0803df4.png)

Would it be possible to update the `skypeforlinux.json` database file?

[code]

[2018-02-08 21:21] varlesh commented on #473
On Discord 0.0.4 now tray icons packed to double archives - **ASAR** > **ZIP**:
`/usr/share/discord/resources/bootstrap/discord_desktop_core.zip/core.asar`

**core.asar**
images path: `app/images/systemtray/linux`
icons:
- tray.png
- tray-connected.png
- tray-deafened.png
- tray-muted.png
- tray-speaking.png
- tray-unread.png
preview:
![image](https://user-images.githubusercontent.com/8083855/3599

[2018-02-08 21:24] varlesh commented on #473
extracted core.asar:
[core.asar.zip](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1708842/core.asar.zip)

[2018-02-08 22:03] HenriqueY commented on #473
I managed to replace the images on the file u pointed, also changed it on '/home/user/.config/discord', but got this error:
![screenshot from 2018-02-08 20-00-50](https://user-images.githubusercontent.com/25267506/36000765-23114dcc-0d0b-11e8-80ea-fac6f1e62ac9.png)

[2018-02-09 08:17] varlesh commented on #473
@bil-elmoussaoui

[2018-02-09 13:50] Xonha opened #497 "Discord 0.0.4 support"
### Specifications
- Hardcode-Tray version : `4.2`
- Distribution : `Ubuntu 16.04`
- Gtk version : `3.18`
- Inkscape version : `0.91`
- Application name :  `Discord`
- Application version : `0.0.4`

Terminal shows it been replaced but it does not work

![screenshot from 2018-02-09 11-46-21](https://user-images.githubusercontent.com/25267506/36030706-6755fa4e-0d8f-11e8-8e2c-7cb1bd5fc5ba.png)

[2018-02-09 13:57] bil-elmoussaoui commented on #473
See https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/497
I will take a look tonight. Don't really know why the put the asar file on an archive............

[2018-02-09 14:10] HenriqueY commented on #497
Should i use the other post? Its marked as closed

[2018-02-09 14:12] HenriqueY commented on #497
Should i use the other post? It's marked as closed

[2018-02-09 14:24] bil-elmoussaoui commented on #497
Nop it's alright, the others commented on a closed post about an old version of Discord...
Will take a look as soon as I can!

[2018-02-09 14:26] oceanicdev commented on #495
@drakkar1969 thanks!

[2018-02-10 06:32] varlesh opened #498 "Signal Desktop support"
- site: https://signal.org
- method: **electron**
- install path: **/opt/Signal**
- icons path: **/opt/Signal/resources/**
- icon names:
**read messages:**
[code]
**unread messages:**
[code]
preview:
![image](https://user-images.githubusercontent.com/8083855/36059299-f503c258-0e4e-11e8-85ee-a6ba4e186b3a.png)

![image](https://user-images.githubusercontent.com/8083855/36059215-f3cd2958-0e4c-11e8-92

[2018-02-13 19:33] orschiro opened #499 "Revert on Fedora Wayland"
Built hardcode tray from source on Fedora 27 Wayland to revert the Telegram icon.

But running into issues when running with sudo and from root.

Is there any solution to this?

Thank you for your help!

As root:

[code]

with sudo:

[code]

[2018-02-13 19:36] bil-elmoussaoui commented on #499
You shouldn't use Hardcode-Tray as root.
And for the revert part, as mentionned here, you need an svg module, you can install librsvg for example, or python3-cairosvg

[2018-02-14 09:37] bil-elmoussaoui commented on #499
You should use an icon theme that has the telegram icons.  you can just use --theme argument for that

[2018-02-14 09:55] orschiro commented on #499
Wait you mean that Adwaita doesn't have a Telegram icon and that's why I don't see the default icon (but I do see it when using the Flatpak version because the icon is packaged?)?

![image](https://user-images.githubusercontent.com/170947/36197961-a2d1bd30-1175-11e8-892c-166187735837.png)

[2018-02-14 09:59] bil-elmoussaoui commented on #499
When I meant is that the infrastructure of hardcode-tray is not coded correctly. It requires an icon theme that does have a modified version of telegram tray icons (numix or papirus for example) in order to execute the revert action. Otherwise, none of the supported apps will be detected. I'm currently thinking of a way to rewrite some parts of the script logic to make it work as it should.

[2018-02-14 10:07] orschiro commented on #499
Got you! :-)

Installed Numix and then was able to revert. Thank you so much!

![image](https://user-images.githubusercontent.com/170947/36198553-2e1b8dd4-1177-11e8-87b4-a6c5a9f4e588.png)

[2018-02-15 11:56] iwex commented on #411
@bil-elmoussaoui [ERROR] 2018-02-15 13:44:04 Couldn't find a PNG file. :)
Version 64.0.3282.140 (Official Build) (64-bit)

[2018-02-15 12:42] bil-elmoussaoui commented on #411
@iwex can you please open a new issue with the requested information in the issue template? Its a completely different issue...

[2018-02-15 12:49] iwex opened #500 "Chrome icon issue"
### Specifications
- Hardcode-Tray version : `4.2`
- Distribution : `Ubuntu 16.04`
- Gtk version : `3.20`
- Inkscape version : `0.91 r13725`
- Cairo version : `1.0.19`
- Sni-qt version: `0.2.7`
- Application name :  `Chrome`
- Application version : `Version 64.0.3282.140 (Official Build) (64-bit)`

`sudo -E hardcode-tray` and Chrome icon still colourful :)
Logs: https://pastebin.com/MC5bvif9

[2018-02-16 09:52] orschiro commented on #499
Sorry need to reopen the issue. Not only having this issue with Telegram but also Skype.

Reverted the backup but the icon is still not restored. Is there another way I can restore the Skype icon manually?

![image](https://user-images.githubusercontent.com/170947/36302082-6f997cd0-1307-11e8-922d-c8eba48bd067.png)

[code]

[2018-02-16 10:01] bil-elmoussaoui commented on #499
You can always reinstall skype and the icon will be reverted automatically... Can you share the content of `.cache/hardcode-Tray/skype****/` and see if the icons are the default ones or not?

[2018-02-16 10:06] orschiro commented on #499
Good catch! Actually I tried that then with Telegram and it did not work for some reasons.

In the case of Skype it worked (for now). Let me do some more testing and rebooting...

BTW I don't have the cache folder:

[code]

[2018-02-16 10:18] bil-elmoussaoui commented on #499
Sorry it's `.config/Hardcode-Tray/`. That didn't work on Telegram because the icons are created once the application is open. If the files are there, they don't get replaced. While Skype has the tray icons replaced on a binary file called  `app.asar`

[2018-02-16 10:23] orschiro commented on #499
Skype folder looks ok to me. But Telegram not.

Check this: https://youtu.be/62DFOzuqHdw

[2018-02-16 10:25] bil-elmoussaoui commented on #499
Telegram should have a backup ignore option enabled. As the icons shouldn't even be stored anyway. Once they're removed, Telegram will recreate them automatically

[2018-02-16 10:32] orschiro commented on #499
So I just need to remove the backup folder? Going to try that again. Had to actually install the Flatpak version of Telegram because only that kept the default icon. The one from the repo always reverted back to using the modified icon.

[2018-02-16 10:53] bil-elmoussaoui commented on #499
I didn't said that you should remove the backup files :p You should remove the icons in `.local/share/TelegramDesktop/tdata/ticons`

[2018-02-16 11:11] orschiro commented on #499
Haha got you. The contents of that folder look correct right? But still the icon is wrong after reopening it.

![image](https://user-images.githubusercontent.com/170947/36305093-79c50bce-1312-11e8-8ccf-6dabbf265b4d.png)

[2018-02-16 11:13] bil-elmoussaoui commented on #499
Can you check this path too https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/data/database/telegram.json#L11 ?

[2018-02-16 11:14] bil-elmoussaoui commented on #500
Somehow, launchpad doesn't trigger new builds anymore :/ We have already added support of the latest chrome/chromium version on master. Can you try to build from there? It's pretty easy to do. If you have any issue with that, don't hesitate to join our Gitter channel. I will try to provide as much help as I can..

[2018-02-16 11:15] orschiro commented on #499
This folder doesn't exist:

[code]

[2018-02-16 11:16] bil-elmoussaoui commented on #499
Well, in that case I have no idea why the icons are not restored. Can you remove the whole ticons folder, check if there's anything in /tmp folder and remove it too (related to telegram ofc) and restart the application

[2018-02-16 11:18] orschiro commented on #499
Will do. Look at this weird behaviour: https://youtu.be/ID-kPko4oMY

[2018-02-16 11:20] orschiro commented on #499
Hmm tmp doesn't have any Telegram related files:

[code]

[2018-02-16 11:30] iwex commented on #500
@bil-elmoussaoui
[code]

[2018-02-16 11:30] orschiro commented on #499
Yes, it wouldn't show Telegram at all.... :-(

[2018-02-16 11:33] orschiro commented on #499
But let me do some more testing. I removed telegram desktop (repo version) and reinstalled. Now it shows up correctly. Weird! Will report back later.

[2018-02-16 11:43] bil-elmoussaoui commented on #500
You need to upgrade meson `sudo pip3 install meson --upgrade`

[2018-02-16 11:49] iwex commented on #500
@bil-elmoussaoui thanks, i've installed)
But still no success with chrome..

[2018-02-16 11:49] #500 closed

[2018-02-16 12:29] bil-elmoussaoui commented on #500
What do you mean by no success? what's the output on the terminal and the log files in /tmp/Hardcode-Tray?

[2018-02-16 15:56] orschiro commented on #499
OK, Telegram and Skype now seems to work well. :-)

But Franz is broken too. Running it from the franz-5.0.0-beta.15-x86_64.AppImage.

Is there also a trick for this to remove any kind of old cache files or icons?

Thanks @bil-elmoussaoui! Really appreciate your help

![screenshot from 2018-02-16 16-39-32](https://user-images.githubusercontent.com/170947/36316314-4c0ff928-133a-11e8-8f00-1f75f8fcb4

[2018-02-16 15:57] bil-elmoussaoui commented on #499
We can't patch AppImages applications yet. So there was no patch applied from Hardcode-Tray. If the tray icon doesn't look as expected, well it's an issue with either the extension you're using or the AppImage itself....

[2018-02-16 16:00] orschiro commented on #499
OK that's good to know. Let me dig further now...

PS: it cannot be that the AppImage somehow uses the icons from the previously installed deb file right?

[2018-02-16 16:01] bil-elmoussaoui commented on #499
Don't really know how AppImages works. It's supposed to be sandboxed. But got no idea how they manage to get their stuff to work... Plus Franz, uses ASAR files (binary ones) to store the tray icons. There's no possible way for a package to use another package's icons in this case...

[2018-02-17 06:37] orschiro commented on #499
OK, so the Franz problem seems to be somewhere else: https://github.com/meetfranz/franz/issues/701#issuecomment-366302624

Finally, thanks for all your help restoring my configurations. I am good and settled. :-)

[2018-02-17 06:37] #499 closed

[2018-02-17 14:36] foreverBirds opened #501 "Counldn't Start Hardcode-Tray"
# Specifications
- Hardcode-Tray version : **`It is unknown due to start error`**
- Distribution : `Arch Linux(64 bits)`
- Gtk2 version : `2.24.32-1`
- Gtk3 version : `3.22.28-1`
- Cairo version : `1.15.10-1`
- Sni-qt version: `0.2.6`

# Unexpected Behaviour
When I type the command **`sudo -E Hardcode-Tray`** to start the Hardcode-Tray
[code]

**I have installed `the patched version for sni-qt`,`H

[2018-02-17 14:42] bil-elmoussaoui commented on #501
Why can't you install hardcode-tray using yaourt? And you can't install python3-gi from pip. You should install gobject-introspection and the python package for it using pacman.

[2018-02-17 15:27] foreverBirds commented on #501
@bil-elmoussaoui because there are some orphaned package could be dealt with  **`yaourt`**, and there is no package called **`python3-gi`**    in **`Arch Linux Official Repositories`**.
I am sure that I have installed **`gobject-introspection`**

_使用 [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github) 从我的 A59 发送_

[2018-02-19 20:00] bil-elmoussaoui commented on #501
@foreverBirds  All you need is `gobject-introspection` and `python-gobject` from pacman. Nothing more.
The package you installed using pip must be removed first.

[2018-02-20 00:45] foreverBirds commented on #501
@bil-elmoussaoui OK, I will try it later

[2018-02-22 11:56] bil-elmoussaoui commented on #501
Any updates?

[2018-02-22 12:04] bil-elmoussaoui commented on #498
Fixed

[2018-02-22 12:04] #498 closed

[2018-02-22 12:15] bil-elmoussaoui commented on #496
Fixed on master

[2018-02-22 12:15] #496 closed

[2018-02-22 12:46] bil-elmoussaoui commented on #497
Okay, I have done some tests. It's not possible the icons in `$HOME/.config/discord/` as the icons get replaced the moment you start Discord.
It will require some backend implementation of this kind of applications

[2018-02-22 19:40] bil-elmoussaoui commented on #495
Fixed on master

[2018-02-22 19:40] #495 closed

[2018-02-23 15:45] foreverBirds commented on #501
Yeah,I just uncomment the **[multilib]** section in `/etc/pacman.conf` and successfully try installing it both via **yaourt**  and manually.

[2018-02-23 17:18] bil-elmoussaoui commented on #501
Dors it work now?

[2018-02-25 04:37] foreverBirds commented on #501
Yes

[2018-02-25 10:46] #501 closed

[2018-02-25 21:07] orange-buffalo opened #506 "Flameshot support"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Kubuntu 17.10`
- Gtk version : `3.22`
- Inkscape version : `0.92.1`
- Sni-qt version: `0.2.7`
- Application name :  `Flameshot`
- Application version : `0.5.1`

### Expected behavior and actual behavior

Currently Flameshot (https://github.com/lupoDharkael/flameshot) is not supported and its regular icon is displayed in the tray.

[2018-02-26 19:17] crouthamela opened #507 "HiDPI Compatibility"
Could you make this HiDPI compatible? When I run this, even with 24px icons selected, the fixed apps (such as MEGA) are all pixelated due to my screen being HiDPI with 2x scaling. If I could specify higher resolutions, that would be helpful.

[2018-02-26 19:51] bil-elmoussaoui commented on #507
Already implemented thanks to the scaling factor config entry
https://github.com/bil-elmoussaoui/Hardcode-Tray#config-file

[2018-02-26 19:57] crouthamela commented on #507
Thanks for the quick reply. Do you have an example config file? I'm unfamiliar with how to format that correctly.

[2018-02-26 20:18] bil-elmoussaoui commented on #507
There's an example here
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/data/config.json

[2018-02-27 01:48] crouthamela commented on #507
Thanks!

[2018-02-27 01:48] #507 closed

[2018-03-01 09:42] bil-elmoussaoui commented on #506
I will take a look right now :+1:

[2018-03-01 09:46] bil-elmoussaoui commented on #506
The application uses an icon from the qresource file. Which means it's hardcoded on the binary file
https://github.com/lupoDharkael/flameshot/blob/b1174a1e0501fff9e1d09bdf14028ca230746fe5/src/core/controller.cpp#L128
We can't do anything about it. You should report that upstream so they can use `QIcon::fromTheme("flameshot-tray)` and fall back to the hardcoded icon if nothing was found.

[2018-03-01 09:46] #506 closed

[2018-03-01 20:49] orange-buffalo commented on #506
Thanks a lot for your investigation, @bil-elmoussaoui! I have created an issue in upstream (lupoDharkael/flameshot#143).

[2018-03-05 23:25] yn4v4s opened #508 "Can you add support for Linphone 4.1.1???"
Thanks

[2018-03-06 00:12] bil-elmoussaoui commented on #508
Can you follow the Issue template please?

[2018-03-12 21:29] gonzo-the-great opened #509 "ModuleNotFoundError: No module named 'gi'"
### Specifications
- Hardcode-Tray version : `4.2-1`
- Distribution : `Manjaro Linux (64 bits)`
- Gtk2 version : `2.24.32-1`
- Gtk3 version : `3.22.28-1`
- Inkscape version : `0.92.2-8`
- Cairo version : `1.15.10-1`
- Sni-qt version: `r-1`

when starting hardcode-tray i get the following error
[code]
installed via pamac, and have these dependents installed too

- gobject-introspection
- gtk3
- ink

[2018-03-14 12:10] gonzo-the-great commented on #509
ok, ive fixed the issue,
ive been using anaconda and my python path was set to

[code]

[2018-03-14 12:15] #509 closed

[2018-03-15 14:48] cement-head commented on #376
Yeah, this needs to be fixed ASAP.  Looks terrible.

[2018-03-17 11:15] terencode commented on #488
@bilelmoussaoui since Chromium 65, It's not working anymore.
From the debug log:
``
[DEBUG] 2018-03-17 12:14:16 Executing command: inkscape -z -f /usr/share/icons/Flat-Remix/panel/google-chrome-tray.svg -e /tmp/tmpifw9ekyl -w 22 -h 22
[ERROR] 2018-03-17 12:14:16 Couldn't find a PNG file.
``

[2018-03-24 19:24] bilelmoussaoui commented on #508
No answer..

[2018-03-26 17:16] qAnAthemA opened #511 "No icon for YakYak (it is in list)"
### Specifications
- Hardcode-Tray version : `4.2`
- Distribution : `Linux Mint 18.3 Cinnamon`
- Gtk version : `3.18`
- Application name :  `YakYak`
- Application version : `1.5.0`

### Expected behavior and actual behavior

Expected the icon to be changed. However, hardcode-tray did not recognize that YakYak was installed.

### Steps to reproduce the problem
1. Install YakYak
2. Enable tray icon

[2018-04-02 14:40] yn4v4s opened #512 "Some icons remain the same after appling hardcode-tray"
### Specifications
- Hardcode-Tray version : 4.2
- Distribution : KDE neon User Edition 5.12.4
- Gtk version : 3.18
- Sni-qt version: 0.2.7+20161212~1

The applications are Google Chrome (Version 65.0.3325.181) and Caprine 2.11.0

This is the output:
[code]
[02-04-2018_10-47-43.log](https://github.com/bilelmoussaoui/Hardcode-Tray/files/1868359/02-04-2018_10-47-43.log)

[2018-04-03 18:13] InsecureSpike opened #513 "FileNotFoundError: [Errno 2] No such file or directory: '/tmp/tmprt19wbn7'"
### Specifications
- Hardcode-Tray version : `4.1-1`
- Distribution : `Manjaro Linux i3 17.1.7 Hakoila`
- Gtk version : ``
- Inkscape version : `0.92.3-1`
- Cairo version : `1.15.10-1`
- Sni-qt version: `r.-1`
- Application name :  ``
- Application version : ``

When I run hardcode-tray with command:
sudo -E hardcode-tray

Welcome to Hardcode-Tray!
Desktop Environment: I3
Scaling Factor: 1
Icon Si

[2018-04-04 14:18] InsecureSpike commented on #513
sorry i misspelled one of the target icons

[2018-04-04 14:18] #513 closed

[2018-04-05 08:16] romanlex opened #514 "line 120 exception"
### Specifications
- Hardcode-Tray version : `4.1`
- Distribution : `Arch Linux`
- Gtk version : `3.22`
- Inkscape version : `0.92.2`
- Sni-qt version: `last from AUR`

I'm trying apply this and get exception on line 120
[code]

[2018-04-07 13:31] jibran666 opened #515 "Does not show any icon. Ubuntu 18.04 beta 2"
### Specifications
- Hardcode-Tray version : `4.3`
- Distribution : `Ubuntu MATE 18.04 BETA 2`
- Gtk version : `3.22`
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  ``
- Application version : ``

### Expected behavior and actual behavior
does not show any icons images on the tray that are fixed.

### Steps to reproduce

[2018-04-11 11:38] jeremyj opened #516 "Ao support"
Hello,
I would like to add the following apps:
Insync (https://www.insynchq.com/)
Ao (https://github.com/klauscfhq/ao)

Thanks!

[2018-04-11 14:14] bilelmoussaoui commented on #516
Insync is already supported. Can I have the output of `sudo -E hardcode-tray --apply --only insync`?

[2018-04-11 14:15] bilelmoussaoui commented on #515
Can you paste the output of `sudo -E hardcode-tray --apply` and the logs that you can find in /tmp/Hardcode-Tray/?

[2018-04-11 14:16] bilelmoussaoui commented on #512
Will fix that tonight. Sorry for the delay

[2018-04-11 14:17] bilelmoussaoui commented on #514
Shouldn't happen at all. Which version of Chrome/Chromium are you using?

[2018-04-11 14:17] bilelmoussaoui commented on #511
Going to update the database file tonight. Sorry for the long delay

[2018-04-11 21:26] romanlex commented on #514
When I'm install version from aur(not git version) all work properly

[2018-04-13 04:45] jhillix commented on #512
I'm also experiencing this exact same error - assuming it hasn't been resolved yet?

[2018-04-13 10:09] bilelmoussaoui commented on #512
@jhillix it's might be an issue with the extension you're using. Both apps uses PNG icons. You can force the icon size of those apps using `sudo -E hardcode-tray --only slack,mailspring  --size 24 --apply`

[2018-04-13 13:50] jhillix commented on #512
I just ran `sudo -E hardcode-tray --only slack,mailspring --size 24 --apply` and the result is the same. When you say the extension I'm using, arRSVGConvertRSVGConvert do you mean Inkscape/RSVGConvert, etc.?

[2018-04-16 11:30] bilelmoussaoui commented on #516
Any news?

[2018-04-16 11:31] bilelmoussaoui commented on #515
Any news?

[2018-04-16 11:31] bilelmoussaoui commented on #514
You should never use the git version. It's for experienced users only. Closing

[2018-04-16 11:31] #514 closed

[2018-04-16 11:49] bilelmoussaoui commented on #512
@jhillix Which distro/DE are you using?

[2018-04-16 12:06] #511 closed

[2018-04-16 12:09] bilelmoussaoui commented on #512
Fixed caprine on master. Going to fix Chrome & Chromium latest tonight and release a new version as soon as possible

[2018-04-16 13:31] bilelmoussaoui commented on #516
The Ao is not supported yet.

[2018-04-18 09:04] Feichtmeier commented on #515
The ppa is not updated for 18.04 at the moment but I guess you are aware of that anyways just in case you aren't =) Best regards

[2018-04-18 19:44] jibran666 commented on #515
** (hardcode-tray:10685): WARNING **: 00:39:43.510: Unable to connect to dbus: The connection is closed
Welcome to Hardcode-Tray!
Hardcode-Tray replaces some icons on the binary files of some applications.
Please close all the running applications before running Hardcode-Tray script.
Desktop Environment: Mate
Scaling Factor: 1
Icon Size: 22
Icon Theme: Papirus-Dark
Conversion Tool: ImageMagick
To

[2018-04-20 13:52] mokhosh opened #518 "Ubuntu 18.04 PPA support"
- Distribution : `ubuntu 18 beta`
i ran the 3 lines in the readme but i get this error:

[code]

[2018-04-20 19:49] Aeirex opened #519 "Fedora"
### Specifications
- Hardcode-Tray version : Latest
- Distribution : Fedora
- Gtk version : 2-2.24.32-1
- Sni-qt version: Latest

### Expected behavior and actual behavior
None of the app icons change.

### Steps to reproduce the problem
1. Install Fedora 27.
2. Install Top Icon Plus. https://extensions.gnome.org/extension/1031/topicons/
3. The icons don't change when you apply it.

[2018-04-23 18:27] varlesh opened #520 "Streamlink Twitch GUI support"
https://github.com/streamlink/streamlink-twitch-gui

Streamlink Twitch GUI is a NW.js application, which means that it is a web application written in JavaScript (EmberJS), HTML (Handlebars) and CSS (LessCSS) and is being run by a Node.js powered version of Chromium.

tray icons located to **resources.pak**:
https://github.com/streamlink/streamlink-twitch-gui/blob/master/src/config/files.json

aur

[2018-04-26 18:45] redg3ar commented on #497
looks to be inside <discord install root>/resources/bootstrap/discord_desktop_core.zip/core.asar/app/images/systemtray

[2018-04-28 14:27] jibran666 commented on #518
you can not install it from PPA because they do not support version 17.10+. you have to compile it from source.

[2018-05-04 16:44] yn4v4s commented on #512
When will you release a new version; please, I can't compile due to dependencies issues.

[2018-05-08 20:53] georgelemental opened #522 "No PPA for Ubuntu 18.04 artful"
### Specifications
Distribution : `Ubuntu 18.04`

### Expected behavior and actual behavior
The Hardcode-Tray PPA contains no packages for Ubuntu 18.04, which breaks updates on that OS.

[2018-05-09 19:40] BlueManCZ commented on #515
I have the same problem on Debian 10. Nothing change after conversion.

[2018-05-11 15:11] 7im4pple opened #523 "IrcCloud support"
Would love to see IrcCloud in the supported list.

[2018-05-11 15:11] 7im4pple opened #524 "pCloud support"
add pcloud to supported apps.
thanks

[2018-05-15 13:53] redg3ar commented on #497
just a friendly reminder that this replacement method works, ive tried it @bilelmoussaoui

[2018-05-16 06:47] varlesh opened #525 "Riot/Riot Web support"
Application Riot (riot-web) A glossy Matrix collaboration client for the web.
Official page: https://riot.im/desktop.html
GitHub page: https://github.com/vector-im/riot-web
Used Electron, but files unpacked.

- app_path: `/opt/Riot/`
- icons_path: `/opt/Riot/resources/app/img/`
- original tray icon name: `riot.png`
- theme tray icon name: `riot-tray`

https://github.com/PapirusDevelopmentTeam/papi

[2018-05-16 07:31] bilelmoussaoui commented on #525
Fixed by @varlesh

[2018-05-16 07:31] #525 closed

[2018-05-16 07:31] bilelmoussaoui commented on #519
Can you paste the logs? see /tmp/Hardcode-Tray

[2018-05-16 07:32] bilelmoussaoui commented on #518
The PPA doesn't build for the latest Ubuntu release. I would love to fix that but im so busy right now :(

[2018-05-16 07:33] bilelmoussaoui commented on #522
Duplicate of #518

[2018-05-16 07:33] #522 closed

[2018-05-16 07:36] bilelmoussaoui commented on #518
@wa4557 Can you check this one when you have some free time? It seems that I can't request a build into the same archive we are using currently

[2018-05-16 07:46] varlesh commented on #518
@wa4557 Import Filed
![image](https://user-images.githubusercontent.com/8083855/40103521-c6ec96f6-58fe-11e8-8c64-6e7d3299caf8.png)

[2018-05-16 07:49] varlesh commented on #518
PPA not updated daily and not use actual version.

[2018-05-16 17:15] varlesh commented on #525
@bilelmoussaoui Please reopen... application working very strange.
Initially when openned proggram load icon `riot.png`, BUT letter use ico format - icon `riot.ico`
It's possible convert on our tools?
![image](https://user-images.githubusercontent.com/8083855/40132597-48268778-594e-11e8-9032-5c9100734ddc.png)

[2018-05-16 17:19] varlesh commented on #525
For example:
[code]
/usr/lib/riot/electron_app - it's paths from aur package

[2018-05-16 17:28] varlesh commented on #525
How this worked:
![peek 2018-05-16 21-27](https://user-images.githubusercontent.com/8083855/40133203-1b81c7ee-5950-11e8-8eb8-23eaf46e8f47.gif)

[2018-05-16 17:35] varlesh commented on #525
It's not ico.... more info here:
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues/1282

[2018-05-16 17:39] varlesh commented on #525
i'm manually convert icon to ICO on Gimp, but icon not changed :(
![image](https://user-images.githubusercontent.com/8083855/40133737-a6cd30e4-5951-11e8-94a0-db5561e886d8.png)

[2018-05-16 17:54] bilelmoussaoui commented on #525
Is the application open source?

[2018-05-17 02:52] Helladen commented on #519
[2018-05-16 21:48:47.log](https://github.com/bilelmoussaoui/Hardcode-Tray/files/2011463/2018-05-16.21.48.47.log)

[2018-05-17 03:50] varlesh opened #527 "Add support convert icon to ICO format"
This needed for Riot:
![image](https://user-images.githubusercontent.com/8083855/40133203-1b81c7ee-5950-11e8-8eb8-23eaf46e8f47.gif)

- Exec path:
[code]

- Initially program load PNG:
[code]

- After program load ICO:
[code]
Example config (ICO  format not converting):
[code]

[2018-05-17 09:05] wa4557 commented on #518
It seems it's a bug with launchpad: https://bugs.launchpad.net/bzr-git/+bug/1313861
Not sure how to fix that

[2018-05-17 16:22] exiele opened #528 "not fixing vlc icon"
### Specifications
- Hardcode-Tray version : 4.2
- Distribution : Solus (budgie)
- Gtk version : 3.22
- Inkscape version : 0.92.2
- Application name :  VLC (VideoLAN)
- Application version : 3.0.2

### Expected behavior and actual behavior
when I run `sudo -E hardcode-tray` it doesn't find and consequently doesn't fix the VLC tray icon.
![2018-05-17--13 16 58 537](https://user-images.githubusercon

[2018-05-23 14:21] Rykoh opened #529 "GTK error"
### Specifications
- Hardcode-Tray version : `3.5.2.1`
- Distribution : `Ubuntu 16.04`
- Inkscape version : `0.92.3`
- Sni-qt version: `0.2.7`
- Application name :  `Chrome; Mailspring; Discord`
- Application version : `66.0.3359.181-1; 1.2.1; 0.0.5`

Icons not changing, terminal also shows three errors:

sudo hardcode-tray -ct Inkscape -s 16 -a
Welcome to Hardcode-Tray!
Desktop Environment: **Oth

[2018-05-23 14:27] bilelmoussaoui commented on #529
Those errors are related to your Gtk theme and has nothing to do with the script itself. You will get the same thing whenever you run anything that uses Gtk on terminal.

[2018-05-23 14:27] #529 closed

[2018-05-23 14:29] Rykoh commented on #529
So thats not the reason why the icons are not changing?

[2018-05-25 12:19] bilelmoussaoui commented on #527
Will see how I can implement that without adding too much dependencies :)

[2018-05-25 12:20] bilelmoussaoui commented on #528
VLC is not supported and can not be fixed as the icon is hardcoded on the binary. There's no easy way to change that without compiling the application from source code. So, for me, just disable it.

[2018-05-25 12:20] #528 closed

[2018-05-25 12:21] bilelmoussaoui commented on #297
Closing this as it's not an easy way to deal with the issue.

[2018-05-25 12:21] #297 closed

[2018-05-25 12:22] bilelmoussaoui commented on #401
Already added the warning. Closing

[2018-05-25 12:22] #401 closed

[2018-05-25 12:27] bilelmoussaoui commented on #519
Which apps Hardcode-tray was supposed to fix?

[2018-05-25 12:29] bilelmoussaoui commented on #515
Can you guys please provide the list of the applications that were supposed to be fixed and the specific version number too?

[2018-05-25 12:30] bilelmoussaoui commented on #518
Closing this in favour of https://github.com/bilelmoussaoui/Hardcode-Tray/issues/494
Which will provide us an easy way to package the script into almost every distro without having to deal with each one whenever we push a new update.

[2018-05-25 12:30] #518 closed

[2018-05-25 12:30] bilelmoussaoui commented on #226
Upstream took care of the issue. Not released yet but it's already on master.

[2018-05-25 12:30] #226 closed

[2018-05-25 13:50] BlueManCZ commented on #515
Emm, I think it would be useless, because hardcode-tray doesn't convert any icon for me. It seems like it doesn't work. There are still old icons. (Now I see it's maybe a bit off-topic). Maybe because of _testing distribution_? (Debian 10)
But I remember that it worked before. On Debian 9.

[2018-05-25 14:16] bilelmoussaoui commented on #515
It doesn't work won't help me much. Which applications you want to fix using hardcode-tray?

[2018-05-25 14:50] BlueManCZ commented on #515
Ou, yes, sorry.
I tried it now, and Mailspring, Discord and Clementine have still old icon.
![screenshot_20180525_164513](https://user-images.githubusercontent.com/17854950/40550652-039bd394-603b-11e8-9776-7d517d0c94df.png)
With dark theme it looks much better.
![screenshot_20180525_164732](https://user-images.githubusercontent.com/17854950/40550777-64baac7c-603b-11e8-98e3-aa754275b0e8.png)
But st

[2018-05-25 15:13] bilelmoussaoui commented on #515
There's an open issue for discord. Mailspring was already fixed on master. Clémentine dosen't use a hardcoded tray icon

[2018-05-25 16:20] BlueManCZ commented on #515
Ok, Thank you.
When I use hardcode-tray, Clementine is in output as transformed between Chromium and Discord.

So why it's there?
I'll try master for Mailspring.
Fortunately Discord default icon looks quite well in dark theme.

[2018-05-25 18:27] Helladen commented on #519
Skype, Slack, etc.

[2018-05-25 19:18] bilelmoussaoui commented on #519
By looking at the logs they seem to be fixed. Which versions you're using for each software. Providing specific information will really help me as I can't test each version of each software in order to get which software changed the icon names or not......Especially that we support more then 80 apps.

[2018-05-25 19:19] bilelmoussaoui commented on #515
I forgot to remove it. We thought it's hardcoded but it's just a fallback.

[2018-05-25 21:42] Helladen commented on #519
Skype version 8.22.0.2
Slack Direct Download 3.2.0-beta2 HEAD/5a7a50e 64-bit

[2018-05-27 18:54] btd1337 opened #530 "Clementine not working"
### Specifications
- Hardcode-Tray version : `latest`
- Distribution : `elementary OS Juno`
- Gtk version : `3.28`
- Inkscape version : `0.92.3`
- Sni-qt version: `0.2.7+20161212~11~ubuntu18.04.1`
- Application name :  `Clementine`
- Application version : `1.3.1+git276-g3485bbe43+dfsg-1.1build1`

### Expected behavior and actual behavior
Clementine not working

![captura de tela de 2018-05-27 15 1

[2018-05-28 18:19] rootsandculture opened #531 "Support Ubuntu mono dark default icons"
I want to change the default Teamviewer tray icon that looks non-integrated to the default monochrome icons, and I found than Numix's Teamviewer panel Icon looks great. Is there a way to apply it to default Ubuntu iconset (ubuntu-mono-dark) or change it manually instead?.

![screenshot from 2018-05-28 14-43-20](https://user-images.githubusercontent.com/12083250/40625669-40415ade-628a-11e8-89cc-434

[2018-05-30 14:07] rootsandculture commented on #531
Hi, thanks for the response: `sudo -E hardcode-tray --theme Numix --only teamviewer --apply` changes the icon but only if I selects Numix as default icon theme, and that's what I'm not looking for, I Don't like it :)
Is there a way to apply the icon fix on ubuntu-mono icons but without changing the entire icon theme to Numix?
Thanks

[2018-05-30 14:09] bilelmoussaoui commented on #531
Using `--theme` argument let you select a different theme than the default one. It can be used to patch the icon while you can keep using your current default theme (which is detected automatically by the way). Here, in the case of TeamViewer. The icon is somehow hardcoded in the binary and we don't have any idea how to fix that yet.

[2018-05-30 14:22] rootsandculture commented on #531
I tried `sudo -E hardcode-tray --theme Humanity-Dark --only teamviewer --apply` and says No apps to fix!

The strange thing is than Numix iconset does that...

[2018-05-30 16:32] bilelmoussaoui commented on #531
Humanity-Dark doesn't include any tray icons that are supported by Hardcode-tray. The only two themes that support Hardcode-Tray are Numix & Papirus.
TeamViewer uses the same icon for the tray Icon and the application Icon. That's why It works on Numix.

[2018-06-01 13:57] bilelmoussaoui commented on #527
I don't think that Inkscape, RSVG supports converting icons to ICO extension...

[2018-06-01 20:03] bilelmoussaoui commented on #497
I know that It does work. I just need to find some free time to implement this. Will try to take a look as soon as I can

[2018-06-01 20:07] bilelmoussaoui commented on #524
How did you installed pcloud? the only available version is an appimage binary file. And we can't patch those "sandboxed" packages yet.

[2018-06-01 21:03] 7im4pple commented on #524
I see, I actually do it through the AUR.. but that may just be doing the app image for me..not sure.

[2018-06-01 21:10] bilelmoussaoui commented on #524
Can you please update this issue and the other one you've opened with the package name, or any information that could be useful

[2018-06-06 03:43] ynnr85 opened #534 "Icon try size"
### Specifications
- Hardcode-Tray version : `4.2`
- Distribution : `Kubuntu 18.04 Bionic`
- Gtk version : `3.22`
- Inkscape version : `0.92.3 (2405546, 2018-03-11)`
- Application name :  `Slack`
- Application version : `Direct Download 3.2.0-beta2 HEAD/5a7a50e 64-bit`

### Expected behavior and actual behavior

Icon size match all other icons in system try

### Steps to reproduce the problem
1. D

[2018-06-09 15:26] x86vk opened #535 "The tray icon of insync and mailspring has not been replaced."
### Specifications
- Hardcode-Tray version : `4.2`
- Distribution : `Arch Linux`
- Gtk version : `3.22`
- Inkscape version : `0.92.2`
- Cairo version : `Not Installed`
- Application name :  `Insync` and `Mailspring`
- Application version : `1.4.7.37098`

### Expected behavior and actual behavior
The tray icon of insync and mailspring should be replaced, but not.
### Steps to reproduce the problem

[2018-06-09 15:33] x86vk commented on #535
[code]

[2018-06-26 14:52] 7im4pple opened #536 "Wire-Desktop not being detected"
### Specifications
- Hardcode-Tray version : `4.2`
- Distribution : `KDE-Neon`
- Gtk version : `3.18`
- Inkscape version : `0.91` if installed
- Cairo version : `` if installed
- Sni-qt version: `2.7` if installed
- Application name :  `wire-desktop`
- Application version : `3.2.2840`

### Expected behavior and actual behavior
Hardcode tray doesn't seem to see wire application, isn't listed when a

[2018-07-04 12:18] sviperz commented on #470
If any of you are interested https://community.teamviewer.com/t5/Linux/Theme-friendly-TeamViewer/m-p/37662

[2018-07-04 12:29] bilelmoussaoui commented on #470
@sviperz Thanks! Will check that and hope that TeamViewer team will be interested in making their app look a bit better.

[2018-07-12 10:18] bilelmoussaoui commented on #536
It's an issue with KDE. See the list of closed issues. You can try using an other icon size using `--size` argument. If you still have this issue please reopen.

[2018-07-12 10:18] #536 closed

[2018-07-12 10:19] bilelmoussaoui commented on #534
You can use an other size using `--size` argument. See the documentation on the README file.

[2018-07-12 10:19] #534 closed

[2018-07-12 10:20] bilelmoussaoui commented on #535
The Insync were replaced. For mailspring, they might have changed the icons path again. Will fix that ASAP

[2018-07-13 11:30] BVollmerhaus opened #537 "[Icon Request] Redshift GTK"
I'd love to see support for the `redshift-gtk` applet if possible. Thanks!

[2018-07-14 11:19] Grief commented on #488
@bilelmoussaoui I can confirm that the fix is not working anymore. Could you please re-open this issue?