[2016-12-10 10:18] wa4557 commented on #243
It should now be possible to use svg icons instead of png icons. @bil-elmoussaoui Can you try out as well?

[2016-12-10 10:55] bil-elmoussaoui commented on #243
I have to build sni-qt for Archlinux first, i will report back this evening

[2016-12-10 12:00] bil-elmoussaoui commented on #243
By the way do you have any idea what's this is file for? /etc/xdg/sni-qt.conf?

[2016-12-10 16:51] wa4557 commented on #243
No idea.

We have to change the way the script works slightly, in order to make it work with svg files. We can do everything symlink (doesn't matter if they are svg or png), but we have to store them in `.local/share/sni-qt/icons/{app}/{size}/`.

The modified sni-qt package, then looks for these folders and can determine the correct sizes. The problem is, that there is no easy way to determine ori

[2016-12-10 20:34] wa4557 commented on #243
Yeah with my latest improvements (coding in c++ is really really hard for me). We can now use svg icons as well. But we have to change the script as I said already earlier.

[2016-12-10 20:58] bil-elmoussaoui commented on #243
Can you update the python script too? If you can't I will do that ;) and my C++ is not that bad, I think I will be able to implement a correct logging system

[2016-12-10 21:00] wa4557 commented on #243
I can. But I'll do that on a separate branch for now until everything is set up correctly.

[2016-12-10 21:28] bil-elmoussaoui commented on #243
Perfect. What do you think about moving our sni-qt branch from bzr
(launchpad) to github? This will attract more attention ;)

Le 10 déc. 2016 10:00 PM, "Andreas Angerer" <notifications@github.com> a
écrit :

[2016-12-10 21:30] wa4557 commented on #243
I guess that's fine. I don't like bzr anyways, this way we can use git, and just mirror it to github for making the ppa

[2016-12-10 21:40] wa4557 commented on #243
Pushed changes to cript to new branch sni-qt

[2016-12-10 21:48] bil-elmoussaoui commented on #243
Looks OK for me, but you have removed the chrome script :P

[2016-12-10 21:48] wa4557 commented on #243
added it again :)

[2016-12-11 00:40] abouvier commented on #186
@bil-elmoussaoui On Arch the path is indeed `/opt/discord-canary/resources/app.asar`, so it doesn't works at the moment.

[2016-12-11 02:55] bil-elmoussaoui commented on #186
@abouvier I've added the new path, try `hardcode-tray --update-git` and run the script again. Should work fine now

[2016-12-11 03:29] bil-elmoussaoui commented on #243
Done https://github.com/bil-elmoussaoui/sni-qt, i created a PPA just for sni-qt as we can't keep both of them on the same repo (as a branch for example...); Once the script grows bigger, we might move from a simple project repository to a much complex one.

Added you also as a collaborator. I couldn't keep the bzr log history of commits and move it to git as bzr fastimport does not support feature

[2016-12-11 06:29] wa4557 commented on #243
I think it would be a good idea to add this to the Same ppa. We can use git Import on launchpaf

[2016-12-11 11:30] wa4557 commented on #243
I uploaded the new git based sni-qt to the ppa. It seems to work. TeamViewer still doesnt though

[2016-12-11 14:17] bil-elmoussaoui commented on #243
Just tried the new PPA on xubuntu. I think that the Installation of Hardcode-Tray is not working as it's supposed to. The hardcode-tray file should be installed on `/usr/bin` instead of `/opt/Hardcode-Tray/`

[2016-12-11 14:18] wa4557 commented on #243
But it Generates a symlink, doesnt it?

[2016-12-11 14:19] bil-elmoussaoui commented on #243
Nop it doesn't as far as i can see. I tried `hardcode-tray` but i get the following message `hardcode-tray: command not found`

[2016-12-11 14:23] bil-elmoussaoui commented on #243
also, we must bump the version number of sni-qt on our PPA as Ubuntu provide a non patched version of sni-qt with the version 0.2.8.0. Maybe using 0.2.8.1 for the beta tests and after that we release a 0.2.9.0; what do you think?
Also, we can enable debugging by default; in order to avoid users modifying files with root permissions

[2016-12-11 14:23] wa4557 commented on #243
Hmm. It does for me. I included a postinst routine that generates the symlink

[2016-12-11 14:24] wa4557 commented on #243
the latest version ubuntu provides is 2.7.0 so ours should be newer, actually

[2016-12-11 14:25] bil-elmoussaoui commented on #243
On Ubuntu 16.04 i have 0.2.8 :P

[2016-12-11 14:26] wa4557 commented on #243
because you were installing from the previous ppa :P

[2016-12-11 14:30] wa4557 commented on #243
BTW: I'm not sure it is a good idea, that we changed the README just yet, because for now the script is not compatible with the ppa

[2016-12-11 14:36] bil-elmoussaoui commented on #243
Alright! For the PPA, i will revert that ;) Btw, the svg icons or the patch doesn't seem to work as it should here on XFCE
![screenshot_2016-12-11_15-36-17](https://cloud.githubusercontent.com/assets/7660997/21080768/92fc02fa-bfb7-11e6-9768-62ac1d7e73e4.png)
On this screenshot, the missing icon is used instead of Skype icons;

[2016-12-11 14:41] wa4557 commented on #243
Hmm. Do the icons exist in `/tmp`?

[2016-12-11 14:53] bil-elmoussaoui commented on #243
No icons on /tmp. Only an empty folder, which is normal? the sni-qt:i386 is installed and i do have those icons
![screenshot_2016-12-11_15-52-53](https://cloud.githubusercontent.com/assets/7660997/21080843/e49e6c18-bfb9-11e6-8e63-c6af58adc868.png)

[2016-12-11 14:54] wa4557 commented on #243
Hmm the tmp folder shouldn't be empty. Maybe it's the 24px size that makes problems. 22px do work for me without problems

[2016-12-11 14:57] wa4557 commented on #243
can you try removing the whole local/share/sni-qt folder and the sni-qt folder in tmp and try again?

[2016-12-11 15:01] bil-elmoussaoui commented on #243
It must be 22 for me too :o i think something is wrong on the sni-qt branch

[2016-12-11 15:02] wa4557 commented on #243
But xfce is 24, right?

https://github.com/bil-elmoussaoui/sni-qt/blob/master/src/iconcache.cpp#L140

Can you spot anything weird?

[2016-12-11 18:16] Foggalong opened #246 "Messed with .local folder"
In continuation of [this comment](https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/226#issuecomment-266094976), using [this PPA](https://code.launchpad.net/~andreas-angerer89/+archive/ubuntu/sni-qt-patched) has seriously fucked with my system. The permissions for the `~/.local` folder had been changed so that it was no longer accessible to anything but the root user which is why programs li

[2016-12-12 02:54] bil-elmoussaoui commented on #246
It's a duplicate of #241. i will push a fix tomorrow

[2016-12-12 02:54] #246 closed

[2016-12-12 09:08] mustaqimM commented on #239
I'm on Manjaro KDE 16.10.3, the keepassx version is 2.0.3-1.

[2016-12-12 10:53] Jacobtey opened #247 "Blurry skype icon"
### Specifications
- Hardcode-Tray version : `v3.5.2.1`
- Distribution : `manjaro fringilla`
- Gtk version : `3.22.5-1`
- Inkscape version : `0.91-20`
- Cairo version : `1.14.8-1`
- Sni-qt-eplus-bzr version: `1:r101-1`
- Application name :  `skypeforlinux`
- Application version : `1.13.0.3-2`

### Expected behavior and actual behavior
Skype status tray icon is blurry. It should look like this one

[2016-12-12 15:43] bil-elmoussaoui commented on #247
Can you try this `hardcode-tray --update-git` and then use `--force-inkscape` and see if things will work correctly ?

[2016-12-12 16:00] Jacobtey commented on #247
I've tried it. No effect. It looks like a 16px icon is resized to 22px one or more. Icons in the menu looks correctly.
![screenshot_20161212_185348](https://cloud.githubusercontent.com/assets/7997512/21105888/5f6963e4-c0a5-11e6-91cf-0d4207a6b158.png)

[2016-12-12 17:06] bil-elmoussaoui commented on #247
You can try forcing icon size using --size 24 for example and see if something changes.
Anyway, for me it must be an electron/skypeforlinux issue...

[2016-12-12 20:46] bil-elmoussaoui commented on #239
It's an upstream issue. We can't do anything about this... I would push a fix upstream if they were using Github... You can add those informations to your report if you wish.
The issue is due to using the same icon for application name and tray icon. In the source code it's  on `/src/gui/MainWindow.cpp/` Line 503 `m_trayIcon = new QSystemTrayIcon(filePath()->applicationIcon(), this);`

[2016-12-12 20:46] #239 closed

[2016-12-12 20:47] bil-elmoussaoui commented on #239
If you have a way to contribute to Keepassx, just let me know and i will push a fix to the main source code.

[2016-12-13 02:57] #241 closed

[2016-12-13 02:58] bil-elmoussaoui commented on #241
Should be fixed! Tried the latest modification on a new installation of Archlinux and none of the permissions were modified. Please re-open if you still have this issue

[2016-12-13 02:59] bil-elmoussaoui commented on #241
If you still have this issue, it must be related to
[code]
In order to verify this, just create a new python file and add those lines, print the values of both and see if they're the right ID or not

[2016-12-13 05:36] wa4557 commented on #241
Could the Problem be that if using `sudo harfcode-tray` (i.e. Double sudo) the Script cant detrct the not sudo iser?

[2016-12-13 05:37] bil-elmoussaoui commented on #241
I will do some tests right now

[2016-12-13 05:43] bil-elmoussaoui commented on #241
just did a test and the result is `0` `0`! We know what causes this

[2016-12-13 05:44] wa4557 commented on #241
Do it is the Problem?

[2016-12-13 05:47] bil-elmoussaoui commented on #241
Yes it's! i will push a fix right now

[2016-12-13 05:50] bil-elmoussaoui commented on #241
Can you check my latest commit to be sure this is fixed for sure?

[2016-12-13 05:53] wa4557 commented on #241
Not right now but later. Can you Release a new versio? So that the ppa gets
Updates?

Bilal Elmoussaoui <notifications@github.com> schrieb am Di., 13. Dez. 2016,
06:50:

--
Projektass. Dipl.-Ing Andreas Angerer

TU Wien - Atominstitut
Stadionallee 2
1020 Wien
Austria

e-mail: andreas.angerer@tuwien.ac.at
Tel: +43 1 58801 141 853

[2016-12-13 06:01] bil-elmoussaoui commented on #241
I will do once i'm sure that it really works as it's supposed to

[2016-12-13 06:15] bil-elmoussaoui commented on #241
@Foggalong can you try the latest update? just use `hardcode-tray --update-git`

[2016-12-13 08:05] bil-elmoussaoui commented on #240
@systematicat I just updated Chrome on my system and it's seems that they have changed the icon name again :P i will push a fix right now!

[2016-12-13 08:22] wa4557 commented on #241
Works :+1:

[2016-12-13 08:26] wa4557 commented on #241
Instead of the else break condition we could restart the script as different user with `sudo -u username exec "script.py" $1`

[2016-12-13 08:36] bil-elmoussaoui commented on #241
I really prefer to keep it this way, as some parts of the update/install part of the script does not need root permissions at all. And we do explain how to use the script on the README. i don't see why the user will use something that he shouldn't do at all...

[2016-12-13 08:37] wa4557 commented on #241
Yeah makes sense

[2016-12-13 09:01] systematicat commented on #240
Hey @bil-elmoussaoui thank you for updates!
But I think I`ll get rid of Chrome soon. It drives me crazy - sometimes after Chrome update tray icon is invisible, sometimes visible.

[2016-12-13 09:25] bil-elmoussaoui commented on #240
You're welcome! Well, if you have any other issue with Hardcode-tray please report it :)

[2016-12-13 19:47] wa4557 commented on #243
For me it works also with 24px icons, you sure you're not doing anything wrong?

[2016-12-13 19:49] bil-elmoussaoui commented on #243
I have removed XFCE the same day as i fucked up everything on my system.. I will reinstall it later and see if i can reproduce the same issue

[2016-12-14 01:28] bil-elmoussaoui opened #248 "Huge code improvements"
I was taking a look on how we can make the code as perfect as possible, understandable and without too many conditions/loops;
The best way to do so, is to rewrite almost all the script and i have some ideas to share here
Let's start with the structure of the code

- The first thing in order to allow support of all the possible ways to convert SVG icons to other formats using Inkscape, Cairo, Image

[2016-12-14 01:30] bil-elmoussaoui commented on #248
@wa4557 I would like to have your opinion on this. I would like to work on it and release it before the end of this year. As this will fix #157  #244  #152 and #228 if i can implement a general way for binary icons.

[2016-12-14 04:21] KottV commented on #245
@varlesh Somehow I broke whatsie icon. Now it's white on white panel.

Is this right choice? :
Plasma theme: Arc Color
Color scheme: Arc
KDE icons: Papirus-Dark
GTK icons: Papirus (with Papirus-Dark all gtk-apps has white icons)

[2016-12-14 09:16] varlesh commented on #245
--force-inkscape нужна для того что бы иконки не были черными, так как по-умолчанию hardcode-tray использует для конвертации из SVG в PNG библиотеки Cairo, которые не поддерживают CSS.
Что касательно whatsie, то это electron-приложение, иконка которого берется из темы и потом запаковывает в архив asar.
т.е. для значков панели нужно вручную перекрашивать предварительно цвет #d3dae3, sed справится с

[2016-12-14 09:23] varlesh commented on #245
GTK, electron  и другие не-KDE приложения не поддерживают kde-color-scheme, потому что им ненужно это. Тут либо перекрашивать вручную, либо делать запрос в KDE, что бы они запилили поддержку трея kde-color-scheme... важно отметить еще то, что в большинстве случаев используется PNG-значок для трея, а потому речи о CSS и быть не может. Откуда могут быть в PNG стили вообще?

[2016-12-14 09:48] varlesh commented on #245
--force-inkscape need for fix bug black icons only, because hardcode-tray used cairo libs by default.
If you use another colors on KDE need change color manual for panel tray icons.
GTK, Electron and other non-KDE applications do not support KDE-color scheme, because it's unnecessary. Then either repainted by hand or make a request to the KDE that they gash support tray-KDE color scheme ... it is

[2016-12-14 10:01] varlesh opened #249 "DEB-packge broken symlink on /usr/bin"
On new PPA for hardcode-tray need install symlink on/usr/bin/hardcode-tray --> /opt/Hardcode-Tray/hardcode-tray
@wa4557

[2016-12-14 10:03] wa4557 commented on #248
Yeah, object oriented programming makes sense here to a certain degree. I'm a bit reluctant regarding stuff like the `FileManager` class, because I don't see why there is an improvement over simple functions (i.e. taking one argument returning something else). This is for me a prime example for functional programming.

An Application class makes a lot of sense though :+1:

[2016-12-14 10:03] varlesh commented on #249
because terminal not seen hardcode-tray on system:
[code]

[2016-12-14 10:04] wa4557 commented on #249
I'll have a look into that

[2016-12-14 10:07] varlesh commented on #249
@wa4557 create symlink
[code]
and add to debian/install:
[code]

[2016-12-14 10:10] wa4557 commented on #249
I have a preinst script that should take care of that.

[2016-12-14 10:13] varlesh commented on #249
and postrm too

[2016-12-14 12:01] varlesh commented on #249
@wa4557 release 3.5.2.1~597~ubuntu16.04.1 not solve problem. File /usr/bin/hardcode-tray not exist

[2016-12-14 12:03] varlesh commented on #249
@wa4557 Better variant create file on debina folder - i doing this for my PPA, because post-scripts not worked

[2016-12-14 12:14] varlesh commented on #249
[code]

[2016-12-14 12:44] Foggalong commented on #241
Ngl I'm really nervous about using this again now a bug like this slipped through to stable. I still haven't managed to fix my systems audio (the permission changed messed with the config files) :disappointed:

[2016-12-14 13:01] bil-elmoussaoui commented on #241
The issue is that you have used the script with root permissions...

Le 14 déc. 2016 1:44 PM, "Joshua H. Fogg" <notifications@github.com> a
écrit :

Ngl I'm really nervous about using this again now a bug like this slipped
through to stable. I still haven't managed to fix my systems audio (the
permission changed messed with the config files) 😞

—
You are receiving this because you modified the ope

[2016-12-14 13:33] bil-elmoussaoui commented on #248
I'm okey with not creating a FileManager class, but the idea was having the possibilty to do something like `FileManager('test.py').copy('/tmp').remove()` but yeah we don't really need that.

[2016-12-14 13:49] wa4557 commented on #248
I think the most important thing for now, would be to make this application class, the rest we can always add afterwards if we want. Before we start this, I think it makes a lot of sense to figure out how to deal with nw.js applications, and check if sni-qt works as expected. (And I also want to fix **** teamviewer)

[2016-12-14 14:01] bil-elmoussaoui commented on #248
@wa4557 I have worked recently with a guy from Gitter to fix a little issue on the application, i can try to contact him and see if we can get some information about how to fix nwjs issue. I will install xubuntu today and see if everything works as expected.

[2016-12-14 16:24] Foggalong commented on #241
Right, but if that was going to cause problems on this scale then there should have been a proper check to stop that from happening. If there was such an error check then why wasn't the bug picked up in testing before it was released to the PPA?

I only bring this all up because this program is something we're recommending Numix users use. I'd rather not be sending them to something which has a ch

[2016-12-14 16:36] bil-elmoussaoui commented on #241
@Foggalong I totally agree with you about that. But i have never thought that the script will cause something like this (if you double run root, the right user id & group id won't be detected correctly). And i have provided a README that explains everything on how to use the script. It's like saying that the `rm` command should be removed from bash because the user can type `rm -rf /*` and trust m

[2016-12-14 20:42] Foggalong commented on #241
@bil-elmoussaoui I get what you're saying, but that's a situation where you're explicitly telling the program "I want you to delete everything" and then it deletes everything. This is a situation where all you're saying is "I want you to run this program as root" and then it changes the permission of the entire `~/.local` directory.

[2016-12-14 20:54] bil-elmoussaoui commented on #241
Running the program as root was required for older versions of the script using `sudo -E python3 script.py` but i have moved this line of code, to avoid people using the script incorrectly to hardcode-tray file https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/hardcode-tray#L25 and I modified the README in order to explain the new way of using the script, and as you can see there's no

[2016-12-14 21:26] wa4557 commented on #249
should be fixed

[2016-12-14 22:35] bil-elmoussaoui commented on #247
Closing as, it's not a hardcode-tray issue. Please report it upstream

[2016-12-14 22:35] #247 closed

[2016-12-14 23:49] Foggalong commented on #241
@bil-elmoussaoui I understand that the change was documented, my problem is that a bug this serious made it into a release. How/why was the program changing the ownership of the home directory anyways?

[2016-12-14 23:53] bil-elmoussaoui commented on #241
Well, some icons are copied/directory created during the process in ~/ and so the owner is root, and not the current user. Which is not correct, the user should be able to remove any file created on those directories, that's why i change those permissions. I might remove it, as we already provide a revert process....
@wa4557 what do you think?

[2016-12-15 00:47] KottV commented on #245
Thank You. Got it.

PS varlesh, без обид, но твой гугл-транслэйт вообще непереводим:)

[2016-12-15 01:36] bil-elmoussaoui commented on #249
Just tried the latest PPA, it works fine!

[2016-12-15 01:38] bil-elmoussaoui commented on #243
Okey, i have tried the latest PPA of sni-qt, on elementary OS 0.4. I have installed both skype and megasync; Megasync works fine, but skype does not :(
![screenshot from 2016-12-15 02 27 20](https://cloud.githubusercontent.com/assets/7660997/21208630/76accc00-c26f-11e6-9d6f-eefc5d5aa522.png)

[2016-12-15 06:46] KottV commented on #243
what megasync version you have? version <2.9.9 was Qt4-based, thus worked fine
my latest 2.9.10 uses Qt5, so, icon cannot be overrided (i guess)?

[2016-12-15 07:16] KottV opened #250 "something wrong in last version"
### Specifications
- Hardcode-Tray version : v3.5.2.2
- Distribution : openSUSE Tumbleweed
- Gtk version :
- Inkscape version : 0.91
- Cairo version : 1.15.2
- Sni-qt version: from git (2.8.1 ?)
- Application name :  All (skype,megasync,whatsie) except steam
- Application version :

### Expected behavior
Applied fixes
### actual behavior
No apps to fix! Please report on GitHub if this is not the c

[2016-12-15 09:01] wa4557 commented on #243
what icons to you have in `.local/share/sni-qt/icons`? and in `/tmp`

[2016-12-15 10:13] varlesh commented on #249
NOT FIXED!
@wa4557 Why don't want create symlink on debian folder?
![image](https://cloud.githubusercontent.com/assets/8083855/21220068/aeb0bd76-c2d0-11e6-9ff9-8888de1fd909.png)

[2016-12-15 10:15] wa4557 commented on #249
But I do? In the install file, it should copy `hardcode-tray` to `/usr/bin` and `hardcode-tray` is a symlink

[2016-12-15 10:18] varlesh commented on #249
i don't know why not working... Yes on package exist /usr/bin/hardcode-tray.
i extract hardcode-tray package (601 release). But not worked.

[2016-12-15 10:24] wa4557 commented on #249
But then the symlink should be invalid, not nonexisting. Argh its not working for me neither

[2016-12-15 10:25] varlesh commented on #249
It's very strange
![image](https://cloud.githubusercontent.com/assets/8083855/21220459/57c6a910-c2d2-11e6-87f8-e5e778a35264.png)

[2016-12-15 10:26] wa4557 commented on #249
Strange. I'll investigate...

[2016-12-15 10:28] varlesh commented on #249
Create symlink on your PC:
`sudo ln -sf /opt/Hardcode-Tray/hardcode-tray /usr/bin/hardcode-tray`
copy file to debian folder from /usr/bin/hardcode-tray
and add to install:
`echo "debian/hardcode-tray /usr/bin/" >> install`

[2016-12-15 10:31] wa4557 commented on #249
https://stackoverflow.com/questions/9965717/debian-rules-file-make-a-symlink That seems to be the right way to do it

[2016-12-15 10:34] varlesh commented on #249
Maybe, but if i'm create my ppa postinst and preinst scripts not worked... and i don't why

[2016-12-15 10:36] varlesh commented on #249
I don't understand why on synaptic /usr/bin/hardcode-tray exist, but on system not? I'm confused :confused:

[2016-12-15 10:39] varlesh commented on #249
really, it's strange...
![image](https://cloud.githubusercontent.com/assets/8083855/21220844/4993d06e-c2d4-11e6-8fdd-ed72ecfaeaa8.png)
Maybe it's bug apt?

[2016-12-15 10:47] varlesh commented on #249
@wa4557 I know why it's happened ))
i'm delete package form system, but not delete folder /opt/Hardcode-Tray
if run once hardcode-tray (earlier)  - create files on /opt/Hardcode-Tray/database/scripts
after remove package apt can't delete /opt/Hardcode-Tray, because  have files /opt/Hardcode-Tray/database/scripts.
If reinstall package again - package not right installed.

[2016-12-15 10:49] varlesh commented on #249
postrm script not worked too:
http://bazaar.launchpad.net/~andreas-angerer89/+junk/hardcode-tray-packaging/view/head:/debian/postrm
/opt/Hardcode-tray not deleted after remove package

[2016-12-15 10:51] varlesh commented on #249
steps for reproduce:
- add PPA
- update package database
- run hardcode-tray and fix some icons
- delete package hardcode-tray
- install again package hardcode-tray

[2016-12-15 11:05] varlesh commented on #250
avialable repo for opensuse?

[2016-12-15 11:10] varlesh commented on #249
@wa4557 it's hapenned once, i'm now reproduce steps and all installed fine...
closed
if anyone have this problem - need delete  /opt/Hardcode-Tray directory

[2016-12-15 11:10] #249 closed

[2016-12-15 12:08] KottV commented on #250
repo with what? patched sni-qt built by myself: https://software.opensuse.org/search?p=1&baseproject=openSUSE:Tumbleweed&q=sni-qt-patched

hardcode-tray - straight from git

[2016-12-15 12:11] varlesh commented on #250
Maybe not full install depends. It's list for Debian:
git, python3, python3-gi, wget, inkscape, python3-cairosvg, gir1.2-rsvg-2.0

[2016-12-15 12:11] KottV commented on #243
I got some troubles right now: https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/250
so, there no any icons in .local/share/sni-qt/icons

AFAIK, Qt5-apps works with notification protocol native, without sni-qt (which for Qt4, obviously)

[2016-12-15 12:14] KottV commented on #250
it worked couple days ago, all dependencies are met

[2016-12-15 13:08] bil-elmoussaoui commented on #250
Which theme are you using? And can you take a screenshot of the terminal output.
Also, it would be nice if you can maintain the opensuse repo, what do you think ?

[2016-12-15 13:39] KottV commented on #250
Yes i can. But we need change some hardcoded distro-specific paths in database, i can point just one right now:
/usr/lib/i386-linux-gnu/
in teamviewer.json

And deal with my current problem :)
I really don't know what happened. After reverting to old revisions i get same errors. So, i should investigate this for a while.

Now it looks as

or

or

[2016-12-15 13:46] bil-elmoussaoui commented on #250
For the second issue, i know how to fix it. I will push a fix soon! It's due to using a theme that does not exists on your machine. Adwaita is detected as your default theme but it's not the case.. For Breeze, there's no icons on that theme (hardcoded icons).
Can you try updating the icon cache of Papirus?
For the rest of the issues
[code]
It's has nothing to do with the script, must be your gtk i

[2016-12-15 14:01] KottV commented on #250
found it
it fails when icon dirs simlinked:

kv@Kot:~> ls -l ~/.icons
итого 4
drwxr-xr-x 2 kv users 4096 апр 15  2016 default
lrwxrwxrwx 1 kv users   39 дек 12 22:07 Papirus -> /home/kv/src/papirus-icon-theme/Papirus
lrwxrwxrwx 1 kv users   44 дек 12 22:07 Papirus-Dark -> /home/kv/src/papirus-icon-theme/Papirus-Dark

[2016-12-15 14:02] bil-elmoussaoui commented on #250
Is it's working for now?

[2016-12-15 14:04] KottV commented on #250
Yes. At least - all apps detected.

[2016-12-15 14:06] bil-elmoussaoui commented on #250
Perfect! I'm closing this then, can you open a new issue with the stuff that we need to change in order to get the patched version of sni-qt and hardcode-tray on opensuse?

[2016-12-15 14:06] #250 closed

[2016-12-15 14:07] KottV commented on #250
But it don't creates dirs in ~/.local/share/sni-qt

until i change to "force_create_folder":  true

[2016-12-15 14:20] KottV commented on #250
I will, but tomorrow.
Thank you again!

[2016-12-15 14:29] bil-elmoussaoui commented on #250
Alright! and i have already fixed skype issue ;) thanks!

[2016-12-15 19:18] Jacobtey commented on #247
Is it possible to change icons by hand? Native icons look smooth at any resolution.
![screenshot_20161215_201921](https://cloud.githubusercontent.com/assets/7997512/21238450/91370db2-c31c-11e6-8fd8-734c02e95454.png)

[2016-12-15 19:26] varlesh commented on #247
it's bug Plasma 5:
https://bugs.kde.org/show_bug.cgi?id=366062

[2016-12-16 07:33] KottV opened #251 "OpenSUSE package"
Greets.

1. sni-qt-patched already is in my home repo: home:kill_it
It built on bzr version, as i think your git version is not ready yet, am i right?
There some questions:
1.1 Version
I named it 2.8, from analogue version in Ubuntu
1.2 Source
Which source should be build, ie, when we can switch to your git-version?
1.3 Main repo
I think it's not a problem to put patched sni-qt in main openSUSE re

[2016-12-22 00:32] iwex opened #252 "Wrong converting"
Hello! Script converts svg to black.
![image](https://cloud.githubusercontent.com/assets/4510068/21411164/e93b58b6-c7ee-11e6-9de6-36c5cff23a13.png)

[2016-12-22 00:39] bil-elmoussaoui commented on #252
Are using KDE? if so you will need to take a look at this #245

[2016-12-22 00:40] iwex commented on #252
Fixed by reinstalling inkscape :)

[2016-12-22 00:40] #252 closed

[2016-12-22 00:42] bil-elmoussaoui commented on #252
Happy that it's working perfectly for you!

[2016-12-22 00:48] iwex commented on #252
Thanks for great tool :)

[2016-12-22 15:03] bil-elmoussaoui commented on #251
Sorry for the delay.
1 - For the sni-qt package, we will switch from using the bzr version to the git version once those issues are fixed #243  #163 #226. Once those are closed, we will move from using the bzr version to the git version. With time, we will propose our modifications to the main sni-qt package.
2 - it's more the sni-qt that causes problems. if you can't build hardcode-tray, it's not

[2016-12-22 15:04] bil-elmoussaoui opened #253 "Temps support"
### Specifications
- Application name :  `Temps` based on electron
- Application version : ``
https://github.com/jackd248/temps/

### Expected behavior and actual behavior

### Steps to reproduce the problem
1.
2.
3.

[2016-12-24 08:30] varlesh opened #255 "electron apps black icons"
hardcode-tray git version
icon theme: ePapirus
inkscape: 0.91
on elementaryOS loki applied black icons for electron apps.
LOG:
[code]
Tested with skype4linux and wire:
![2016-12-24 10 29 58](https://cloud.githubusercontent.com/assets/8083855/21466072/f7798e58-c9c3-11e6-8978-fcf8e2d1a0eb.png)

[2016-12-24 08:34] varlesh commented on #255
icon changed with inkscape by manual fine. For example:
[code]
@bil-elmoussaoui What happened again?

[2016-12-24 08:40] varlesh commented on #255
also script change premissions to ROOT on inkscape config home user folder ~/.config/inkscape
![2016-12-24 10 39 05](https://cloud.githubusercontent.com/assets/8083855/21466100/55f52afe-c9c5-11e6-8ab9-8de69cde0670.png)

[2016-12-24 08:54] varlesh commented on #255
it's happened with only electron apps. Telegram, Clementine worked fine:
![2016-12-24 10 54 36](https://cloud.githubusercontent.com/assets/8083855/21466143/6452b2d6-c9c7-11e6-8e5d-06265e1de9c5.png)

[2016-12-24 17:17] varlesh commented on #255
Yes, i'm attach log and doing this repeatedly - electron apps not use inkscape, because icon black.
also option revert not worked - status show OK, but really icons not reverted.

[2016-12-24 17:20] varlesh commented on #255
@bil-elmoussaoui maybe better use inkscape for all (by default) and remove cairo? Because cairo bugged :(

[2016-12-24 23:20] iwex opened #256 "Google play music desktop player"
Hello could you please add support of Google play music desktop player https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues/231#issuecomment-269103015

[2016-12-24 23:36] bil-elmoussaoui commented on #256
Will do tomorrow morning!

[2016-12-24 23:37] bil-elmoussaoui commented on #255
It's impossible that electron apps won't use inkscape instead of cairo. I will try to investigate more about this tomorrow morning. Are you using elementary OS? and where i can find the theme you're using?

[2016-12-24 23:40] varlesh commented on #255
Ok, thank you!
it's Papirus mod for elementary...
[code]

[2016-12-24 23:44] varlesh commented on #256
code:
[code]
icons path '/usr/share/google-play-music-desktop-player/resources/google-play-music-desktop-player/build/assets/img'
files from img:
[img.zip](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/671996/img.zip)

[2016-12-24 23:46] varlesh commented on #256
@iwex what icons used on linux?
![image](https://cloud.githubusercontent.com/assets/8083855/21469130/b424cfbe-ca54-11e6-8ef6-049d6bc00f1a.png)
black and white used too, maybe player have option for change icon style?

[2016-12-25 00:11] iwex commented on #256
@varlesh
![image](https://cloud.githubusercontent.com/assets/4510068/21469223/4686b826-ca47-11e6-91c3-4f57bde77e7a.png)
![image](https://cloud.githubusercontent.com/assets/4510068/21469225/5be27d04-ca47-11e6-8aba-36abd4f01082.png)

Yes, you can invert colors

[2016-12-25 08:02] varlesh commented on #256
@iwex orange icons not used on tray? and what icon color used by default black or white?

[2016-12-25 08:49] varlesh commented on #256
@bil-elmoussaoui @iwex icons already add on Papirus https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/3b4aea099bc8007c7fe4efb471066471f0dbd2c8:

- gpmdp-tray
- gpmdp-tray-pause
- gpmdp-tray-play

[2016-12-25 10:24] iwex commented on #256
@varlesh Default - white, orange isn't used

[2016-12-25 15:44] bil-elmoussaoui opened #257 "Request dark theme to user"
Too many applications now provide the possibility to choose between dark and light theme. We shouldn't change both icons using the current theme that the users use.
We should add a new argument, `--light-theme` `--dark-theme` If those are defined, the icons will be used from there. If not we switch the default `--theme` or to the autodetected theme.

This way we can provide a better experience to

[2016-12-26 06:17] KottV commented on #251
Thank you. A little bit clearer)

[2016-12-26 15:48] bil-elmoussaoui commented on #256
@iwex Just to let you know, i'm working to fix #248 and #257 in order to implement this correctly. Should be done soon!

[2016-12-27 09:03] varlesh commented on #255
@bil-elmoussaoui any news?

[2016-12-27 16:05] bil-elmoussaoui commented on #255
@varlesh I just installed elementary OS again, tried installing skypeforlinux but the tray icons are not working on elementary at all... do you have any idea?

[2016-12-27 16:10] varlesh commented on #255
need install libs:
`sudo apt install libappindicator1 python-appindicator libappindicator3-1 libindicator3-7 libindicator7 wingpanel-indicator-ayatana`

[2016-12-27 18:11] bil-elmoussaoui commented on #255
Ok i got the indicators now, and i got the dark icons too. It seems that inkscape does not convert icons right. As when i use --force-inkscape, it uses inkscape as expected (did some tests). I will try to extract the asar file and see if the icons are black or white..

[2016-12-27 18:26] varlesh commented on #255
No, inkscape worked right, because i'm convert icon manual:
`inkscape -z -f input.svg -e output.png`
And for other apps (not electron) all worked fine.
extract not needed - icons available on /tmp - chromium folders

[2016-12-27 18:26] varlesh commented on #255
it's happened with electron apps only and i don't know why...

[2016-12-27 18:30] varlesh commented on #255
i think script not use inkscape for electron or maybe electron.py have error

[2016-12-27 18:35] bil-elmoussaoui commented on #255
You're right! the issue is from electron.py i guess.. as i forgot to add the --force-inkscape to the electron script. I will add a hacky solution to fix this, a better fix will land with #248

[2016-12-27 18:48] #255 closed

[2016-12-27 18:48] bil-elmoussaoui commented on #255
Fixed! i've also fixed the same issue with chrome and spotify script. This issue shouldn't happen at all never again with the new version of the code!

[2016-12-27 18:51] varlesh commented on #255
revert worked too?

[2016-12-27 18:54] bil-elmoussaoui commented on #255
Yes it works perfectly on my computer. You must have corrupted the bak file that's why it doesn't revert to the right file. I'm thinking of a better backup revert feature. Like having the backup saved by date and time so you can have multiple versions saved. All of those saved on `.config/hardcode-tray`. For now, all i can tell you is reinstall the application to get the default asar file back and

[2016-12-27 18:59] varlesh commented on #255
@bil-elmoussaoui Big thx!!! All fine:
![image](https://cloud.githubusercontent.com/assets/8083855/21506252/0e1650c6-cc88-11e6-962a-ef23c4235e02.png)

[2016-12-27 19:03] bil-elmoussaoui commented on #255
Happy to hear that it works! stay tuned, the new release will add some nice pretty features!

[2016-12-27 19:04] bil-elmoussaoui commented on #251
Whenever the package is ready (the bzr version) just open a PR with the modifications on the README file with the instructions to install it. Thank you !!

[2016-12-27 19:19] varlesh opened #259 "[Electron] Harmony music player"
App: Harmony
Type: Electron (but not packed)
Site: https://github.com/vincelwt/harmony
install path: `/opt/Harmony`
binary path: `/opt/Harmony/harmony`

3 icons for tray:
- [ ]  icon.png
- [ ]  icon-black.png
- [ ]  icon-white.png

path: `/opt/Harmony/resources/app/icons`

preview:
![image](https://cloud.githubusercontent.com/assets/8083855/21506900/485ea7ba-cc8d-11e6-96c9-a45cacb646e3.png)
All ic

[2016-12-27 19:23] varlesh commented on #259
i think need replce only icon.png

[2016-12-27 19:24] bil-elmoussaoui commented on #259
I will add those with the same PR as #256 #257 #248 #253 #232 , it might take some time! but it should be here within the first days of the new year!

[2016-12-27 19:29] varlesh commented on #259
Yes, i check this. icons used from /opt/Harmony/resources/app/icons/, electron.py not needed.
Also on tray menu used hardcoded icons... maybe this fixed too?
![image](https://cloud.githubusercontent.com/assets/8083855/21506785/4bd934c4-cc8c-11e6-9e94-1dceb52b405a.png)

[2016-12-27 19:32] varlesh commented on #259
on tray menu used icons from `/opt/Harmony/resources/app/icons/tray/`:
[code]
but only 16px

[2016-12-27 19:36] bil-elmoussaoui commented on #259
I'm not going to add those icons, as the script is supposed to fix only the tray icons. You still can fork my code and add those icons. We have started a project like this, a year ago ( @wa4557 and I) but we stopped working on it. it's quite the same thing as tray icons, but for all kind of apps like (calibre, filezilla, dropbox, megasync..) but again, it's not the purpose of Hardcode-Tray!

[2016-12-27 19:38] varlesh commented on #259
Ok, no problem!

[2016-12-27 19:42] bil-elmoussaoui commented on #243
@KottV I'm using MegaSync 2.9.10-25
@wa4557 Sorry for the delay, I had svg icons under 24 or 22 folder. I tried to use png icons but nothing changed :( is there a way to log each icon path? so we can see if the icons paths are correct or not. And we have also to enable logging by default and get the log file (we might need to add those information later to the wiki)

[2016-12-27 20:20] varlesh commented on #259
on papirus already added icon name `harmony-tray`

[2016-12-27 20:43] #259 closed

[2016-12-27 20:43] bil-elmoussaoui commented on #259
Thanks again for the commit!

[2016-12-27 22:17] bil-elmoussaoui commented on #256
Added by @varlesh

[2016-12-27 22:17] #256 closed

[2016-12-27 23:02] iwex commented on #256
@varlesh @bil-elmoussaoui thanks :)

[2016-12-27 23:07] varlesh commented on #256
but this worked ugly, because program bad rendered icon :(
when start gpmdp - icon draw and looks fine.
![image](https://cloud.githubusercontent.com/assets/8083855/21510258/b59d77c6-ccaa-11e6-9b38-ad3afdf7f0d1.png)
But after some seconds - icon rendered again and blurred
![image](https://cloud.githubusercontent.com/assets/8083855/21510250/a3e6a246-ccaa-11e6-8ced-4e270a5ff352.png)

[2016-12-27 23:19] bil-elmoussaoui commented on #256
It's an issue with electron. Can't do anything about it..

[2016-12-27 23:23] varlesh commented on #256
no, it's issue this app, because other apps worked and rendered fine (wire, skype4linux and etc)

[2016-12-27 23:28] varlesh commented on #256
https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/2054

[2016-12-27 23:29] bil-elmoussaoui commented on #256
I have the same issue with skypeforlinux in elementary OS so...

[2016-12-27 23:41] varlesh commented on #256
yes, i confirm this. It's eOS bug

[2016-12-28 03:12] KottV commented on #243
Excuse me for offtop, is your megasync built against Qt5?

[2016-12-28 10:18] bil-elmoussaoui commented on #243
The default deb package is built using qt4 but on archlinux the package is built using qt5. And I really don't have any idea how to get that fixed as the icons are saved on tmp..

[2016-12-28 14:47] redpop1 commented on #259
Doesn't work for harmony 0.4.4.

[2016-12-28 14:51] redpop1 opened #264 "my-weather-indicator"
### Specifications
- Hardcode-Tray version : `latest git`
- Distribution : `ubuntu 16.04`
- Gtk version : ``
- Inkscape version : 0.91`` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `my-weather-indicator`
- Application version : `0.8.1`

### Expected behavior and actual behavior

### Steps to reproduce the problem
1.
2.
3.
Doesn't work, I g

[2016-12-28 14:54] bil-elmoussaoui commented on #264
Can you post a screenshot too? I have never used this application before, this might help me :) also the dark icons, are going to be fixed by this issue #257 (correct me if i misunderstood)

[2016-12-28 14:55] bil-elmoussaoui commented on #259
Where the icons are stored for harmony? And which distro are you using? it might be the installation path that is different in your case

[2016-12-28 14:59] redpop1 commented on #264
![my-weather-indicator](https://cloud.githubusercontent.com/assets/647670/21524471/8e495bba-cd16-11e6-88c9-218cfef702d1.png)

Missing picture and icons created are dark instead of white

[2016-12-28 15:02] redpop1 commented on #259
Ubuntu 16.04.1
installation path: /opt/Harmony
Tray icon pathh: /opt/Harmony/resources/app/icons/tray

[2016-12-28 15:05] bil-elmoussaoui commented on #259
Can you poste a screenshot of the content of this folder ? because @varlesh used `/opt/Harmony/resources/app/icons`

[2016-12-28 15:05] bil-elmoussaoui commented on #264
Which icon theme are you using?

[2016-12-28 15:07] redpop1 commented on #259
Im really sorry , my mistake: it's /opt/Harmony/resources/app/icons
![harmonytray](https://cloud.githubusercontent.com/assets/647670/21524624/cb9d0542-cd17-11e6-8cab-bdd70ff7fd12.png)

[2016-12-28 15:09] redpop1 commented on #264
papirus-dark, latest...

[2016-12-28 15:16] bil-elmoussaoui commented on #264
Have you tried using  `--force-inkscape` ?

[2016-12-28 15:18] bil-elmoussaoui commented on #259
Not a problem :) have you closed the application and tried again? and which icon is used in your case? as @varlesh has only added the icon.png and not icon-black or icon-white

[2016-12-28 15:20] redpop1 commented on #264
yes with --force-inkscape , and I also tried to completely remove my-weather-indicator and reinstalling.

[2016-12-28 15:25] bil-elmoussaoui commented on #264
It's an issue with cairosvg, which i can do anything about it... Just report it upstream :( that's why i added the force-inkscape argument, and it's mentionned on Papirus theme README page.

[2016-12-28 15:25] #264 closed

[2016-12-28 15:26] bil-elmoussaoui commented on #264
For more information take a look here #245

[2016-12-28 15:31] redpop1 commented on #259
I use icon.png.

![harmony-terminal](https://cloud.githubusercontent.com/assets/647670/21525083/1788e81a-cd1b-11e6-9ccc-6030054207c9.png)

[2016-12-28 15:33] redpop1 commented on #264
It's not working with --force-inkscape, just the same problem

[2016-12-28 15:42] bil-elmoussaoui commented on #259
Have you updated to the latest git version? use `hardcode-tray --update-git` and try again.

[2016-12-28 15:43] bil-elmoussaoui commented on #264
Can you post a screenshot of the tray icons folder? `        "/opt/extras.ubuntu.com/my-weather-indicator/share/my-weather-indicator/icons/"`

[2016-12-28 16:52] varlesh commented on #264
@redpop1 It's Papirus icon! It's Fog!

[2016-12-28 16:56] varlesh commented on #259
Not confirm this:
![image](https://cloud.githubusercontent.com/assets/8083855/21526763/0bddc970-cd40-11e6-9f61-a81ca3e984ce.png)

[2016-12-28 16:57] varlesh commented on #259
@redpop1 Update papirus and update hardcode-tray from git. All worked!

[2016-12-28 17:04] redpop1 commented on #259
I'm really sorry, something went wrong with the updating, I assume combining ubuntu ppa and update git or I don't know what.

I got it finaly to update.

Thanks guys

[2016-12-28 17:09] varlesh commented on #257
Maybe this not needed? Yes, app have switcher tray icon white/dark... But why this needed really?
Also Papirus not have version for dark icons on tray... because mostly DE use dark panel and white icons on Linux tray. Maybe it's for futures supported themes, but i'm not understand how this will be worked

[2016-12-28 17:20] bil-elmoussaoui commented on #257
I will just add --light-theme --dark-theme as arguments, so the user can set both themes in the same time ;)

[2016-12-28 17:42] varlesh commented on #257
Any way i'm not understand how this will be worked. Because mostly apps not have dark variant or option for change icon color.
You use icon theme with light tray icons and dark option not needed for you, also if you use dark icons - light option not needed...
If icon theme not have full dark icons for tray - option dark not solve problem, because others icons will be light...
User change icon them

[2016-12-28 17:47] varlesh commented on #257
You wan add this for elementary?

[2016-12-28 17:48] bil-elmoussaoui commented on #257
Not really for elementary as i don't use it at all (just for testing). I just don't want to overwrite light icons with dark ones. The default behavior will stay the same, but if the user uses --light-theme and --dark-theme (together), the light icons will be used from the light theme and the dark one from the dark theme.

[2016-12-28 17:54] varlesh commented on #257
I know only elementary use this effect for icons (if use light wallpaper):
![image](https://cloud.githubusercontent.com/assets/8083855/21527844/8e3a2330-cd47-11e6-9f8c-fee572f74a3b.png)
But you can disable this:
[code]

Ok, maybe this worked with Numix, but not Papirus  - because dark tray icons not available now (only for KDE color scheme on Plasma 5)

[2016-12-28 17:57] bil-elmoussaoui commented on #257
I'm doing this more for Numix! but as i said, it's won't affect neither your theme or any user experience. it's just a plus feature!

[2016-12-28 18:19] bil-elmoussaoui commented on #248
@wa4557 @varlesh  a demo version is on the branch wip/modules! can you guys test it and see if you have any bugs?

[2016-12-28 18:23] varlesh opened #265 "[Enhancement] Colorize icons"
Maybe add option for colorize icons for tray? We support SVG icon theme and SVG contained color. It's very easy replace colors with sed.
For example:
`hardcode-tray --change-color #d3dae3 #dfdbd2`
This command change color hardcoded icons on Papirus to color ubuntu-mono-dark - user can use main icon theme ubuntu-mono, but for tray fro Papirus with modify colors.

[2016-12-28 18:32] varlesh commented on #248
i'm run on eOS, but more apps not fixed because this branch have old base:
![image](https://cloud.githubusercontent.com/assets/8083855/21528642/6c1a440a-cd4d-11e6-91ae-e029b6f1c229.png)
Log not have errors:
[code]

[2016-12-28 18:34] varlesh commented on #248
Also Wire deleted on my system, but file /opt/Wire/resources/app.asar exist.... maybe it's bug DEB-package, i don't know. Also this bug reprodused with master-branch

[2016-12-28 18:35] bil-elmoussaoui commented on #248
It must be that the deb package uses an other path.... i'm still looking for a way to fix the issues with not all the applications being fixed.

[2016-12-28 18:37] varlesh commented on #248
No, wire fixed with master-branch, but after remove wire package  /opt/Wire directory not deleted

[2016-12-28 19:04] bil-elmoussaoui commented on #248
Ah :p i might look later for a better way to detect installed packages! but for now i will keep it that way..

[2016-12-28 19:18] bil-elmoussaoui commented on #265
I will keep this open for later versions.

[2016-12-28 19:27] bil-elmoussaoui commented on #248
Fixed the issue where not all the applications are not being fixed!

[2016-12-28 19:52] bil-elmoussaoui commented on #248
Done on master now!

[2016-12-28 19:52] #248 closed

[2016-12-28 21:09] bil-elmoussaoui commented on #257
Added on master. The script will now detect if the original icon name has the keyword "dark" or "light" and use the correct theme if it's defined by the user using `--light-theme` and `--dark-theme`. Both work together, and only if it's the case!

[2016-12-28 21:09] #257 closed

[2016-12-29 08:24] wa4557 commented on #248
I get this:

[code]

[2016-12-29 11:16] bil-elmoussaoui commented on #248
I should add a verification if the binary file exists too. Totally forgot that

[2016-12-29 12:51] bil-elmoussaoui commented on #248
Fixed!

[2016-12-29 13:41] bil-elmoussaoui commented on #188
@varlesh where i can get rsvg-convert ? i would like to add the support of it too after the #248 it's so easy to add support of whatever stuff you like ;)

[2016-12-29 14:21] bil-elmoussaoui commented on #265
This shouldn't work with CairoSVG? if for example the user uses SVG icons that does not use CSS SVG ?

[2016-12-29 15:12] varlesh commented on #188
DEB -  `librsvg2-bin`
RPM - `librsvg2-tools`
ARCH -  `librsvg`

[2016-12-29 15:14] bil-elmoussaoui commented on #188
Can you open a new issue for that?

[2016-12-29 15:15] varlesh commented on #265
no, need copy file to temporary folder, apply sed, then convert to png and etc...
CSS SVG also contained color. For example:
[code]

[2016-12-29 15:23] varlesh commented on #188
i'm? why?

[2016-12-29 15:23] varlesh commented on #188
You want replace inkscape to rsvg-convert?

[2016-12-29 15:46] bil-elmoussaoui commented on #188
No I will add rsvg-convert and keep inkscape and Cairo

Le 29 déc. 2016 4:23 PM, "Alexey Varfolomeev" <notifications@github.com> a
écrit :

[2016-12-29 15:47] bil-elmoussaoui commented on #265
I will take a look this evening

Le 29 déc. 2016 4:15 PM, "Alexey Varfolomeev" <notifications@github.com> a
écrit :

[2016-12-29 21:32] bil-elmoussaoui commented on #265
This is now on master. Just use `hardcode-tray --change-color "#FIRSTCOLOR #REPLACE_FIRST_COLOR" "#SECONDCOLOR #REPLACE_SECOND_COLOR"...`. Of course, it supports more than one icon to replace.

[2016-12-29 21:32] #265 closed

[2016-12-30 02:03] varlesh commented on #265
Fine. Thank you :+1:

[2016-12-30 02:29] varlesh opened #269 "[critical] electron apps not running"
after hardcode-tray electron apps not running.
It's happened wit fresh git-version
Tested with skype and wire.
![image](https://cloud.githubusercontent.com/assets/8083855/21558784/074358f2-ce59-11e6-9892-c0f145218013.png)
hardcode-tray not show error logs.
electron apps not show error on terminal, but not running (wire show message error on screenshot)

[2016-12-30 11:46] bil-elmoussaoui commented on #269
I will take a look

[2016-12-30 12:16] bil-elmoussaoui commented on #269
Fixed!

[2016-12-30 12:16] #269 closed

[2016-12-30 12:30] bil-elmoussaoui commented on #253
I've just took a look and it seems that the application uses the same icons for tray and on the main ui.. I'm going to open a new issue upstream.

[2016-12-30 12:57] varlesh commented on #269
Thx Bilal, all fine now!

[2016-12-30 13:14] bil-elmoussaoui commented on #188
@varlesh rsvg-convert is now on master. You can use it with `--conversion-tool RSVGConvert`

[2016-12-31 09:36] Freshman4754 opened #270 "Python issue"
Traceback (most recent call last):
  File "script.py", line 25, in <module>
    from modules.data import DataManager
ImportError: No module named 'modules'

[2016-12-31 10:53] bil-elmoussaoui commented on #270
How did you installed the script ?

[2016-12-31 11:04] wa4557 commented on #270
I get the same thing. Installed via ppa

[2016-12-31 11:05] wa4557 commented on #248
Not fixed. Still get the same error

[2016-12-31 13:45] bil-elmoussaoui commented on #270
Well the ppa seem to not install the modules folder then...

[2016-12-31 13:45] bil-elmoussaoui commented on #248
Using the git version?

[2016-12-31 13:46] wa4557 commented on #270
Ah ok, sure. I'll fix that

[2016-12-31 13:50] wa4557 commented on #248
Yeah, updated master branch

[2016-12-31 13:53] wa4557 commented on #270
Should be fixed next time the ppa is updated!

[2016-12-31 14:04] Freshman4754 commented on #270
AUR

[2016-12-31 15:00] bil-elmoussaoui commented on #270
The aur package is outdated. I will update it later , you can try the manual installation script provided (see README)

[2016-12-31 22:30] bil-elmoussaoui commented on #270
@Freshman4754 https://github.com/bil-elmoussaoui/Hardcode-Tray#manual-install I will update the AUR package tomorrow

[2017-01-01 18:06] bil-elmoussaoui commented on #270
I've updated the AUR package, just run `yaourt -S hardcode-tray` (you might need to use `--force`) or just remove the older version and install it again.
This should be fixed now!

[2017-01-01 18:06] #270 closed

[2017-01-01 18:10] bil-elmoussaoui commented on #248
How it's even possible ? :( see here https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/modules/data.py#L126
I do check if the pak files exists if the application uses one....

[2017-01-01 18:14] wa4557 commented on #248
Let mehr think. I habe to get my head around the new code

[2017-01-01 19:38] bil-elmoussaoui opened #271 "Hangouts extension is working again :p"
The hangouts extension can be fixed again, i think the issue we had before wwas due to the permissions and as this is fixed now, everything is fixed :P
I will push a fix soon !

[2017-01-01 19:48] bil-elmoussaoui commented on #271
on master

[2017-01-01 19:48] #271 closed

[2017-01-01 20:12] bil-elmoussaoui commented on #248
Already found what was not working :p just update to master ;)

[2017-01-01 20:33] bil-elmoussaoui commented on #228
Tried to fix both issues but compiling those applications is really a pain. Reported on both projects upstream and also provided the c++ documentation on how to fix this.
Closing this, hope they will fix it as soon as possible :+1:

[2017-01-01 20:33] #228 closed

[2017-01-01 20:49] wa4557 commented on #243
Ok so the Icons are in the tmp folders?

[2017-01-01 20:53] bil-elmoussaoui commented on #243
@wa4557 on XFCE the icons are shown in tmp folder. But on on Archlinux, i couldn't find the icons anywhere :( and  i don't know if we can modify the binary file (just by looking at the result of hexdump and xxd)

[2017-01-01 20:57] wa4557 commented on #243
Wait what are We talking about? Which binary File? So it works in xfce but Not on Arch? Are you using the correct code for Arch?

[2017-01-01 20:58] bil-elmoussaoui commented on #243
I was talking about megasync icons. On elementary, skype icons are not on tmp folder and i was using the correct script and the  correct version of sni-qt.

[2017-01-01 21:01] wa4557 commented on #243
Fine. But this issue ist about sni-qt . I still sonst understand if my Code is now working or Not.

[2017-01-01 21:03] wa4557 commented on #243
Sni qt only works for qt4. It will NEVER work for qt5

[2017-01-01 21:03] bil-elmoussaoui commented on #243
I think skype is like using an old version of Qt, which causes those issues. I will try with other qt applications that uses sni-qt and will see what i got ;)

[2017-01-01 22:04] wa4557 commented on #248
Now I get this:

[code]

[2017-01-01 22:14] bil-elmoussaoui commented on #248
I cannot reproduce that here in order to fix it. It's due to an electron application that does not have an icon that we support (for older/newer version). I pushed a fix, i hope that this will work. Otherwise, we will have to rewrite the get_from_dict function

[2017-01-01 22:17] wa4557 commented on #248
Works :+1:

[2017-01-01 22:20] bil-elmoussaoui commented on #248
Perfect! The code still need some more improvements ;) Especially the electron script :p https://www.codacy.com/app/bil-elmoussaoui/Hardcode-Tray/file/4849926842/issues/source?bid=3912774&fileBranchId=3912774#l49

[2017-01-02 22:29] bil-elmoussaoui commented on #243
@wa4557 Just tried the following application
- Flareget : works fine
- Bitcoin does not work even if the icon in /tmp is the correct icon (and it keep using the non monochrome icon) i will restart my system and try again
- Megasync works fine
- OwnCloud does not work as per #226
- Skype neither
- Mumble works fine
- Museeq works fine too

[2017-01-02 22:31] bil-elmoussaoui commented on #243
![screenshot from 2017-01-02 23 30 49](https://cloud.githubusercontent.com/assets/7660997/21596995/8727fedc-d143-11e6-84f6-2002a1e98643.png)

[2017-01-03 13:19] rpbaptist commented on #197
I was wondering where the CSV database file was. The documentation on how to contribute still refers to that, but this clears it up.

[2017-01-03 13:23] bil-elmoussaoui commented on #197
@rpbaptist i need to modify the documentation as too many things changed since the latest version... but the new code is more easy to understand than before ;)

[2017-01-03 16:28] wa4557 commented on #243
owncloud switched to qt5 so it cannot work with sni-qt. skype is strange, since it works for me fine...
Bitcoin seems to be either qt4 or qt5 I don't know which version you are using.

[2017-01-03 16:49] bil-elmoussaoui commented on #243
@wa4557 bitcoin in my case is using sni-qt (so it uses qt4) but the right icon is not shown...well, i think the best idea to test all of this is to release a beta version using sni-qt;  but first we need to test how the debugging works

[2017-01-03 19:00] bil-elmoussaoui opened #274 "Use threads"
In order to improve the speed of the script, and as we moved to a more OOP code. I think it's might be cool that each application has its own thread that will fix it icons and kill itself after that.

[2017-01-03 21:32] bil-elmoussaoui commented on #274
On master, here's the difference before threads and after :p
before :
`sudo -E python3 script.py  37,13s user 7,43s system 220% cpu 20,227 total`
after :
`sudo -E python3 script.py  0,83s user 0,07s system 46% cpu 1,945 total`
And here's a list of the applications that was fixed
[code]

[2017-01-03 21:32] #274 closed

[2017-01-04 18:16] bil-elmoussaoui opened #276 "Better backup"
The backups are stored on the same application folder, and if you apply the script on a broken electron application for example, this will backup the broken one which isn't a good idea...
I'm thinking of a better backup system. Each application will have it's own folder under `.config/Hardcode-Tray/` (all the apps except the applications that have the key`ignore_backup`)
under that folder they wil

[2017-01-04 23:49] bil-elmoussaoui commented on #274
Removed the threads for now! it causes too many issues (the threads were used as daemons, and they are killed once the script is done, which causes too many problems with the execution of the script..).
I don't have any idea how to get this done for now.

[2017-01-05 00:17] bil-elmoussaoui commented on #157
I did some digging, repackaging the application is just impossible in to many ways. i was able to rebuilt the Gitter source file using nwbuilder. And it worked correctly, the only problem is that you need to specify the exact nwjs version otherwise it might not work as expected and also, it need to download the nwjs sdk (almost 70mb) which will make it so slow for users that have a slow internet c

[2017-01-05 14:12] orange-buffalo opened #277 "Error while applying icons for Google Play Music Desktop Player"
### Specifications
- Hardcode-Tray version : `3.6.3`
- Distribution : `Ubuntu 16.10, Plasma shell 5.8.5`
- Gtk version : `3.22.5-1ubuntu1~ubuntu16.10.1`
- Inkscape version : `0.91 r13725`
- Sni-qt version: `0.2.7+20161212~8~ubuntu16.10.1`
- Application name :  `Google Play Music Desktop Player`
- Application version : `4.0.5`

### Expected behavior and actual behavior
Expected - icons are applied

[2017-01-05 14:52] #277 closed

[2017-01-05 14:53] bil-elmoussaoui commented on #277
Fixed on master, you can use `hardcode-tray --update-git` and after that, just run the script again ;)

[2017-01-05 15:02] orange-buffalo commented on #277
Works like a charm, thanks a lot for the prompt fix!

[2017-01-05 15:34] bil-elmoussaoui commented on #277
You're welcome! Feel free to report any other issues/improvements :)

[2017-01-06 02:11] bil-elmoussaoui opened #278 "Lyricfier support"
an other electron application :p

[2017-01-06 02:22] SteamEmix opened #279 "New Icons"
Pidgin, Jetbrains Toolbox, Caffeine-ng

[2017-01-06 02:23] varlesh commented on #279
pidgin and caffeine worked from icon theme, hardcode-tray not needed

[2017-01-06 02:25] varlesh commented on #278
It's this https://github.com/emilioastarita/lyricfier ?
Use tray?

[2017-01-06 02:28] bil-elmoussaoui commented on #278
The icons are not hardcoded. They are under `/opt/lyricfier/resources/app/render/img/`
and the icon is `tray-icon-mac.png`

[2017-01-06 02:29] bil-elmoussaoui commented on #278
@varlesh btw, can you get hangouts tray icons support on Papirus?

[2017-01-06 02:30] varlesh commented on #278
for chrome extension?

[2017-01-06 02:32] bil-elmoussaoui commented on #278
Yes, it works like a charm :p

[2017-01-06 02:33] varlesh commented on #278
oh, i see:
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/database/hangouts.json
but need add google-chrome path and ... if extension will be updated, we need again fix path for that?

[2017-01-06 02:33] bil-elmoussaoui commented on #279
Jetbrain Toolbox has everything hardcoded on it's binary :(

[2017-01-06 02:34] varlesh commented on #278
Maybe available electron app for hangouts?

[2017-01-06 02:34] bil-elmoussaoui commented on #278
@varlesh for now, yeah :) but i will figure out how to get this works easily :)

[2017-01-06 02:35] varlesh commented on #278
ok, i'm add hangouts

[2017-01-06 02:38] varlesh commented on #278
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues/254

[2017-01-06 02:41] bil-elmoussaoui opened #280 "Yakyak support"
Yakyak is an other electron application
(Hangouts)
Icons are under `/usr/share/yakyak/app/icons/`
Icons are
- icon-read.png
- icon-unread.png

[2017-01-06 02:43] varlesh commented on #280
i think better use icon names from hangouts for this app:
[code]

[2017-01-06 02:44] bil-elmoussaoui commented on #280
It's what i'm going to do, don't worry ;)

[2017-01-06 02:48] varlesh commented on #280
@bil-elmoussaoui You can show original icon hangouts-working? What it this? It's connecting status or ...?

[2017-01-06 02:52] bil-elmoussaoui commented on #280
![icon_loading_44](https://cloud.githubusercontent.com/assets/7660997/21705949/880e1944-d3c3-11e6-8cb2-d29445b7b727.png)

[2017-01-06 02:54] varlesh commented on #280
ok

[2017-01-06 03:05] varlesh commented on #280
hangouts added:
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/08e1642d7a6d9ce26d0f88d4549e0a86c41e0861
@bil-elmoussaoui please add google-chrome path also

[2017-01-06 03:11] bil-elmoussaoui commented on #280
Will do soon :) as i will have to add the stable,unstable and the beta version of chrome :p

[2017-01-06 03:23] bil-elmoussaoui opened #281 "WeChat support"
https://github.com/geeeeeeeeek/electronic-wechat

[2017-01-06 03:24] varlesh commented on #280
i don't know but maybe need add support for 3-d party apps (chromium based) for example opera or etc...

[2017-01-06 03:24] bil-elmoussaoui commented on #280
I will take a look later ;) for now i will add only chrome and chromium

[2017-01-06 03:25] bil-elmoussaoui opened #282 "Whatsapp Desktop support"
https://github.com/bcalik/Whatsapp-Desktop

[2017-01-06 03:26] bil-elmoussaoui opened #283 "Spotify Electron"
https://github.com/Quacky2200/Spotify-Web-Player-for-Linux

[2017-01-06 03:26] varlesh commented on #282
On Papirus already exist:
[code]

[2017-01-06 03:27] varlesh commented on #283
omg, please stop ;) i'm not have more RAM

[2017-01-06 03:27] bil-elmoussaoui commented on #282
It's an other whatsapp electron app! i will use whatsapp-tray and whatsapp-tray-attention, you can create symlinks for them on Papirus once it's done

[2017-01-06 03:29] bil-elmoussaoui opened #284 "Record desktop"
An other electron application
https://github.com/ewnd9/record-desktop
`/usr/share/recored-desktop/resources/app`
`icon.png`
`icon-recording.png`

[2017-01-06 03:29] bil-elmoussaoui commented on #283
I just took a look at the most starred projects on Github ;) you don't need to add all those icons on Papirus, just the ones asked by the users ;)

[2017-01-06 06:10] varlesh commented on #282
on papirus already exist tray icon `whatsapp-tray`:
https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/01a31af632a41df20ffda2c500d9b157bcf49232

[2017-01-06 07:13] varlesh commented on #281
on papirus already exist icons:
[code]
also program have dark version icons for tray (but this not supported for papirus):
[code]
original icons here:
https://github.com/geeeeeeeeek/electronic-wechat/tree/master/assets

[2017-01-06 14:31] #278 closed

[2017-01-06 14:32] bil-elmoussaoui commented on #281
Fixed! Please don't user -black or -white on tray icon names :p just the tray icon

[2017-01-06 14:32] #281 closed

[2017-01-06 14:36] #280 closed

[2017-01-06 15:43] #282 closed

[2017-01-07 04:35] varlesh commented on #281
@bil-elmoussaoui But other icons we add this option. Maybe we support single standard for this?
I think light/dark, black/white really not needed? because no body use dark icon for app if other tray icons light.
For example:
https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/database/gpmdp.json

[2017-01-07 04:36] bil-elmoussaoui commented on #281
I will take care of that! instead of having dark and light in the icon name i will add an other key with "is_dark": true/false

[2017-01-07 04:38] varlesh commented on #281
But icon names and icons already exist on papirus... will be good if we use single standard for all

[2017-01-07 04:41] varlesh commented on #281
i really not understand why this needed for us! For example you use numix > run hardcode-tray > icons fixed.. ok, you chnage icon theme to numix-dark > run again hardcode-tray - that's all. All worked, all fine!
Why needed this option really? It's сomplicates the implementation of us!

[2017-01-07 04:42] varlesh commented on #281
I'm confused :)

[2017-01-07 04:45] varlesh commented on #281
Why google-play-music-desktop- player have light/dark but wechat not?

[2017-01-07 04:46] bil-elmoussaoui commented on #281
because i'm not the one who added google-play-music ;)

[2017-01-07 04:48] varlesh commented on #281
yes we add gpmdp, but now all icons have different names, it's confused me, other designers, users and etc... we need use single standard for all icons

[2017-01-07 04:48] bil-elmoussaoui commented on #281
Just don't add -dark -light icons at all. I will fix all of that pretty soon :) sorry for that!

[2017-01-07 04:49] varlesh commented on #281
i'm support only light icons, because by default mostly apps use light icons for tray (mostly DE's by default hav dark panel or Ubuntu as standard)

[2017-01-07 04:50] varlesh commented on #281
Fine, we need open new issue and rename all icons on icon theme and database

[2017-01-07 04:51] varlesh opened #285 "Single standard for icon names"
I think need rewrite icon names for electron apps (and others), who contained dark/light version for tray...
Also will bee good use single suffix for name. For example:

- APP-panel
- APP-panel-inactive
- APP-panel-attention
- and etc...

Some apps have suffix **-panel** other **-tray**.
Also -panel suffix will be use by default, because some apps apply this icons for tray only, for example qbitto

[2017-01-07 04:58] bil-elmoussaoui commented on #285
I will follow that ;) And open a PR on Numix icon theme too ;)
Thanks for pointing that out !

[2017-01-07 04:58] varlesh commented on #285
@bil-elmoussaoui yes, we need ask about that main developer on Numix Project

[2017-01-07 05:06] bil-elmoussaoui commented on #285
@Foggalong is quite busy those days.
@palob what do you think about the naming convention of the hardcoded icons?

[2017-01-07 05:10] varlesh commented on #285
For example, form papirus (**-tray** suffix):
[code]
But other icons have -panel suffix also need check light/dark

[2017-01-07 05:19] varlesh commented on #285
Example new icon names:
[code]

[2017-01-07 05:25] varlesh commented on #285
Light:
[code]

[2017-01-07 05:38] varlesh commented on #285
@bil-elmoussaoui i think better rewrite only electron apps with dark/black or light/white suffix icon names

[2017-01-07 05:46] varlesh commented on #285
this have only gpmdp and need delete dark/light suffix:
[code]

[2017-01-07 13:50] palob commented on #285
This is for icons which don't get applied without further ado anyway (due to their hardcodedness), right?

[2017-01-07 16:03] bil-elmoussaoui commented on #285
@palob exactly

[2017-01-08 08:11] varlesh commented on #281
fixed on papirus

[2017-01-08 17:56] bil-elmoussaoui opened #287 "Update wiki"
Wiki is outdated :p

[2017-01-08 21:25] bil-elmoussaoui commented on #285
So i'm going to go with `-tray` for icons; and use `app-tray-status` or `app-tray-attention` for notification.

[2017-01-08 22:07] eldelacajita opened #288 "No icons being replaced"
### Specifications
- Hardcode-Tray version : `v3.6.4`
- Distribution : `Ubuntu Gnome - 16.04.1 LTS 64-bit`
- Gtk version : `3.18.9-1ubuntu3.1`
- Inkscape version : `Inkscape 0.91 r13725`
- Cairo version : `` not installed, AFAIK
- Sni-qt version: `0.2.7+20161212~8~ubuntu16.04.1`
- Application name :  `any`
- Application version : `any`
- I am also using:
-- 'Topicons Plus' shell extension
-- 'Dash

[2017-01-08 22:20] bil-elmoussaoui commented on #288
In order to get, google chrome or chromium tray icons to work you will need to install Hangouts extensions (which will enable the extension of the browser too). I don't know if it's possible to enable it without installing hangouts :p

Insync, should not have a problem with tray icons. For the rest, we might need the icons path or the installation path of those applications.
For Dropbox : Open Nau

[2017-01-09 10:45] varlesh opened #290 "errors with inkscape 0.92"
It's happened with new version inkscape **0.92**,
icons fixed, but show more errors:
[code]
with inkscape 0.91 no errors

[2017-01-09 16:06] bil-elmoussaoui commented on #290
It's inkscape :( I can hide them if you wish!

[2017-01-09 17:21] bil-elmoussaoui commented on #283
Fixed

[2017-01-09 17:21] #283 closed

[2017-01-09 18:28] SteamEmix commented on #279
varlesh
Well, I have something not working

[2017-01-09 18:37] bil-elmoussaoui commented on #279
Please provide the information asked for on the issue template... Otherwise I can't reproduce your issue in order to fix it

[2017-01-10 09:34] iwex commented on #256
@varlesh @bil-elmoussaoui i've reinstalled my ubuntu, and now I cant make it work :) It's not showing gpmdp in "Applying now.." list.
How can I debug it? Thanks)

Ubuntu 16.04

[2017-01-10 09:37] varlesh commented on #256
@iwex :
[code]

[2017-01-10 09:38] varlesh commented on #256
we change icon name https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/0e6ab338dfcd06e285c4c5fab96717b8b8501b93

[2017-01-10 18:24] bil-elmoussaoui commented on #290
Those errors are now hidden! Once it's fixed upstream i will revert this "hacky" fix ;)

[2017-01-10 18:24] #290 closed

[2017-01-10 18:24] bil-elmoussaoui commented on #288
@eldelacajita ping?

[2017-01-10 18:43] bil-elmoussaoui commented on #287
Done! Still might need some improvements in the future ;)

[2017-01-10 18:43] #287 closed

[2017-01-10 18:52] bil-elmoussaoui commented on #243
@wa4557 I'm going to merge your fix for sni-qt icons to master and release a new version. And we fix the issues that the users will report ;)

[2017-01-10 19:49] bil-elmoussaoui commented on #243
On master! i'm going to create an AUR package for the pached version of sni-qt

[2017-01-10 19:49] #243 closed

[2017-01-10 20:11] eldelacajita commented on #288
I'm back! Here is what I got:

- Telegram: it's now working, after a reboot.
- Dropbox: the files are where you said, under `/home/user/.dropbox-dist/dropbox-lnx.x86_64-16.4.30/images/hicolor/16x16/status`. I am not sure if the icon I'm seeing now is the replaced one. Is it?

![captura de pantalla de 2017-01-10 21-04-22](https://cloud.githubusercontent.com/assets/2880679/21822869/3667fccc-d779-11e

[2017-01-10 20:21] bil-elmoussaoui commented on #288
@eldelacajita I've pushed a new version that should fix your issue with MegaSync, just use `hardcode-tray --update-git` and run the script again. Restart MegaSync and see if it works!
For Dropbox, can you paste a screenshot of the content of this folder? It seems that Hardcode-tray does not detect the dropbox icons path

[2017-01-10 20:21] eldelacajita commented on #288
BTW, this bug is no longer true, as some icons were indeed replaced. If you prefer we can close this one and open a new one just for Megasync. Just to keep things tidy.

[2017-01-10 20:21] bil-elmoussaoui commented on #288
@eldelacajita is the dropbox issue fixed too?

[2017-01-10 20:30] eldelacajita commented on #288
Not yet, just saw your reply after my last comment, sorry.

This is the content of the `/home/user/.dropbox-dist/dropbox-lnx.x86_64-16.4.30/images/hicolor/16x16/status` folder.

![captura de pantalla de 2017-01-10 21-25-32](https://cloud.githubusercontent.com/assets/2880679/21823499/841818e2-d77b-11e6-870f-9532ded091a4.png)

I tried your command for updating, but I get a 'command not found' error:

[2017-01-10 20:33] bil-elmoussaoui commented on #288
Ok, i'm going to add some logging information in order to get this right ;)
Can you go to `cd /opt/Hardcode-Tray` and then run `sudo -E python3 script.py --only megasync`

[2017-01-10 20:47] bil-elmoussaoui commented on #288
Under this folder /home/user/.dropbox-dist/ you have a VERSION file. What's the content of it?

[2017-01-10 21:15] bil-elmoussaoui commented on #288
I've added some debug options. Run the script again using `sudo -E python3 script.py --only dropbox --debug`

[2017-01-10 22:36] #276 closed

[2017-01-10 22:37] eldelacajita commented on #288
17.4.33

This is what I got:

[code]
Megasync icon remains the same, though.

It shows a man page and says `Hardcode-Tray: error: unrecognized arguments: --debug`. Before doing this, I updated, and the sni-qt and sni-qt:i386 packages were upgraded, but not the hardcore-tray one. Is that right?

Thanks for your patience ;)

[2017-01-10 22:38] bil-elmoussaoui commented on #276
On master now! please before you upgrade revert your applications using the old version. This way, you will still get your backups once you apply again using the latest version of the script.
One thing i hate about this new system, is that can use a lot of your disk space. Don't forget to remove old backups manually from time to time.

[2017-01-10 22:40] bil-elmoussaoui commented on #288
sni-qt updates automatically whenever we push something new to github. Which is not the case with hardcode-tray as some commits might break your system (not really, but might break some apps instead of fixing them)
The debug version was just added. You should update to the github version using `hardcode-tray --update-git` first, which will download the latest version of hardcode-tray that includes

[2017-01-10 22:42] bil-elmoussaoui commented on #288
Well, i've got what causes this issue on your dropbox installation. The version file does not containt the right value; Either you change it manually to `16.4.30` or use `hardcode-tray --only dropbox --path home/user/.dropbox-dist/dropbox-lnx.x86_64-16.4.30/images/hicolor/16x16/status/`
which will fix your icons ;)
anyway i will push a better fix for dropbox right now!

[2017-01-10 23:04] eldelacajita commented on #288
Right! As I was getting an 'unknown command' error everytime I run `hardcode-tray`, I just uninstalled and reinstalled it, run the --update-git option (which went fine) just to be sure, and then tried the `sudo -E python3 script.py --only dropbox --debug` script again.

Now I got this:

[code]

I tried both changing the version file or using `hardcode-tray --only dropbox --path home/user/.dropbox-

[2017-01-10 23:08] bil-elmoussaoui commented on #288
is `user` you real username? if not, you should use `hardcode-tray --only dropbox --path home/YOURREALUSERNAME/.dropbox-dist/dropbox-lnx.x86_64-16.4.30/images/hicolor/16x16/status/` instead ;)

[2017-01-11 05:16] bil-elmoussaoui opened #291 "Vivaldi icon support"
Vivaldi is based on chromium too! and so it uses a tray icon. i tried to use the same icon name as chromium or google-chrome but it does not work.
@wa4557 do you still have that old code that we used to extract pak files? so i can take a look at the exact file name! Thanks

[2017-01-11 05:17] varlesh commented on #291
icon name?

[2017-01-11 05:25] bil-elmoussaoui commented on #291
Fixed! The icon name is `vivaldi-tray`

[2017-01-11 05:25] #291 closed

[2017-01-11 05:28] bil-elmoussaoui commented on #291
@varlesh Have you tried the new backup/revert system? I'm not sure if it's that good! if you have any ideas to improve it..

[2017-01-11 05:35] varlesh commented on #291
oh, no i'm not tried... maybe later, I'm now draw icons ;)

[2017-01-11 07:06] bil-elmoussaoui opened #292 "simplescreenrecorder"
It uses qt icons on my system, seem to be compiled using qt4 (as the folder is on /tmp)

[2017-01-11 07:07] varlesh commented on #292
ssr use icons for tray from icon theme, not hardcoded

[2017-01-11 07:10] bil-elmoussaoui commented on #292
Ah never mind :p

[2017-01-11 18:08] SteamEmix commented on #279
![111](https://cloud.githubusercontent.com/assets/4332540/21860521/a5da790c-d839-11e6-9c9e-3082717bd817.png)

[2017-01-11 18:23] bil-elmoussaoui commented on #279
@SteamEmix i need more than just a screenshot :) it would be cool if you can provide the informations asked for once you create a new issue (gtk version, icon theme, distro, desktop env...) otherwise i can't help you fix that ;)

[2017-01-11 18:55] SteamEmix commented on #279
@bil-elmoussaoui
 Hardcode-Tray version : v3.6.4
Distribution : Arch Linux KDE 64-bit
Plasma version : 5.8.5-1
I am also using:
-- Breeze dark theme
-- Papirus-Dark icon theme
-- Capitaine cursor theme

Properly and the all the information I provided? :))

[2017-01-11 19:15] bil-elmoussaoui commented on #279
Perfect! just need the applications versions so i can install them on my system and see how to fix that ;) anyway, jetbrains toolbox is a won't fix as we can't modify the binary's files

[2017-01-11 21:24] wa4557 commented on #243
That's cool! Do you know where the logs are stored?

[2017-01-11 21:39] SteamEmix commented on #279
@bil-elmoussaoui
Sorry but I just started to use and do github not fully know how to describe it :) and narahunok jetbrains tulboh nychoho okay :)) Consider the second time and will properly describe it :))

[2017-01-11 21:43] bil-elmoussaoui commented on #279
@SteamEmix it's okay :) all i need is the the application version so i can test that?

[2017-01-11 22:02] bil-elmoussaoui commented on #243
Just run the application using terminal and you will have something like this
[code]
We just need to add more debug information like the icon name used by the application

[2017-01-11 22:04] eldelacajita commented on #288
Yes! I was replacing 'user' with my actual username all this time, I promise xD

[2017-01-11 22:11] bil-elmoussaoui commented on #288
Is it working now? For megasync, can you run `megasync --debug` and paste the output here so i can see if it's using qt4 or qt5?

[2017-01-11 22:19] bil-elmoussaoui commented on #243
@wa4557 btw bitcoin is working perfectly now! except TeamViewer and Skype, everything works as expected except the qt5 apps

[2017-01-11 22:34] bil-elmoussaoui commented on #163
with the latest version of sni-qt it's possible to debug this much more easier. Just update to the latest sni-qt, and run teamviewer once the gui is open click on the tray and then "open log files...". After that you can easily get the log of the gui, on the `gui` file.

[2017-01-11 22:37] bil-elmoussaoui commented on #226
@Foggalong Qt5 dropped the support of sni-qt, and we won't be able to support those applications (at the moment). So, it's a different issue that should be opened instead of this one for Qt5 support. It seems that they use http://packages.ubuntu.com/trusty/libdbusmenu-qt5-dev to draw the tray. But no idea if they do use the same library to draw tray icons too!
I will close this and open a proper i

[2017-01-11 22:38] bil-elmoussaoui opened #293 "Qt5 support"
Is there any possible way to patch the qt5 too? this will be hard thing to do i guess but let's see ;)

[2017-01-11 22:48] SteamEmix commented on #279
@bil-elmoussaoui
I meant that I will now correctly execute :))

if you have inmind version of Pidgin 2.11.0 it
if you need any more then I tell you to write

[2017-01-11 22:52] bil-elmoussaoui commented on #244
Forgot to close this ;) the code is for now much more easier to debug/understand than before!

[2017-01-11 22:52] #244 closed

[2017-01-12 00:34] #284 closed

[2017-01-12 00:44] bil-elmoussaoui commented on #292
@varlesh it's a qt application and uses sni-qt;) just tested that on elementary. If you already provide those icons, can you please give me the icon names?

[2017-01-12 00:59] bil-elmoussaoui commented on #292
The application do create a tmp file as all the sni-qt applications but it uses icons from theme. It's something we can change from sni-qt which will fix some broken icons for Numix theme (it uses the same indicator name as the icon name)

[2017-01-12 01:07] bil-elmoussaoui opened #294 "Insync"
Seems that insync fallback to the sni-qt too and use it to draw tray icons using the icons from the theme. Which does not found all the time.
[code]
It would be really cool if we can figure out how debug this more as those icons does not work with Numix at all...It seems to be the same issue as #292

[2017-01-12 08:53] rpbaptist commented on #288
I have the same issue with dropbox-lnx.x86_64-17.4.33.

Choosing the path didn't work. I think this happened after a dropbox update as it was working before. I just copied the files manually now.

[2017-01-12 15:01] wa4557 opened #295 "Error for zip files"
something wrong with the backup directory? (Just a quick reminder I can elaborate further later)

Traceback (most recent call last):
  File "script.py", line 320, in <module>
    install(fix_only, icon_path)
  File "script.py", line 205, in install
    app.install()
  File "/opt/Hardcode-Tray/modules/applications/zip.py", line 63, in install
    self.install_symlinks()
TypeError: install_symlinks(

[2017-01-12 15:23] wa4557 commented on #243
Weird. Just downloaded megasync and run it using the script. I don't see anything at the terminal..

[2017-01-12 15:48] bil-elmoussaoui commented on #243
You should use --debug

[2017-01-12 15:51] bil-elmoussaoui commented on #295
Ah jts an easy fix ! I will do that right now

[2017-01-12 19:57] #295 closed

[2017-01-13 02:44] bil-elmoussaoui commented on #288
I will see what can i do about this tomorrow ;)

[2017-01-13 02:47] bil-elmoussaoui commented on #288
You can now fix it using `--path` i will fix the autodetecting of the path as soon as i can

[2017-01-13 06:52] bil-elmoussaoui commented on #288
The dropbox issue is now fixed on master. You can either  wait for a new version or update to the git version using `hardcode-tray --update-git`
@eldelacajita if you still have an issue with MegaSync please open a new issue with more detailed information; like the application version and also try running `megasync --debug` in order to help us check whether the application in your case is using Qt4

[2017-01-13 06:52] #288 closed

[2017-01-13 07:50] bil-elmoussaoui commented on #279
Pidgin is not hardcoded at all, it using the icon theme. I checked the source code and tried with the same version as you. using both Papirus and Numix. If the icon theme you're using does not provide the tray icon please report it upstream. Closing

[2017-01-13 07:50] #279 closed

[2017-01-13 08:02] varlesh commented on #292
numix have icons for ssr:
![image](https://cloud.githubusercontent.com/assets/8083855/21922475/32323152-d988-11e6-9bfb-189027f31a2d.png)

[2017-01-13 08:21] bil-elmoussaoui commented on #292
@varlesh I know, but the application never use them. It uses the circle icon instead
![capture du 2017-01-13 09-21-26](https://cloud.githubusercontent.com/assets/7660997/21922970/ba912ef2-d971-11e6-9d5c-db13822b1865.png)

[2017-01-13 08:23] varlesh commented on #292
need icon `simplescreenrecorder-panel`

[2017-01-13 08:25] varlesh commented on #292
suffix **-panel** worked for Qt-apps, for example this worked with vlc, qbittorrent and etc...

[2017-01-13 08:26] varlesh commented on #292
with papirus:
![image](https://cloud.githubusercontent.com/assets/8083855/21923104/89f2720a-d98b-11e6-98df-58e39017fce5.png)

[2017-01-13 08:30] bil-elmoussaoui commented on #292
I know it works with Papirus, but it won't work correctly with Numix as Numix separate the base theme from the application theme

[2017-01-13 08:31] varlesh commented on #285
i'm close this issue, because all worked - it's main! And i don't want rewrite icon names - that very long work and tiresome

[2017-01-13 08:31] #285 closed

[2017-01-13 08:32] varlesh commented on #292
open request for new icon for Numix - `simplescreenrecorder-panel`

[2017-01-13 08:33] varlesh commented on #292
Why need draw code if easier draw icon?!

[2017-01-13 08:35] bil-elmoussaoui commented on #292
I think you misunderstood everything. Those icons already exists on Numix; We have renamed them to `renamed-xxx` as that does not work correctly. Check it by yourself and you will understand https://github.com/numixproject/numix-icon-theme/issues/190

[2017-01-13 08:40] varlesh commented on #292
This icon not exist:
https://github.com/numixproject/numix-icon-theme/tree/master/Numix/22/panel

[2017-01-13 08:42] varlesh commented on #292
On Papirus:
[code]

On Numix:
[code]

[2017-01-13 08:50] varlesh commented on #253
i'm not see tray icons for Temps:
![image](https://cloud.githubusercontent.com/assets/8083855/21923656/bbb611e0-d98e-11e6-8f3a-2a37b90db92d.png)
Ubuntu 16.04 Unity
Temps 0.7.0

[2017-01-13 09:20] bil-elmoussaoui commented on #292
@varlesh https://github.com/numixproject/numix-icon-theme/blob/master/Numix/24/status/renamed-simplescreenrecorder.svg

[2017-01-13 09:22] bil-elmoussaoui commented on #253
![capture d ecran de 2017-01-13 10-21-11](https://cloud.githubusercontent.com/assets/7660997/21924620/3c0be028-d97a-11e6-8d78-a04b4b50241b.png)

[2017-01-13 09:25] varlesh commented on #292
omg... i mean **QSystemTrayIcon** if available icon with suffix **-panel** > this icon used for PANEL only.
Create symlink **simplescreenrecorder-panel** on Numix and check this.
renamed-simplescreenrecorder.svg it's will be  simplescreenrecorder.svg, but i mean simplescreenrecorder-panel... Suffix -panel worked for QSystemTrayIcon only... but maybe for not all apps

[2017-01-13 09:27] varlesh commented on #292
It's worked for Papirus why not for Numix? I have too 22px and 24px simplescreenrecorder icon
![image](https://cloud.githubusercontent.com/assets/8083855/21924802/0e67fbf6-d994-11e6-9739-e459f76d60f5.png)

[2017-01-13 09:27] bil-elmoussaoui commented on #292
Try it by yourself using Numix theme and you will what i'm talking about ;) Anyway this won't change anything for Papirus as you have those icons and it works just fine

[2017-01-13 09:33] varlesh commented on #292
it's problem Numix, but not harcode-tray... they must add new icon
It's worked for Numix too:
![image](https://cloud.githubusercontent.com/assets/8083855/21925006/ebed0fe8-d994-11e6-9e29-bfb3526847dd.png)

[2017-01-13 09:37] bil-elmoussaoui commented on #292
As i said before, check the issue link i gave you ;)
![capture d ecran de 2017-01-13 10-36-31](https://cloud.githubusercontent.com/assets/7660997/21925108/3b17057e-d97c-11e6-9c14-528fb6b07e3d.png)
As you can see it's not working even if i have added those icons from an old version of Numix and updated the icon cache

[2017-01-13 09:40] varlesh commented on #292
Maybe it's Gnome bug? Because on Unity this working

[2017-01-13 09:43] bil-elmoussaoui commented on #292
It's not a gnome bug, Gnome does not draw tray icons. And It's a Qt bug, because it does not get the right icon name(not follow the Inherits in the index.theme file). So if you copy the panel icons and move them to an other theme for example hicolor and you use Papirus that inherits from that theme those icons won't work as expected. The guys from Numix did tests with almost every DE out there and

[2017-01-13 13:54] wa4557 commented on #163
Ok interesting behaviour: teamviewer seems to use sni-qt (in the debug logs sni-qt messages are present), but obviously not the one we install, because if I add custom debug messages they do not show up in the log.

I think it is just a matter of finding the right library

[2017-01-13 13:56] bil-elmoussaoui commented on #163
Do you get those log message using megasync --debug?

[2017-01-13 13:57] wa4557 commented on #163
Yes

[2017-01-14 09:14] eldelacajita opened #296 "Megasync"
### Specifications
- Hardcode-Tray version : `v3.6.4`
- Distribution : `Ubuntu Gnome - 16.04.1 LTS 64-bit`
- Gtk version : `3.18.9-1ubuntu3.1`
- Inkscape version : `Inkscape 0.91 r13725`
- Cairo version : `` not installed, AFAIK
- Sni-qt version: `0.2.7+20161212~8~ubuntu16.04.1`
- Application name :  `any`
- Application version : `any`
- I am also using:
-- 'Topicons Plus' shell extension
-- 'Dash

[2017-01-14 14:38] wa4557 commented on #163
Ok one step forward to steps back: Teamviewer is still using the same library (if I put debug messages very early in the program they show up), but the methods in `iconcache.cpp` are never called. Somewhere something has to go wrong

[2017-01-14 14:48] bil-elmoussaoui commented on #163
@wa4557 Skype does not provide any possible way to do that, we just need to figure out where to log files are stored

[2017-01-14 14:50] wa4557 commented on #163
If we figure out why teamviewer is not working I guess skype will start to work as well

[2017-01-14 15:21] bil-elmoussaoui commented on #296
@wa4557  Do you have any idea why this message is shown on his log?
[code]

[2017-01-14 15:30] wa4557 commented on #296
no not really. Not sure this is related to the icon not shown :/

[2017-01-14 15:33] bil-elmoussaoui commented on #242
Done. The aur packages are [lib32-sni-qt-patched-git](https://aur.archlinux.org/packages/lib32-sni-qt-patched-git/) and [sni-qt-patched-git](https://aur.archlinux.org/packages/sni-qt-patched-git/)

[2017-01-14 15:33] #242 closed

[2017-01-14 15:35] bil-elmoussaoui commented on #296
@eldelacajita What's the version of megasync you're using? and from you've got it /download it

[2017-01-14 15:36] bil-elmoussaoui commented on #251
@KottV Do you have any update on this?

[2017-01-14 15:50] bil-elmoussaoui commented on #293
I did some digging and it's seems that Qt5 uses this to implement tray icons https://doc.qt.io/qt-5/qsystemtrayicon.html

[2017-01-14 16:08] bil-elmoussaoui commented on #296
@wa4557 https://bugs.dogfood.paddev.net/ubuntu/+source/sni-qt/+bug/1168554 this is related to sni-qt :( and in my case it forces the icons to use non themed icons. Using Archlinux, Insync is not able to start at all (got that from the logs)

[2017-01-14 16:12] bil-elmoussaoui commented on #296
Ok, this happens only when you're using Gnome!

[2017-01-14 16:46] eldelacajita commented on #296
@bil-elmoussaoui I have the latest version downloaded from the [website](https://mega.nz/#sync).

Version is `MEGAsync v2.9.10 (2c928)`

[2017-01-14 16:55] wa4557 commented on #296
Ok, I guess it means that some function call fails and never reaches the method that looks for the custom icons.

[2017-01-14 16:59] bil-elmoussaoui commented on #296
@wa4557 it seems that the dbus service used to draw icons is not available somehow on Gnome. I've asked on iirc and still waiting for an answer on how we can fix this; anyway it's a sni-qt issue!

[2017-01-15 22:29] bilelmoussaoui opened #297 "Can we replace icons in binary apps?"
I was doing some tests in order to fix some sni-qt issues and i created a python code that replaces specific png files in a binary file. Which includes skype, or any other application that has it icons hardcoded in the binary file.
And i'm wondering if we have the right to do that? Will that cause us any problem?
i've tried my code with skype, Jetbrains Toolbox, OBS, and OwnCloud using Qt5. This d

[2017-01-16 03:16] bil-elmoussaoui commented on #292
Shouldn't happen anymore once my PR is merged upstream, the new icon name will be `simplescreenrecorder-indicator`

[2017-01-16 03:16] #292 closed

[2017-01-16 05:26] KottV commented on #251
Sorry for no activity.
I'm afraid i missed the point what should i give:)
as i said, sni-qt is in my repo: https://software.opensuse.org/search?q=sni-qt-patched&baseproject=ALL
you can add this link to README
it still not pushed to main repo, and i didn't start preparing opensuse-specific hardcode-tray, due quick changes, some issues, and my laziness - first of all

[2017-01-16 07:33] ebeem opened #298 "google-chrome is not detected"
### Specifications
- Hardcode-Tray version : `v3.6.5`
- Distribution : `Ubuntu 16.04`
- Gtk version : `2.0, 3.0`
- Inkscape version : `0.91 r13725`
- Sni-qt version: `0.2.8-0~81`
- Application name :  `google-chrome`
- Application version : `55.0.2883.87`

### Expected behavior and actual behavior
google chrome is not detected as an installed app, /opt/google/chrome
note: I do have 'resources.pak'

[2017-01-16 16:11] bil-elmoussaoui commented on #298
Which theme are you using? the application is detected by the theme you're using does not have a proper tray icon for Google chrome

[2017-01-16 16:14] ebeem commented on #298
I use Numix-Circle, I think it does provide an icon right?

[2017-01-16 16:38] bil-elmoussaoui commented on #298
Yeah it does, but are you using the latest version of both Numix Circle and Numix icon theme(the base theme) ? Just go to `/usr/share/icons/Numix` and look for `google-chrome-tray`

[2017-01-16 16:51] ebeem commented on #298
ops, now I feel stupid, sorry bro, my bad.
It's as you said, the Numix icons were not updated, I performed an update and everything works fine now

Thank you so much!!

[2017-01-16 16:53] bil-elmoussaoui commented on #298
Not a problem! Feel free to open new issues if you have any problem in the future ;)

[2017-01-16 16:53] #298 closed

[2017-01-16 16:56] bil-elmoussaoui commented on #251
@KottV Well, the patched sni-qt in your repo is using the old patched version. We have our own repo and we have updated the patched version to include svg icons support and some other stuff ;) so it would be cool if you can switch to our repository instead!

[2017-01-17 04:05] KottV opened #299 "FileNotFoundError:"
With latest git or latest release i got:
[code]
No lead slash in home path. I "fixed" this in script, but then got:
I think this is error in my current install (last openSUSE TW update broke smth in python)
[code]

[2017-01-17 04:13] bil-elmoussaoui commented on #299
As you can see here https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/modules/const.py#L32
It's impossible that your home path does not have `/` at the beginning of it.
Either you're using an old version of the script or something is broken in your system.

Can you try uninstalling the script and installing it again ? https://github.com/bil-elmoussaoui/Hardcode-Tray#manual-install This

[2017-01-17 04:18] KottV commented on #299
i agree, something is broken =/

[2017-01-17 04:18] bil-elmoussaoui commented on #299
Anyway, it seems that Gtk is not able to detect something `(script.py:11219): Gtk-CRITICAL **: gtk_icon_theme_get_for_screen: assertion 'GDK_IS_SCREEN (screen)' failed` has nothing to do with my code. See the error here https://stackoverflow.com/questions/15270251/gtk-init-failed-unexpected

What's your python version? Same for Gtk version?

[2017-01-17 04:23] KottV commented on #299
python 3.5.1
gtk 2.24.31 and 3.22.6

it's definitely my python issue, cause bzr tool is broken too now

[2017-01-17 18:34] AndydeCleyre opened #300 "Icons are too small, and not crisp -- Plasma"
### Specifications
- Hardcode-Tray version : `3.6.5`
- Distribution : `Arch`
- Gtk version : `3.22.6`
- Inkscape version : `0.92.0`
- Cairo version : `1.14.8`
- Sni-qt version: `None`
- Application name :  `hexchat`, `telegram`, `slack`
- Application version : `2.12.4`, `1.0.0`, `2.3.4`

### Expected behavior and actual behavior

Expected icons that match the other panel icons in size and quality.

[2017-01-17 18:36] varlesh commented on #300
on plasma used only 22px for tray

[2017-01-17 22:30] AndydeCleyre commented on #300
@varlesh are you acknowledging a part of the problem that needs fixing, or stating that the behavior is as intended?

[2017-01-17 22:32] bil-elmoussaoui commented on #300
@AndydeCleyre You just need to use `hardcode-tray --size 22` instead of 24

[2017-01-19 02:33] bil-elmoussaoui commented on #300
Ping?

[2017-01-19 02:43] AndydeCleyre commented on #300
@bil-elmoussaoui This is what it looks like after

[code]

![image](https://cloud.githubusercontent.com/assets/1787385/22091823/24e67970-ddc7-11e6-95d7-5a9b164f6b5a.png)

[2017-01-19 02:53] bil-elmoussaoui commented on #300
As i've never used KDE before, what does this
[code]
?
Is it for scaling the icons ?

[2017-01-19 17:02] bil-elmoussaoui opened #301 "Auto detect hangouts"
We should make it by default otherwise we will have to release a new version of the script whenever Hangouts gets a new release...
Edit, should use a script based on dropbox one ;)

[2017-01-19 17:20] bil-elmoussaoui opened #302 "Improve replace colors"
For now, you should give the exact hex colors in order to replace them; Because we use the simply replace method. We should move to using Regex instead.
Should be done here https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/modules/utils.py#L318

also if the user uses `--replace-colors "#fff #000"` and there's only `#ffffff` defined in the SVG file, it will break the things, so we should

[2017-01-19 22:15] AndydeCleyre commented on #300
Yes, it changes the size of tray icons; see https://www.reddit.com/r/kde/comments/55yyia/kde_58_system_tray_icons_small/

[2017-01-20 00:28] bil-elmoussaoui commented on #300
Ah so you have a high DPI screen? If it's case, I think that you should try with a much higher size like 48 or something like that ;) anyway it's not supported at the moment as I've limited the sizes to 16, 22, 24! I would like to implement a proper support for that if you can test it :) I will create a test branch just for you . Are you Okey with that ?

[2017-01-20 00:53] AndydeCleyre commented on #300
I don't have any high dpi screens, just 1920x1080. I'm happy to test anything.

[2017-01-20 00:55] bil-elmoussaoui commented on #300
Ok, i will need you to estimate the size of the other icons that looks correctly on your screen. Is the `Iconsize=2` means that you should double the icon size? If it's the case, i think i should also support the scaling on Gnome

[2017-01-20 00:58] AndydeCleyre commented on #300
I'm not sure, I'll see if I can find out later. In my own scripts to replace the telegram icons, I just rendered an svg as 256x256 pngs, and that looked fine to me.

[2017-01-20 01:12] bil-elmoussaoui commented on #300
I can't just render 256x256 pngs for everyone ;) I will have to get this done only when needed! For now, i'm quite busy! i will give it a shot (i will install KDE for the first time on my life!). Should be done by the end of this month :+1:
For now, if you wish to fix that by yourself. Just go to /opt/Hardcode-Tray and open script.py using your default text editor, go here and add 256 https://gith

[2017-01-20 01:20] bil-elmoussaoui opened #303 "PB for desktop support"
An other electron application
https://github.com/sidneys/pb-for-desktop

[2017-01-20 04:44] abouvier commented on #239
@bil-elmoussaoui Can you fix it in [keepassxc](https://github.com/keepassxreboot/keepassxc)? It's a more up to date fork, and it's on GitHub :p

[2017-01-20 04:45] AndydeCleyre commented on #300
Here's the result of

[code]

![image](https://cloud.githubusercontent.com/assets/1787385/22136225/30b14c96-dea1-11e6-8f70-b603d0974c09.png)

Maybe related to the comment from @varlesh , still waiting to hear back from him on the 22px business.

[2017-01-20 08:23] varlesh commented on #300
Papirus svg-based icon theme. SVG - vector image. What you want from me?
Report bug on KDE

[2017-01-20 09:40] varlesh commented on #300
@AndydeCleyre Tray icons on Plasma used only 22px, see sources on Breeze. More icons contained on plasmashell theme - volume, klipper, network and etc...
 If you want use not blurred icons on panel > reduce panel size for 22px icons... yes, apps icons will be tiny, but tray not blurred...
Also for app you can use dock or another panel

[2017-01-20 09:45] varlesh commented on #300
For non-blurred icons need reduce panel size, because on Papirus available only icons for 22px and 24px.
But icons - vector you can change panel size for use another size > 44px, 48px, 96pz, 192px and etc...
and not forgot some apps converted to png - telegram use png-icons for tray.

[2017-01-20 10:32] bil-elmoussaoui commented on #239
@abouvier I will take a look, they seem to have the exact same issue as the older version of keepassx. I will see what i can do ;) i might fix it upstream which is much more better :+1:

[2017-01-20 11:44] #303 closed

[2017-01-20 11:44] #301 closed

[2017-01-20 11:44] #302 closed

[2017-01-20 15:50] wa4557 commented on #163
I just figured out how to make teamviewer work again...

If you add this icon `TVGuiDelegate_3524_cbdf5ff3eb7755ddd146a5b81f94b925-panel` to `/usr/share/Numix/` the correct icon is shown (this works also with all other icons).

So teamviewer is using a themed icon, with a very weird name

[2017-01-20 15:56] bil-elmoussaoui commented on #163
@wa4557 so what should we do about this? :(

[2017-01-20 16:00] bil-elmoussaoui commented on #163
@wa4557 Can you try with something else ? like Megasync or any other Qt application ?

[2017-01-20 16:05] bil-elmoussaoui commented on #163
Btw, i guess this is somehow related https://github.com/bil-elmoussaoui/sni-qt/blob/565f89281197a867c23bc8871e1389b502a3e5ef/src/iconcache.cpp#L90

[2017-01-20 16:09] wa4557 commented on #163
It only works with teamviewer. The other icons are picked from `/tmp` megasync. You should try skype (which is using icons from `tmp` for me)

[2017-01-20 16:16] wa4557 commented on #163
It is even worse because, the number 3524 changes everytime you open teamviewer `TVGuiDelegate_3524_cbdf5ff3eb7755ddd146a5b81f94b925-panel`

[2017-01-20 16:21] wa4557 commented on #163
Btw: with this command `dbus-send --type=method_call --print-reply --dest=com.canonical.indicator.application /com/canonical/indicator/application/service com.canonical.indicator.application.service.GetApplications` we can get the correct icon informations

[2017-01-20 16:25] bil-elmoussaoui commented on #163
I will take a look for skype, it must be the same case as teamviewer. Btw what do you think about this #297 ?

[2017-01-20 16:30] wa4557 commented on #297
I don't see a reason why not, if it works. I would say we should try everything else first, but if that is the only way to change I would say it is ok. Licencing stuff might be a problem though for not FOSS software

[2017-01-20 16:40] bil-elmoussaoui commented on #163
It shows up as you explained for TeamViewer :( btw, skype does not show the tray icon anymore here i don't know why...

[2017-01-20 16:48] wa4557 commented on #163
But that's not necessarily a bad thing. We just have to figure out where teamviewer get its icon, and change the name

[2017-01-20 23:22] bil-elmoussaoui commented on #296
@wa4557 got some good news about this! it seems that the dbus service `"org.kde.StatusNotifierWatcher"` was replaced all over the distros in order to follow org.freedesktop. The new dbus service is  `org.freedesktop.StatusNotiferItem` Compiling when i replace the dbus service name works just fine, no issues but the icons does not work :p

[2017-01-21 17:35] JanSimek commented on #288
I am using Arch with hardcode-tray 3.6.5 and my dropbox icon looks like this: ![dropbox icon](http://i.imgur.com/75cnICQ.png)

[code]

Was it fixed for you @eldelacajita ?

[2017-01-21 18:04] bil-elmoussaoui commented on #288
@JanSimek You should use git version. Try using this `hardcode-tray --update-git` and after that `hardcode-tray --only dropbox --apply --debug`

[2017-01-21 18:54] bil-elmoussaoui commented on #300
@AndydeCleyre Ok, I just did some research and it seems that KDE will scale whatever icons you're using to a different size. So if you're using Png icons with the right size that should be used, they will be scaled up/down whatever it's original size which makes them look blurry...
Just disable the scaling and use =1, report this upstream and hope to see this fixed soon! the same issue happens wit

[2017-01-22 09:58] JanSimek commented on #288
I was already using hardcode-tray-git from AUR, but I did as you said and even tried manually installing from git, but I got the same result unfortunately.

[code]

[2017-01-22 10:02] bil-elmoussaoui commented on #288
@JanSimek It's not an issue anymore, in your first comment the dropbox path was not detected and now it is! Your current theme is not detected correctly. As you can see in the information provided by the script. `Your current icon theme is : Adwaita` I assume you're using Papirus? If it's the case just use `hardcode-tray --theme Papirus --only dropbox --apply` which will override the automatically

[2017-01-22 10:04] bil-elmoussaoui commented on #288
@JanSimek  https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/FAQ#default-theme-is-not-correctly-detected

[2017-01-23 04:29] KottV commented on #299
I have to reopen this issue.
Problem was in python2 installation. All python3 programs works well, except hardcode-tray:
[code]

[2017-01-23 04:30] bil-elmoussaoui commented on #299
Can you try adding `--debug` flag and paste the output here?

[2017-01-23 04:35] KottV commented on #299
[code]

[2017-01-23 04:38] bil-elmoussaoui commented on #299
Fixes that right now! i forgot to update the Tomahawk json file to follow the latest version of the code! Sorry for that; Just update to git version `hardcode-tray --update-git` and it should work fine :)

[2017-01-23 04:42] KottV commented on #299
Unfortunately same error (

[2017-01-23 04:45] bil-elmoussaoui commented on #299
Can you do as i proposed just before? this way i can know which application database is causing this.

[2017-01-23 04:49] KottV commented on #299
Damn, my fault (i ran from my ~/src dir, while scripts still looking at /opt). Sorry, this error is fixed.
But i have nice new one :)

[2017-01-23 04:50] #299 closed

[2017-01-23 04:50] bil-elmoussaoui commented on #299
Just open a new issue and i will fix it ;)

[2017-01-23 04:55] KottV opened #304 "[ERROR] b"chmod:"
### Specifications
- Hardcode-Tray version : `git`
- Distribution : `openSUSE TW`
- Gtk version : `2.24.31 and 3.22.6`
- Inkscape version : `0.91`
- Cairo version : `1.15.4`
- Sni-qt version: `git`
- Application name :  `all sni-qt based`
- Application version : `latest`

### Expected behavior and actual behavior
added theme icons in ~/.local/share/sni-qt/icons/<app>/<size>

[code]
### Steps to re

[2017-01-23 04:56] bil-elmoussaoui commented on #304
Does it happen with skype too or just Tomahawk?

[2017-01-23 04:59] KottV commented on #304
with skype too
i've selected tomahawk, cause it has just one icon
skype error output for every icon is huge

[2017-01-23 05:02] bil-elmoussaoui commented on #304
Sorry but i can't really reproduce your issue :( I will add more debugging informations in few seconds! I will let you know once it's done so you can give me more information..

[2017-01-23 05:12] bil-elmoussaoui commented on #304
@KottV Done! Please update to git version and try again, this should help me debugging your issue!

[2017-01-23 05:44] KottV commented on #304
[code]

[2017-01-23 05:46] bil-elmoussaoui commented on #304
Something is not working correctly in your case :o your home path does not start with "/"??
Do you have any icon here `/home/kv/.local/share/sni-qt/icons/tomahawk/22/`? The output of this would be good `cd /home/kv/.local/share/sni-qt/icons/tomahawk/22/ && ls -la `

[2017-01-23 05:48] bil-elmoussaoui commented on #304
I forced having `/` at the beginning of the home path. This should do fix your issue ;)

[2017-01-23 05:49] KottV commented on #304
i firstly renamed /home/kv/.local/share/sni-qt/ to sni-qt_
so there is now such dir

 echo $HOME
/home/kv

[2017-01-23 05:51] bil-elmoussaoui commented on #304
Can you try the git version?

[2017-01-23 06:24] KottV commented on #304
i will
little busy now

[2017-01-23 06:43] KottV commented on #304
you missed / in USERHOME = path.join("", USERHOME)
https://github.com/bil-elmoussaoui/Hardcode-Tray/commit/89e93417e2a7a691ad2694f4a4634b6e39b9fad7

i added it, now seems to works :)

[2017-01-23 06:45] #304 closed

[2017-01-23 06:46] bil-elmoussaoui commented on #304
Thanks! Fixed that on master!

[2017-01-23 18:59] AndydeCleyre commented on #300
Well I don't want to disable the scaling, because I want to control the size of the icons (and have them big). I don't think it's a bug that you can control the icon size in a plasma panel.

[2017-01-23 22:17] bil-elmoussaoui commented on #300
No, it's not a bug! it's just i don't have a screen that i can scale correctly to debug this. Anyway, normally it should look good with 44px as the normal size on KDE is 22px, can you try doing that ? are this configuration stored somewhere else ?

[2017-01-25 03:08] KottV commented on #297
as some idea, there is old project, that replaces skype tray icons via ldpreload:
https://github.com/derlaft/skype1ico

imho it's preferable than modify binary

[2017-01-25 03:52] bil-elmoussaoui commented on #297
@KottV Yeah it seem to be a good solution :) it was more of a question; Just in case we are out of solutions; especially for Qt5 applications..

[2017-01-26 16:58] Foggalong opened #306 "Crashes on Reversion"
### Specifications
- Hardcode-Tray version : 3.6.5
- Distribution : Ubuntu 16.10
- Gtk version : 3.20.9
- Inkscape version : 0.91
- Cairo version : 1.14.6
- Sni-qt version: 0.2.7
- Application name :  Rambox
- Application version : 0.5.2

### Expected behavior and actual behavior

Expected: Revert changes made to Rambox
Actual: Program crashes with file not found error

### Steps to reproduce the

[2017-01-26 19:19] bil-elmoussaoui commented on #306
This is indeed not so good! But i can't really do anything about it, the tray icons are replaced on the asar file. Which stores some libraries used by electron applications too! once you revert an old asar package to a newer version of the same application it will normally crash as some  good is missing. I can't detect the version number of any application out there, each distro out there has a di

[2017-01-26 21:31] Foggalong commented on #306
It sounds like there should be at least a check that the file exists before attempting to do anything with it though. And cool, I'll check out that issue :)

[2017-01-26 21:33] Foggalong commented on #297
The idea of modifying binaries definitely questionable from a licensing point of view, so you'd probably never be able to get it included in official repositories. However reverse engineering and workarounds like this aren't uncommon in the Linux community so I wouldn't worry about it too much.

[2017-01-26 21:50] bil-elmoussaoui commented on #306
We already check if the file exists in the binary file 👍 let's hear what @wa4557 thinks about it and i will fix it as soon as possible! :D

[2017-01-26 21:52] bil-elmoussaoui commented on #297
Yeah :) i was more afraid of licensing! I will push an alpha version of my code in a different branch and we will see if it works as expected

[2017-01-27 09:28] wa4557 commented on #297
This app will never go into official repos anyways because it replaces to much stuff in `/usr` and other nonuser directories. So I would say that if licencing allows it (MIT and GPL3/2 should be ok?), it's ko

[2017-01-27 10:40] wa4557 commented on #306
I would remove the possibility to revert electron icons then (or any other apps wher we replace icons in the binary file). That's causing more problems than it solves, and we don't have to store this large asar files

[2017-01-28 06:08] ootaharuki99 opened #307 "The latest Chromium can't be patched"
### Specifications
- Hardcode-Tray version : `v3.6.5`
- Distribution : `Arch Linux (latest in 2017/01/28)`
- Gtk version : `3.22.7`
- Inkscape version : `0.92.0`
- Sni-qt version: `unknown`
- Application name :  `Chromium`
- Application version : `56.0.2924.76`

### Expected behavior and actual behavior
Expected: `hardcode-tray` would replace chromium's tray icon.
Actual: `hardcode-tray` doesn't r

[2017-01-28 11:39] bil-elmoussaoui commented on #307
I will update that this evening !

[2017-01-29 12:59] bil-elmoussaoui commented on #307
Fixed on master, just use `hardcode-tray --update-git` to update to the latest version and run the script again! 👍

[2017-01-29 12:59] #307 closed

[2017-01-29 14:32] ootaharuki99 commented on #307
Thank you for your quick fix!
It's working now. 🙌

[2017-01-29 14:34] bil-elmoussaoui commented on #307
You're welcome! Thanks for reporting!:D

[2017-01-29 20:52] bil-elmoussaoui commented on #300
I've added scaling factor detection on the latest version on master. Please check this out, thanks!

[2017-01-29 20:54] bil-elmoussaoui commented on #306
Yeah :( in some applications those files are more than 100M ! I will try to backup the png file, test it with updating/reversing back after and see if it works correctly. If it does i will push it to master if not i will remove the backup from the binary applications

[2017-01-30 11:55] kmf opened #308 "QuodLibet icon"
### Specifications
- Hardcode-Tray version : `v3.6.5`
- Distribution : `Ubuntu 16.04.1`
- Gtk version : `3.18.9-1ubuntu3.1`
- Inkscape version : `0.91-7ubuntu2` if installed
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `quodlibet`
- Application version : `3.8.1`

### Expected behavior and actual behavior
should be fixed

[2017-01-30 11:56] kmf opened #309 "Albert icon"
### Specifications
- Hardcode-Tray version : `v3.6.5`
- Distribution : `Ubuntu 16.04.1`
- Gtk version : `3.18.9-1ubuntu3.1`
- Inkscape version : `0.91-7ubuntu2` if installed
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `albert`
- Application version : `0.9.1-1~webupd8~xenial0`

### Expected behavior and actual behavior
should be fixed

[2017-01-30 11:58] kmf opened #310 "Telegram Desktop icon"
### Specifications
- Hardcode-Tray version : `v3.6.5`
- Distribution : `Ubuntu 16.04.1`
- Gtk version : `3.18.9-1ubuntu3.1`
- Inkscape version : `0.91-7ubuntu2` if installed
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `Telegram Desktop`
- Application version : `1.0.2`

### Expected behavior and actual behavior
should be fixed

[2017-01-30 12:28] bil-elmoussaoui commented on #310
Telegram desktop is already supported.

[2017-01-30 12:30] bil-elmoussaoui commented on #309
Albert hardcoded their tray icon on the binary file, i've reported that upstream and this is fixed now; they're still using the same icon name for the application and the tray menu. Anyway, here's the original upstream issue https://github.com/albertlauncher/albert/issues/324
Closing, as i hope that the guys from Albert will get this done without having to replace anything on the binary file...

[2017-01-30 12:30] #309 closed

[2017-01-30 12:41] bil-elmoussaoui commented on #308
The tray icon on Quodlibet isn't hardcoded but they're using the same icon name as the application icon name :( see this line of code https://github.com/quodlibet/quodlibet/blob/02b2f8946da5c400ebcab78ae958ebca05eb03ae/quodlibet/quodlibet/ext/events/trayicon/appindicator.py#L44
Please report it upstream, as i cannot fix it from my side :( if they want , i can create a PR to fix that upstream 👍

[2017-01-30 12:41] kmf commented on #310
![image](https://cloud.githubusercontent.com/assets/78700/22423402/2db03d7a-e6fa-11e6-833a-85eb1ddb70db.png)

[2017-01-30 12:45] kmf commented on #308
A PR would be great.

[2017-01-30 12:46] bil-elmoussaoui commented on #310
Is the icon stored on /tmp? or in `/home/yourusername/.local/share/TelegramDesktop/tdata`?

[2017-01-30 12:47] bil-elmoussaoui commented on #308
Alright! I will keep this issue open and i will add it to my to-do list ;)

[2017-01-30 13:03] kmf commented on #310
deleted my tdata .... what am I looking for in /tmp

[2017-01-30 13:04] bil-elmoussaoui commented on #310
Just the tray icon? it should be somewhere there in that case, it's a png file

[2017-01-30 13:17] kmf commented on #310
found it deleted it ... still the same ... will investigate.

[2017-01-30 13:22] bil-elmoussaoui commented on #310
Well in that case you're missing libappindicator;, that's why Telegram falls back to using a Qt tray icon that we canno't fix. Please install it , close the application and start again ;)

[2017-01-30 13:26] kmf commented on #310
already installed,
libappindicator1, libappindicator3-1

[2017-01-30 13:33] bil-elmoussaoui commented on #310
Take a look at those issues
https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/135 https://github.com/telegramdesktop/tdesktop/issues/1023

[2017-01-30 13:40] kmf commented on #310
ok ... .using ... Rambox .... to ease the pain3

[2017-01-30 17:20] AndydeCleyre commented on #300
With `3.6.5.r15.g4e733b6`, running `hardcode-tray -a --change-color "#d3dae3 #c2b790" --theme Papirus-Dark`:

![image](https://cloud.githubusercontent.com/assets/1787385/22433301/e9bb1d6a-e6e5-11e6-99ec-f5c154333239.png)

The hexchat and slack icons still look small to me, but it's not a big deal. If I want them to be unpixelated, though, is that dependent on `hardcode-tray` at all at this point,

[2017-01-30 17:31] bil-elmoussaoui commented on #300
Can you add this line of code `print(default_icon_size)` just after this one ? https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/script.py#L267
So i can know if the scaling works as expected in your case? I will add some logs later.  And can you try with an other theme? like Numix for example and see if you still have the same issue

[2017-01-30 17:50] AndydeCleyre commented on #300
Sure, it reports `22`.

When I leave out the theme argument and it picks `Adwaita`, the results are identical.

When I specify the theme `Oranchelo`, it also reports `22` but says there are no icons to change.

When I specify `Numix-Circle`, it also reports `22`, but then the icons look like:

![image](https://cloud.githubusercontent.com/assets/1787385/22434440/0ce08bc8-e6ea-11e6-901c-81980b24cd9c

[2017-01-30 18:00] bil-elmoussaoui commented on #300
Alright it seems that the scaling factor is not detected correctly :( I will investigate this. I will submit a patch pretty soon.  I will need just one last information, can you add after this line https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/modules/utils.py#L95 this line of code `print(scaling_factor)` This way i can know if it's detected or not. Thanks!

[2017-01-30 18:01] bil-elmoussaoui commented on #310
As you wish! Anyway, this is not an issue for Hardcode-Tray, you will just need to install all the dependencies needed by Telegram to work correctly on Unity.

[2017-01-30 18:01] #310 closed

[2017-01-30 18:17] AndydeCleyre commented on #300
I've found that [this line](https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/modules/utils.py#L86) sets the scaling factor to `0`, so it becomes `1` by the end of the method, and the print line you suggested is never encountered.

[2017-01-30 18:20] bil-elmoussaoui commented on #300
I see thanks for the help! i will get this done in few minutes.

[2017-01-31 00:28] bil-elmoussaoui commented on #308
Opened a new issue upstream. I will close this one https://github.com/quodlibet/quodlibet/issues/2217

[2017-01-31 00:28] #308 closed

[2017-01-31 16:36] bil-elmoussaoui commented on #300
@AndydeCleyre Just to let you know that i've fixed this on my local branch. I'm just doing some code refactoring and i will push everything by tomorrow.

[2017-02-05 12:20] Freshman4754 opened #312 "Wire not working"
### Specifications
- Hardcode-Tray version : `3.6.5`
- Distribution : `Arch Linux`
- Gtk version : `3.22.7`
- Cairo version : `2.0.1`
- Sni-qt version: `latest patched from AUR`
- Application name :  `Wire`
- Application version : `2.11.2703`

It doesn't even appear in apps list.

[2017-02-05 12:30] bil-elmoussaoui commented on #312
It must be due to the installation path of the package you're using. Can you point me to the package you've installed ? was it using AUR?

[2017-02-05 16:20] romannazarenko opened #313 "Chrome stable icon doesn't change"
### Specifications
- Hardcode-Tray version : 3.6.5
- Distribution : Ubuntu 16.04 LTS x64
- Gtk version : 	3.18.9
- Inkscape version : 0.91
- Cairo version : Not installed
- Sni-qt version: 0.2.7
- Application name :  google-chrome-stable
- Application version : 56.0.2924.87-1

### Expected behavior and actual behavior
Expected: Change default tray icon
Actual: Tray icon doesn't change
### Steps to

[2017-02-05 20:02] bil-elmoussaoui commented on #300
The icon sizes should now be detected correctly. Feel free to open an other issue if you still have an other unrelated issue. Any other issue, should be reported upstream, as it detects the correct size that should be used :)

[2017-02-05 20:02] #300 closed

[2017-02-05 20:05] bil-elmoussaoui commented on #313
Already fixed on master ;)

[2017-02-05 20:05] #313 closed

[2017-02-05 20:14] bil-elmoussaoui commented on #312
Fixed on master. Run `hardcode-tray --update-git` to get the latest modifications, and run `hardcode-tray --apply --only wire` to fix Wire 👍

[2017-02-05 20:22] #312 closed

[2017-02-05 20:32] #251 closed

[2017-02-05 20:33] bil-elmoussaoui commented on #251
@KottV Thanks for updating the package! i've included that on the README!

[2017-02-08 18:57] AndydeCleyre commented on #300
Thank you very much!

I can't actually see any difference, so I'm off to the papirus issue page.

[2017-02-08 19:09] AndydeCleyre commented on #300
Is it expected for me to see

[code]

in the output of

[code]

?

[2017-02-09 12:20] bil-elmoussaoui commented on #300
It should show 44 :( can you send me the content of your config file? as i just created one, and tested it; the output in my case was 44!

[2017-02-09 20:20] AndydeCleyre commented on #300
My `.config/plasma-org.kde.plasma.desktop-appletsrc`? Here it is:

[code]

[2017-02-13 14:09] Feichtmeier commented on #271
Hm... strangely it is not fixed for me. The script works for everything except telegram and the chrome hangouts extension which stoped working after I ran the script. I can "repair" it in chrome though.
Telegram works but the icon isn't replaced

[2017-02-13 14:27] bil-elmoussaoui commented on #271
@Feichtmeier Which version are of Hardcode-Tray are you using? For Telegram, it seems that you're using Unity? if so, you must have a package missing... Because telegram falls back to Qt to draw tray icons if libappindicator is missing in your system. And we can't fix it for that case unless we do something like #297

[2017-02-13 14:47] Feichtmeier commented on #271
I am using the version v3.6.5 from your ubuntu ppa.(ubuntu 16.04 unity)
I will try to install telegram via snap and see if that works

[2017-02-13 14:48] bil-elmoussaoui commented on #271
Btw, for Hangouts, we had the same issue as you're reporting and after few fixes in our code it seems to work and i added Hangouts support back(at least for me). Can you try updating your Chrome/Chromium(based browser) to the latest version if it's possible?

[2017-02-13 14:57] Feichtmeier commented on #271
I am using the most up to date chrome version I think.
It is version Version 56.0.2924.87 (64-bit)

[2017-02-13 15:03] bil-elmoussaoui commented on #271
@Feichtmeier That's really sad :( i will try to investigate this! in the mean time you can revert only the latest changes done to hangouts using `hardcode-tray --revert --only hangouts`
I will add some type of config file that you can put on your .config folder with a blacklist of apps that you don't want to be fixed. This way, you don't have to revert hangouts everytime you fix your hardcoded ico

[2017-02-13 18:56] bil-elmoussaoui commented on #271
When you open telegram from terminal what's the output that you have ?

[2017-02-14 08:41] Feichtmeier commented on #271
~/Telegram$ ./Telegram
Fontconfig error: "/etc/fonts/conf.d/10-scale-bitmap-fonts.conf", line 72: non-double matrix element
Fontconfig error: "/etc/fonts/conf.d/10-scale-bitmap-fonts.conf", line 72: non-double matrix element
Fontconfig warning: "/etc/fonts/conf.d/10-scale-bitmap-fonts.conf", line 80: saw unknown, expected number

(Telegram:10080): Gtk-WARNING **: Failed to parse /home/frederik/.co

[2017-02-14 14:53] bil-elmoussaoui commented on #300
@AndydeCleyre It seems that you've KDE with some Gnome apps i presume? which makes the scaling factors falls to the Gnome and not override it with KDE scaling. Is there a way to detect if you're using a KDE destkop? This will help me fix this without any furthers issues :)

[2017-02-14 16:04] bil-elmoussaoui commented on #271
@Feichtmeier Telegram seems to have some issues to detect libappindicator and fallback to Qt, which we can't sadly fix. You need to install the required running dependencies for Telegram in order to get it to work as expected on your system.
For hangouts, i will see what i can do as soon as possible.

[2017-02-14 18:18] AndydeCleyre commented on #300
@bil-elmoussaoui I notice:

[code]

But that's probably different for a wayland user, at least.

[code]

So it looks to me like checking `XDG_CURRENT_DESKTOP` is a good choice.

[2017-02-17 18:13] skintigth opened #314 "Chromium indicator doesn't change to a custom icon"
### Specifications
- Hardcode-Tray version : `v3.6.5`
- Distribution : `Arch Linux x64`
- Gtk version : ``
- Inkscape version : `0.92.0 r`
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `Chromium / chromum-browser`
- Application version : `56.0.2924.87 (64-bit)`

### Expected behavior and actual behavior
![captura de pantalla_2017-02-17_12-04-02](https://

[2017-02-19 16:45] bil-elmoussaoui commented on #314
Hello,
I think you've misunderstood how things work on Hardcode-Tray. The --path argument is to specify the application installation path in order to patch the application you want.  And not the icon path.

If you want to use your icon all you have to do is to put the current icons that you want to use in the current theme you're using or any other one (Just copy those svg files to the theme path

[2017-02-19 21:54] bil-elmoussaoui commented on #314
Closing, reopen if you need more help :)

[2017-02-19 21:54] #314 closed

[2017-02-19 21:54] bil-elmoussaoui commented on #300
@AndydeCleyre I will take care of that this week ;)

[2017-02-20 16:09] bil-elmoussaoui commented on #300
@AndydeCleyre I've implemented the desktop session check on the beta branch. Would you mind testing it so i can be sure that everything works as expected? A new version will be released by the end of the week. I would be really thankful if you can test this feature :)

[2017-02-20 18:05] AndydeCleyre commented on #300
@bil-elmoussaoui Thanks. With the `beta` branch @ `gaddd4e4`, no matter how big I make the panel, or change the `iconSize` value in that config file, running

[code]

reports

[code]

The size actually looks ok in the panel (just not the resolution).

[2017-02-20 18:07] bil-elmoussaoui commented on #300
@AndydeCleyre Does Hardcode-Tray report the current desktop env? it should be shown in the output too! A screenshot would be great too so i can take a look at it 👍

[2017-02-20 18:19] AndydeCleyre commented on #300
@bil-elmoussaoui Ah, yes, the desktop is correctly identified:

![image](https://cloud.githubusercontent.com/assets/1787385/23137242/e48bfae6-f76e-11e6-8605-459467c3b13b.png)

![image](https://cloud.githubusercontent.com/assets/1787385/23137283/28d9c584-f76f-11e6-957c-782160a522f6.png)

[2017-02-20 18:30] bil-elmoussaoui commented on #300
Ok that's pretty great :) can you send me a log file, it's under /tmp/Hardcode-Tray/ just paste it here, it might help me debug why the icon size is not detected correctly

[2017-02-20 18:57] AndydeCleyre commented on #300
Here's the latest log file in that folder (ah, that first line is interesting):

[code]

[2017-02-20 19:01] bil-elmoussaoui commented on #300
@AndydeCleyre The kde not detected debug msg was sent by the get_scaling_factor function, i added an other debug msg to seee what causes this issue. Can you pull the latest changes and try again? This should output more information about this issue.
Thank you very much!

[2017-02-20 19:05] AndydeCleyre commented on #300
The sectioning of that kde config file is weird:

[code]

[2017-02-20 19:07] bil-elmoussaoui commented on #300
Alright, it seems that i can't read that file using ConfigParser (to read ini files). I will use a simple file reading and regex on it to get the iconSize

[2017-02-20 19:15] bil-elmoussaoui commented on #300
@AndydeCleyre My latest commit should fix this now :)

[2017-02-20 19:16] AndydeCleyre commented on #300
[code]

[2017-02-20 19:19] bil-elmoussaoui commented on #300
It was a typo, fixed!

[2017-02-20 19:21] AndydeCleyre commented on #300
Oooh. I can't see a difference in the icons (I think that I need to follow up with the papirus theme to understand how to handle this), but:

[code]

Do you still want to see a log, or does that seal the deal?

[2017-02-20 19:27] bil-elmoussaoui commented on #300
I would like to take a look to be sure that everything works okey ;) + Woud like to know which value was assigned to iconSize in your current configuration

[2017-02-20 19:33] AndydeCleyre commented on #300
It's currently `3` for the systray.

[code]

Looks like it's grabbing the wrong `iconSize` entry. I guess you need to be checking for something like `\[Containments\]\[\d+\]\[General\]`

[2017-02-20 19:36] AndydeCleyre commented on #300
But it won't be the only match. Actually here's a grep-friendly regex:

[code]

At least for me, only one of sections matching that has an `iconSize` entry.

[2017-02-20 19:42] bil-elmoussaoui commented on #300
Alright, i thought that it must be defined only once :) It should be correctly detected now :)

[2017-02-20 19:45] AndydeCleyre commented on #300
Thanks, it seems to find the right setting now. The output is a little crazy:

[code]

[2017-02-20 20:00] bil-elmoussaoui commented on #300
Perfect! It was a debugging output that i've frogot to remove; it's removed now :) If you have any other issue with that, it should be reported upstream now :) thanks for your patient!
Those fixes should land on stable by this weekend 👍

[2017-02-20 20:13] AndydeCleyre commented on #300
Thank you so much for working through this, and for this project.

[2017-02-20 22:22] bil-elmoussaoui commented on #300
My pleasure ;)

[2017-02-21 15:29] infuerano commented on #296
so i am using Mega sync 3.0.1
 i have tried "hardcode-- tray" and tried " hardcode tray only" command but it doesn't fix the problem for skype and MEGAsync. i am getting " hardcode-tray --only Mega
[sudo] password for zeus:
Welcome to the tray icons hardcoder fixer!
Your indicator icon size is : 22
Your current icon theme is : GnomeYosemiteIcons-master
Svg to png functions are : Enabled
Conversion

[2017-02-21 15:31] bil-elmoussaoui commented on #296
@infuerano You need to use `hardcode-tray --only megasync` and not `hardcode-tray --only Mega`. It's not the same issue at all...

[2017-02-24 10:54] Stanzer opened #315 "Clementine "currently playing" icon"
### Specifications
- Hardcode-Tray version : `3.6.5`
- Distribution : `Ubuntu 16.04 amd64`
- Gtk version : `3.18.9-1ubun amd64`
- Inkscape version : `0.91 r13725`
- Sni-qt version: last one I guess, installed today from ppa
- Application name :  `Clementine`
- Application version : `1.3.1-286-g1aed619`

### Expected behavior and actual behavior
Change Clementine hard-coded icons to current Ubuntu

[2017-03-02 08:20] mgor opened #316 "hamster-indicator tray icon"
### Specifications
- Hardcode-Tray version : `3.5.2.1~723~ubuntu16.10.1`
- Distribution : `Ubuntu 16.10`
- Gtk version : `3.20.9-1ubuntu2`
- Inkscape version : `0.91-11ubuntu16.10.1`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.10.1`
- Application name :  `hamster-indicator`
- Application version : `0.1+037dd2e-0ubuntu2`

### Expected behavior and actual behavior
Would be nice to have support for

[2017-03-02 10:02] bil-elmoussaoui commented on #316
The icons are not hardcoded, the icons are
`hamster-applet-active` and `hamster-applet-inactive`
All you have to do is to request those icons upstream (the theme icon repository)

[2017-03-02 10:02] #316 closed

[2017-03-02 10:04] bil-elmoussaoui commented on #315
Can you give me your modified version of clementine.json?

[2017-03-02 10:13] Stanzer commented on #315
There it is.

`{
    "name": "Clementine",
    "app_path": [
        "/usr/bin/clementine"
    ],
    "icons_path": [
        "{userhome}/.local/share/sni-qt/icons/clementine/{size}/"
    ],
    "is_qt": true,
    "is_script": false,
    "force_create_folder": true,
    "exec_path_script": false,
    "backup_ignore": true,
    "icons": {
        "indicator": {
            "original": "e1c70cd6785a

[2017-03-02 10:16] bil-elmoussaoui commented on #315
I think you've sent the incorrect version?

[2017-03-02 10:17] Stanzer commented on #315
It is the one I found in _/opt/Hardcode-Tray/database/clementine.json_

Where else should I look for it ? Been searching my whole home dir, but I couldn't find anything in it…

[2017-03-02 10:21] bil-elmoussaoui commented on #315
Ah okey, and how you were able to change those icons? As they're not supported by Hardcode-Tray  by default...

[2017-03-02 10:25] Stanzer commented on #315
At the beginning I just wanted to give it a try, so I followed these steps :
`cd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/uninstall.sh | bashcd /tmp && wget -O - https://raw.githubusercontent.com/bil-elmoussaoui/Hardcode-Tray/master/uninstall.sh | bash`

then
`sudo apt install sni-qt sni-qt:i386 hardcode-tray`
and finally,
`hardcode-tray --size 22 --

[2017-03-02 10:26] bil-elmoussaoui commented on #315
Well, that's an upstream issue as we don't support any of other icons then Tray ones ;) please report it either to clementine or to your theme designer :)

[2017-03-02 10:27] Stanzer commented on #315
Anyway, I am not willing to force you into something that you don't officially support. Don't bother with my problem ; I guess you have more important things to do ;) … I only asked, just in case you had an easy solution for it

Thanks for taking the time to answer me. :+1:

[2017-03-02 10:28] #315 closed

[2017-03-02 10:36] bil-elmoussaoui commented on #315
It's must be a problem with the way the svg icon was designed at first place, i don't use Clementine, neither your theme so it's just impossible for me to help :)
If you have any solution, please post it here, maybe someone else will have the same issue in the future!
Thanks

[2017-03-02 11:16] bil-elmoussaoui opened #319 "Support of Ramme"
An unofficial Instagram client

[2017-03-02 11:17] bil-elmoussaoui opened #320 "Ghetto skype"
An unofficial Skype client using Electron

[2017-03-02 16:00] Feichtmeier opened #322 "can't run hardcoded-tray from terminal"
### Specifications
- Hardcode-Tray version : `i cant check because of this issue but my ppa updated like 10 mins ago`
- Distribution : `ubuntu 16.04`
- Gtk version : `3.18`
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  ``
- Application version : ``

### Expected behavior and actual behavior

### Steps to reproduce the

[2017-03-02 16:16] bil-elmoussaoui commented on #322
Is there any output ?

[2017-03-02 21:04] Feichtmeier commented on #322
It's german :( But it is like "didn't find that commad" (in the path?)

![bildschirmfoto vom 2017-03-02 21-59-42](https://cloud.githubusercontent.com/assets/15329494/23526889/0b6cd8e2-ff94-11e6-9f53-22d82b9330ec.png)

[2017-03-02 21:13] bil-elmoussaoui commented on #322
It's not hardecode-tray but `hardcode-tray` :P

[2017-03-02 22:49] MarekAG opened #323 "ls: cannot access 'xprop -root _DT_SAVE_MODE'"
### Specifications
- Hardcode-Tray version : `3.5.2.1~725~ubuntu16.04.1`
- Distribution : `Ubuntu 16.04 x86_64 Linux 4.8.0-39-generic`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`

### Expected behavior and actual behavior

Hi, I just installed hardcode-tray and it seems that it is not working at all. Here is the stack trace (of course I typed proper sudo password):

[code]

Everything is u

[2017-03-02 22:50] bil-elmoussaoui commented on #323
Do you have xprop installed? It's available on your package system. Just run `sudo apt install xprop`
And try again!
Thanks for reporting

[2017-03-02 22:56] MarekAG commented on #323
Thanks for so fast feedback.

Should xprop be in ubuntu repos?

[code]

but:
[code]

gives me:

[code]

[2017-03-02 22:58] bil-elmoussaoui commented on #323
Thanks! I will put an attempt to fix this, and i will tell you how to upgrade to the master branch in order to test. Is that fine for you? it won't break anything on your system :)

[2017-03-02 23:01] bil-elmoussaoui commented on #323
Should be fixed, just run `hardcode-tray --update-git` and run the script again

[2017-03-02 23:03] MarekAG commented on #323
Just WOW. I didn't expect so fast fix. Now everything works great. Thanks a lot!

[2017-03-02 23:03] #323 closed

[2017-03-02 23:07] bil-elmoussaoui commented on #323
My pleasure ;) Thanks for reporting! Don't hesitate to open any new issues/recommendations/requests in the future!

[2017-03-03 12:30] Feichtmeier commented on #322
![image](https://cloud.githubusercontent.com/assets/15329494/23551218/861b7d4c-0015-11e7-9506-463fd4f250d0.png)

Yeah typo there but it really can't be found. Normally it was found with TAB autocomplete.

[2017-03-03 12:43] bil-elmoussaoui commented on #322
@Feichtmeier Can you check if you have anything under /opt/Hardcode-Tray? Something like `ls -la /opt/Hardcode-Tray/` would be great :) also `which hardcode-tray`
Thanks

[2017-03-03 12:45] Feichtmeier commented on #322
frederik@akira:/opt/Hardcode-Tray$ ls -la
insgesamt 60
drwxr-xr-x 6 root root  4096 Mär  3 13:42 .
drwxr-xr-x 8 root root  4096 Mär  2 16:17 ..
drwxr-xr-x 2 root root 12288 Mär  3 13:42 database
-rwxr-xr-x 1 root root  1148 Mär  3 13:01 hardcode-tray
-rwxr-xr-x 1 root root  1646 Mär  3 13:01 install.sh
drwxr-xr-x 2 root root  4096 Mär  3 13:42 license
drwxr-xr-x 6 root root  4096 Mär  3 13:42 modu

[2017-03-03 13:00] bil-elmoussaoui commented on #322
It seems that the PPA is broken. Can you please follow the manual installation in the README ? It's just one line to copy paste in your terminal. Please make sure to remove the current version. Once it's done can you report back if everything's working fine ?

[2017-03-03 13:10] Feichtmeier commented on #322
Okay remove the ppa and purged the ppa version and installed it manually.
Now skype and play music got their sharp icons back but chrome is still blurry. :(

[2017-03-03 13:12] bil-elmoussaoui commented on #322
Which version of Chrome are you using ? Have you killed chrome and tried again? a restart would do the same thing

[2017-03-03 13:15] Feichtmeier commented on #322
Yup, killed it, rebooted, still the same. Used the revert command and still The blurry icon.
Version is the most up to date version from the google ppa:
56.0.292487

[2017-03-03 13:16] bil-elmoussaoui commented on #322
Ah okey, try using an other icon size for chrome `hardcode-tray --only google-chrome --size 22` or even 16 if 22 isn't enough for you :)

[2017-03-03 13:20] Feichtmeier commented on #322
Hm... tried all sizes and still the blurry icon :( Sorry for stealing your time

[2017-03-03 13:27] bil-elmoussaoui commented on #322
Hmmm, i have really no idea about that! :( Do you have something else other than Unity to try it on? We have tried it on Unity and everything was working perfectly! The same on Gnome, mate, xfce and KDE!

Also, it seems that the conversion tool used by Hardcode-Tray is ImageMagick. do you have Inkscape installed? if so try forcing it using `hardcode-tray -ct Inkscape` which will use it to convert

[2017-03-03 13:53] Feichtmeier commented on #322
Atm only Unity here. It worked for me perfectly too for many versions.
Can I manually remove the chrome icons? Would it help to reinstall chrome?

[2017-03-03 13:56] bil-elmoussaoui commented on #322
Give it a try and let me know :) Try something like `hardcode-tray --update-git` to update to the latest git version and see if it fixes the issue for you

[2017-03-03 14:51] Feichtmeier commented on #322
I reinstalled chrome and deleted all folders in .cache .config of hardcode tray and chrome and now I got the old google icon back :dagger:
And your script doesn't change anything at all now :(

[2017-03-03 15:22] bil-elmoussaoui commented on #322
I will take a look today ;) when you run the script, can you paste the output ?

[2017-03-03 15:25] Feichtmeier commented on #322
frederik@akira:~$ hardcode-tray
[sudo] Passwort für frederik:
Welcome to the tray icons hardcoder fixer!
Your indicator icon size is : 22
Your current icon theme is : Papirus
Svg to png functions are : Enabled
Conversion tool : Inkscape
Applications will be fixed : All
1 - Apply
2 - Revert
Please choose: 1
Applying now..

Google Chrome       [#.......................................] 1/37 2.7%
Goo

[2017-03-03 15:31] bil-elmoussaoui commented on #322
What's the version of Google chrome ? Can you get me the log under tmp file ?

[2017-03-03 15:35] Feichtmeier commented on #322
Chrome Version is  56.0.2924.87

The logs in /tmp are empty

[2017-03-04 21:41] bil-elmoussaoui commented on #322
Can you ping me on Telegram? This way i can get you sort this out easily :)

[2017-03-05 15:47] Feichtmeier commented on #322
Sure, is there any other option than to share phone numbers on github? :D

[2017-03-05 16:28] bil-elmoussaoui commented on #322
https://t.me/bilelmoussaoui

[2017-03-05 20:09] bil-elmoussaoui commented on #322
Fixed

[2017-03-05 20:09] #322 closed

[2017-03-05 22:35] yochananmarqos opened #324 "Typo in parser.py and more"
### Specifications
- Hardcode-Tray version : `hardcode-tray --version shows v3.6.5, but Synaptic shows 3.5.21~729~ubuntu16.04.1`
- Distribution : `Linux Mint 18.1 "Serena" Xfce Edition`
- Gtk version : `3.18.9-1ubuntu3.1 amd64 / 2.24.30-1ubuntu1 amd64/i386`
- Inkscape version : `0.91-7ubuntu2`
- Cairo version : `1.0.19-1`
- Sni-qt version: `0.27+20161212~10~ubuntu16.04.1`
- Application name :  `N/

[2017-03-06 10:30] bil-elmoussaoui commented on #324
For the first issue, it's already fixed on master. Just run `hardcode-tray --update-git` to get the latest git version.
For the ImageMagick issue, i will investigate right now

[2017-03-06 11:58] bil-elmoussaoui commented on #324
Both issues seems to be already fixed on master, can you confirm that?

[2017-03-06 11:59] phyrz91 opened #325 "Hplilp/ HP pirnter tray icon support?"
### Specifications
- Hardcode-Tray version : `3.5.2.1~729~ubuntu17.04.1`
- Distribution : `Debian Testing`
- Gtk version : `3.22`
- Inkscape version : `0.92`
- Cairo version : ``
- Sni-qt version: `0.2.7+20161212~10~ubuntu17.04.1`
- Application name :  `hplip`
- Application version : `3.16.11+repack0-2`

### Expected behavior and actual behavior
The hplip tray icon doesn't change.
HP Print is dete

[2017-03-06 12:11] bil-elmoussaoui commented on #325
Do you have the patched version of sni-qt installed ?

[2017-03-06 12:34] phyrz91 commented on #325
I install sni-qt from ppa repository. How can I install patched version of sni-qt?

[2017-03-06 12:53] bil-elmoussaoui commented on #325
You have used our PPA(see README)?

[2017-03-06 12:59] phyrz91 commented on #325
Yes, I used this repo:
ppa:andreas-angerer89/sni-qt-patched

Everythings work great except hplip icon.

[2017-03-06 13:12] phyrz91 opened #326 "Support for new applications."
Can you add new tray icons for two applications?

https://github.com/QNapi/qnapi
http://sayonara-player.com/index.php

Thank you in advance.

[2017-03-06 13:20] bil-elmoussaoui commented on #325
I will investigate this

[2017-03-06 13:24] bil-elmoussaoui commented on #326
I will take a look in few hours

[2017-03-06 15:10] yochananmarqos commented on #324
Yes, the first issue is fixed. As for the second issue, if I run `hardcode-tray --theme Papirus --apply`, it uses CairoSVG and applies successfully. However, if I use ImageMagick, I get the same errors:

[code]

[2017-03-06 15:21] bil-elmoussaoui commented on #324
I will try to investigate more in few hours. Thanks !

[2017-03-07 10:56] bil-elmoussaoui commented on #324
Does this issue happens only with ImageMagick?

[2017-03-09 14:03] #319 closed

[2017-03-09 14:11] #320 closed

[2017-03-09 14:20] bil-elmoussaoui commented on #324
Honestly, i can't really reproduce this at all
![screenshot from 2017-03-09 15-13-12](https://cloud.githubusercontent.com/assets/7660997/23753773/f7c1e7c8-04da-11e7-989f-2c99a1e02cc5.png)
Maybe something is going wrong with using Papirus and ImageMagick? I will give it a try =)

[2017-03-09 14:28] bil-elmoussaoui commented on #325
@phyrz91 I will need your help in order to get this done correctly. First of all, can you remove the patched version of sni-qt and restart your system. Once it's done, open HPlilp and go to /tmp, under that folder you will find a folder named `sni-qt_...` or somethong related to hplilp, just take a look under every folder and once you've found that folder (it contains the tray icon on it). Send me

[2017-03-09 14:30] bil-elmoussaoui commented on #324
Couldn't reproduce using ImageMagick + Papirus neither
![screenshot from 2017-03-09 15-13-12](https://cloud.githubusercontent.com/assets/7660997/23754417/2f82b744-04dd-11e7-8859-169a6bcb6838.png)
Must be something going wrong with your ImageMagick installation. Just use Inkscape or an other conversion tool to avoid this. If you find a way to fix it just open a PR and i will merge it;
Thanks

[2017-03-09 14:30] #324 closed

[2017-03-09 14:46] bil-elmoussaoui commented on #326
For Sayonara the icons are hardcoded on the binary. For now we don't want to overwrite those icons see #297
![screenshot from 2017-03-09 15-45-59](https://cloud.githubusercontent.com/assets/7660997/23755079/8250d3c8-04df-11e7-95f8-9cc22a2ba712.png)

[2017-03-09 15:08] bil-elmoussaoui commented on #326
The same thing for qnapi

![screenshot from 2017-03-09 16-07-58](https://cloud.githubusercontent.com/assets/7660997/23756005/975696d8-04e2-11e7-96ee-6e2ce86df416.png)

[2017-03-09 17:59] phyrz91 commented on #325
My /tmp folder does not contain folder named sni-qt.. :(

[https://postimg.org/image/az4nspyrz/](url)

[2017-03-09 18:16] bil-elmoussaoui commented on #325
Hmm! I will set up a Debian distro and see how to handle this :)

[2017-03-10 13:38] MarekAG opened #328 "Stopped working for prime indicator plus"
### Specifications
- Hardcode-Tray version : `3.6.6, but package is 3.5.2.1~735~ubuntu16.04.1 (isn't smth wrong with this?)`
- Distribution : `Ubuntu 16.04.2 LTS`
- Gtk version : `3.18.9-1ubuntu3.2`
- Inkscape version : `0.91 r13725`
- Cairo version : `1.0.19`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `Prime indicator plus`
- Application version : `1.0.3-1~webupd8~2

[2017-03-10 13:44] bil-elmoussaoui commented on #328
I will fix it this evening. Thanks for reporting

[2017-03-10 14:13] #328 closed

[2017-03-12 19:52] yochananmarqos opened #330 "Hangouts Chrome extension breaks"
### Specifications
- Hardcode-Tray version : `3.66 / 3.5.2.1~737~ubuntu16.04.1`
- Distribution : `Linux Mint 18.1 "Serena" Xfce Edition`
- Gtk version : `2.24.30-1ubuntu1 / 3.18.9-1ubuntu3.2`
- Inkscape version : `0.91 r13725` if installed
- Cairo version : `1.0.19-1` if installed
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1` if installed
- Application name :  `Google Hangouts / Google Chrom

[2017-03-13 19:07] bil-elmoussaoui commented on #330
The hangouts extension wasn't working for me so i've removed it for a while. And suddenly it's working again, at least on my case that's why i've added it back. I don't know if i have enabled something on Chrome but it doesn't seem to be the case...So really don't know how should i handle this. Maybe adding a config file where you can set a blacklist of apps that you don't want to be fixed ?

[2017-03-14 03:00] yochananmarqos commented on #330
A blacklist is a great idea either way.

[2017-03-14 10:51] bil-elmoussaoui commented on #330
i will add it to my to-do list for the 4.0 (or maybe before)

[2017-03-14 13:18] MarekAG commented on #322
@bil-elmoussaoui Hi, I want to inform you that using PPA still stops hardcode-tray from being run from terminal. I can run app from /opt/Hardcode-Tray/ and also running --update-git fixes it (at least to the next update trough PPA).

[2017-03-14 13:35] bil-elmoussaoui commented on #322
@wa4557 Can you check the PPA once you've some free time? it must be a symlink issue; or at worst you can add @varlesh as a collaborator on launchpad and let's see if he have some free time to get this fixed :)

[2017-03-14 14:53] wa4557 commented on #322
I'll do that:) I should have a bit more freetime from now on

[2017-03-19 18:08] TheDoop opened #333 "Cant' working"
### Specifications
- Hardcode-Tray version : `latest`
- Distribution : `xubuntu 16.04 lts`
- Gtk version : `ı dont know`
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `telegram,chrome`
- Application version : `latest`

### Expected behavior and actual behavior

### Steps to reproduce the problem
1. doop@Doop-PC:~$ har

[2017-03-19 18:28] bil-elmoussaoui commented on #333
Please see https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/FAQ#default-theme-is-not-correctly-detected

[2017-03-19 18:28] #333 closed

[2017-03-20 15:01] TheDoop commented on #333
I'm write "org.gnome.desktop.interface icon-theme "papirus-dark" " but
org.gnome.desktop.interface icon-theme "papirus-dark" command not found

[2017-03-20 15:26] bil-elmoussaoui commented on #333
Just use the argument --theme or type hardcode-tray --help to get the list of the themes

[2017-03-23 05:58] mustaqimM opened #334 "Icon uses the dark variant in a dark theme"
### Specifications
- Hardcode-Tray version : `3.6.6`
- Distribution : `arch linux`
- Gtk version : `3.22.10-1`
- Cairo version : `1.14.8-1`
- Sni-qt version: `r.-1`
- Application name :  `Dropbox`
- Application version : `22.4.24-1`

### Expected behavior and actual behavior
Expected: Use a  light icon after running `hardcode-tray --dark-theme Papirus-dark --light-theme Papirus`, running the simil

[2017-03-24 16:32] vayan opened #335 "Doesn't find Telegram"
### Specifications
- Hardcode-Tray version : `3.6.6`
- Distribution : `Ubuntu 16.10`
- Application name :  `Telegram`
- Application version : `1.0.14`

I'm not sure what I'm doing wrong but hardcode-tray doesn't seems to find my Telegram install.

I have :
`~App/Telegram` with `Telegram` and `Updater` and `~/.local/share/TelegramDesktop` with `tdata` and everything.

I tried using `--only telegram

[2017-03-24 16:56] bil-elmoussaoui commented on #335
What do you use for the --path ? At worst add your installation path under /opt/Hardcode-Tray/telegram.json

[2017-03-27 09:17] bil-elmoussaoui commented on #335
Ah maybe the binary of telegram was not found on the same location as mine :) please create a PR to fix it by adding a new line with the location of your binary file :+1:
Thanks!

[2017-03-27 09:19] bil-elmoussaoui commented on #334
You should use -ct Inkscape with Papirus as they use CSS SVG which does not work with cairosvg or any other conversion tool as far as i know except Inkscape

[2017-03-28 05:56] mustaqimM commented on #334
@bil-elmoussaoui Thanks, it works now perfectly. On an unrelated note, is it possible to theme `mono` apps like `KeePass`

[2017-03-28 05:56] #334 closed

[2017-03-28 08:55] bil-elmoussaoui commented on #334
KeePass icon isn't hardcoded see #173 #239 #143

[2017-03-28 10:53] mustaqimM commented on #334
@bil-elmoussaoui I found with `keebuntu` installed, the icon at `/usr/share/icons/hicolor/256x256/apps/keepass2-locked.png` can be changed with the icon `/usr/share/icons/Papirus-Dark/24x24/panel/keepassx-locked.svg`. For anyone that wants to use it:
![screenshot_20170328_125224](https://cloud.githubusercontent.com/assets/24436622/24401662/8355eec2-13b5-11e7-9d80-406f7b010dab.png)

[2017-03-28 12:16] bil-elmoussaoui commented on #334
Alright I will see how to handle that. At worse take a look at the keepassx.json file under /opt/Hardcode-tray and modify it to fix it for you and open a PR please.

[2017-03-28 20:56] #335 closed

[2017-03-30 14:38] bil-elmoussaoui commented on #326
I will mark this issue as not fixed (and not won't fix) until we decide either we implement a way to change icons on binary files or not(if it's possible without breaking the app). Closing, will reopen if we got this #297 got fixed :+1:

[2017-03-30 14:38] #326 closed

[2017-03-30 16:03] bil-elmoussaoui commented on #330
Fixed on master. See https://github.com/bil-elmoussaoui/Hardcode-Tray#config-file

[2017-03-30 16:03] #330 closed

[2017-04-03 16:13] edouard-lopez opened #339 "xprop -root _DT_SAVE_MODE: AttributeError: 'ArgsParser' object has no attribute 'theme'"
**related:** #323

### Specifications
- Hardcode-Tray version : `v3.7` (apt show `3.5.2.1~742~ubuntu16.04.1` but I run  `hardcode-tray --update-git`)
- Distribution :

[code]
- Gtk version : `2.7.4`
- Inkscape version : `0.91 r13725` if installed
- Cairo version : `` if installed
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1` if installed

## Expected behavior and actual behavior

### Expecte

[2017-04-03 16:39] redpop1 commented on #339
bug confirmed, same ubuntu version.

[2017-04-03 18:52] bil-elmoussaoui commented on #339
Let me install a virtual machine and fix this! should be on master by tomorrow evening!

[2017-04-04 07:48] orschiro commented on #339
I have the same problem on Ubuntu 17.04.

I followed the instructions and installed it from the PPA.

Upon first run, I receive the following error:

[code]

[2017-04-04 15:07] #339 closed

[2017-04-04 15:08] bil-elmoussaoui commented on #339
Fixed on master. Just run `hardcode-tray --update-git` and run the script again and everything should be fine!
Thank you guys for reporting and happy customizing!

[2017-04-05 05:02] orschiro commented on #339
Thanks for the fix! :-)

[2017-04-05 11:45] DouaeAhmadoun commented on #244
Did you find a way to fix the errors like : Module 'cairo' has no 'X' member?

[2017-04-05 14:23] bil-elmoussaoui commented on #244
@DouaeAhmadoun Should be already fixed! the issue was due to the name of the cairosvg (svg module) that had the same name as the python library (cairo); which caused this issue. Renaming the file to something else fixed it :+1:

[2017-04-05 15:32] DouaeAhmadoun commented on #244
I don't think that I have the cairosvg module

[2017-04-05 15:34] bil-elmoussaoui commented on #244
Do you have this issue with an other code or with Hardcode-Tray?

[2017-04-05 15:36] DouaeAhmadoun commented on #244
No I'm working on another project. Can this be a version problem?

[2017-04-05 15:41] bil-elmoussaoui commented on #244
Please ping on my email bil[dot]elmoussaoui[at]gmail[dot]com and send me a copy of the file, in order to keep the issue only related to Hardcode-Tray! thanks

[2017-04-05 15:45] DouaeAhmadoun commented on #244
Okay !

[2017-04-05 21:16] edouard-lopez opened #340 "ls: cannot access 'xprop -root _DT_SAVE_MODE': No such file or directory"
**follow:** #339

### Specifications
- Hardcode-Tray version : `v3.7` (apt show `3.5.2.1~742~ubuntu16.04.1` but I run  `hardcode-tray --update-git`)
- Distribution :

[code]
- Gtk version : `2.7.4`
- Inkscape version : `0.91 r13725` if installed
- Cairo version : `` if installed
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1` if installed
- Desktop: **Cinnamon 3.2.7**

## Expected behavior and

[2017-04-05 21:17] edouard-lopez commented on #339
Fix this error, got a new one #340 :/

[2017-04-06 11:28] bil-elmoussaoui commented on #340
This is not an issue on Hardcode-Tray at all... You need to install xprop on your DE. It's used to detect your current DE in order to use the correct icon size :) If xprop is not installed it shows this error :) I might need to polish it a little bit

[2017-04-06 17:06] redpop1 commented on #340
xprop in ubuntu16.04 is within x11-utils and is installed.

Since the latest release there are a lot problems with hardcode-tray.

It seems that xprop with the arguments is crashing with ubuntu16.04.2

If the problem is not hardcode-tray, has there been an update x11-utils for ubuntu 16.04?

[2017-04-06 17:27] redpop1 commented on #340
hardcode-tray crashes at startup of ubuntu.
![hardcode-tray](https://cloud.githubusercontent.com/assets/647670/24767397/1acead52-1aff-11e7-801d-0265ee150221.png)

[2017-04-06 18:49] bil-elmoussaoui commented on #340
@redpop1 apport is a trash. Hardcode-tray does not run automatically at startup..

[2017-04-10 03:45] z-engine opened #341 "Add support for KeePassXC tray icon"
[KeePassXC](https://github.com/keepassxreboot/keepassxc) is the fork of the keepassx, which is much more actively developed, has a number of more cool features, looks more natively in kde5, because it is based on QT5 and does not have bugs inherent in keepassx (auto-type break layout #[bug584](https://dev.keepassx.org/issues/584), for example)

![](https://imgur.com/AjP0V8M.png)

[2017-04-10 06:32] TheGohan1905 opened #342 "Discord Official Release Icon"
### Specifications
- Hardcode-Tray version : `3.5.2.1`
- Distribution : `Mint 18.1 Cinnamon`
- Gtk version : `Default`
- Inkscape version : `Most Recent` if installed
- Cairo version : `Not Installed` if installed
- Sni-qt version: `Most Recent` if installed
- Application name :  `Discord`
- Application version : `Official Release'

### Expected behavior and actual behavior
The Hardcode-Tray can o

[2017-04-10 09:19] #342 closed

[2017-04-10 09:20] bil-elmoussaoui commented on #342
Already on master :+1: Just use `hardcode-tray --update-git` to update your Hardcode-Tray to git version or wait until a new stable release :)
Thanks for reporting

[2017-04-10 09:25] bil-elmoussaoui commented on #341
The icons are not hardcoded. You can find them under `/usr/share/icons/hicolor/`
The icons are
- `keepassxc`
- `keepassxc-dark`
- `keepassxc-locked`

The normal tray icon won't work as expected as it's using the same icon name as the application icon name. Which causes some issues with Gtk Icon themes. Please report that upstream in order to rename the icon name to something else
Closing.

[2017-04-10 09:25] #341 closed

[2017-04-10 09:26] #340 closed

[2017-04-10 09:27] bil-elmoussaoui commented on #340
I have removed xprop dependency. The current desktop might not be detected correctly. In that case just `--size`argument to force using the right icon size you want :)

[2017-04-10 11:39] TheGohan1905 commented on #342
Thanks, did it!

[2017-04-10 11:50] bil-elmoussaoui commented on #342
Feel free to report any new issues in the future !

[2017-04-10 13:54] tiamattia opened #344 "TypeError: 'NoneType' object is not iterable"
### Specifications
- Hardcode-Tray version : `3.7`
- Distribution : `Ubuntu Gnome 16.10`
- Gtk version : ``
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  ``
- Application version : ``

### Expected behavior and actual behavior
When I run the command `hardcode-tray --only telegram`, the program throws an error:
![scree

[2017-04-10 16:08] bil-elmoussaoui commented on #344
Will fix pretty soon! Thanks for reporting

[2017-04-10 18:28] #344 closed

[2017-04-10 18:29] bil-elmoussaoui commented on #344
Fixed, please run `hardcode-tray --update-git` or wait for the hotfix release (should be released pretty soon)

[2017-04-17 16:02] AndydeCleyre commented on #300
Hello! I don't think this is really working yet.

`3.7.r4.gd5410a8`

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-04-17 16:04] AndydeCleyre commented on #300
I'm currently using this for better results:

[code]

[2017-04-17 16:09] bil-elmoussaoui commented on #300
I will take a look this evening ;) thanks for trying this out, as i don't have a HDPi screen to test it

[2017-04-17 16:16] AndydeCleyre commented on #300
No problem, but as I've mentioned, I don't have any high dpi screens either.

[2017-04-23 09:07] wa4557 opened #346 "Option for not creating backup"
I personally don't want to create backups all the time since I don't care about the original icons and don't want to clutter my harddisk with unnecessary files too much.

How about an option that disables the possibility to create backups? (And one the cleans already exisiting ones, maybe)

[2017-04-23 10:23] bil-elmoussaoui commented on #346
I will add the option for not creating a backup to the new config.json file that i've added recently :)
And i will add an argument to clean the old backups

[2017-04-23 10:34] bil-elmoussaoui commented on #346
This should land next weekend! i'm improving the base code of Hardcode-Tray and make it more easier to create new plugins for it :)

[2017-04-28 17:48] rpbaptist opened #348 "Trying to contribute, but I am overlooking something"
### Specifications
- Hardcode-Tray version : `master` branch
- Distribution : `Ubuntu 16.04.2`
- Gtk version : ``
- Inkscape version : `0.91 r13725`
- Cairo version : `1.0.19`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `copyq`
- Application version : `v2.9.0 `

I added the following JSON locally:

[code]

I tried with `icons_path` `/usr/share/hicolor/scalable/apps/`

[2017-04-29 16:59] bil-elmoussaoui commented on #348
If the original icons are on `/usr/share/icons/hicolor`Hardcode-Tray is not needed at all... as those icons are not hardcoded, it must be your theme that doesn't provide those icons.

[2017-05-01 07:37] rpbaptist commented on #348
Strange, because it does have the icons. I suppose it's an issue for Papirus then.

[2017-05-01 07:37] #348 closed

[2017-05-01 08:04] bil-elmoussaoui commented on #348
Feel free to reopen this if you have any other questions or any help =)

[2017-05-04 09:41] Feichtmeier opened #349 "Icons have no shadows"
### Specifications
- Hardcode-Tray version : `3.7`
- Distribution : `Ubuntu GNOME 16.10`
- Gtk version : `3.20`
- Inkscape version : `0.91` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `GNOME-Shell`
- Application version : `3.20.4`

The gnome-shell indicatos have shadows, which you see when you install https://extensions.gnome.org/extension

[2017-05-04 12:22] bil-elmoussaoui commented on #349
It's just impossible, in order to have shadows the icons must be SVG & Symbolic which isn't the case with all those Hardcoded Tray icons and i can do nothing about it.... and in order to change the color of the tray icons take a look at the possible options here https://github.com/bil-elmoussaoui/Hardcode-Tray#options
Anyway, it's an invalid issue...

[2017-05-04 12:22] #349 closed

[2017-05-06 19:43] ryderdavid opened #350 "Mullvad (AUR) not getting themed suddenly?"
### Specifications
- Hardcode-Tray version : ``3.6.6-1
- Distribution : ``Manjaro
- Gtk version : ``2.24.31-1 (GTK2) 3.22.10-1 (GTK3)
- Inkscape version : `` 3.6.6-1
- Cairo version : `` 1.14.8-1
- Sni-qt version: `` not installed
- Application name :  ``mullvad
- Application version : ``62-1

### Expected behavior and actual behavior
Icon should be themed by hardcode tray
Icon is not themed, and

[2017-05-06 20:27] bil-elmoussaoui commented on #350
@ryderdavid mullvad is not supported (yet), i have to take a look and see if it's possible

[2017-05-09 06:12] dwellerattic opened #351 "Wire app changed its destination (to wire-desktop). hardcode-tray still assumes it is in wire directory"
### Specifications
- Hardcode-Tray version : ``
- Distribution : `Antegro (Arch Linux) KDE`
- Gtk version : ``
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  `Wire`
- Application version : `2.13.2741-1`

### Expected behavior and actual behavior
Expected Wire to be found in /usr/lib/wire-desktop
Actual behaviour is an

[2017-05-09 09:34] bil-elmoussaoui commented on #351
I will take a look this evening :)

[2017-05-12 16:38] dwellerattic commented on #351
Very much appreciated. I got it working after modifying wire.json and wire_elec.json (I realise I could override it with a local config):

in this way

[code]
And I  got an icon
![image](https://cloud.githubusercontent.com/assets/28548427/26007745/32bbe914-3785-11e7-9bea-d1be343ef8f1.png)

[2017-05-12 17:13] bil-elmoussaoui commented on #351
@dwellerattic A PR will be much appreciated :)

[2017-05-13 21:52] bil-elmoussaoui commented on #351
A Pull request would be really appreciated

[2017-05-14 16:52] appcenter[bot] opened #352 "Create a Debian control file"
AppCenter Dashboard could not find a `debian/control` file for packaging. Without this file,
we don't know package dependencies, or the source maintainer. Please create this
and resubmit your package for AppCenter Dashboard.

---

For more information, see:
- [elementary documentation](https://elementary.io/docs/code/getting-started#debian-control)
- [Debian documentation](https://www.debian.org/d

[2017-05-15 09:26] #352 closed

[2017-05-19 11:15] #351 closed

[2017-05-19 11:22] #325 closed

[2017-05-19 11:22] bil-elmoussaoui commented on #325
Sorry for the long delay, but it's now fixed on master! Your theme must have the `hp-indicator` icon in order for it to work :)

[2017-05-21 08:19] GUiHKX opened #354 "JDownloader support?"
### Specifications
- Hardcode-Tray version : `v3.6.6`
- Distribution : `Arch Linux`
- Gtk version : `gtk2 2.24.31 / gtk3 3.22.15`
- Inkscape version : Not installed
- Cairo version : `1.14.8`
- Sni-qt version: Not installed
- Application name :  `JDownloader`
- Application version : `v2`

[2017-05-21 09:03] infuerano commented on #296
@bil-elmoussaoui   sorry for so late reply. i have performed the  atep and what i am geting is

hardcode-tray --only megasync
Welcome to the tray icons hardcoder fixer!
Your indicator icon size is : 22
The detected desktop environement : Mate
Your current icon theme is : GnomeYosemiteIcons-master
Conversion tool : Inkscape
Applications will be fixed : Megasync
1 - Apply
2 - Revert
Please choose: 1

[2017-05-21 09:19] bil-elmoussaoui commented on #296
@infuerano The icon theme that are you using doesn't support Hardcode-Tray. Either you report that upstream or you can use an icon theme to fix your Megasync icons by adding `--theme Numix` or `--theme Papirus`

[2017-05-21 09:28] bil-elmoussaoui commented on #354
As far as i can tell, JDownloader uses`jdownloader-panel` as a tray icon. So Hardcode-Tray is not needed at all...

[2017-05-21 12:11] GUiHKX commented on #354
Actually, by browsing trough [JDownloader's code](https://github.com/mirror/jdownloader/blob/master/src/org/jdownloader/gui/jdtrayicon/TrayExtension.java#L224-L228), I've found out that they generate the tray icon "on the fly"... So yes, Hardcore-Tray isn't needed. In case somebody get here through Google, a rather easy workaround for the ugly tray icon would be:

1. Back-up the original icon firs

[2017-05-21 12:11] #354 closed

[2017-05-21 12:29] bil-elmoussaoui commented on #354
@GUiHKX I've added JDownloader support (which does the steps you explained below). It should work well if your theme has a `jdownloader-indicator` icon

[2017-05-21 12:31] GUiHKX commented on #354
Great! Thank you!

[2017-05-21 14:31] #346 closed

[2017-05-21 14:31] #350 closed

[2017-05-21 14:37] bil-elmoussaoui commented on #346
Done on 3.8 https://github.com/bil-elmoussaoui/Hardcode-Tray#config-file

[2017-05-21 14:38] bil-elmoussaoui commented on #350
@ryderdavid its now supported https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/data/database/mullvad.json
You will have to ask Papirus guys to add some new icons; Just link this issue :+1:

[2017-05-22 10:21] bil-elmoussaoui commented on #300
@AndydeCleyre Hey, I have released a new version yesterday; You will have to reinstall it as there was a lot of changes. it should now work as expected as i have fixed few issues with the conversion from SVG to PNG. The icons are scaled up only for PNG ones, as i can't rescale SVG ones (done automatically normally...)

[2017-05-22 19:59] redpop1 opened #356 "Panel icon colors"
### Specifications
- Hardcode-Tray version : `latest git`
- Distribution : `ubuntu gnome 16.04`
- Gtk version : ``
- Inkscape version : `` if installed
- Cairo version : `` if installed
- Sni-qt version: `` if installed
- Application name :  ``
- Application version : ``

### Expected behavior and actual behavior
Icon color from my-weather-indicator and radiotray does not match color from other ic

[2017-05-22 20:35] bil-elmoussaoui commented on #356
Take a look at https://github.com/bil-elmoussaoui/Hardcode-Tray#options `--change-color` option or use something else other  than CairoSVG as a conversion tool. Can you paste the output you had on your terminal to be sure of that?

[2017-05-22 21:26] redpop1 commented on #356
I'm really sorry.
It's the gnome extension TopIcons plus which was changing the color.

Can be closed

[2017-05-22 22:28] bil-elmoussaoui commented on #356
Perfect 👍

[2017-05-22 22:28] #356 closed

[2017-05-23 08:52] wa4557 opened #357 "Example config file"
### Specifications
- Hardcode-Tray version : All

Can you add in the README an example config file? Json is probably not obvious to everyone.

Great work btw. lately on code quality :)

[2017-05-23 09:00] wa4557 commented on #357
Nevermind, just saw that there is already an example

[2017-05-23 09:00] #357 closed

[2017-05-23 09:27] bil-elmoussaoui commented on #357
@wa4557 Thanks :) it's now much more easier to contribute than ever, but i'm still trying to improve the code more :+1:

[2017-05-23 12:00] wa4557 opened #358 "local variable 'conversion_tool' referenced before assignment"
### Specifications
- Hardcode-Tray version : latest
- Distribution : `Ubuntu`

### Steps to reproduce the problem
1. Run the script
2. First thing you see is

[code]

I'm using a config file, that specifies the conversion_tool

[2017-05-23 12:53] bil-elmoussaoui commented on #358
I have already fixed that issue on my local machine, i will push that fix in an hour :+1:

[2017-05-23 15:20] #306 closed

[2017-05-23 15:21] bil-elmoussaoui commented on #358
Fixed on master

[2017-05-23 15:21] #358 closed

[2017-05-23 15:22] bil-elmoussaoui commented on #306
The master branch now just back up the png files :+1:
![screenshot from 2017-05-23 17-21-52](https://cloud.githubusercontent.com/assets/7660997/26361783/567a5912-3fdc-11e7-889b-cd9f288c14a3.png)
Tried it for every app out there and it works perfectly!

[2017-05-23 15:25] wa4557 commented on #358
Nope. Now it tells me:

[code]

[2017-05-23 15:28] bil-elmoussaoui commented on #358
You must be missing a dependency then (that we should include on the ppa ofc) :P
Because Gio is imported at the beginning of the file

[2017-05-23 15:30] wa4557 commented on #358
Ok it seems that the `--update` flag is broken. manually reinstalling it works. Is it possible that it doesn't update the right files (you changed the names of quite a few)

[2017-05-23 15:31] bil-elmoussaoui commented on #358
Yeah, it doesn't work you should update manually or reuse the install.sh in order to get everything to work with the latest version

[2017-05-23 15:37] wa4557 commented on #358
And this one as well ;)

[code]

[2017-05-23 16:10] bil-elmoussaoui commented on #358
@wa4557 Both issues are fixed on master

[2017-05-23 16:50] MichSt opened #360 "can't install patched sni-qt"
[mikhail@home build]$ make
[  6%] Generating iconcache.moc
moc: Cannot open options file specified with @
Usage: moc [options] <header-file>
  -o<file>           write output to file rather than stdout
  -I<dir>            add dir to the include path for header files
  -E                 preprocess only; do not generate meta object code
  -D<macro>[=<def>]  define macro, with optional definition

[2017-05-23 16:59] MichSt commented on #360
That's my fault. On the way there should be no symbols other than Latin. In my case, I compiled in the "Загрузки" folder

[2017-05-23 17:30] bil-elmoussaoui commented on #360
Not a problem =)

[2017-05-23 17:30] #360 closed

[2017-05-23 17:36] wa4557 commented on #358
Another one:

running:

```hardcode-tray --clear-cache```

gives:

[code]

[2017-05-23 17:40] wa4557 commented on #358
Once more running the app gives:

[code]

[2017-05-23 17:43] bil-elmoussaoui commented on #358
Your json config file is broken. But i wll add an exception for that  (first issue)

[2017-05-23 17:45] bil-elmoussaoui commented on #358
Both issues fixed on master

[2017-05-23 18:00] wa4557 commented on #358
How is that broken?

[code]

[2017-05-23 18:05] bil-elmoussaoui commented on #358
Well, it's what the output shows :/ Do you still get the same error?

[2017-05-23 18:08] wa4557 commented on #358
Nope your fix fixed that, not exactly sure why though. clean-cache doesn't delete the folder though

[2017-05-23 18:10] bil-elmoussaoui commented on #358
Does it remove the subfolders? or at least the contents?
to be sure that everything works, check the log files /tmp/Hardcode-Tray/

[2017-05-23 18:12] wa4557 commented on #358
Nothing in the logfiles. The folders with the dates are still there, but at least they are empty :)

[2017-05-23 18:15] wa4557 commented on #358
Everything looks good now :+1:

[2017-05-23 18:17] bil-elmoussaoui commented on #358
The folders were created automatically because i was missing a condition, but should be fixed now :+1:

[2017-05-23 19:06] wa4557 commented on #358
Ha I got another one :)

[code]

[2017-05-23 19:14] bil-elmoussaoui commented on #358
Hmm i know what causes this, i will see how i can fix it :)

[2017-05-23 19:31] bil-elmoussaoui commented on #358
Fixed

[2017-05-24 09:23] wa4557 opened #361 "config-file ignored"
### Specifications
- Hardcode-Tray version : latest

### Steps to reproduce the problem
1. Run the script use hardcode-tray.json config file

One more thing: right now the config file is ignored (the conversion tool as well as the option to not make a backup).

+ There is somewhere a debugging print somewhere

[code]
After spotify it says `hey`

[2017-05-24 09:26] bil-elmoussaoui commented on #361
@wa4557 I've already removed the hey message. And cleaned few issues on master (just few seconds ago.) Can you try that and also paste the content of the latest log file `/tmp/Hardcode-Tray/`?

[2017-05-24 09:41] wa4557 commented on #361
The hey message is gone, but the config file is still ignored (i.e. backup is made and CairoSVG is used instead of inkscape)

[2017-05-24 09:46] bil-elmoussaoui commented on #361
I can't confirm that at all :/ Can you paste the log content ?

[2017-05-24 09:46] wa4557 commented on #361
Nevermind I'm stupid :/ I named it hardcode-config.json not hardcode-tray.json

[2017-05-24 09:46] #361 closed

[2017-05-24 10:01] bil-elmoussaoui commented on #361
Not a problem :+1:
Happy to hear that

[2017-05-24 10:30] wa4557 commented on #163
@bil-elmoussaoui I'm working again on fixing this, but the script doesn't work anymore for sni-qt apps!? running `hardcode-tray --only teamviewer` gives no icons in `.local/share/sni-qt...`

[2017-05-24 10:55] bil-elmoussaoui commented on #163
It works without any issues in my case :/

[2017-05-24 11:00] wa4557 commented on #163
argh... Can you try remove all the folders in there and see if the folders are created? This doesn't happen for me

[2017-05-24 11:03] bil-elmoussaoui commented on #163
Can confirm that! if i remove the folders, they're not created automatically and so the icons are not installed

[2017-05-24 11:08] bil-elmoussaoui commented on #163
Fixed on master

[2017-05-24 12:32] wa4557 commented on #163
Thanks. There is also the issue, that some files have the wrong fileending (`.svg.svg`)

[code]

[2017-05-24 12:43] bil-elmoussaoui commented on #163
Hmmm, the issue is in symlinks_installer in the decorators file. I will see what i can do later, currently working on a way to fix nwjs apps

[2017-05-24 13:01] bil-elmoussaoui commented on #152
It's now possible to fix nwjs apps.
The user must add a new config in the config file with the key `nwjs-bin` which contains the absolute path to the nwjs sdk that must be downloaded and extracted somewhere.
So happy to see this fixed after a year!

[2017-05-24 13:01] #152 closed

[2017-05-24 13:02] #157 closed

[2017-05-24 13:02] wa4557 commented on #157
nwjs is dying anyways...

[2017-05-24 13:04] bil-elmoussaoui commented on #157
I know, but i must use Gitter on my laptop and the tray icon was so ugly!

[2017-05-24 13:05] wa4557 commented on #157
Same with teamviewer here :) Maybe report it upstream to nwjs?

[2017-05-24 13:05] bil-elmoussaoui commented on #157
Already fixed it on master :+1:

[2017-05-24 13:07] wa4557 commented on #157
Wut? How?

[2017-05-24 13:08] bil-elmoussaoui commented on #157
See my comment on the gitter issue

[2017-05-24 13:13] bil-elmoussaoui commented on #157
For more info:
The whole issue is that we were trying to run nw directly, which needed the whole nwjs sdk to make things work...

[2017-05-24 13:14] wa4557 commented on #157
ok, so I just need to download the sdk point to it in the config file and all nwjs issues are solved?

[2017-05-24 13:16] bil-elmoussaoui commented on #157
Yep ! I will add more info on the readme file about that, and ofc it need some more testing before releasing it, but it works

[2017-05-24 13:17] wa4557 commented on #157
Cool

[2017-05-24 13:35] bil-elmoussaoui commented on #163
Fixed the broken symlinks on master :)

[2017-05-24 15:46] wa4557 commented on #163
Well I was looking in the wrong direction all the time: Teamviewer is not using sni-qt anymore :/ Uninstall sni-qt and the icon is still showing. Now I need to figure out where this is happening

[2017-05-24 15:51] wa4557 commented on #163
You didn't fix the issue with the symlinks btw, now it is even worse and the svg extension is completely missing;)

[code]

and there is another missing print statement

[code]

[2017-05-24 16:01] bil-elmoussaoui commented on #163
hmm? are you sure about that ? Because i don't have this issue myself :(
[code]

[2017-05-24 16:03] wa4557 commented on #163
Yeah sorry, you're right

[2017-05-24 16:24] bil-elmoussaoui commented on #163
Well, maybe we can try to see if those icons are on the binary file? And provide a fix for the rest of the binary files and ditch sni-qt forever. If we ever have any issue with an application, we remove it support ;)

[2017-05-24 16:24] bil-elmoussaoui commented on #163
I will boot with my Ubuntu VM and try to digg more

[2017-05-25 08:59] dylanparry opened #362 "Google Music Manager Icon When Paused"
### Specifications
- Hardcode-Tray version : `3.8`
- Distribution : `ubuntu (zesty)`
- Gtk version : `3.22.11`
- Inkscape version : `0.92.1 r15371`
- Cairo version : `1.0.20`
- Sni-qt version: `0.2.7` (also installed patched version)
- Application name :  `Google Music Manager`
- Application version : `1.0.243.1116`

### Expected behavior and actual behavior

When starting up, the icon appears to

[2017-05-25 09:02] bil-elmoussaoui commented on #362
Must be an unsupported icon then, the icon names can be found either on tmp folder or using
[code]
Once you've got the icon names, you can paste the names here and i will fix it :)

See the Qt applications part
https://github.com/bil-elmoussaoui/Hardcode-Tray/wiki/How-to-contribute

[2017-05-25 09:12] dylanparry commented on #362
Thanks for the quick reply.

Here are the relevant sections from the command above:

### On application start

[code]

### After pausing

[code]

The output after resuming is the same as the paused output.

Thanks :)

[2017-05-25 09:14] dylanparry commented on #362
Also, the greyscale icon is in the `22x22` directory, whereas the colour version appears in the `32x32` directory within the `tmp` folder.

[2017-05-25 09:16] bil-elmoussaoui commented on #362
The icon doesn't change with the original theme? Just wondering if the pause state should use a different icon

[2017-05-25 09:19] dylanparry commented on #362
No, in the original theme it's the same coloured icon used for both paused and unpaused states. If it's different, then it's not noticeable to me---there doesn't appear to be any status indicator on the icon, and the colours used are the same.

[2017-05-25 09:23] #362 closed

[2017-05-25 09:24] bil-elmoussaoui commented on #362
Fixed on master, you can use `hardcode-tray --update-git` to get the latest release right now or wait until Launchpad creates a new update if you've used the PPA to install it

[2017-05-25 09:30] dylanparry commented on #362
Works wonderfully, thanks :+1:

[2017-05-25 09:33] bil-elmoussaoui commented on #362
Don't hesitate to report any missing features or issues!

[2017-05-25 11:39] wa4557 commented on #163
Ok I found the icons in the binary file (.dll file) here: `/opt/teamviewer/tv_bin/wine/drive_c/TeamViewer/TeamViewer_Resource_{language}.dll`. Do you have any idea how to replace them? (They are ico files)

[2017-05-25 11:53] bil-elmoussaoui commented on #163
@wa4557 I don't think that there's a signature for ico files like the png ones in order to get the right icons and not break the application

[2017-05-25 11:54] wa4557 commented on #163
Extracting is possible, I have a problem to put them back in

[2017-05-25 12:25] bil-elmoussaoui commented on #163
I can't help you with that :( my main machine uses gnome & sni-qt doesn't work as expected #296

[2017-05-25 12:26] wa4557 commented on #163
You don't need sni-qt to show the icon though for teamviewer

[2017-05-25 12:39] bil-elmoussaoui commented on #163
Alright, how did you extracted the icons?

[2017-05-25 12:41] wa4557 commented on #163
`wrestool -x -n 10811 TeamViewer_Resource_{yourlang}.dll > extracted.ico`

[2017-05-25 12:54] bil-elmoussaoui commented on #163
But looking at some files  `/opt/teamviewer/tv_bin/scripts/tvw_main`
There's those lines of code
[code]
i think that what happening in your case is teamviewer is no more used as a "native" app, so it uses wine to run it, and so sni-qt is no more working.

[2017-05-25 12:55] wa4557 commented on #163
on linux teamviewer is always run with wine. It is and always has been an windows exe file under the hood

[2017-05-25 18:50] AndydeCleyre commented on #300
Hi, I've just tried with `3.8.1`. It's detecting indicator size of `22` and creating icons that size, so they don't look good. But the detected size may be because we never accounted for the presence of multiple systray instances with different icon sizes, which I currently have. I can't specify the size with `--size` because that has an upper limit of `24`, while the plasma tray icons on non-dpi

[2017-05-25 18:54] bil-elmoussaoui commented on #300
@AndydeCleyre I will need more info to debug this, can you join the chat on Gitter and see how we can fix this :+1:

[2017-05-26 03:06] akyag commented on #296
Is there a chance of getting this fixed? I didnt want to create another similar topic, but I am getting the following result after I applied the latest script.

![screenshot from 2017-05-26 01-42-55](https://cloud.githubusercontent.com/assets/7376589/26478959/98681d42-41ed-11e7-8e8e-8d4b09ecca95.png)

Hardcode-Tray version : v3.8.1
Distribution : Fedora 25 x64
Gtk version : 3.22.3

[2017-05-26 06:36] bil-elmoussaoui commented on #296
@akyag i only work on Hardcode-tray on my free time...

[2017-05-26 06:42] akyag commented on #296
I completely understand. Just that the script said these were fixed too and I can see the icons for these apps in the screenshot in this repo. So I am just wondering if all of this is because of the issue mentioned in this thread or is it just on my end.

[2017-05-26 06:45] bil-elmoussaoui commented on #296
It's the same issue, sni-qt doesn't work correctly on gnome. And my C/C++ skills are not that good to fix it easily(the same issue for hplip)
Hexchat should be fixed, if not it's must be that Papirus doesn't have that icon.
And what's that ugly lock icon?

[2017-05-26 06:46] akyag commented on #296
That's keepass.

[2017-05-26 06:48] bil-elmoussaoui commented on #296
Agh, i don't know if it's possible to fix it but you can open a new issue for that and i will see what can i do =)

[2017-05-26 12:59] bil-elmoussaoui commented on #294
Fixed! It seems that insync after their latest release fixed the tray icons, but they still use the icons from /usr/share/icons/hicolor/48x48/status/

[2017-05-26 12:59] #294 closed

[2017-05-26 13:30] acutbal opened #367 "I Can't install the Hardcode-Tray stable from AUR, error of sha256sums"
Hi!!
I can't install from AUR, I get an error of sha256sums. I attach a screenshot:
![captura de pantalla_2017-05-26_15-27-09](https://cloud.githubusercontent.com/assets/2278584/26496538/3bf26438-4228-11e7-92e7-900dd898f1ba.png)
Thank you very much!!

[2017-05-26 13:51] bil-elmoussaoui commented on #367
I will fix that with a new release this evening. Yoi can use hardcode-tray-git from AUR

[2017-05-26 13:55] acutbal commented on #367
Yes, that's what I've done. :+1:

But now, I've a new issue, the config file hardcode-tray.json is missing... Do I open a new issue?

Thank you very much!!

[2017-05-26 13:56] bil-elmoussaoui commented on #367
Nop it's up to you to create it. See the readme. It's just makes it easier for you to use the script without having to type all those arguments each time you use it.

[2017-05-26 14:01] acutbal commented on #367
OK, I only need to fix Insync icon, so I should proceed as follows: To add this file I've create a new document with Mousepad (Xfce ;D), name it as hardcode-tray.json and leave it blank

Is this right?

[2017-05-26 14:03] bil-elmoussaoui commented on #367
You don't have to create it at all... It's not required

[2017-05-26 14:06] acutbal commented on #367
I apologize, English it's not my language... :smile: I attach a screenshot:
![captura de pantalla_2017-05-26_16-04-50](https://cloud.githubusercontent.com/assets/2278584/26497812/10b7d8c0-422d-11e7-96b2-50da27e2586f.png)
Hardcode-Tray crashes because it doesn't find such file. That's I was wondering if I should open or not a new issue.

Thank you very much for your help!!

[2017-05-26 14:07] bil-elmoussaoui commented on #367
I just took a look at the code i will fix it as soon as I'm home in front of a computer. You can create an empty file if you don't want to wait :p

[2017-05-26 14:10] acutbal commented on #367
Great, I'll wait your fixes. One million thanks for your interest :smile:  :+1:

[2017-05-26 14:45] bil-elmoussaoui commented on #367
Fixed on master

[2017-05-26 14:57] acutbal commented on #367
Yes, it has worked:
![captura de pantalla_2017-05-26_16-53-34](https://cloud.githubusercontent.com/assets/2278584/26499744/f6e5ab6e-4233-11e7-9090-853c5c601c36.png)

But now I have a new problem, I have ran the command `hardcode-tray --apply --only insync --conversion-tool Inkscape` to fix my Insync icon. But I haven't realized that Insync was already running. So now I have a blank space where sho

[2017-05-26 14:58] bil-elmoussaoui commented on #367
Nop, just restart Insync :)

[2017-05-26 15:02] acutbal commented on #367
This is the first thing that I've done... But, no luck:
![captura de pantalla_2017-05-26_16-53-42](https://cloud.githubusercontent.com/assets/2278584/26500095/0b580d84-4235-11e7-91b6-212a17c69cff.png)
Insync is running after quit and restart.

[2017-05-26 15:05] bil-elmoussaoui commented on #367
Can you take a screenshot of the content of `/usr/share/icons/hicolor/48x48/status/`?  Also, try switching the state of Insync to pause and see if things are the same?

[2017-05-26 15:08] acutbal commented on #367
Nope, still the same.
Here the screenshot:
![captura de pantalla_2017-05-26_17-06-41](https://cloud.githubusercontent.com/assets/2278584/26500359/e3ae3690-4235-11e7-8657-47cda44a7109.png)

[2017-05-26 15:09] bil-elmoussaoui commented on #367
Ah i see what causes your issue :P The theme is not detected correctly on xfce :(
but you can force it using the argument `--theme Papirus` or by adding the theme to your config.json file

[2017-05-26 15:13] acutbal commented on #367
`hardcode-tray --apply --only insync --conversion-tool Inkscape --theme Papirus
` doesn't work. Now I'm going to try with the json file. :smile:

[2017-05-26 15:15] bil-elmoussaoui commented on #367
What do you mean by doesn't work? What's the output on the terminal?
Can you try by removing those generated files first?
`cd /usr/share/icons/hicolor/48x48/status/ && sudo rm ./insync-*.png`

[2017-05-26 15:21] acutbal commented on #367
Finally, deleting those files has fixed!! Just one thing, I see the icon weird, if like it was "bitten":
![captura de pantalla_2017-05-26_17-19-11](https://cloud.githubusercontent.com/assets/2278584/26500833/bc123eae-4237-11e7-8013-67a739fe8c01.png)

[2017-05-26 15:23] bil-elmoussaoui commented on #367
You can try a smaller size like `--size 22

[2017-05-26 15:26] acutbal commented on #367
With 24 is perfect now:
![captura de pantalla_2017-05-26_17-25-13](https://cloud.githubusercontent.com/assets/2278584/26500958/4da853f8-4238-11e7-9639-1c69486f15d6.png)

Really, thank you very much, I really appreciate your help!! I owe you a beer... :smile: :smile: :smile:

[2017-05-26 15:30] bil-elmoussaoui commented on #367
Happy to hear that everything works perfectly for you :+1:

[2017-05-26 15:30] #367 closed

[2017-05-26 20:18] bil-elmoussaoui commented on #325
Good news! I've just figured out how to fix it without having to use sni-qt, so the new fix (now on master) will work across all the distros :+1:

[2017-05-28 22:25] bil-elmoussaoui commented on #163
I've done some testing today using elementary OS. Frech install, and using the PPA to install sni-qt.
![screenshot from 2017-05-29 00 23 17](https://cloud.githubusercontent.com/assets/7660997/26532601/08228be0-4405-11e7-86bd-9a6bdcb9c025.png)
As you can see the tray icon is not showing any icon at all...By looking at the log files that can be found in `/var/log/teamviewer12` I've found those thing

[2017-05-28 23:07] bil-elmoussaoui commented on #296
I spent some time trying to figure out how to fix this, i've tried to patch sni-qt in order to get it to work with freedesktop interface but it seems to be broken on ubuntu :((((
Anyway, i will keep this little snippet here that was pretty helpful to test if it works or not without having to open an application and close it all over again
[code]
@wa4557 The code might be of a help for you in order

[2017-05-29 08:24] wa4557 commented on #163
Yes. I think I came closer to the solution (c++ is really hard for me though...)

When I change this function `connectToSnw`

to

[code]

I get this in the logfile:

[code]

This means that the program tries to create the correct icon (This is why my qCritical shows up one time in the logfile). But it somehow fails and calls a different `sni-qt` version somewhere. I am yet to find out where this h

[2017-05-29 12:11] bil-elmoussaoui commented on #163
I guess that teamviewer ships with an other version of sni-qt? and falls back to it if the system one is broken

[2017-05-29 12:12] wa4557 commented on #163
maybe it's wine itself

[2017-05-29 12:24] bil-elmoussaoui commented on #163
:( I will take another look after the finals. The only issue we still have with a fully working Hardcode-Tray (for almost use cases) is sni-qt...doesn't work at all on Gnome & with this teamviewer issue. But we will figure it out!

[2017-05-29 18:53] DanyGee opened #370 "Mint 18.1 - small tray icons, no change to mintupdate and bluetooth icons"
### Specifications
- Hardcode-Tray version : `v3.8.2`
- Distribution : `Linux Mint 18.1 Serena`
- Gtk version : `Gtk 3.18.9-1ubuntu3.3`
- Inkscape version : ` 0.91 r13725`
- Sni-qt version: `0.2.7+20161212~10~ubuntu16.04.1`
- Application name :  `Telegram, Hexchat,Discord` - icons too small
Mint update & Bluetooth - icons not scaled
- Application version : `1.1.2, 2.10.2, 0.0.1`

### Expected beha

[2017-05-29 18:55] bil-elmoussaoui commented on #370
A screenshot will be good..

[2017-05-29 18:56] DanyGee commented on #370
https://1drv.ms/i/s!AoqBMCk_0jNCgbF-fUusQBYU2jcy9Q

[2017-05-29 19:02] bil-elmoussaoui commented on #370
For the Bluetooth icon, i can't do anything about it(it's an issue on Papirus icon theme, which should be reported upstream)
The same thing for mintupdate, as the icons, are not hardcoded anymore (i kept their support for older versions)

For Telegram and Hexchat, the issue is due to the really small icon size (24px compared to a  3840x2160 screen resolution is nothing...)
For now, tray icons are

[2017-05-29 19:18] bil-elmoussaoui commented on #370
Happy to hear that! the best solution would be to use a scaling factor on mint but i don't even know if it's possible. Because for now, i only support scaling factor on GNOME & KDE. If you have any idea if it's possible to set or how to do so, just let me know and i will implement a proper solution.
Thanks for using Hardcode-Tray!

[2017-05-29 19:18] #370 closed

[2017-05-29 19:24] DanyGee commented on #370
In Mint u can set interface scaling in system settings, which scales the whole interface, inlcuding icons.
Settings>General>Interface scaling
We have 3 options:
1. Automatic
2. Standard
3. Double (HiDPI)

[2017-05-29 19:31] bil-elmoussaoui commented on #370
i assume you're using cinnamon ? do you know where's the value is stored? GSettings? or a config file? I have never used mint before....

[2017-05-29 19:39] bil-elmoussaoui commented on #370
@DanyGee Already implement on master. If you wish to give a try just run `hardcode-tray --update-git`

[2017-05-29 19:46] DanyGee commented on #370
Unfortunately I dont know how it scales the hud.
Hardcode-Tray update seems to have finished successfully:
hardcode-tray --update-git
[sudo] hasło użytkownika dany:
Downloading Hardcode-Tray ...
Cloning the repository...
Cloning into 'Hardcode-Tray'...
remote: Counting objects: 5118, done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 5118 (delta 23), reused 24 (delta 9), pack-reu

[2017-05-29 19:48] bil-elmoussaoui commented on #370
Can you send me the log file that you can find under /tmp/Hardcode-Tray? this will help me debug why it's not working in your case

[2017-05-29 19:50] DanyGee commented on #370
Sure
[29-05-2017_21-41-59.log.tar.gz](https://github.com/bil-elmoussaoui/Hardcode-Tray/files/1036543/29-05-2017_21-41-59.log.tar.gz)

[2017-05-29 19:53] bil-elmoussaoui commented on #370
Okey should be fixed now :+1:

[2017-05-29 19:55] DanyGee commented on #370
Updated.
Now getting this:
hardcode-tray --theme Papirus-Dark --apply
Welcome to Hardcode-Tray!
Desktop Environment: Cinnamon
Traceback (most recent call last):
  File "hardcode-tray.py", line 85, in <module>
    print("Scaling Factor: {}".format(App.scaling_factor()))
  File "/opt/Hardcode-Tray/src/app.py", line 161, in scaling_factor
    Logger.debug("Icon Size: {}".format(App._size))
AttributeE

[2017-05-29 19:57] bil-elmoussaoui commented on #370
It was a typo, just fixed it! Sorry for that

[2017-05-29 20:01] DanyGee commented on #370
Yep, now its working perfectly! THX!
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2017-05-29 20:03] bil-elmoussaoui commented on #370
You're welcome :) don't hesitate to share the script with other to make linux a beautiful place :D

[2017-05-31 02:23] kennethso168 opened #371 "Script fails on scaling factor"
### Specifications
- Hardcode-Tray version : `v3.8.2`
- Distribution : `Manjaro`
- Gtk version : `3.22.15`
- Inkscape version : `0.92.1` if installed
- Cairo version : `1.14.8` if installed
- Sni-qt version: `patched version provided by sni-qt` if installed

### Expected behavior and actual behavior
Expected: the script runs successfully
Actual: The script terminates with return value 1 with the f

[2017-05-31 02:27] #371 closed

[2017-05-31 02:27] bil-elmoussaoui commented on #371
Thanks for reporting! fixed

[2017-06-02 06:50] PrzemekSkw opened #372 "Don't work on Deepin"
### Specifications
- Hardcode-Tray version : `3.8.2-1`
- Distribution : `Manjaro Deepin`
- Gtk version : ``
- Inkscape version : `0.92.1r` if installed
- Cairo version : `` if installed
- Sni-qt version: `r,-1` if installed
- Application name :  ``
- Application version : ``

Hi, I try hardcode-tray on Manjaro Deepin and it don't work.
I try to fix qbittorrent and telegram icons but it only see st

[2017-06-02 07:06] bil-elmoussaoui commented on #372
When you run the script on terminal what's the output you got ? Also, there's some log files on /tmp and that would be helpful if you can get me one of them.
By looking at your screenshot, you seem to be using an icon theme that doesn't support Hardcode-Tray.

[2017-06-02 07:23] PrzemekSkw commented on #372
Hi, thanks for fast response. I use Papirus icon theme but this is Manjaro Deepin so maybe that's the problem. Output from terminal is:
`hardcode-tray
Welcome to Hardcode-Tray!
Desktop Environment: Other
Scaling Factor: 1
Icon Size: 22
Icon Theme: Adwaita
Conversion Tool: Inkscape
To Do: All
1 - Apply
2 - Revert
3 - Clear Backup Cache
Please choose: 1
Applying now..

Steam               [#########

[2017-06-02 07:26] bil-elmoussaoui commented on #372
Yeah, the icon theme is not detected correctly as Deepin doesn't use `org.gnome.interface.desktop icon-theme` to store the icon name; Do you have any idea what's the equivalent on Deepin?
Also, what's the output of `echo $XDG_CURRENT_DESKTOP`

[2017-06-02 07:28] bil-elmoussaoui commented on #372
(this just to help me add Deepin support for the rest of the users) otherwise, you can force the icon theme using --theme argument, see the readme for more information

[2017-06-02 08:04] PrzemekSkw commented on #372
`echo $XDG_CURRENT_DESKTOP
Deepin`

only this
Can I reverse my steam icon by uninstalling hardcode-tray ?

[2017-06-02 08:06] bil-elmoussaoui commented on #372
You can reverse the steam icon using hardcode-tray --revert --only steam and select the first backup (ordered by date)

[2017-06-02 08:07] bil-elmoussaoui commented on #372
Anyway, as i said you can use `hardcode-tray --apply --theme Papirus`